.THIS.kpi-card-contaier .slds-card__header {
  margin: 0 !important;
  padding: 0 !important;
}

.THIS.kpi-card-contaier .kpi-card-body {
  min-height: 8rem;
}

.THIS .kpi-number {
  align-self: flex-end;
}