.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}
.THIS .btn-container{
	line-height: 30px;
}
.THIS .btn-padding{
    padding: 0px 0.8rem;
}
.THIS .preview-margins{
    margin-top: 6px;
}
.THIS .wrap-data{
    white-space: -o-pre-wrap; 
    word-wrap: break-word;
    white-space: pre-wrap; 
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap; 
}
.THIS .td-select{
    width: 100px;
}