/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}
.THIS .heading
{
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #000000;
    font-size: 26px;
    font-weight: 500;
    letter-spacing: -.15px;
    line-height: 42px;
}

.THIS .difc-subfont {
    color: #000000;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding-top: 1%;}

.THIS .difc-font {
    color: #000000;
    font-family: 'EuclidSquare-Medium';
    font-size: 20px;
    font-weight: 600;
}


.THIS .difc-bodytext {
    color: #7d7d7d; 
    font-family:  'EuclidSquare-Light';
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    padding-top: 1.5%;
}