.THIS.c-container {
    /*border: 1px;
    margin: 10px 0 20px 0;*/
}

.THIS .custom-boxCard {
    text-align: center;    
    padding: 1rem;    
    width: 50%;
}
.THIS .custom-boxCardCenterNew {
    background-color: #f4f6f9;
    border: 1px solid #d8dde6;
}
.THIS .custom-boxCenter {
    text-align: center;
    background-color: #f4f6f9;
    padding: 1rem;
    border: 1px solid #d8dde6;
    width: 40%;
}
.THIS .custom-boxInstructions {
    text-align: center;
    
    border: 1px solid #d8dde6;
    width: 100%;
}