.THIS .htimeline {
    list-style: none;
    padding: 10px 0 0 0;
    /* Padding left  right */
    position: relative;
    width: 100%;
    display: table;
}
.THIS .htimeline>li {
    margin-left: 0px;
    position: relative;
    display:table-cell;
    top: 0px;
    background: rgb(247, 249, 251);
    padding-bottom: 5px;
    min-height: 140px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    border-bottom: 1px solid #efefef;
    box-shadow: 0 0 0 1px #efefef inset;
}
.THIS .customer-indicator{
                color: #5bc0de;
            }
.THIS .htimeline>li:before {
    content: "  ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #cccccc;
}

.THIS .htimeline>li>.timeline-badge {
    color: #fff;
    width: 26px;
    height: 26px;
    font-size: 1.2em;
    text-align: center;
    position: absolute;
    left: 45%;
    margin-left: 0px;
    background-color: #999999;
    /*
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    */
    border: 3px solid #cccccc;
    font-family: HelveticaNeue, Arial, sans-serif;
}

.THIS .htimeline>li>.timeline-badge {
    margin-left: 0;
    top: -12px;
    -moz-transition: all 1s ease-in;
    -webkit-transition: all 1s ease-in;
    -ms-transition: all 1s ease-in;
    transition: all 1s ease-in;
}

.THIS ul.htimeline>li>.timeline-descr {
    /*margin-left: 0%;
    margin-left: 25%;*/
    margin-top: 20px;
    font-size: 1.0em;
    width: 100%;
    text-align: center;
    font-family: HelveticaNeue, Arial, sans-serif;
    font-weight: bold;
    /* font-weight added for all the groups apart from selected */
}

.THIS .timeline-badge.selected {
    background-color: #2e6da4 !important;
}

.THIS .timeline-badge.before {
    background-color: #5bc0de !important;
}

.THIS .timeline-descr.selected {
    font-weight: bold;
}

.THIS iframe {
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    /*height: auto !important;*/
    width: 100%;
}

.THIS .stepsList {
    list-style: none;
    margin-top: 10px;
    position: relative;
    padding-left: 0px;
}

.THIS .stepsList li {
    line-height: 1.5em;
}

.THIS .stepsList li i.fa {
    /*position: absolute;*/
    top: 0;
    left: 0;
    margin-right: 5px;
}


.THIS .actionLink {
    color: #015ba7;
    text-decoration: none;
    font-weight: normal;
}

.THIS .stepsList li i,
.THIS .stepsList .timeline-descr {
    display: inline;
}

.THIS .stepsList li,
.THIS .stepsList li:hover,
.THIS .stepsList li a:hover {
    background: none !important;
}
.THIS td.td-timeline-icon {
    width: 7%;
}
.THIS td.td-timeline-descr {
    width: 79%;
    text-align: center;
}
.THIS .toggle {
   display: none;
 }
 .THIS .li-timeline
 {
     background: rgb(247, 249, 251);
 }
 .THIS .sla-section
 {
     padding: 10px;
     background: rgb(247, 249, 251);
    display: flex;
    width: 100%;
    font-weight: bold;
 }
 .THIS .seperator
 {
         padding-left: 5px;
    padding-right: 5px;
 }
 .THIS .default-cursor
 {
     cursor: default;
 }
.THIS .td-timeline-help .slds-form-element{
    display: inline;
}