.THIS .manageuser-picklist .slds-form-element__label {
  display: none;
}

.THIS .reduce-width {
  width: 80%;
}

.THIS .users-table .slds-size_3-of-12 {
  width: 16.66666666% !important;
}

.THIS .users-table .slds-size_2-of-12 {
  width: 18.33333333333% !important;
}

.THIS .users-table .slds-size_1-of-12 {
  width: 15% !important;
}

.THIS .manageuser-picklist .slds-select {
  border: 1px solid #0b0b0b;
}

.THIS .manageuser-searchBar .slds-input,
.THIS .manageuser-picklist .slds-select:focus {
  border: 1px solid #0b0b0b;
  box-shadow: none;
}

.THIS .manageuser-picklist.slds-select:focus {
  box-shadow: none !important;
}

.THIS .add-user-modal .slds-modal__container {
  width: 60% !important;
  max-width: 50rem !important;
}

.THIS .isDisabled {
  color: currentColor;
  cursor: default;
  opacity: 0.5;
  text-decoration: none;
}