.THIS {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 6rem;
}
.THIS .lbl-text{
    margin-left: 10px;
    position: relative;
    top: 0.5px;
    font-size: 13px;
    font-weight:900;
}
.THIS .back-icon svg{
    fill:#4a4a4a;
}