.THIS .ui-entityName__header{
        font-size: 34px;
        font-family: 'EuclidSquare-Medium', sans-serif;
}

.THIS .nav-label{
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .ui-entity-navigation {
    position: relative;
    flex-wrap: wrap;
    min-height: 170px;
    background-color: #fff;
   	margin-top:25px;
    padding: 35px 0 0 65px;
 }
.THIS .ui-registration-complete{
    display: flex;
    justify-content: space-between;
    margin: 0 0 15px 0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .slds-progress-bar__value{
    background:#0076CF;
}
.THIS .slds-context-bar__item{
    padding: 25px 55px;
}
.THIS .progress-bar-width{
    width:57%;
}
.THIS .nav-border{
    border-bottom : 2px solid #DDDBDA;
}
.THIS .slds-context-bar__item::selection , .THIS .slds-context-bar__item:hover{
    background-color: transparent;
    border-bottom: 3px solid #0076CF;
}