* { 
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box; 
  *behavior: url(../boxsizing.htc); 
}

/* The Grid ---------------------- */
body{min-width:320px}
.lt-ie9 html,
.lt-ie9 body,
.lt-ie9 body + .container {min-width:1280px!important;max-width:1280px!important;width:1280px!important;margin: 0 auto; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row.large-collapse .column, 
.lt-ie9 .row.large-collapse .columns { padding: 0; }
.lt-ie9 .row .row { width: auto; max-width: none; min-width: 0; margin: 0 -15px; }
.lt-ie9 .row .row.large-collapse { margin: 0; }

/*.lt-ie9 .row .columns + .columns{float:right;}*/

.lt-ie9 .column, .lt-ie9 .columns { float: left; min-height: 1px; padding: 0 15px; position: relative; }
.lt-ie9 .column.large-centered, .columns.large-centered { float: none; margin: 0 auto; }

.lt-ie9 [class*="column"] + [class*="column"]:last-child { float: right; }
.lt-ie9 [class*="column"] + [class*="column"].end { float: left; }

.lt-ie9 .large-1, 
.lt-ie9 .row .large-1 { width: 8.33333%; }

.lt-ie9 .large-2, 
.lt-ie9 .row .large-2 { width: 16.66667%; }

.lt-ie9 .large-3, 
.lt-ie9 .row .large-3 { width: 25%; }
.lt-ie8 .row .large-3{ width : 20%; }

.lt-ie9 .large-4, 
.lt-ie9 .row .large-4 { width: 33.33333%; }

.lt-ie9 .large-5, 
.lt-ie9 .row .large-5 { width: 41.66667%; }

.lt-ie9 .large-6, 
.lt-ie9 .row .large-6 { width: 50%; }

.lt-ie9 .large-7, 
.lt-ie9 .row .large-7 { width: 58.33333%; }

.lt-ie9 .large-8, 
.lt-ie9 .row .large-8 { width: 66.66667%; }

.lt-ie9 .large-9, 
.lt-ie9 .row .large-9 { width: 75%; }

.lt-ie9 .large-10, 
.lt-ie9 .row .large-10 { width: 83.33333%; }

.lt-ie9 .large-11, 
.lt-ie9 .row .large-11 { width: 91.66667%; }

.lt-ie9 .large-12,
.lt-ie9 .row .large-12,
.lt-ie9 .steps.row { width: 100%; }

.lt-ie9 .row .large-offset-1 { margin-left: 8.33333%; }
.lt-ie9 .row .large-offset-2 { margin-left: 16.66667%; }
.lt-ie9 .row .large-offset-3 { margin-left: 25%; }
.lt-ie9 .row .large-offset-4 { margin-left: 33.33333%; }
.lt-ie9 .row .large-offset-5 { margin-left: 41.66667%; }
.lt-ie9 .row .large-offset-6 { margin-left: 50%; }
.lt-ie9 .row .large-offset-7 { margin-left: 58.33333%; }
.lt-ie9 .row .large-offset-8 { margin-left: 66.66667%; }
.lt-ie9 .row .large-offset-9 { margin-left: 75%; }
.lt-ie9 .row .large-offset-10 { margin-left: 83.33333%; }

.lt-ie9 .pull-2 { right: 16.66667%; }
.lt-ie9 .pull-3 { right: 25%; }
.lt-ie9 .pull-4 { right: 33.33333%; }
.lt-ie9 .pull-5 { right: 41.66667%; }
.lt-ie9 .pull-6 { right: 50%; }
.lt-ie9 .pull-7 { right: 58.33333%; }
.lt-ie9 .pull-8 { right: 66.66667%; }
.lt-ie9 .pull-9 { right: 75%; }
.lt-ie9 .pull-10 { right: 83.33333%; }

.lt-ie9 .push-2 { left: 16.66667%; }
.lt-ie9 .push-3 { left: 25%; }
.lt-ie9 .push-4 { left: 33.33333%; }
.lt-ie9 .push-5 { left: 41.66667%; }
.lt-ie9 .push-6 { left: 50%; }
.lt-ie9 .push-7 { left: 58.33333%; }
.lt-ie9 .push-8 { left: 66.66667%; }
.lt-ie9 .push-9 { left: 75%; }
.lt-ie9 .push-10 { left: 83.33333%; }

/* Nicolas Gallagher's micro clearfix */
.lt-ie9 .row { *zoom: 1;}
.lt-ie9 .row:before, .row:after { content: " "; display: table; }
.lt-ie9 .row:after { clear: both; }


.lt-ie9 .bottom-space, .lt-ie8 .bottom-space{
	margin-bottom: 50px !important;
}


/*** top bar nav ***/

.lt-ie9 .top-bar .top-bar-section ul li.information a{
	margin-top:-10px;
}

.lt-ie9 .top-bar .top-bar-section ul li.settings a .icon{
	margin-top: -10px;
	margin-left: 10px;
	float:left;
}

.lt-ie9 .top-nav ul li.settings{
	position: relative;
}

.lt-ie9 .top-nav ul li.settings ul{
	background: #1C252D;
	position: absolute;
	top: 29px;
	right: 0;
	z-index: 99999;
	width: 200px;
	padding: 0;
	visibility: hidden;
}

.lt-ie9 .top-nav ul li.settings.clicked ul{
	visibility: visible;
}

.lt-ie9 .top-navul li.settings ul li{
	display: block;
	border-bottom: solid 1px #ccc;
	width: 100%;
	float: none;
}

.lt-ie9 .top-nav ul li.settings ul li a{
	display: block;
	padding: 10px;
	width: 100%;
	float: none;
	height: auto;
	line-height: 1em;
	font-size: 14px;
	color: #fff;
	font-family: "CentroSanLight";
	font-weight: normal;
}

.lt-ie9 .top-nav .top-bar-section ul li.has-form .columns{
	position: relative;
}

.lt-ie9 .top-nav .top-bar-section ul li.has-form .columns .icon-checklist,
.lt-ie9 .top-nav .top-bar-section ul li.has-form .columns .icon-delete{
	position: absolute;
	right: 10px;
	top: 5px;
}

.lt-ie9 .top-nav .top-bar-section ul li.has-form input[type="text"],
.lt-ie9 .top-nav .top-bar-section ul li.has-form input[type="password"]{
	line-height: inherit;
}


/*** primary nav ***/
.lt-ie9 .primary-nav{
	background: #f8f7f7;
}

.lt-ie9 .primary-nav .top-bar-section ul,
.lt-ie9 .primary-nav .top-bar-section ul li a{
	margin:0;
}

.lt-ie9 .primary-nav .top-bar-section > ul > li > a{
	padding: 16px 15px 16px;
}


.lt-ie9 .primary-nav{height:58px!important;}
/*.lt-ie9 .primary-nav .top-bar-section {top:-10px;}*/
.lt-ie9 .primary-nav .top-bar-section li li a{padding: 16px 15px 16px!important;}
.lt-ie9 .row .sidebar{padding-top:30px;width:320px;}
.lt-ie9 .sidebar input,
.lt-ie9 .primary-nav .top-bar-section ul > li.desktop-search form input {margin-bottom:15px}
.lt-ie9 .primary-nav .top-bar-section ul > li.desktop-search form input {height:35px;padding:5px 10px;line-height:25px;}
.lt-ie9 .sidebar input 				{color:#000!important;height:20px;padding:0 10px;line-height:18px;}
.lt-ie9 .sidebar .sidebar-search input 	{height:25px;line-height:23px;}
.lt-ie9 .balance-field              {margin-bottom:15px}
.lt-ie9 .balance-field input        {margin-bottom:2px}
.lt-ie9 .alert-msg-box .alert-box   {padding:10px 10px;min-height:20px;}
.lt-ie9 .alert-box .close 			{position:absolute;right:10px;top:10px;}
.lt-ie9 .dashboard-content 			{padding-top:30px;padding-left:20px!important;padding-right:20px!important;}
.lt-ie9 .visa-form-content      	{padding-top:35px;padding-left:20px!important;padding-right:20px!important;}

.lt-ie9 .row .to-do-list .row 		{margin-left:0;margin-right:0}
.lt-ie9 .row-to-do-list 			{padding-top:0px;padding-bottom:0px;}
.lt-ie9 .row-to-do-list .columns	{line-height:30px;height:33px;}
.lt-ie9 .row-to-do-list .columns.action-to-do a {line-height:30px}
.lt-ie9 .row .row-to-do-list 		{margin-bottom:7px}

.lt-ie9 .top-bar-section .has-dropdown > a{padding-right:15px!important}
.lt-ie9 .top-bar-section .has-dropdown > a:after{display:none;}

.lt-ie9 .profile-steps .title-step 				{height:33px;min-height:33px}
.lt-ie9 .profile-steps .title-step span b,
.lt-ie9 .apply-steps .step-wrapper .steps .step{behavior:url(PIE.htc);;position:relative;}

.lt-ie9 .row .apply-steps 		{margin-bottom:85px}
.lt-ie9 .visa-form-content ul li{margin-left:15px}

.lt-ie9 .visa-form-content .profile-steps,
.lt-ie9 .visa-form-content .full-width-box {margin:0 -20px 60px;}
.lt-ie9 .visa-form-content .profile-steps input,
.lt-ie9 .visa-form-content .full-width-box input{padding-top:4px;}
.lt-ie9 .visa-form-content .profile-steps .action-btns input{padding-top:8px}
.lt-ie9 .visa-form-content ul,
.lt-ie9 .visa-form-content ol 			{margin-bottom:25px}

.lt-ie9 .visa-form-content form input,
.lt-ie9 .visa-form-content form select,
.lt-ie9 .visa-form-content form textarea 	{margin-bottom:15px}
.lt-ie9 .info-column.long-box .info-tip     {right:-30px}
.lt-ie9 .visa-form-content dl 				{margin-bottom:60px}
.lt-ie9 .visa-form-content .content-top dl 	{margin-bottom:20px}
.lt-ie9 .visa-form-content .steps.row li 						{margin-left:0;}
.lt-ie9 .apply-steps .step-wrapper .steps .step-title {left:20px;right:20px;}
.lt-ie9 .row .form-header           {margin-bottom:30px}
.lt-ie9 .visa-form-content ul.breadcrumbs li{margin-left:0}
.lt-ie9 body footer.row 	{min-width:1240px;max-width:1240px}
.lt-ie9 .visa-form-content .sub-nav dt a,
.lt-ie9 .sub-nav dd a 		{padding:3px 5px;}
.lt-ie9 .visa-form-content .link-share br	{display:none;}

.lt-ie9 .profile-steps form label.for-checkbox span.checkbox,
.lt-ie9 .profile-steps form label.for-radio span.radio{top:1px;}
.lt-ie9 .visa-form-content form .row .long-box{width:665px;margin-left:3px;}
button, .button{margin-bottom:20px;}

.lt-ie9 .table-form-field tr td.label-col 	{width:135px;}
.lt-ie9 .table-form-field tr td.data-col 	{width:240px;}
.lt-ie9 .table-form-field tr td.data-col.long-box,
.lt-ie9 .table-form-field.options-row tr td.data-col 	{width:660px;}
.lt-ie9 .table-form-field tr td.label-col + td + td.label-col{padding-left:45px;width:180px}
.lt-ie9 .mobile-logo.left{padding:5px 0 5px 10px;}

@media (max-width:980px){
	.lt-ie9 .row .sidebar{display:block!important;}
	.lt-ie9 .hide-for-large-up.table-list{display:none!important;}
	.lt-ie9 .table-form-field tr td{float:none!important;display: table-cell!important;width:auto;}
}

input[type='text'][disabled]{
	background-color: rgb(244, 244, 244);
}

/**
 * IE 7 CSS
 */

.lt-ie8 .top-nav{
	z-index: 999;
}

.lt-ie8 .top-nav ul.home-link{
	width:32px;
}

.lt-ie8 .top-nav ul li.settings.clicked ul{
	visibility: visible;
}

.lt-ie8 .top-bar .top-bar-section ul li.language{
	display: block !important;
}

.lt-ie8 .top-nav .top-bar-section ul li.has-form input[type="text"], .lt-ie8 .top-nav .top-bar-section ul li.has-form input[type="password"]{
	line-height: 2em;
}

.lt-ie8 .top-bar .top-bar-section ul li.has-form .large-5{
	width: 220px !important;
}

.lt-ie8 .slider{
	height: 350px;
	overflow: hidden;
}

.lt-ie8 .slider .brand-logo{
	display: block !important;
}

.lt-ie8 .orbit-container ul li img{
	height: 100%;
	width:auto;
	max-width: none;
}

.lt-ie8 .orbit-container ul li .orbit-caption{
	height: auto !important;
}

.lt-ie8 .top-bar .top-bar-section ul.left li.has-dropdown ul.dropdown{
	z-index: 9999 !important;
}

.lt-ie8 .primary-nav{
	display: block !important;
	z-index: 99;
}

.lt-ie8 .primary-nav .top-bar-section > ul > li a.search{
	height: 26px;
	width: 20px;
}

.lt-ie8 .primary-nav .top-bar-section > ul > li .f-dropdown{
	z-index:99999 !important;
	top:59px !important;
	left: -9999px;

}

.lt-ie8 .primary-nav .top-bar-section > ul > li .f-dropdown.open{
	left: auto;
	z-index: 99;
}

.lt-ie8 .primary-nav .top-bar-section ul > li .f-dropdown ul > li > a{
	line-height: 21px;
} 

.lt-ie8 .primary-nav .top-bar-section > ul > li .f-dropdown ul li:hover{
	background: none;
}

.lt-ie8 .primary-nav .top-bar-section > ul > li .f-dropdown a:hover{
	background:#b1b2b5;
}

.lt-ie8 .slider{
	z-index:98;
}

.lt-ie8 .secondary-menu{
	z-index: 97;
}

.lt-ie8 #main-content{
	z-index: 96;
}

.lt-ie8 .box .content, .lt-ie8 .box .content a.readmore-hover{
	width:280px;
}

.lt-ie8 .box a.hover-link{
	height: 20px;
}


.lt-ie8 footer{
	display: block !important;
}

.lt-ie8 footer .large-6{
	width: 45% !important;
}

.lt-ie8 footer .large-5{
	width: 50% !important;
}

.lt-ie8 footer .large-5 .large-4{
	width: 27% !important;
}


/*** tabs ***/
.lt-ie8 .section-container .tab{
	position: relative !important;
	height: 78px;
}

.lt-ie8 .section-container .tab.active{
	height: auto;
}

.lt-ie8 .section-container .tab .title{
	position: relative;
	border-right: none;
	border-left: none;
}

.lt-ie8 .section-container .tab .title a{
	width: auto !important;
	position: relative;
}

.lt-ie8 .section-container .tab .title a .icon{
	margin-right: 32px;
}

.lt-ie8 .section-container .tab.active .content .large-7{
	width: 51.33% !important;
}


/** share holder ***/
.lt-ie8 .about-page .row > .large-12, .lt-ie8 .about-page .more-link .large-12{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.lt-ie8 .share-holder ul{
	height: 250px !important;
	overflow: hidden;
}

.lt-ie8 .share-holder ul li.info{
	width: 42%;
}

.lt-ie8 .share-holder ul li.thumb img{
	height: 100%;
}

.lt-ie8 .more-link .large-7{
	display: block !important;
}

.lt-ie8 .more-link .large-5{
	width: 33.66% !important;
}

.lt-ie8 .more-link  p{
	padding: 10px;
}


/** contact ***/
.lt-ie8 .contact .contact-desc .large-12{
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.lt-ie8 .contact .contact-location .large-8{
	width: 62.66%;
}

.lt-ie8 .contact .office-map #map{
	height: 425px;
}

.lt-ie8 .contact .inquiry form.custom .large-6{
	width: 46%;
}

.lt-ie8 .contact .inquiry form.custom input[type="text"], .lt-ie8 .contact .inquiry form.custom input[type="email"]{
	color: #707478;
	font-family: "CentroSanLight";
}

.lt-ie8 .contact .inquiry form.custom textarea{
	width: 97%;
}


/** commodities ***/
.lt-ie8 .commodities .diamond-news ul li{
	width: 23.12% !important;
	height: 290px !important;
}

.lt-ie8 .commodities .diamond-news ul li a.hover-link{
	width: 202px !important;
}

.lt-ie8 .commodities .diamond-news ul li .block-content{
	background: url("../images/bg-content.jpg") repeat-y 0 0 !important;
	filter:none !important;
}

.lt-ie8 .commodities .company-logo ul li{
	width: 23.12% !important;
}


/*** footer ***/
.lt-ie8 footer .copyright{
	bottom: 90px !important;
}
