@font-face {font-family: "FrutigerLTPro"; src: url(../fonts/frutiger/2B8159_1_0.eot?orgId=00D20000000nkZ5); src: url(../fonts/frutiger/2B8159_1_0.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/frutiger/2B8159_1_0.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/frutiger/2B8159_1_0.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/frutiger/2B8159_1_0.svg?orgId=00D20000000nkZ5&wf) format("svg"); font-weight: normal; font-style: normal}
@font-face {font-family: "FrutigerLTPro"; src: url(../fonts/frutiger/2B8159_2_0.eot?orgId=00D20000000nkZ5); src: url(../fonts/frutiger/2B8159_2_0.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/frutiger/2B8159_2_0.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/frutiger/2B8159_2_0.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/frutiger/2B8159_2_0.svg?orgId=00D20000000nkZ5&wf) format("svg"); font-weight: 300; font-style: normal}
@font-face {font-family: "FrutigerLTPro"; src: url(../fonts/frutiger/2B8159_0_0.eot?orgId=00D20000000nkZ5); src: url(../fonts/frutiger/2B8159_0_0.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/frutiger/2B8159_0_0.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/frutiger/2B8159_0_0.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/frutiger/2B8159_0_0.svg?orgId=00D20000000nkZ5&wf) format("svg"); font-weight: 700; font-style: bold}
@font-face {font-family: "FrutigerLTPro"; src: url(../fonts/frutiger/2B8159_3_0.eot?orgId=00D20000000nkZ5); src: url(../fonts/frutiger/2B8159_3_0.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/frutiger/2B8159_3_0.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/frutiger/2B8159_3_0.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/frutiger/2B8159_3_0.svg?orgId=00D20000000nkZ5&wf) format("svg"); font-weight: bold; font-style: italic}
@font-face {font-family: "FrutigerLTPro"; src: url(../fonts/frutiger/2B8159_4_0.eot?orgId=00D20000000nkZ5); src: url(../fonts/frutiger/2B8159_4_0.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/frutiger/2B8159_4_0.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/frutiger/2B8159_4_0.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/frutiger/2B8159_4_0.svg?orgId=00D20000000nkZ5&wf) format("svg"); font-weight: 300; font-style: italic}
@font-face {font-family: "TheSerif"; src: url(../fonts/TheSerif/TheSerif_300_.eot?orgId=00D20000000nkZ5); src: url(../fonts/TheSerif/TheSerif_300_.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/TheSerif/TheSerif_300_.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/TheSerif/TheSerif_300_.svg?orgId=00D20000000nkZ5&TheSerif_300_) format("svg"); font-weight: lighter; font-style: normal}
@font-face {font-family: "TheSerif"; src: url(../fonts/TheSerif/TheSerif_500_.eot?orgId=00D20000000nkZ5); src: url(../fonts/TheSerif/TheSerif_500_.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/TheSerif/TheSerif_500_.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/TheSerif/TheSerif_500_.svg?orgId=00D20000000nkZ5&TheSerif_500_) format("svg"); font-weight: normal; font-style: normal}
@font-face {font-family: "TheSerif"; src: url(../fonts/TheSerif/TheSerif_700_.eot?orgId=00D20000000nkZ5); src: url(../fonts/TheSerif/TheSerif_700_.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/TheSerif/TheSerif_700_.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/TheSerif/TheSerif_700_.svg?orgId=00D20000000nkZ5&TheSerif_700_) format("svg"); font-weight: 700; font-style: normal}
@font-face {font-family: "TheSerif"; src: url(../fonts/TheSerif/TheSerif_800_.eot?orgId=00D20000000nkZ5); src: url(../fonts/TheSerif/TheSerif_800_.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/TheSerif/TheSerif_800_.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/TheSerif/TheSerif_800_.svg?orgId=00D20000000nkZ5&TheSerif_800_) format("svg"); font-weight: 800; font-style: normal}
body { font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-style: normal }
p { font-family: Arial, Helvetica, sans-serif; color: rgb(69, 74, 80); margin-bottom: 20px; font-weight: normal }
a { outline: 0 }
h1, h2, h3, h4 { }
h1, h2, h3, h4, h5, h6 { margin-top: 0; font-family: Arial, Helvetica, sans-serif; font-weight: bold; text-transform: uppercase; display: block }
ul, ol { margin-bottom: 26px }
ul li, ol li { font-size: inherit }
small { font-size: 10px; margin-bottom: 14px }
blockquote { font-style: italic; border-left: solid 1px rgb(115, 140, 171); border-right: solid 1px rgb(115, 140, 171) }
blockquote p { display: inline; padding: 0 10px; color: rgb(115, 140, 171) }
