.THIS .borderLine{
    border: 1px solid black;
    border-radius:0 !important;
}
.THIS .ui-button--primary{
    background:#2B2826 !important;
    border:0px !important;
}
/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}
/*-----------------------------------------Compliance Calendar---------------------------------*/




.THIS .ui-form-card__header {
    
    font-family: 'EuclidSquare-Medium', sans-serif;
    width: 600px;
    height: 42px;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
    margin-top:10%;
    margin-left:7%;
}
.THIS .ui-form-card__subheader{
    margin-left:7%;    
    width: 536px;
    height: 44px;
    color: #4a4a4a;
    font-family: 'Euclid Square Trial - Medium';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.THIS.ui-form-card__header{
    
}

.THIS .outer_ComplianceCalendar {
    width: 1046px;
    height: 1065px;  
    background-color: #ffffff;
    margin-left:9%;
    margin-top:6%;
    overflow-y: scroll;
}
.THIS .inner_ComplianceCalendar{
    width: 800px;
    height: 918px;
    border: 1px solid #979797;
    background-color: #ffffff;margin-top:-23%;
    margin-left: 7%;
}
.THIS .ui-form-card__text{
    width: 173px;
    height: 36px;
    color: #000000;
    font-family: 'Euclid Square Trial - Medium';
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    padding-top: 15%;
    padding-left: 21%;
}


/* Create two equal columns that floats next to each other */
.THIS .column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px; 
    margin-left: 12%;
}

/* Clear floats after the columns */
.THIS .row:after {
    content: "";
    display: table;
    clear: both;
}
.THIS .headingFirst{
    margin-left:-18%;
    margin-top:8%;
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    font-weight: bold;
}
.THIS .headingSecond{
    margin-top:8%;
    margin-left:30%;

font-family: "Euclid Square - Light";
font-size: 14px;
font-weight: 300;
line-height: 24px;
}