.THIS .ui-form-card__header{
        font-size: 38px ;
        font-family: 'EuclidSquare-Medium', sans-serif;
    	padding-top: 0;
    	padding-bottom: 10px;
        display: inherit;
       
}

.THIS .ui-form-card__subheader{
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
   
}
.THIS .ui-topup {
    position: relative;
    flex-wrap: wrap;
    min-height: 220px;
    background-color: #fff;
    padding: 38px 0px;
    padding-bottom: 0px;
    text-align: center ;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    /*margin-top: 20px;*/
 }
.THIS .topup-button{
    border: 2px solid black;
    padding: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 12px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}