

<style>
    .top-bar input, .top-bar .button{top: 0px;}
    .top-bar section ul.settings  li.search {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: none;
    }

    section.top-bar-section ul li.search input {
        border: none;
        /*padding-top: 0.25rem;*/
        top: 0px;
    }

    section.top-bar-section ul li.search input[type='submit'] {
        background: #00a3e0;
        left: -6px;
    }
    .top-bar-section ul li span.icon {margin-top: 15px;}

    /*tab font Size*/
    .zen .zen-tabMenu a { font-size: 0.875rem; }
    .notification-item p {vertical-align: middle;}

    .sidebarCollapsible{padding: 0;}
    .sidebar{/*width: 320px !important;*/width: 250px !important;border-right: 1px solid #e5e5e5;}
    #handlebarContainer {left: 244px; z-index: 99;}

    .container {margin-top: 18px;}
    .sidebarCell, #sidebarDiv{width: 250px;}


    /*** Legacy styles ***/

    .ugAC_box .ugAC_row_hover,
    .autoCompleteHoverRow,
    tr.dataRow.highlight-hover,
    .errorConsole .x-grid3-row-over,
    .listViewport .x-grid3-row-over,
    #listPushUpgradeJobs tr.dataRow:hover,
    #phSearchInput_autoCompleteBoxId .autoCompleteHoverRow,
    .detailList .fyeYearGrid .pbBody .tabularEditElement tr.dataRow:hover {
        background-color: #ebebeb !important;
    }

    /* hide customer lookup */
    /*    .lookupInput.customer > input#CF00N11000000qRuU ~ *,
        .lookupInput.customer > input#CF00N10000004HiGy ~ * {
            display: none !important;
        }
    */

    /* Search controll */
    .searchAllLink,
    .sidetabsContainer .feedToggle,    
    ul.searchEntityList .itemLink .item:not([data_relatedlistdomid='Case']):not([data_relatedlistdomid='Service_Request__c']),
    div#searchResultsHolderDiv div.bRelatedList:not(#Cases):not(#Service_Request__c)  {
        display: none !important;
    }    

</style>

<footer class="row">
    <div class="row footer-row">
        <div class="large-12 columns">

            <h3>About DIFC</h3>
            <p>The Dubai International Financial Centre (DIFC) is a federal financial free zone situated in the Emirate of Dubai, United Arab Emirates. It was established pursuant to UAE Federal Decree No. 35 of 2004, UAE Federal Law No. 8 of 2004 and Dubai Law No. 12 of 2004. The DIFC aims to create an environment for growth, progress and economic development in the UAE and the wider region by providing the needed legal and business as well as physical infrastructure benchmarked against international standards.</p>
            <p>
                The DIFC occupies a physical territory of approximately 110 acres. It has its own legal system and courts distinct from those of UAE, and provides a platform for business and financial institutions to reach into and out of the emerging markets of the region.
            </p> 
        </div>

<!--         <div class="large-5 medium-6 small-12 offset-large-1 columns footer-right">
            <div class="row">
                <div class="large-4 medium-6  small-6 columns show-for-large-up">
                    &nbsp;
                </div>
                <div class="large-4 medium-6 small-6 columns">
                    <dl>
                        <dt><a href="http://www.difc.ae/">DIFC Website</a></dt>
                        <dd></dd>
                    </dl>
                    <dl>
                        <dt><a href="/customers/home">Services Dashboard</a></dt>
                    </dl>
                    <dl>
                        <dt>Employee Services</dt>
                        <dd><a href="#">Card Services</a></dd>
                        <dd><a href="#">Letter Services</a></dd>
                        <dd><a href="#">Visa &amp; Permit Services</a></dd>
                    </dl>
                    <dl>
                        <dt><a href="/customers/CompanyServices">Company Services</a></dt>
                    </dl>
                    <dl>
                        <dt>Property Services</dt>
                        <dd><a href="#">Sales &amp; Leasing</a></dd>
                        <dd><a href="#">Advertising</a></dd>
                        <dd><a href="#">Concordia</a></dd>
                    </dl>

                </div>
                <div class="large-4 medium-6 small-6 columns">
                    <dl>
                        <dt>Account</dt>
                        <dd><a href="/customers/CompanyInfo">Company Profile</a></dd>
                        <dd><a href="#">User Accounts</a></dd>
                        <dd><a href="#">Activity History</a></dd>
                    </dl>
                    <dl>
                        <dt>Support</dt>
                        <dd><a href="/customers/faq">General FAQ</a></dd>
                        <dd><a href="#">Live Chat</a></dd>
                        <dd><a href="/customers/500/e">Support Tickets</a></dd>
                        <dd><a href="tel:+97143622222">Technical Contact</a></dd>
                    </dl>
                </div>

            </div>
        </div> -->

    </div>
    <div class="row copyright">
        <div class="large-12 columns">
            <small>All rights reserved. Copyright DIFC &copy; <span class="year"></span></small>
        </div>
    </div>
</footer>
<!-- footer -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="/customers/resource/1408443325000/difc_portal/DIFC_CommunityResource/js/foundation.js"></script> -->
<script src="/customers/resource/difc_portal/DIFC_CommunityResource/js/foundation.min.js"></script>
<script src="/resource/difc_portal/DIFC_CommunityResource/js/foundation.min.js"></script>

<script>
    
    // function stop_animation(){
    //     jQuery(".spin-container").remove(); 
    //     jQuery("body").removeClass('no-scroll');       
    // }
    // stop_animation();

    //Disable salesforce default input field focus
    setFocusOnLoad = function(){};    

    // Sfdc.onReady(function(){
    //     DIFC.apply_settings();        
    // });
    
    // console.log('Time page loaded finished ===> ' + Date.now());

    var sforce_ready = Sfdc.onReady;
    Sfdc.onReady(function(){
        sforce_ready();
        DIFC.SercurityManager.apply_security();
    });

    jQuery(function() {

        //$(".spin-container").remove();

        DIFC.init();        
        
        jQuery(".globalHeaderNameMink .name").text(jQuery("#globalHeaderNameMink").text());
        jQuery("nav.top-bar section.top-bar-section ul.settings ul.dropdown").append(jQuery(".globalHeaderBar .zen-options li"));        

        jQuery(document).foundation();

        if(isFirefox) {
            var user_settings_elem = $('nav.top-bar section ul.settings > li.has-dropdown');
            if(!user_settings_elem.hasClass('.not-click')) {
                jQuery(user_settings_elem).on('mouseenter', function(e){
                    e.preventDefault();
                    jQuery(this).children('ul.dropdown').css('clip', 'auto');
                }).on('mouseleave', function(e){
                    e.preventDefault();
                    jQuery(this).children('ul.dropdown').css('clip','rect(1px, 1px, 1px, 1px)');
                })
            }           
        }

        var today = new Date();
        jQuery('footer .copyright span.year').html(today.getFullYear());

    });    

    // $(document).foundation();
</script>
