<style>
    .top-bar input, .top-bar .button{top: 0px;}
    .top-bar section ul.settings  li.search {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        border: none;
    }

    section.top-bar-section ul li.search input {
        border: none;
        /*padding-top: 0.25rem;*/
        top: 0px;
    }

    section.top-bar-section ul li.search input[type='submit'] {
        background: #00A1DF;
        left: -6px;
    }
    .top-bar-section ul li span.icon {margin-top: 15px;}

    /*tab font Size*/
    .zen .zen-tabMenu a { font-size: 0.875rem; }
    .notification-item p {vertical-align: middle;}

    .sidebarCollapsible{padding: 0;}
    .sidebar{width: 320px !important;border-right: 1px solid #e5e5e5;}
    #handlebarContainer{z-index: 99;}

</style>

<footer class="row">
    <div class="row footer-row">
        <div class="large-6 medium-6 columns hide-for-small">

            <h3>About DIFC Portal</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pellentesque massa viverra, venenatis orci non, bibendum ligula. Quisque interdum mauris et molestie rutrum. Aenean ornare euismod neque, quis porta urna vestibulum ut. Nam risus ligula, molestie ut massa ut, tristique tincidunt arcu.</p>

        </div>

        <div class="large-5 medium-6 small-12 offset-large-1 columns footer-right">
            <div class="row">
                <div class="large-4 medium-6  small-6 columns show-for-large-up">
                    &nbsp;
                </div>
                <div class="large-4 medium-6 small-6 columns">
                    <dl>
                        <dt><a href="http://www.difc.ae/">DIFC Website</a>
                        </dt>
                    </dl>
                    <dl>
                        <dt><a href="#">Services Dashboard</a></dt>
                    </dl>
                    <dl>
                        <dt>Employee Services</dt>
                        <dd><a href="#">Card Services</a>
                        </dd>
                        <dd><a href="#">Letter Services</a>
                        </dd>
                        <dd><a href="#">Visa &amp; Permit Services</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Company Services</dt>
                        <dd><a href="#">Renew License</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Property Services</dt>
                        <dd><a href="#">Sales &amp; Leasing</a>
                        </dd>
                        <dd><a href="#">Advertising</a>
                        </dd>
                        <dd><a href="#">Concordia</a>
                        </dd>
                    </dl>
                </div>
                <div class="large-4 medium-6 small-6 columns">
                    <dl>
                        <dt>Account</dt>
                        <dd><a href="#">Company Profile</a>
                        </dd>
                        <dd><a href="#">User Accounts</a>
                        </dd>
                        <dd><a href="#">Activity History</a>
                        </dd>
                    </dl>
                    <dl>
                        <dt>Support</dt>
                        <dd><a href="#">General FAQ</a>
                        </dd>
                        <dd><a href="#">Live Chat</a>
                        </dd>
                        <dd><a href="#">Support Tickets</a>
                        </dd>
                        <dd><a href="#">Technical Contact</a>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

    </div>
    <div class="row copyright">
        <div class="large-12 columns">
            <small>All rights reserved. Copyright DIFC &copy;2014</small>
        </div>
    </div>
</footer>
<!-- footer -->

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<script src="/customers/resource/1407673427000/DIFC_PortalResource/DIFC_CommunityResource/js/foundation.js"></script>

<script>
    (function(jQuery) {

        $(".globalHeaderNameMink .name").text($("#globalHeaderNameMink").text());
        $("nav.top-bar section.top-bar-section ul.settings ul.dropdown").append($(".globalHeaderBar .zen-options li"));

      jQuery(document).foundation();
    })(jQuery);

    // $(document).foundation();
</script>
