<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<div class="header">
    <nav class="row top-bar top-nav dashboard" data-topbar><!--data-options="is_hover: false"-->
        <ul class="mobile-logo left">
            <li>
                <a href="index.html"><img src="/customers/resource/1407673427000/DIFC_PortalResource/DIFC_CommunityResource/images/DIFC_white_logo.png"></a>
            </li>
        </ul>

        <ul class="title-area right">
            <li class="user show-for-small-only show-for-medium-only"><span>Welcome Portal User</span></li>
            <li class="toggle-topbar"><a href="#"><i class="icon icon-user"></i></a></li>
        </ul>

        <section class="top-bar-section">

           <!-- Right Nav Section -->
            <ul  class="right settings">
                  <li class="has-dropdown">
                    <a href="#"><span  class="icon_settings" style="vertical-align: middle;"></span></a>
                        <ul class="dropdown">
                          <!-- <li><a href="#">Reset Your Password</a></li> -->
                          <li><a href="#">Contact Support</a></li>
                          <!-- <li><a href="/customers/secur/logout.jsp">Logout</a></li> -->
                        </ul>
                  </li>
            </ul>
            <ul class="right">

                <li class="search hide-for-small-only hide-for-medium-only">
                    <form action="/customers/search/SmartSearch" method="get">
                        <input id="phSearchInput" type="text" name="str"/>
                        <input type="submit" value="Search" class="button"/>
                    </form>
                </li>

                <li class="user hide-for-small-only hide-for-medium-only">
                     <a href="#"><span class="left icon  icon_phone_white"></span><span>+971 4 362 2222</span></a>
                </li>

                <li class="globalHeaderNameMink user hide-for-small-only hide-for-medium-only">
                    <a href="#"><span class="left icon  icon_user"></span><span class="name">Welcome Portal User</span></a>
                </li>
            </ul>
        <!-- <ul class="mobile-logo left">
            <li>
                <a  target="_blank" href="http://www.difc.ae/"><img src="/customers/resource/1405942758000/DIFC_PortalResource/DIFC_CommunityResource/images/DIFC_white_logo.png"></a>
            </li>
        </ul>

        <ul class="title-area right">
            <li class="user show-for-small-only show-for-medium-only"><span>Bilal Nazir</span></li>
            <li class="toggle-topbar"><a href="#"><i class="icon icon-user"></i></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right user-login">
                <li class="user hide-for-small-only hide-for-medium-only"><span>Bilal Nazir</span></li>
                <li class="settings has-form">
                  <a href="#"><i class="icon icon-setting">&nbsp;</i></a>
                    <ul>
                      <li><a href="#">Reset Your Password</a></li>
                      <li><a href="#">Contact Support</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="right hide-for-small-only hide-for-medium-only">
                <li class="call-centre">
                    <i class="icon icon-phone-white"></i>
                    <a href="tel:+971 4 4249600">Call Centre: +971 4 4249600</a>
                </li>
            </ul> -->

        </section>
    </nav><!-- nav -->

</div>

<script type="text/javascript">
	if (typeof (console) == "undefined" || !console) {
	    console = {};
	    console.log = function () {}
	}
	// ----------------------------------------------------------
	// A short snippet for detecting versions of IE in JavaScript
	// without resorting to user-agent sniffing
	// ----------------------------------------------------------
	// If you're not in IE (or IE version is less than 5) then:
	//     ie === undefined
	// If you're in IE (>=5) then you can determine which version:
	//     ie === 7; // IE7
	// Thus, to detect IE:
	//     if (ie) {}
	// And to detect the version:
	//     ie === 6 // IE6
	//     ie > 7 // IE8, IE9 ...
	//     ie < 9 // Anything less than IE9
	// ----------------------------------------------------------

	// UPDATE: Now using Live NodeList idea from @jdalton
	var ie = (function () {
	    var undef, v = 3,
	        div = document.createElement("div"),
	        all = div.getElementsByTagName("i");
	    while (div.innerHTML = "<!--[if gt IE " + (++v) + "]><i></i><![endif]-->", all[0]) {}
	    return v > 4 ? v : undef
	}());

	var baseResourcePath = "/customers/resource/1407673427000/DIFC_PortalResource/DIFC_CommunityResource/";
	$("head").append('<meta charset="utf-8">');
	$("head").append('<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">');
	$('head').append('<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">');

	$("head").append('<link rel="shortcut icon" href="' + baseResourcePath + 'favicon.ico" type="image/x-icon">');
	$("head").append('<link rel="icon" href="' + baseResourcePath + 'favicon.ico" type="image/x-icon">');

    sfdcPage.embedExternalStyleSheet(baseResourcePath + 'css/difc.min.css', document)
	// var stylsheets = ["css/foundation.css", "css/responsive.css","css/typography.css", "css/style_override.css"];
	// for (var stylsheetIndex = 0; stylsheetIndex < stylsheets.length; stylsheetIndex++) {
	//     sfdcPage.embedExternalStyleSheet(baseResourcePath + stylsheets[stylsheetIndex], document)
	// }
	// sfdcPage.embedExternalStyleSheet("//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css", document);
	if (ie < 9) {
	    sfdcPage.embedExternalStyleSheet(baseResourcePath + "/css/ie.css", document);
	    sfdcPage.embedJSTag( baseResourcePath + "/js/libs/respond.min.js", document);
	    sfdcPage.embedJSTag( baseResourcePath + "/js/vendor/custom.modernizr.js", document)
	}
</script>
