.THIS .labelEdit .slds-form-element__label .slds-required{
    display:none;
}

.THIS .ui-card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.THIS .ui-form-card__header {
    position: relative;
    display: flex;
    align-items: flex-start;
    font-family: 'EuclidSquare-Medium', sans-serif;
    /*padding-top: 48px;*/
   padding-top: 30px;
    padding-bottom: 30px;
    max-height: inherit;
    cursor: pointer;
}
.THIS .ui-form-card__header--faded{
    opacity:0.5;
}
.THIS .ui-form-card__header-subheader {
    display: block;
    font-size: 17px;
    transition: all 300ms ease-in-out;
    padding-left:50px;
}
.THIS .ui-form-card__progress-ring::after {
    position: absolute;
    bottom: 0;
    left: 13px;
    width: 2.4px;
    height: 50%;
    background-color: #0076cf;
    content: '';
    opacity: 0;
}
.THIS .ui-form-card .slds-progress_vertical .slds-progress__item:after {
    top: 0;
}

.THIS .ui-form-card .slds-progress_vertical .slds-progress__item:last-child:before {
    display: none;
}
.THIS .ui-form-card__content {
    padding: 0 32px 320px;
   /* max-height: 780px;*/
    overflow-y: scroll;
}

.THIS .ui-form-card__content::-webkit-scrollbar {
 display: none;
}
.THIS .rtl{
    direction: rtl;
}

.THIS .hideRequired .slds-form-element__label{
    display:none;
}

.THIS .deleteButton{
    text-align: right;
}