
/*==============================

1. @media (max-width: 939px)
2. @media (min-width: 768px) and (max-width: 939px)
3. @media only screen and (min-width: 940px) and (max-width: 1279px)
4. @media only screen and (min-width: 940px)
5. @media only screen and (min-width: 940px) and (max-width: 1041px)
6. @media only screen and (max-width: 1024px)
7. @media (max-width: 767px)
8. @media (max-width:939px) and (min-width:640px)
9. @media (width:640px)
10.@media only screen and (max-width: 640px)
11.@media only screen and (max-width: 540px)
12.@media only screen and (max-width: 360px)

================================*/
body div.container:first-child{overflow:hidden;}
@media (max-width: 939px){
	nav.top-bar ul li.information{
		position: relative; !important;
		top: 10px;
	}

	nav.top-bar ul li.settings{
		position: relative; !important;
		top: 10px;
	}

	nav.top-bar ul li.settings.clicked ul{
		top:40px;
	}
}

@media (min-width: 768px) and (max-width: 939px) {

	.hidden-grid{
		display: none !important;
	}

	.hidden-tablet{
		display: none !important;
	}


	/*** top bar ***/

	.top-nav.news ul.mobile-logo,
	.top-nav.dashboard ul.mobile-logo{
		display: block !important;
		padding-top: 5px;
		position: relative;
		z-index: 9999;
		margin-left:10px;
	}
	
	.top-bar .mobile-lang{
		position: absolute;
		right: 150px;
		top: 0;
		z-index: 99999;
	}
	
	.top-bar .name{
		height: 40px;
	}
	
	.top-bar.expanded-nav{
		overflow: visible;
	}
	
	.top-bar.expanded-nav .title-area{
		background: #1c252d;
		margin-bottom: 0;
		padding:10px 0 0 0;
	}
	.top-bar.mobile-primary-nav.expanded-nav .title-area{padding-top:0!important}
	
	.top-bar.expanded-nav .toggle-topbar a span{
		box-shadow: none;
		-webkit-box-shadow:none;
	}
	
	.top-bar .toggle-topbar{
		width:45px;	
	}
	
	
	.top-bar .toggle-topbar a{
		height: 40px;
		padding-left: 0;
		background: #60666c;
		padding-right: 0;
	}
	
	.top-bar .toggle-topbar a span{
		float: left;
		position: relative;
		text-transform: none;
		font-family: "CentroSanLight";
		font-weight: lighter;
		font-size: 14px;
		top:-1px;
		left: 0px;
		background-color: #1c252d;
		padding-right: 13px;
	}
	
	.top-bar .toggle-topbar a .icon-user{
		position: absolute;
		right: 5px;
		top:10px;		
	}
	
	.top-bar-section ul li{
		float: left;
	}
	
	nav.top-bar ul{
		padding: 0;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right{
		background: #e9e8e9;
		padding: 20px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9999;
		width: 100%;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right li{
		float: none;
	}

	
	
	.top-bar.expanded-nav .top-bar-section ul.right li.language{
		display: none !important;
	}
	
	
	.top-bar.expanded-nav .top-bar-section .has-form .large-5{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.top-bar.expanded-nav .top-bar-section .has-form .large-5 input{
		width: 89%;
	}

	.top-bar.expanded-nav .top-bar-section ul.right li.has-form form{
		width: 240px;
		margin: 0 auto;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right li.has-form input[type="text"], .top-bar.expanded-nav .top-bar-section ul.right li.has-form input[type="password"]{
		margin-top: 0;
		background: #fff;
		color: #000;
	}

	

	nav.top-bar ul li.settings.clicked ul{
		top: 40px;
	}

	.top-nav .top-bar-section ul.right.user-login{
		visibility: hidden;
	}

	.top-nav .top-bar-section ul.right.user-login li.settings, .top-nav .top-bar-section ul.right.user-login li.information{
		padding: 0 13px;
		top: 0;
	}

	nav.top-bar ul li.settings > a .icon-setting{
		background: url("../images/icon-settings-white.png") no-repeat 0 0 !important;
	}

	.top-nav.expanded-nav .top-bar-section ul.right{
		z-index: 999999;
		visibility: visible;
	}

	.top-nav ul.mobile-logo li a:hover{
		background: none;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-checklist{
		background: url("../images/icon-checklist-grey.png") no-repeat 0 0 !important;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-delete{
		background: url("../images/icon-delete-grey.png") no-repeat 0 0 !important;
	}
	
	
	/*** primary nav ***/
	.primary-nav{
		overflow: visible;	
	}
	
	.primary-nav .top-bar-section > ul{
		display: inline;
		width: auto;
	}
	.primary-nav .top-bar-section > ul > li{
		display: inline-block;
		float: left;
	}
	
	.primary-nav .top-bar-section ul > li > a,
	.top-bar-section .dropdown li.title h5 a{
		float: left;
		line-height: 58px;
		text-transform:uppercase;
	}
	.top-bar-section .dropdown li.title h5 a{
		padding: 0 8px;
		color:#454A50;
	}
	.primary-nav .top-bar-section ul > li > a{
		padding:0 15px;
	}
	.primary-nav .top-bar-section ul > li li > a{
		line-height:24px;
		border-top: 1px solid #ccc;
		font-size:13px;
	}
	.primary-nav .top-bar-section ul > li.last > a{
		padding-right: 10px;
	}

	/*.primary-nav .top-bar-section ul > li > a.search{
		width: 43px !important;
	}
	
	.primary-nav .top-bar-section ul > li > a i.icon{
		margin-top: 3px;
		right: 7px !important;
	}*/
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
		width: 100% !important;
		top:60px !important;
		text-align: left;
		background: #ebeaeb;
		border: none;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul{
		padding-left: 10px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul li a{
		padding-left: 10px;
	}
	
	.top-bar .top-bar-section .has-form .desktop-submit{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label label{
		color: #54595e;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		width: 89%;
		text-align: center;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit a{
		width: 100%;
		background: #c0c1c2;
		color: #454a50;
		padding: 10px 15px;
		height: auto;
	}


	/*** secondary nav ***/

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs > *:before{
		content: "";
		margin:0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs{
		border: none;
		padding: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb{
		background: none;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb a{
		font-size: 16px;
		font-weight: normal;
		font-family: "CentroSanLight";
		text-transform: none;
		padding: 7px 10px;
	}
	
	
	/*** orbit ***/
	.orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 350px;
	}
	
	.orbit-container ul li img{
		height: 100%;
	}


	/*** about ***/


	.section-container .tab, .section-container .tab p.title{
		position: relative !important;
		padding-top: 0 !important;
	}

	.section-container .tab p.title{
		border-left: none !important;
		border-right: none !important;
		width: 100% !important;
		left: 0 !important;
		background: #e6e6e6 !important;
	}

	.section-container .tab.active .title{
		background: #dbdbdc !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
	}

	.share-holder ul{
		margin:0 !important;
	}

	.share-holder ul li{
		height: 290px !important;
		position: relative;
		overflow: hidden;
	}

	.share-holder ul li img{
		position: absolute;
		height: 100%;
		width: auto !important;
		max-width: none;
		top: 0;
		left: 0;
	}

	.share-holder .info{
		padding: 20px 20px 10px 20px !important;
	}

	.share-holder .info h3{
		font-size: 20px !important;
	}

	.share-holder .info h4{
		font-size: 16px !important;
	}

	.share-holder .info p{
		font-size: 16px !important;
		line-height: 1.2em !important;
	}


	.vacancy ul li{
		height: 229px !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

	.vacancy .block-content h4 a, .vacancy .block-content p {
		font-size: 16px !important;
	}

	/*** footer ***/
	
	
	/*** contact ***/
	.contact .office-map{
		padding: 0 15px 0 0 !important;
	}

	.contact .inquiry form{
		width: 96% !important;
		margin: 0 !important;
	}

	.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard{
		padding: 15px 10px !important;
	}

	.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li, .contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li span{
		font-size: 14px !important;
	}

	/*** commodities ***/

	.mobile-company-logo{
		display: none !important;
	}

	.commodities .diamond-news ul li{
		margin-bottom: 20px;
		height: 281px !important;
	}

	.commodities .diamond-news ul li .block-content h4 a, .commodities .diamond-news ul li .block-content p{
		font-size: 18px !important;
	}

	#sticky-social {
		display: none !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.contact .contact-location > .large-12{
		padding-left: 0;
		padding-right: 0;
	}

	.contact .contact-location > .large-12 .row{
		margin-left:0;
		margin-right: 0;
	}

	.contact .contact-location > .large-12 .row .large-8{
		padding-right: 0 !important;
	}

	.about-page .bottom-space{
		margin-bottom: 80px !important;
	}

	.contact .service-center{
		padding: 0;
	}

	.contact .download{
		max-width: 46em !important;
	}

	.contact .contact-category .large-12{
		padding-left: 0;
		padding-right: 0;
	}

	.contact .vacancy .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.apply-online .vacancy ul li{
		height: 256px !important;
	}

	.apply-online .vacancy .block-content h4 a, .apply-online .vacancy .block-content p{
		font-size: 18px !important;
	}


	.apply-online .contact-desc{
		margin-bottom: 0 !important;
	}

	/*.apply-steps .step-wrapper{
		width:100% !important;
	}
*/
	.tablet-secondary-nav .top-bar-section ul.left{
		width: 65%;
	}

	.tablet-secondary-nav .top-bar-section > ul.left > li.home{
		display: none;
	}

	.news .tablet-secondary-nav .top-bar-section > ul.left > li.home{
		display: block;
	}

	.tablet-home-link{
		display: block !important;	
		padding: 0 !important;	
		position: relative;
		z-index: 9999;
	}

	.tablet-home-link li a{
		height: 40px !important;
		padding: 10px 15px !important;
		background: none !important;
		display: block;
	}

	.news .tablet-home-link{
		display: none !important;
	}

	.top-nav.news ul.mobile-logo li a:hover{
		background: none;
	}
	
	a.show-more-tiles{
		display:none !important;
	}

	nav.top-bar ul li.language{line-height:40px}
	nav.top-bar ul li.language i.icon{margin-top:10px}

	table tr td {font-size:12px;}

	nav.top-nav li.back {position:relative;top:10px;}
	.top-bar-section li.user{top:10px;}
}


@media only screen and (min-width: 940px) {
	.top-bar ul.mobile-lang{
		display: none !important;
	}
	
	.top-bar.expanded-nav .top-bar-section .has-form .large-2 a{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label{
		display: none !important;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		display: none !important;
	}
	
	.tablet-secondary-nav{
		display: none !important;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
	}

	.section-container .tab.active .title{
		background: #fff url("../images/bg-content.jpg") repeat-y 0 0 !important;
		background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#ffffff)) !important ;
		background: -webkit-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -moz-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -ms-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -o-linear-gradient(left, #e2e2e2, #ffffff) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
		border-bottom: solid 1px #ccc !important;
	}

	.section-container .tab.active .content{
		background: #DEDEE0;
		border:none;
		background-color: #DEDEE0;	
		background: -webkit-gradient(linear, left top, right bottom, from(#DEDEE0), to(#ffffff)) !important;
		background: -webkit-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -moz-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -ms-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -o-linear-gradient(left, #DEDEE0, #ffffff) !important;
	}

	.mobile-company-logo{
		display: none !important;
	}

	/*.apply-steps .step-wrapper{
		width: 100%;
	}
	*/
	a.show-more-tiles{
		display:none !important;
	}
	
}

@media (min-width:940px) and (max-width:1279px){
	nav.top-bar ul.mobile-logo{padding-top:5px;margin-left:8px;}
}

@media only screen and (min-width: 940px) and (max-width: 1041px){
	.hidden-tablet{
		display: none !important;
	}

	.secondary-menu ul.next-menu{
		display: block !important;
		padding-left: 0 !important;
	}

	.secondary-menu.show-next-menu ul.hidden-tablet{
		display: block !important;
		position: absolute;
		right: 0px;
		top: 60px;
		z-index: 999;
		background: #CECECF;
	}

	.commodities .diamond-news ul li{
		height: 295px !important;
	}

	.commodities .diamond-news ul li .block-content p, .commodities .diamond-news ul li .block-content h4 a{
		font-size: 20px !important;
	}

	.commodities .diamond-news ul li .block-content p{
		margin-bottom: 0;
	}

	.contact .contact-location .large-12{
		padding-left: 50px;
		padding-right: 50px;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
	}

	.contact .download{
		width: 917px;
	}

	.contact .download .large-12 {
		padding-left: 30px !important;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
	}

	.contact .inquiry, .apply-steps{
		max-width: 62.5em !important;
	}

	.about-page .quote p{
		max-width: 800px !important;
	}

	.vacancy ul li{
		height: 258px !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

	
}

@media only screen and (max-width: 1024px){

	.about-page .bottom-space{
		margin-bottom: 80px !important;
	}

	.orbit-container .orbit-prev, .orbit-container .orbit-next{
		display: none !important;
	}
}

/*@media (max-width: 767px){*/
@media (max-width: 980px){

	.hidden-grid{
		display: none !important;
	}

	.hidden-mobile{
		display: none !important;
	}


	/*** top bar ***/
	
	.top-bar .mobile-lang{
		position: absolute;
		right: 100px;
		top: 0;
		z-index: 99999;
	}
	
	.top-bar .name{
		height: 40px;
	}
	
	.top-bar.expanded-nav{
		overflow: visible !important;
	}
	
	.top-bar.expanded-nav .title-area{
		background: #1c252d;
		margin-bottom: 0;
		padding: 10px 0 0 0;
	}
	.top-bar.mobile-primary-nav.expanded-nav .title-area{padding-top:0!important}
	.top-bar.expanded-nav .toggle-topbar a span{
		box-shadow: none;
		-webkit-box-shadow:none;
	}
	
	.top-bar .toggle-topbar{
		width:41px;	
	}
	.mobile-primary-nav, .mobile-primary-nav.expanded-nav{z-index:999999}
	
	.top-bar .toggle-topbar a{
		background: #60666c;
		height: 40px;
		padding-left: 0;
	}
	
	.top-bar .toggle-topbar a span{
		float: left;
		position: relative;
		text-transform: none;
		font-family: "CentroSanLight";
		font-weight: lighter;
		font-size: 14px;
		top:-1px;
		left: 0px;
		background: #1c252d;
		padding-right: 17px;
		padding-left: 20px;
	}
	
	.top-bar .toggle-topbar a .icon-user{
		position: absolute;
		right:5px;
		top:10px;
	}
	
	.top-bar-section ul li{
		float: left;
	}
	
	nav.top-bar ul{
		padding: 0;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right{
		background: #e2e2e3;		
		padding: 29px 20px;
		position: relative;
		top:40px!important;
		right: 0;
		width: 100%;
		text-align:center;
	}

	
	.top-bar.expanded-nav .top-bar-section ul.right li{
		float: none;
		line-height:1!important
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right li.language{
		display: none !important;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right li.has-form form{
		width: 240px;
		margin: 0 auto;
	}
	
	.top-bar.expanded-nav .top-bar-section ul.right li.has-form input[type="text"], .top-bar.expanded-nav .top-bar-section ul.right li.has-form input[type="password"]{
		margin-top: 0;
		background: #fff;
		color: #000;
	}
	
	.top-bar.expanded-nav .top-bar-section .has-form .large-5{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.top-bar.expanded-nav .top-bar-section .has-form .large-5 input{
		width: 210px;
	}

	.top-nav .top-bar-section ul.right.user-login{
		visibility: hidden;
	}

	.top-nav .top-bar-section ul.right.user-login li.settings, .top-nav .top-bar-section ul.right.user-login li.information{
		padding: 0 13px;
		top: 0;
	}

	nav.top-bar ul li.settings > a .icon-setting{
		background: url("../images/icon-settings-white.png") no-repeat 0 0 !important;
	}

	.top-nav.expanded-nav .top-bar-section ul.right{
		z-index: 999999;
		visibility: visible;
	}

	.top-nav ul.mobile-logo li a:hover{
		background: none;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-checklist{
		background: url("../images/icon-checklist-grey.png") no-repeat 0 0 !important;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-delete{
		background: url("../images/icon-delete-grey.png") no-repeat 0 0 !important;
	}
	
	nav.top-bar ul li.language{position:relative;top:-4px;}
	nav.top-bar ul li.language span{color:#454a50 ;}
	/*** primary nav ***/
	.primary-nav{
		overflow: visible;	
	}
	
	.primary-nav .top-bar-section > ul{
		text-align: right;
	}
	.primary-nav .top-bar-section > ul > li{
		display: inline-block;
		float: none;
	}
	
	.primary-nav .top-bar-section ul > li > a{
		float: left;
		padding: 0 15px 0 0;
	}
	
	.primary-nav .top-bar-section ul > li > a i.icon{
		margin-top: 3px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
		width: 100% !important;
		top:44px !important;
		text-align: left;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul{
		padding-left: 10px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul li a{
		padding-left: 10px;
	}
	
	.top-bar .top-bar-section .has-form .desktop-submit{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label label{
		color: #54595e;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		width: 100%;
		padding-left: 20px;
		float: none;
		clear: both;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit a{
		width: 70%;
		background: #c0c1c2;
		color: #454a50;
		padding: 10px 15px;
		float: none;
		margin: 0 auto;
		height: auto;		
	}
	

	
	
	/*** secondary nav ***/

	
	.tablet-secondary-nav .top-bar-section ul.left{
		width: 60%;
	}
	
	.tablet-secondary-nav .top-bar-section ul.left li.has-dropdown{
		width: 75%;
	}
	
	.tablet-secondary-nav .top-bar-section ul.right{
		width: 40%;
	}
	
	
	/*** orbit ***/
	.orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 350px;
	}
	
	.orbit-container ul li img{
		height: 100%;
	}
	
	
/*** breadcrumb ***/
	.tablet-secondary-nav .top-bar-section ul.breadcrumbs{
		border:none;
		padding: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs > *:before{
		content: "";
		margin: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb{
		background: none;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb a{
		font-size: 16px;
		font-weight: normal;
		font-family: "CentroSanLight";
		text-transform: none;
		padding: 7px 10px;
	}

	.section-container .tab.active .title{

		background: #fff url("../images/bg-content.jpg") repeat-y 0 0 !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
		border-bottom: solid 1px #ccc !important;
	}


	/*** share holdewr ***/

	.share-holder ul{
		border-bottom: solid 1px #ccc;
	}

	.share-holder ul li.thumb{
		display: none !important;
	}

	.share-holder ul li.info{
		padding: 20px 20px 20px 20px;
		height: auto;;
	}

	.share-holder ul.last{
		border-bottom: none;
	}


	/*** tabs ***/
	.section-container{
		border-top: none !important;
	}

	.section-container .tab .title{
		border-left:none !important;
		border-right:none !important;
		background: #e6e6e6 !important;
	}

	.section-container .tab.active{
		border-bottom: solid 1px #ccc !important;
	}

	.section-container .tab.active .content{
		border:none !important;
		background-color: #ffffff;	
		background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e6e6e6)) !important;
		background: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -ms-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
	}


	/*** more link ***/
	.more-link .large-7{

	}

	.sidebar .ctooltip.notif{
		top: 40px !important;
		right: auto !important;
		left: 3px !important;
		text-align: left !important;
	}

	.sidebar .ctooltip.notif span{
		right: auto !important;
		left: 5px !important;
	}


	/*** contact ***/

	.contact .bottom-space{
		margin-bottom: 0 !important;
	}

	.apply-online .bottom-space{
		margin-bottom: 30px !important;
	}

	.contact .service-center{
		padding: 0 0.9375em !important;
	}

	.contact .inquiry form{
		width: 96% !important;
		margin: 0 !important;
	}

	.contact .inquiry .form-desc{

		width:100% !important;
	}

	.contact .download p{
		width: 85% !important;
		display: block;
		line-height: 1em;
	}

	.contact .inquiry form label.for-checkbox span.checkbox{
		height: 50px !important;
	}


	/*** commodities ***/
	.commodities .diamond-news ul li{
		margin-bottom: 20px !important;
		height: 315px !important;
	}

	.commodities .diamond-news ul li img{
		width: 100%;
	}

	.commodities .company-logo{
		display: none !important;
	}

	.commodities .mobile-company-logo{
		display: block !important;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	/*.apply-steps .step-wrapper{

		width:720px;
	}*/
	
	a.show-more-tiles{
		display:block !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

}

@media (max-width:939px) and (min-width:640px){
	.ctooltip.notif{top:32px;}
}
@media (width:640px){
	nav.top-bar ul li.settings,
	nav.top-bar ul li.information{top:0;}

}

@media only screen and (max-width: 540px) {

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon{
		right: 43px !important;
		width: 100%;
	}

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a{
		position: relative;
		width: 100% !important;
	}

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a span{
		left: auto !important;
		right: 0;
	}

	.tablet-secondary-nav .top-bar-section > ul > li > a{
		font-size: 12px !important;
		font-weight: lighter;
	}
	
	.tablet-secondary-nav .top-bar-section > ul.left > li > a{
		padding: 10px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul.right > li > a{
		padding-top: 12px !important;
		padding-left: 35px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown{
		position: static;
		width: 75%;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a{
		padding: 12px 15px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a .icon{
		position: static;
		float: right;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown{
		position: absolute;
		width: 100%;
		top:40px;
		left: 0;
	}
	
	i.icon-phone.grey{
		background: url("../images/icon-phone-small-grey.png") no-repeat 0 0 !important;
		top:14px !important;
	}
	
	i.icon-secondary-menu {
	    background: url("../images/icon-secondary-menu-small.png") no-repeat 0 3px !important;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.current{
		display: none !important;
	}


	.section-container .tab.active .title{
		background: #dbdbdc !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
	}

	.more-link a{
		font-size: 18px !important;
		float: right !important;
	}

	.mobile-footer p{
		text-align: left !important;
		padding-right: 20px !important;
		padding-left: 20px !important;
	}

	.slider, .orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 200px !important;
		min-height: 200px !important;
	}

	.tile-slider, .orbit-container, .tile-slider .orbit-container ul, .tile-slider .orbit-container ul li{
		height: 200px !important;
		min-height: 200px !important;
	}


	.orbit-container .orbit-slides-container > * .orbit-caption{
		padding-top: 30px !important;
		padding-left: 20px !important;
		padding-right: 150px !important;
	}

	.orbit-container ul li .orbit-caption h2{
		font-size: 16px !important;
		margin-bottom: 10px !important;
	}

	.orbit-container .orbit-slides-container > * .orbit-caption p{
		font-size: 14px !important;
	}

	.commodities .diamond-news ul li {
		height: 287px !important;
	}

	.commodities .diamond-news ul li .block-content p, .commodities .diamond-news ul li .block-content h4 a{
		font-size: 20px !important;
	}

	.more-link{
		margin-bottom: 30px !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.contact .download{
		max-width: 28em !important;
	}

	.contact .contact-location .large-12 .row{
		padding-left: 0 !important;
	}

	.contact .inquiry{
		margin-bottom: 30px !important;
	}

	.contact .inquiry .btn-submit{
		margin-bottom: 0px !important;
	}

	.contact .inquiry form .large-6{
		width: 100% !important;
	}

	.contact.apply-online .inquiry form .large-12.use-info span .icon{
		top: 0 !important;
	}

	.contact .inquiry form .large-12.use-info .dropdown-medium-wrapper span .icon{
		top: 8px !important;
	}

	.apply-online .vacancy ul li{
		height: 256px !important;
		margin-bottom: 20px;
	}

	ul.mobile-step-info{
		display: block !important;
	}

	ul.mobile-step-info{
		height: 40px;
		margin-bottom: 40px;
	}

	ul.mobile-step-info li{
		background: #424242 url("../images/bg-tab-arrow.png") no-repeat right center;
		display: block;
		float: left;
		color: #fff;
		width: 10%;
		padding:8px 10px;
	}

	ul.mobile-step-info li.active{
		background: #000 url("../images/bg-tab-arrow-active.png") no-repeat right center;
		width: 70%;
	}

	ul.mobile-step-info li.last{
		background: #424242 url("../images/bg-tab-arrow-last-bg.png") no-repeat right center;
	}

	.contact .download a{
		font-size: 16px !important;
		padding-top: 13px !important;
	}

	
}

@media only screen and (max-width: 360px) {


	.orbit-container .orbit-slides-container > * .orbit-caption{
		padding-top: 30px !important;
		padding-left: 20px !important;
		padding-right: 100px !important;
	}

	.contact .captcha{
		display: none !important;
	}

	.recaptchatable #recaptcha_image, .recaptchatable #recaptcha_response_field{
		width: 220px !important;
	}

	.contact .download p{
		width: 80% !important;
		font-size: 14px;
	}

	.contact .inquiry form {
		width: 90% !important;
	}

	.commodities .diamond-news ul li{
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
		display: block;
		height: 294px !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12, .more-link > .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.contact .download{
		margin-bottom: 0;
		max-width: 18em !important;
	}

	.contact .download .large-12 {
		padding-left: 15px !important;
		margin-bottom: 30px !important;
	}

	.apply-online .vacancy ul li{
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
		display: block;
		height: 283px !important;
	}

	.apply-online .vacancy ul li img {
		width: auto !important;
	}

	ul.mobile-step-info li{
		width: 15%;
	}

	ul.mobile-step-info li.active{
		width: 55%;
	}

	.contact .download a{
		font-size: 14px !important;
		padding-top: 13px !important;
	}	

	/*.apply-steps .step-wrapper .steps li {
		width: 43% !important;
	}

	.contact .inquiry form label.for-checkbox span.checkbox{
		height: 80px !important;
	}*/
}

.top-bar.mobile-primary-nav .title-area{z-index:99999999;}
.top-bar .title-area {padding-top:10px}
/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {
	.row{
		/*
		max-width: 1280px;
		width:1280px;*/
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 857px !important;
	}

	.top-nav.news ul.mobile-logo,
	.top-nav.dashboard ul.mobile-logo{
		display: block !important;
		padding-left:0px;
		padding-top: 5px;
		margin-left:10px;
	}

	.top-nav.news ul.mobile-logo li a:hover{
		background: none;
	}

	.commodities .vacancy ul li {
		height: 277px !important;
	}

	.commodities .vacancy .block-content p{
		font-size: 18px;
	}

	.next-menu{
		display: none !important;
	}
	
	a.show-more-tiles{
		display:none !important;
	}


}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {
	
}

@media only screen and (min-width: 1280px) {
	table.table thead tr .last-reply,
	table.table thead tr .date,
	table.table thead tr .category 		{width:120px;}
	table.table-3 thead tr .date,
	table.table-3 thead tr .last-reply 	{width:160px;}
	table.table thead tr .activityby,
	table.table thead tr .submitted 	{width:150px}
	.visa-form-content form .row .long-label 	{width:130px}
	.visa-form-content form .row .long-box 		{width:697px}

	.table-form-field tr td.label-col 	{width:135px;}
	.table-form-field tr td.data-col 	{width:240px;}
	.table-form-field tr td.data-col.long-box,
	.table-form-field.options-row tr td.data-col 	{width:660px;}
	.table-form-field tr td.label-col + td + td.label-col{padding-left:45px;width:180px}
}

/*for dashboard*/
@media (max-width:1023px){
	.visa-form-content .form-header h3 			{margin-bottom:8px}
	.visa-form-content .form-header span.right 	{top:0;float:none!important;margin-bottom:0}
	.online-process h4 				{margin-left:0}
}

@media (min-width:1000px) and (max-width:1279px){
    .row                    		{/*width:1000px;*/}
    .dashboard-content,
    .visa-form-content      		{width:680px}
	    
    .visa-form-content form .row .long-label 	{width:95px}
	.visa-form-content form .row .long-box 		{width:526px;padding-left:0;}
	.visa-form-content form .row .medium-6 + div .row .small-4{padding-left:0}

	.table-form-field tr td.label-col 	{width:105px;}
	.table-form-field tr td.data-col 	{width:188px;}
	.table-form-field tr td.data-col.long-box,
	.table-form-field.options-row tr td.data-col 	{width:505px;}
	.table-form-field tr td.label-col + td + td.label-col{padding-left:25px;width:130px}
}

@media (min-width:980px) and (max-width:1279px){
	table.table thead tr th 					{min-width:100px;}
	table.table thead tr .last-reply.header 	{background-position:40px center;}
	.dashboard .hide-for-medium-only.hide-for-small-only{display:block!important;}
	.dashboard-content .hide-for-large-up,
	.visa-form-content .hide-for-large-up 		{display:none!important}
	.profile-steps .table-form td form,
	.visa-form-content .full-width-box .full-inner-box 		{padding-right:35px;padding-left:30px}
	.visa-form-content .full-width-box .heading {padding-right:35px;padding-left:30px}
    .visa-form-content .form-header .columns + .columns 		{padding:0}
    .visa-form-content form .row .medium-6 + div .row .small-4 	{padding-left:0}
    .visa-form-content .activity-content .table-list			{font-size:14px;}
}
@media (min-width:981px) and (max-width:999px){
	.table-form-field tr td.label-col 	{width:105px;}
	.table-form-field tr td.data-col 	{width:180px;}
	.table-form-field tr td.data-col.long-box,
	.table-form-field.options-row tr td.data-col 	{width:485px;}
	.table-form-field tr td.label-col + td + td.label-col{padding-left:20px;width:125px}
}

@media (min-width:980px) and (max-width:999px){
    .row                    					{width:980px}
    .dashboard-content,
    .visa-form-content      					{width:660px;}
    .visa-form-content .form-header .columns 	{width:100%;float:none;}
    .visa-form-content .form-header .columns a.right.link-share{float:none!important;}
    .small-2.columns.long-label 				{width:16%;}
	.small-10.columns.info-column.long-box 		{width:84%}
	.visa-form-content .form-header .columns a.right.link-share{margin-left:15px}
}

/*need to remove below*/
@media (max-width:980px){
	table.table thead tr th 	{min-width:100px;}
	.top-bar.mobile-primary-nav.show-for-small.show-for-medium,
	.top-bar .toggle-topbar,
	.top-bar.expanded-nav .top-bar-section ul.right li.language{display:block !important;}
	.top-bar .title-area 		{float:none;}
	.sidebar,
	.user.hide-for-small-only.hide-for-medium-only,
	.top-bar.expanded-nav .top-bar-section ul.right li.language .icon,
	.table-main .sidebar 		{display:none!important}
	.main-row 					{background:none!important}
	.top-bar .title-area 		{height:40px!important;}
	nav.top-bar ul .has-form a 	{padding:0!important}
	.top-bar.expanded-nav .top-bar-section ul.right li.has-form{padding: 20px 15px!important;}
	.ctooltip.notif 				{top:50px!important;right: auto!important;left:3px !important;}
	.ctooltip.notif span 			{right:auto!important;left:5px!important;}
	nav.top-bar ul li.information 	{position:absolute!important;top:-20px;left:0;}
	nav.top-bar ul li.settings 		{position:absolute!important;top:-20px;right:0;}

	/*** mobile primary nav ***/

	.mobile-primary-nav.expanded-nav .top-bar-section ul.right{
		background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.25, #fff), color-stop(0.5, #2F2727), color-stop(0.75, #e2e2e3), to(#e2e2e3));
		background: -webkit-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -moz-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -ms-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -o-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e3);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e2e2e3, endColorstr=#ffffff)";
		border-bottom: solid 1px #ccc;
		z-index: 999;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks, .mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		background: #6d7176;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks label, .mobile-primary-nav .top-bar-section ul.right li.mainmenu label{
		font-weight: bold;
		cursor: default;
		padding: 20px 20px 5px;
		margin-bottom: 0;
		border-bottom: solid 1px #ccc;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label{
		font-weight: normal;
		padding-top: 10px;
		font-style: italic;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu, .mobile-primary-nav .top-bar-section ul.right li.mainmenu ul li, .mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label{
		border: none !important;
	}


	.mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		font-weight: normal;
		padding: 5px 20px;
		border-bottom: solid 1px #ccc;	
		line-height: 1.6!important;	
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu a{
		font-weight: normal;
		padding: 0px 0px 4px;
		background: none !important;
		line-height:1.6 !important;
		color: #454a50 !important;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks label, .mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		font-size: 14px;
		color: #fff;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu label, .mobile-primary-nav .top-bar-section ul.right li.mainmenu a{
		font-size: 14px;
		color: #000;
		position:relative;
		line-height:1.6!important
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu > a:after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: inset 5px !important;
		border-color: transparent transparent transparent rgba(187, 187, 187, 0.5) !important;
		border-left-style: solid !important;
		margin-right:-5px;
		margin-top: -4.5px;
		position: absolute;
		top: 50%;
		right: 0;
	}
	body .visa-form-content .activity-content .box-table	{font-size:14px;}

	.dashboard-content .ctooltip,
	.visa-form-content .ctooltip 			{width:255px}
	.dashboard-content .to-do-list .ctooltip,
	.dashboard-content .actions .ctooltip{width:180px;right:auto!important;left:-2px!important}
	.dashboard-content .to-do-list .ctooltip span.arrow,
	.dashboard-content .actions .ctooltip span.arrow,
	.dashboard-content .box-table .ctooltip span.arrow{right:auto!important;left:3px!important;}
	.dashboard-content .box-table .ctooltip {width:165px}
	.dashboard-content .box-table.tickets-table .ctooltip{width:215px;}
	.dashboard-content .box-table.tickets-table .ctooltip,
	.dashboard-content .actions.applications .ctooltip{right:5px!important;left:auto!important;}
	.dashboard-content .box-table.tickets-table .ctooltip span.arrow,
	.dashboard-content .actions.applications .ctooltip span.arrow,
	.dashboard-content .actions.applications + div .ctooltip span.arrow{right:3px!important;left:auto!important;}

	.table-main .visa-form-content 		{padding-left:0;padding-right:0;margin:0;}
	.form-header,
	.row .online-process 	{padding-left:10px;padding-right:10px}
}
@media (min-width:768px) and (max-width:980px){
	.dashboard-content,
	.visa-form-content 			{width:100%!important}
	.row-to-do-list div.medium-2{width:16.6667%;}
    .row-to-do-list div.medium-5{width:41.6667%}
    .row-to-do-list div.medium-3{width:25%}
    .top-bar.expanded-nav .top-bar-section ul.right{top:0!important}
    .top-bar.expanded-nav .top-bar-section ul.user-login.right{top:0px!important}
    .user.show-for-small-only.show-for-medium-only{display:block!important;}
    .top-bar-section .right.hide-for-small-only.hide-for-medium-only{display:none!important;}
    .top-bar.expanded-nav .top-bar-section ul.right.user-login{position:absolute;top:40px!important}
    .visa-form-content .full-width-box .heading{padding:8px 30px}

    .table-form-field 					{width:96%}
    .table-form-field tr td.label-col 	{width:18%;}
	.table-form-field tr td.data-col 	{width:30%;}
	.table-form-field tr td.data-col.long-box,
	.table-form-field.options-row tr td.data-col 	{width:82%;}
	.table-form-field tr td.label-col + td + td.label-col{padding-left:4%;width:22%}
}
@media(width:980px){
	table.table thead tr .last-reply.header {background-position: 67px center;width: 147px;}
	table.table thead tr .date.header  {width: 147px;}
}
@media (min-width:940px) and (max-width:980px){
	nav.top-bar ul{padding-top:10px}
}

@media (min-width:981px){
	.row.top-bar.primary-nav.hide-for-small.hide-for-medium{display:block!important}
	.visa-form-content .activity-content,
	.dashboard-content.visa-form-content .activity-content+h4{padding:0 10px;}
}
/* end */

@media (min-width:768px){
	.visa-form-content .details-step form .row .medium-6,
	.visa-form-content .full-inner-box form .row .medium-6{width:48%;}
}
@media (min-width:768px) and (max-width:979px){
    /*.row                    {width:768px}
    .dashboard-content,*/
    .visa-form-content      {width:448px;}
    .long-label 				{width:120px}
	.long-box 					{width:242px;float:left!important;}

	.visa-form-content .custom .medium-6.columns{width:50%;float:left}

}
@media (max-width:979px){
	.alert-msg-box .alert-box 	{height:auto;min-height:40px}
	.alert-msg-box .alert-box span 	{line-height:1.2}
	.dashboard-content, .visa-form-content 				{padding-left:10px;padding-right:10px;}
	.dashboard-content .hide-for-large-up .row-to-do-list{overflow:hidden;margin-left:10px;margin-bottom:20px}
	.dashboard-content .hide-for-large-up .row-to-do-list:hover{background:none}
	.dashboard-content .hide-for-large-up .row-to-do-list .action-to-do{width:auto;min-width:67px;margin-left:20px;}
	.dashboard .hide-for-large-up .row-to-do-list .action-to-do a 	{width:auto;}
	.dashboard .hide-for-medium-only.hide-for-small-only {display:none!important;}
	.to-do-list h4{margin-left:0}
	.to-do-recently 			{padding:0;margin-bottom:50px}
	.row-action  .action-text	{height:auto;line-height:1.2;padding:10px 0 11px}
	.actions 					{margin-bottom:30px;padding:0;}
	.box-table, .sidebar-box 	{margin-bottom:30px}
	.profile-steps 				{margin-left:0px;margin-right:0}
	.profile-steps .title-step 	{padding:5px 25px;}
	.profile-steps .title-step span b {margin-right:15px}
	.profile-steps .table-form td form,
	.visa-form-content .full-width-box .full-inner-box 			{padding:30px 25px 10px 60px;}
	.visa-form-content .full-width-box .heading {padding:8px 25px 8px 60px}

	.info-column .info-tip 		{right:-30px}

	.visa-form-content form .row .row .small-4 	{width:35%!important;}
	.visa-form-content form .row.options-row .row .small-4 	{width:33.3333%!important;}
	.visa-form-content form .row .row .small-8 	{width:62%!important;float:left;}	
	.visa-form-content form .row .long-label,
	.visa-form-content .options-row .small-2 	{width:16.9%!important;}
	.visa-form-content form .row .long-box,
	.visa-form-content .options-row .small-10  		{width:78%!important;}
	.visa-form-content .options-row .small-10  {padding-left:0.9375rem!important;float:left;}
}

@media (max-width:800px){
	.form-header .row .medium-6{width:100%;float:none;}
	.form-header .row .medium-6 .right.link-share{float:none!important;}
}

@media (max-width:767px) {
	/*.dashboard-content h3,
	.visa-form-content h3 		{font-size:20px;}*/
	.main-row 	{background:none}
	.top-bar-section li.user 	{top:10px;}
	nav.top-bar ul.mobile-logo 	{position:relative;top:5px;margin-left:10px;}
	.top-bar ul.left 			{position:relative;top:10px;}
	.ctooltip.notif 			{right:3px;top:32px;}
	.dashboard .hide-for-small-only,
	.dashboard .hide-for-small 	{display:none !important;}
	.dashboard .show-for-small-only,
	.dashboard .show-for-small,
	.top-bar .toggle-topbar 	{display:block !important;}
	.top-bar-section .has-form 	{padding:0 10px; top:10px;position:relative;}
	.top-bar-section 			{min-height:40px;position:absolute;left:auto;right:0;}
	.top-bar 					{overflow:visible;}
	.top-bar .title-area 		{float:none;}
	.top-nav ul.left 			{z-index:999999991}
	.top-bar-section ul li > a  {font-family:'CentroSanLight'}
	.small-search 				{padding:15px 0 0}
	.dashboard-content .medium-4,
	.dashboard-content .options-row .medium-4{float:none;width:100%;}
	.dashboard-content .table-list .medium-4 {width:33.3333%;}
	.dashboard-content a.link-text.right {float:left!important;top:0;margin-bottom:12px}
	.dashboard-content, .visa-form-content{padding-top:30px}
	.alert-msg-box 				{margin-bottom:50px}
	.profile-steps .table-form td form,
	.visa-form-content .full-width-box .full-inner-box 			{padding-left:20px;padding-right:}
	.visa-form-content .full-width-box .heading {padding-left:20px}
	.profile-steps .title-step 	{padding:5px 20px}
	.visa-form-content fieldset .medium-6 			{width:100%;float:none;}
	.visa-form-content form .row,
	.visa-form-content form .row .columns 			{margin-left:0;margin-right:0;padding-left:0;padding-right:0;}
	.visa-form-content .row fieldset .row div label {margin-left:-8px;width:128px;}
	.visa-form-content form .row .row .small-4,
	.visa-form-content form .row .long-label,
	.visa-form-content .options-row .small-2 	{width:32.5%!important;margin-right:2.5%!important}
	.visa-form-content form .row .row .small-8,
	.visa-form-content form .row .long-box,
	.visa-form-content .options-row .small-10 	{width:60%!important;float:left;}
	.visa-form-content .options-row .small-10 	{padding-left:0!important}
	.visa-form-content form .row.options-row .row .small-4 		{width:33.3333%!important;margin-right:0!important}
	.profile-steps .title-step a 		{float:none!important;margin-left:50px}
	.profile-steps .title-step .small-6 a {margin-left:0;}
	.title-step .row .columns + .columns{margin-bottom:10px}
	.profile-steps .title-step a.link-download {display:inline-block;top:0;}
	.visa-form-content .profile-steps .title-step .row .columns{margin-bottom:0}
	.footer-row .small-12 			{width:100%;float:none;}
	.info-column .info-tip,
	.info-column.long-box .info-tip 		{right:-30px}
	.alert-box span         {display:block;margin:0 25px;}
	.action-btns 			{margin-bottom: 1.25rem}
	.visa-form-content form .row .medium-6 + div .row label{padding-left:0px}
	.visa-form-content .full-width-box 		{margin:0 -10px 60px;}
	.visa-form-content .full-width-box .heading {padding:8px 20px}
	.sub-nav dt 			{display:block;float:none;padding-bottom:5px}
	.visa-form-content .sub-nav dd 	{margin:0 4px 4px 0;}
	.visa-form-content .content-top dl{margin-bottom:17px}
	.visa-form-content .sub-nav .date-range{margin:0}
	/*.visa-form-content form .row .medium-6 + div .row label{padding-left:5px}*/
	.visa-form-content .title-step .medium-4{width:100%;float:none!important;margin-bottom:5px!important}

	.table-form-field 					{width:98%}
    .table-form-field tr td.label-col 	{width:33%;}
	.table-form-field tr td.data-col 	{width:67%;}
	.table-form-field tr td.label-col + td + td.label-col{clear: left;}

	.profile-steps .table-form td form,
	.visa-form-content .full-width-box .full-inner-box{padding-left:20px;margin:0;}
}

@media (min-width:640px) and (max-width:767px){
	.top-bar-section 			{top:0;}
	.profile-steps .title-step a.link-download 		{top:6px;}
	.row .title-step .row .medium-5 	{width:41.6667%}
	.row .title-step .row .medium-7 	{width:58.3333%}
}

@media (min-width:641px) and (max-width:767px){
	.visa-form-content .profile-steps .title-step a{margin-left:0!important;float:right!important;}
}

@media (max-width: 639px) {
	.visa-form-content .link-share 				{float:none!important;margin-bottom:15px}
	.link-return 								{display:block;}
	.ctooltip.notif 							{top:42px;}
	.top-bar.expanded-nav .top-bar-section ul.right {top:0!important}
	.top-bar.expanded-nav .top-bar-section ul.right.user-login {top:40px!important}
	.profile-steps .title-step span.link-complete 	{float:left!important;margin-left:50px;top:0;}
	nav.top-bar ul li.user span{font-size:11px}
	nav.top-bar ul li.user     {margin-right:50px}
	.visa-form-content .form-header .columns + .columns{margin-bottom:0}
	.visa-form-content .profile-steps .title-step a {float:none!important;top:1px;position:relative!important;display:block;right:0!important;width:155px;margin-bottom:5px;clear:right;}
	.apply-steps .step-wrapper{
		width:100% !important;
	}

	.apply-steps .step-wrapper .steps li{
		width:50% !important;
	}

	.apply-steps .step-wrapper .steps li.step-3, .apply-steps .step-wrapper .steps li.step-4{
		display: none;
	}
}
@media (min-width:480px) and (max-width:767px){
	.visa-form-content form .row .row .small-4,
	.visa-form-content form .row .long-label,
	.visa-form-content .options-row .small-2 	{width:25%!important;}
	.visa-form-content form .row .row .small-8,
	.visa-form-content form .row .long-box,
	.visa-form-content .options-row .small-10 	{width:70%!important;}

}
@media (max-width:650px) and (min-width:640px){
	.profile-steps .title-step span.info{display:block;}
}
@media (width:640px){
	.profile-steps .title-step.write-mode-title a.link-download{float:right!important;top:6px;}
	.profile-steps .title-step.write-mode-title a{margin-left:0!important}
}
@media (min-width:639px){
	.table-4 .icon-minus-plus-small{display:none;}
}
@media (min-width:481px){
	.table-3 .icon-minus-plus-small{display:none;}
}
@media (max-width:498px){
	.table-3 thead tr th 	{width:50%}
}
@media (max-width:638px){
	.profile-steps .title-step a.link-download{top:0}
	.profile-steps .title-step span.info{display:block;margin-bottom:10px;}
	body .visa-form-content .activity-content .box-table{font-size:13px}
	body .visa-form-content .title-step .medium-4{width:100%;float:none!important;margin-bottom:5px!important;clear:both;}
	.table-4 tr th 		{width:33.333%}
}
@media (max-width:480px){
	.tickets-table tr td a {width:95%;display:inline-block;overflow:hidden;height:16px;text-overflow:ellipsis;}
	.table-form-field tr td.label-col 	{width:30%;}
	.table-form-field tr td.data-col 	{width:67%;}
}

@media (min-width:360px){
	.visa-form-content .link-share br{display:none;}
}