@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/sfsites/c/resource/1550413580000/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}

.THIS .slds-progress-bar__value{
    background: #0076CF!important;
}


.THIS.ui-global-navigation{
    position: relative;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #080707;
}

.THIS.layoutcontainer{
    margin-top:2rem;
    position: relative;
    font-family: 'EuclidSquare-Medium', sans-serif;
    color: #080707;
}

.THIS .ui-accordion.cDIFC_Card{
    display:none;
}

.THIS .difc-card--expanded .ui-accordion.cDIFC_Card{
    display:block;
}

.THIS .difc-card-section {
    justify-content: space-between;
}

.THIS .DIFC-form-section{
    flex-grow:1;
    margin-right:32px;
}
.THIS .DIFC-pathway-section {
    width: 320px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    align-self: flex-start;
}
.THIS .DIFC-default-pathway-section{
    position:absolute;
    right:14px;
    top:18px;
}
.THIS .difc-card-wrapper{
    position: relative;
}
/*.THIS .ui-form-card--collapsed .DIFC-default-pathway-section{
    display: none;
}*/


.THIS.ui-back{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    min-height: 64px;
    padding: 20px 16px;
    color: #0578D0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    margin: 0 48px;
}
.THIS .slds-icon-action-back {
    background :transparent;
}
.THIS .slds-icon{
    fill: #0578D0;
    height: 15px;
    width: 15px;
}
.THIS.ui-global-navigation {
    position: relative;
    flex-wrap: wrap;
    min-height: 192px;
    background-color: #fff;
    padding: 48px 16px;
    margin-top:3rem;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    }
.THIS .ui-page-title{
        font-size: 36px;
        font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .ui-subheading{
    font-family: 'EuclidSquare-Light', sans-serif;
    font-size: 24px;
}

.THIS .ui-registration-complete{
    display: flex;
    justify-content: space-between;
    margin: 35px 0 15px 0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}