<apex:component id="emailComponent" controller="cls_AwaitingOriginalDocuments" access="global" allowDML="true"> 
  <apex:attribute name="relatedStepId" type="String" access="global" assignTo="{!stepId}" description="step information"/>
    <apex:outputText value="{!documentsRequired}" escape="false"/> <br/><br/>
</apex:component>