<apex:component >
  	<apex:stylesheet value="{!URLFOR($Resource.DocumentCSS,'/popup/reveal.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.DocumentCSS,'/popup/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.DocumentCSS,'/popup/jquery.reveal.js')}"/>
        
    <!-- Custom styling for the Loading Div -->
    <style type="text/css">
        .loader {
        z-index: 1200;
        position: absolute;
        margin-left: -60px;
        filter: Alpha(Opacity =70);
        opacity: 0.70;
        -moz-opacity: 0.70;
        top: 35%;
        left: 55%;
        }    
        .popupBackground {
        /* Background color */
        background-color:black;
        opacity: 0.20;
        filter: alpha(opacity = 20);
        
        /* Dimensions */
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 998;
        position: absolute;
        }
        
        /* This is for the message DIV */
        .PopupPanel {
        left: 50%;
        width: 100px;
        border-radius: 15px;
        top: 50%;
        height: 100px;
        z-index: 999;
        position: fixed;
        }
    </style>
    
    <!-- Loading div which will be shown/hidden based on the status -->
    <div id="IdloadingDiv" style="display:none;">
        <div class="popupBackground"></div>
        <div class="PopupPanel">
            <img src="{!URLFOR($Resource.LoadingImage)}"/>
        </div>
    </div>
</apex:component>