<apex:component >

	<apex:attribute name="strHiddenPageIds" type="string" description="strHiddenPageIds" required="false"  />
	<apex:attribute name="hiddenActionId" type="string" description="hiddenActionId" required="true"  />
	<apex:attribute name="hiddenRequiredFieldIds" type="string" description="hiddenRequiredFieldIds" required="false"  />
	
	<script>
	
		var ReqFieldsFilled = true;

		function DoAction(ButtonSectionId, IgnoreReqFlds) {
		
		    if (document.getElementById('{!JSENCODE(hiddenActionId)}') != null) {
		    
		        document.getElementById('{!JSENCODE(hiddenActionId)}').value = ButtonSectionId;
		        
		        if(IgnoreReqFlds == true || IgnoreReqFlds == 'true') {
		            
		            console.log('@1');
		            
		            InvokeAction();
		            
		        } else {
		        
		        	console.log('@2');
		          
		            ValidateRequiredFlds();
		          
		            if (ReqFieldsFilled == true) InvokeAction();
		        }
		    }
		}
		
		function SaveDetails() {
		    
		    ValidateRequiredFlds();
		    
		    if(ReqFieldsFilled == true){
		        SaveRecord();
		    }
		}
		
		function InvokeChangeEvent() {
		    RePrepareFields();
		}
		
		function DisplayMessage(FldDetail, FldLabel) {
		
		    if (document.getElementById('FldDesc') != null)
		        document.getElementById('FldDesc').innerHTML = FldDetail;
		    if (document.getElementById('FldHead') != null)
		        document.getElementById('FldHead').innerHTML = FldLabel + ' Description';
		}
		
		function ValidateRequiredFlds() {
		
			console.log('Validating');
		
		    ReqFieldsFilled = true;
		
		    if (document.getElementById('{!JSENCODE(hiddenRequiredFieldIds)}') != null) {
		        var ReqFldCompIds = document.getElementById('{!JSENCODE(hiddenRequiredFieldIds)}').value;
		        if (ReqFldCompIds != null && ReqFldCompIds != '') {
		            var n = ReqFldCompIds.indexOf(",");
		            if (n > -1) {
		                var strFldIds = ReqFldCompIds.split(',');
		                if (strFldIds != null && strFldIds.length > 0) {
		                    for (var i = 0; i < strFldIds.length; i++) {
		                        var ComPid = strFldIds[i];
		                        var inputs, index, selects;
		                        inputs = document.getElementsByTagName('input');
		                        selects = document.getElementsByTagName('select');
		                        for (index = 0; index < inputs.length; ++index) {
		                            var ElemId = inputs[index].id;
		                            if (ElemId.indexOf(ComPid) > -1) {
		                                if (document.getElementById(ElemId).type == 'checkbox') {
		                                    var chkboxval = document.getElementById(ElemId).checked;
		                                    if (chkboxval == false || chkboxval == 'false') {
		                                        ReqFieldsFilled = false;
		                                        break;
		                                    }
		                                } else {
		                                    if (document.getElementById(ElemId).value == null || document.getElementById(ElemId).value == '') {
		                                        ReqFieldsFilled = false;
		                                        break;
		                                    }
		                                }
		                            }
		                        }
		                        for (index = 0; index < selects.length; ++index) {
		                            var ElemId = selects[index].id;
		                            if (ElemId.indexOf(ComPid) > -1) {
		                                if (document.getElementById(ElemId).value == null || document.getElementById(ElemId).value == '') {
		                                    ReqFieldsFilled = false;
		                                    break;
		                                }
		                            }
		                        }
		                    }
		                }
		            } else {
		                var ComPid = ReqFldCompIds;
		                var inputs, index, selects;
		                inputs = document.getElementsByTagName('input');
		                selects = document.getElementsByTagName('select');
		                for (index = 0; index < inputs.length; ++index) {
		                    var ElemId = inputs[index].id;
		                    if (ElemId.indexOf(ComPid) > -1) {
		                        if (document.getElementById(ElemId).type == 'checkbox') {
		                            var chkboxval = document.getElementById(ElemId).checked;
		                            if (chkboxval == false || chkboxval == 'false') {
		                                ReqFieldsFilled = false;
		                                break;
		                            }
		                        } else {
		                            if (document.getElementById(ElemId).value == null || document.getElementById(ElemId).value == '') {
		                                ReqFieldsFilled = false;
		                                break;
		                            }
		                        }
		                    }
		                }
		                for (index = 0; index < selects.length; ++index) {
		                    var ElemId = selects[index].id;
		                    if (ElemId.indexOf(ComPid) > -1) {
		                        if (document.getElementById(ElemId).value == null || document.getElementById(ElemId).value == '') {
		                            ReqFieldsFilled = false;
		                            break;
		                        }
		                    }
		                }
		            }
		        }
		    }
		    if (ReqFieldsFilled == false) {
		        document.getElementById('errorDiv').style.display = '';
		    } else {
		        document.getElementById('errorDiv').style.display = 'none';
		    }
		}
		
       /* This is the default function called by the sidebar component */
       function Navigate_To_Page(NextPG){
            if(NextPG!=null && NextPG!='') NavigatePage(NextPG);
       }
       
       function setHiddenPageIds(){
       	
       		var hdnMenu = '{!JSENCODE(strHiddenPageIds)}'; 
            
            if(hdnMenu!=null && hdnMenu!=''){
                
                var hdnsize = hdnMenu.indexOf(",");
                if(hdnsize>-1){
                    var hdnPgLst = hdnMenu.split(',');
                    for(i = 0; i < hdnPgLst.length;i++){
                        if(document.getElementById(hdnPgLst[i])!=null){
                            document.getElementById(hdnPgLst[i]).style.display = 'none';
                        }
                    }
                }else{
                    if(document.getElementById(hdnMenu)!=null)
                        document.getElementById(hdnMenu).style.display = 'none';
                }
            }
       
       }
       
       function CancelRequest(){
       
           if(document.getElementById('CancelLink')!=null) document.getElementById('CancelLink').click();
               
       }
       
    </script>   
</apex:component>