<apex:component controller="ROCPurchaseOfShares_Ctrl" id="PurchaseOfCmp" allowDML="true" >


  <table class="wrap-container" width="100%">
        <tbody>
            <tr>
                <td class="sidebar"  style="{!IF(srStatus != 'DRAFT','display:none;','')}">
                    <!-- Changes Made for TKT # 2825 -->
                    <div>
                        <apex:outputlabel id="hdnCurrentPageId" value="{!strPageId}" style="display:none;"/>
                        <c:DPFSideBarComponent id="MenuComp" curPageId="{!strPageId}"/>
                    </div>
                </td>
                <td id="bodyCell" class="oRight">
                    <div>
                        <apex:form id="sharesForm">
                            <apex:pageMessages id="msg"/>
                            <apex:actionfunction name="invokeDelete" action="{!delRow}" rerender="ShareCapitalDetail,sharebk,msg" status="pleasewait"/>
                          <!--  <apex:commandButton value="invokeLoad" id="invokeLoadID" action="{!GetAmendment}" rerender="ShareCapitalDetail,sharebk,msg" status="pleasewait"/> -->
                            
                           
                            <apex:inputhidden id="rowID" value="{!RowId}"/>
                            <apex:inputhidden id="hdnActionId" value="{!strActionId}"/>
                            <apex:outputPanel layout="block" styleClass="pageTitle">{!pageTitle}</apex:outputPanel>
                            <apex:outputPanel layout="block" styleClass="pageDescription">{!pageDescription}</apex:outputPanel>
                            <apex:actionfunction name="InvokeAction" action="{!DynamicButtonAction}" status="pleasewait" rerender="hdnCurrentPageId,msg,dynScript"/>
                            <apex:actionfunction name="NavigatePage" action="{!goTopage}" status="pleasewait" rerender="hdnCurrentPageId,msg,dynScript">
                                <apex:param name="NextPageId" value="" assignTo="{!strNavigatePageId}"/>
                            </apex:actionfunction>
                            <Apex:commandButton value="Back to ServiceRequest " rendered="{!checkFrmDetail =='1'}" action="{!BackToServiceRequest}"/>
                            <apex:outputpanel id="DyncPnl" styleClass="dyncPanel">
                                <apex:dynamicComponent componentValue="{!DyncPgMainPB}"/>
                            </apex:outputpanel>
                            <!--                                 <apex:outputPanel layout="block" id="dynScript"> -->
                            <script>
                                var hdnMenu = '{!strHiddenPageIds}'; 
                                if(hdnMenu!=null && hdnMenu!=''){
                                    var hdnsize = hdnMenu.indexOf(",");
                                    if(hdnsize>-1){
                                        var hdnPgLst = hdnMenu.split(',');
                                        for(i = 0; i < hdnPgLst.length;i++){
                                            if(document.getElementById(hdnPgLst[i])!=null){
                                                document.getElementById(hdnPgLst[i]).style.display = 'none';
                                            }
                                        }
                                    }else{
                                        if(document.getElementById(hdnMenu)!=null)
                                            document.getElementById(hdnMenu).style.display = 'none';
                                    }
                                }
                                
                                
                            </script>
                            <!--                                 </apex:outputPanel> -->
                            <apex:outputpanel id="ShareCapitalDetail" layout="block">
                               <script>
                                    
                                    changeColum();
                               </script>
                                <apex:pageblock id="ShareTB" >
                                
                                 <div style="display:none;" class="reqErrorMsg" id="errorDiv">Error: Invalid Data. <br/>Review all Required
                                        Fields below and provide values for those.
                                    </div>
                                     <div style="display:none;" class="reqErrorMsg" id="errorDiv_Num">Error: Invalid Data. <br/>Negative And Zero
                                        Values are not allowed.
                                    </div>
                                    <div style="display:none;" class="reqErrorMsg" id="errorDiv_AlphaNum">Error: Invalid Data. <br/>Invalid Class Name
                                    </div>
                                          <apex:variable var="i" value="{!0}" />
                                        <apex:pageBlockButtons location="bottom" id="pgBlockButton">
                                        <apex:commandButton value="Save" style="display:none" Id="saveBtn" action="{!Save_ShareDetail}" status="pleasewait" rerender="ShareCapitalDetail,ShareTB,msg"/>
                                        <input type="button" value="Save" style="display:none" onclick= "saveRecords()" class="btn" />
                                        <apex:commandButton value="Add" action="{!addRow}" status="pleasewait" rerender="ShareCapitalDetail,ShareTB,msg" />
                                        <!-- rendered="{!delBtn}" -->
                                    </apex:pageBlockButtons>
                                    
                                  <apex:pageblockSection title="Purchase of own {!SRtype}" columns="2">
                                  
                                  <apex:pageBlockSectionItem HelpText="Please enter the date of resolution approving the change in authorized shares/membership and/or class" >
                                            <apex:outputLabel value="Date of Resolution"/>
                                            <apex:outputPanel styleClass="requiredInput" layout="block">
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:inputfield id="dateOfRes_ReqFld" onkeypress="return noenter(event);" value="{!obSR.Date_of_Resolution__c}"/>
                                            </apex:outputPanel>
                                        </apex:pageBlockSectionItem>
                                        
                                          <apex:pageBlockSectionItem >
                                            <apex:outputLabel value="Please indentify the purpose of purchasing own shares"/>
                                               <apex:selectList value="{!obSR.Commercial_Activity__c}" size="1" multiselect="false"  >
                                                    
                                                  
                                                      <apex:selectOption itemValue="Share purchased for cancellation" itemLabel="Share purchased for cancellation"/>
                                                      <apex:selectOption itemValue="Share purchased into treasury" itemLabel="Share purchased into treasury"/>
                                                        
                                                </apex:selectList>
                                        </apex:pageBlockSectionItem>
                                  
                                  <apex:pageBlockSectionItem dataStyle="text-align:center; width: 50%; max-width: 55%;colspan : 4" >
                                    
                                    <apex:pageBlockTable value="{!lstAmendment}" var="a" id="accTable" styleclass="PBTable">
                                        <apex:column id="delCol" headerValue="Action" style="width:170px">
                                            <!-- rendered="{!delBtn}" Changed the Rerender Condition for # 3315 -->
                                            <!--     <apex:commandlink onclick="assignrowindex(document.getElementById('{!$Component.delCol}').parentNode.rowIndex);return false;" value="Remove" rendered="{!if(delBtn,true,if(AND(NOT(delBtn),a.Status__c !=null,a.Status__c=='Draft'),true,false))}"/> -->
                                           
                                         <apex:commandlink rendered = "{!(i > 0)}" onclick="assignrowindex(document.getElementById('{!$Component.delCol}').parentNode.rowIndex);return false;" value="Remove" />
                                            
                                        </apex:column>
                                        <apex:column headerValue="Shareholder Name">
                                            <!-- <apex:outputField value="{!a.Name}" rendered="{!if(AND(a.id !=null,a.Status__c!='Draft'),true,false)}"/> --> <!--  Added for # 3315 -->
                                            <!--<apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!if(or(a.id ==null,AND(a.id !=null,a.Status__c=='Draft')),true,false)}">  <!--  Added Rendered Condition  3315 -->
                                            <!-- <apex:outputPanel styleClass="requiredBlock" layout="block"/> 
                                                <apex:inputfield onkeypress="return noenter(event);" value="{!a.Name}" />  -->
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                <apex:selectList id="Shname_ReqFld" value="{!a.amm.Shareholder_Company_val__c}" size="1" multiselect="false"  >
                                                    
                                                    <apex:selectOptions value="{!lstShareHolder}" />
                                                      <apex:actionSupport event="onchange" action="{!GetClassesAgainstShareHolder}" status="pleasewait" rerender="ShareCapitalDetail,ShareTB,msg">
                                                            <apex:param name="index" value="{!i}"/>

                                                        </apex:actionSupport>
                                                        
                                                    
                                                </apex:selectList>
                                                
                                            </apex:outputPanel>
                                              
                                        </apex:column>
                                        <apex:column headerValue="Class of {!SRtype}">
                                            <!-- <apex:outputField value="{!a.Name}" rendered="{!if(AND(a.id !=null,a.Status__c!='Draft'),true,false)}"/> --> <!--  Added for # 3315 -->
                                            <!--<apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!if(or(a.id ==null,AND(a.id !=null,a.Status__c=='Draft')),true,false)}">  <!--  Added Rendered Condition  3315 -->
                                            <!-- <apex:outputPanel styleClass="requiredBlock" layout="block"/> 
                                                <apex:inputfield onkeypress="return noenter(event);" value="{!a.Name}" />  -->
                                            <apex:outputPanel styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                                
                                                <apex:selectList id="name_ReqFld" value="{!a.amm.Class_Name__c }" disabled="{!a.EditClass}" size="1" multiselect="false"  >
                                                    <apex:selectOptions value="{!a.lstSelectedClass}" />
                                                     <apex:actionSupport event="onchange" action="{!GetSharesAgainstClass}" status="pleasewait" rerender="ShareCapitalDetail,ShareTB,msg">
                                                            <apex:param name="index" value="{!i}"/>

                                                        </apex:actionSupport>
                                                </apex:selectList>
                                            </apex:outputPanel>
                                              
                                        </apex:column>
                                       
                                        <apex:column headerValue="Total Issued {!SRtype} per Class">
                                      
                                            
                                            <apex:outputText value="{0, number, ###,###,##0.00}" >
                                              
                                                  <apex:param value="{!a.amm.Total_Issued__c}" />
                                            </apex:outputText>
                                        
                                        </apex:column>
                                        
                                        <apex:column headerValue="Number of {!SRtype} to be  purchased">
                                        <apex:outputPanel rendered="{!!a.EditShares}" styleClass="requiredInput" layout="block" >
                                                <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        
                                            <apex:inputField id="proposedShares_ReqFld"  value="{!a.amm.Sys_Proposed_No_of_Shares_per_Class__c}"
                                            onkeyup="checkDec(this);" />
                                                
                                              </apex:outputPanel>
                                              <apex:outputText rendered="{!a.EditShares}" value="{!a.amm.Sys_Proposed_No_of_Shares_per_Class__c}" />
                                            <apex:variable var="i" value="{!i+1}" />
                                        </apex:column>
                                           
                                    </apex:pageBlockTable>
                                         </apex:pageBlockSectionItem>
                                         </apex:pageblockSection>    
                                   
                                  
                                    
                                   
                                </apex:pageblock>
                            </apex:outputPanel>
                        </apex:form>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>  
    <script>
        var totalFieldBlank = 0;
        var totalNegativeField = 0;
        var totalAlphaNumeric = 0;
        
        document.getElementById('SharesPg:cmpConsolidateShare:consolidateSubDivideCmp:sharesForm:invokeLoadID').click();
        
        function changeColum(){
            
            document.getElementsByClassName('dataCol last')[0].setAttribute('colspan',4);
        
        
        }
        function noenter(ev){
            if(window.event && window.event.keyCode == 13 || ev.which == 13) {
                            return false;
            }else {
              return true;
            }
        }
        function checkDec(el){
        
             var ex = /^[0-9]+\.?[0-9]*$/;
             if(ex.test(el.value)==false){
               el.value = el.value.substring(0,el.value.length - 1);
              }    
        }
        
        
        function showReadOnlyRow(rowno){
        
        document.getElementById('SharesPg:sharesForm:rowID').value = rowno-1;
        document.getElementById('SharesPg:sharesForm:cancelRowID').click();
        
        }
        
        function showEditableRow(rowno){
        
        document.getElementById('SharesPg:sharesForm:rowID').value = rowno-1;
        document.getElementById('SharesPg:sharesForm:editRowID').click();
        
        }
        
        
        function saveRecords(){
            
            totalError = validateRequiredFields();
             document.getElementById('errorDiv').style.display = 'none';
             document.getElementById('errorDiv_Num').style.display = 'none';
             document.getElementById('errorDiv_AlphaNum').style.display = 'none';
            
            
             if(totalError > 0){
                document.getElementById('errorDiv').style.display = '';
                 return false;
            }
            
            
            if(totalAlphaNumeric > 0){
                document.getElementById('errorDiv_AlphaNum').style.display = '';
                 return false;
            }
            if( totalNegativeField > 0){
                document.getElementById('errorDiv_Num').style.display = '';
                return false;
            }
            
           
           
             //document.getElementById('SharesPg:cmpPurchaseOfShare:PurchaseOfCmp:sharesForm:ShareTB:pgBlockButton:saveBtn').click();
              return true;
        }
        
        function validateRequiredFields(){
            
            totalFieldBlank = 0;
            totalNegativeField = 0;
            totalAlphaNumeric = 0;
            var inputs = document.querySelectorAll('input,select');
            var elementId;
            for(inputIndex = 0; inputIndex< inputs.length ; inputIndex++){
                
                elementId = inputs[inputIndex].id;
                if((elementId != null || elementId != '')  && elementId.indexOf('_ReqFld') > -1){
                    document.getElementById(elementId).className  = '';
                    if(document.getElementById(elementId).value == ''){
                        totalFieldBlank++;
                        document.getElementById(elementId).className  = 'error';
                    }
                    
                    if(elementId.indexOf('name') == -1 && document.getElementById(elementId).value != '' && !isNaN(document.getElementById(elementId).value) && document.getElementById(elementId).value <= 0){
                        totalNegativeField++;
                         document.getElementById(elementId).className  = 'error';
                    }
                    
                    
                }
            }
            
            return totalFieldBlank;
            
        
        }
        
        
        function assignrowindex(rowno){
        
            if(confirm("Are you sure you want to continue")){
                document.getElementById('SharesPg:cmpPurchaseOfShare:PurchaseOfCmp:sharesForm:rowID').value = rowno-1;
                invokeDelete();
            }
        }
        
        function Navigate_To_Page(NextPG){
            if(NextPG!=null && NextPG!=''){
                            NavigatePage(NextPG);
            }
        }
          
        function DoAction(ButtonSectionId,IgnoreReqFlds){
                document.getElementById('SharesPg:cmpPurchaseOfShare:PurchaseOfCmp:sharesForm:hdnActionId').value = ButtonSectionId;
                if(IgnoreReqFlds == "false"){
                    if(saveRecords()){
                        InvokeAction();
                    }
                
                }else{
                    InvokeAction();
                }       
        }
            
       function NavigateToSR()
       {
            windlow.Open('/apex/SRView?id={!obSR.id}','_self');
       } 
       
      
    </script>
</apex:component>