<apex:component controller="Cls_SearchAccountsExtension" >

    <apex:attribute name="searchHeader" description="Controls the pop-up header" type="String" required="false" default="Search Hosting Company" />
    
    <apex:attribute name="accountStatus" description="Specified the ROC Status of the account to select" type="String" required="false" default="" />

    <apex:attribute name="customerId" description="This is the current client ID." type="String" required="true"/>
    
    <apex:attribute name="searchWithLicenseNo"  description="This will tell if we can allow users to search with the license no." type="boolean" required="false" default="false" />
    
    <apex:attribute name="isSameClient" description="This will tell if we can allow users to search with the same client." type="boolean" required="false" default="false" />
    
    <apex:attribute name="searchLabel" description="This will control the label of the search." type="String" required="false" default="Company Name :" />

    <style>
    
        #dvHostingCompanyInfo {
            height: auto !important;
        }
    
    </style>
    
    <apex:form id="searchAccountsForm">
    
        <div id="dvHostingCompanyInfo" class="reveal-modal" style="display:block;top:8%;height: 300px;">
        
             <a class="close-reveal-modal" id="btnCloseRevealCompanySearch">&#215;</a>
             <apex:outputpanel layout="block" style="display:block" id="HostingCompanyInfo">
                 <div class="hd_div">{!searchHeader}</div>
                 <div style="margin-top:20px;"  id="pg">
                     <apex:pageBlock id="pbHosting">
                         <div style="text-align:left">
                             <apex:outputlabel value="{!searchLabel}" style="display: inline-block;" />
                             <apex:inputText value="{!HostingCompanyName}" id="txtAccountString" style="display: inline;" />
                             <input type="button" class="btn" value="Search" id="doSearchBtn" onclick="SearchHostingCompanies(
                                '{!customerId}',
                                ('{!accountStatus}' != '' ? document.getElementById('{!accountStatus}').value : '')
                             
                             );" style="display: inline-block;" />
                             
                             
                         </div>
                         <div style="height: 235px;overflow: auto;">
                             <apex:pageBlockTable value="{!HostingCompanies}" var="company">
                                 <apex:column headerValue="Company Name" style="text-align:left;">
                                     <a class="actionLink" style="cursor: pointer;" onclick="selectHosting('{!company.CompanyId}','{!company.CompanyName}');">{!company.CompanyName}</a>  
                                 </apex:column>
                                 <apex:column value="{!company.RegistrationNumber}" headerValue="Registration Number" style="width: 20%" />
                             </apex:pageBlockTable>
                         </div>
                         
                         <apex:actionFunction name="SearchHostingCompanies" action="{!SearchHostingCompanies}" rerender="pbHosting" status="pleasewait" >
                            <apex:param name="currentAccountId" value="" assignTo="{!currentAccountId}" />
                            <apex:param name="accountStatus" value="" assignTo="{!accountStatus}" />
                            <apex:param name="searchWithLicenseNo" value="{!searchWithLicenseNo}" assignTo="{!searchWithLicenseNo}"  />
                            <apex:param name="isSameClient" value="{!isSameClient}" assignTo="{!isSameClient}"  />
                         </apex:actionFunction>
                         
                         <apex:actionFunction name="clearAccountsSearchList" action="{!clearList}" rerender="pbHosting" />
                         
                     </apex:pageBlock>
                 </div> 
             </apex:outputpanel>
         </div>
         
         <a data-reveal-id="dvHostingCompanyInfo" data-animation="fade" style="display:none;">
             <input type="button" id="revealBtn" style="display:none;" />
         </a>
     
     </apex:form>
     
     <script>
     
        document.onkeypress = blockEnter; 
    
        function blockEnter(e){
            
            var code = (e.keyCode ? e.keyCode : e.which);
            
            if(code == 13) { //Enter keycode
                return false;
            }else {
                return true;
            }
        }    
     
        function openCompanySearchPopup(tHId){
        
            
            $('input[id$=txtAccountString]').bind("cut copy paste",function(e) {
               
                 e.preventDefault();
                 
                 });
                 
                 $('input[id$=txtAccountString]').bind('keypress', function (event) {
                        var regex = new RegExp("^[a-zA-Z0-9]+$");
                        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
                        if (!regex.test(key)) {
                            event.preventDefault();
                            return false;
                        }
                });
            
            var closeButton = document.getElementById('btnCloseRevealCompanySearch');
            
            closeButton.click = function(){
                clearAccountsSearchList();
            }
            
            if(document.getElementById(tHId) != null){
                document.getElementById('{!$Component.searchAccountsForm.pbHosting.txtAccountString}').value = document.getElementById(tHId).value;
            }
            
            document.getElementById('revealBtn').click();
            
            
        }
        
        function selectHosting(hci,hcn){
        
            document.getElementById('btnCloseReveal').click();
            
            /* Override with custom logic */
        
        }
    
     </script>

</apex:component>