.THIS .borderLine{
    border: 1px solid black;
    border-radius:0 !important;
}
.THIS .ui-button--primary{
    background:#2B2826 !important;
    border:0px !important;
}
/*---------------------------------------------------Custom Fonts ---------------------------------------------------------------*/

@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}

.THIS .ui-form-card__header{
    position: relative;
  float: left;
  margin-top: 15%;
    left: 36%;
    font-family: 'EuclidSquare-Medium', sans-serif;
    width: 600px;
    height: 42px;
    color: #515151;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -0.15px;
    line-height: 42px;
}