.THIS.ui-back-register{
    position: relative;
    flex-wrap: wrap;
    display: flex;
    padding: 10px;
    color: #0578D0;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    margin: 0 48px;
    cursor: pointer;
    width: 20%;
    display: none;
}