.THIS.path-summary {
    position: relative;
    padding: 0 32px;
    display: flex;
    color: #4a4a4a;
    overflow: hidden;
}

.THIS .cancelName{
    color: lightslategrey;
    font-weight: bold;
    font-family: inherit;
    font-size: 15px;
}

.THIS .heading_submit{
   margin-left:0.5rem;
}

.THIS .text_fee{
    font-size: 9px;
    padding: 0.5rem;
}

.THIS .width_input{
   width:50%;    
}

.THIS.path-summary::before {
    content: '';
    position: absolute;
    top: 36px;
    left: 66px;
    width: 2px;
    height: 100%;
    background-color: #dadada;
}


.THIS.path-summary--active::before {
    background-color: #171717;
}

.THIS .path-summary__number {
    margin-top: 30px;
    margin-right: 16px;
    font-family: 'TSTAR-Medium', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.THIS .path-summary__marker {
    z-index: 5;
    margin-left: 1px;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    min-width: 16px;
    margin-top: 32px;
    border: 4px solid #fff;
    background-color: #dadada;
}

.THIS.path-summary--active .path-summary__marker {
    border: 4px solid #171717;
    background-color: #fff;
}

.THIS.card--disabled .path-summary__marker {
    opacity: 1;
}


.THIS .path-summary__content {
    padding: 32px 16px 0;
}

@media screen and (min-width: 1299px) {
    .THIS .path-summary__content{
        margin-left: 32px;
    }
}


.THIS .path-summary__text {
    line-height: 1.4;
    font-size: 14px;
}

.THIS .path-summary__update {
    position: relative;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    font-size: 14px;
    border-bottom: 1px solid #eaeaea;
}
.THIS .path-summary__update-item {
    padding-left: 16px;
    margin-right: 16px;
    border-left: 1px solid #eaeaea;
}
.THIS .path-summary__update-item:first-child {
    padding-left: 0;
    border: none;
}

.THIS .path-summary__update-item:last-child {
    position: absolute;
    right: 0;
    padding-left: 0;
    margin-right: 0;
    border: none;
    text-transform: uppercase;
}



.THIS .path-summary__details {
    margin-top: 16px;
    padding-bottom: 32px;
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details::before {
    content: '';
    width: 2px;
    height: 115%;
    position: absolute;
    top: 222px;
    left: 66px;
    background-color: #dadada;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details-list {
    transition: all 300ms ease-in-out;
}

.THIS .path-summary__details-item {
    border-top: 1px solid #c4c4c4;
}

.THIS .path-summary__details-item-link {
    color: #171717;
    display: flex;
    padding: 16px;
    font-size: 14px;
    transition: background-color 300ms ease-in-out;
}
.THIS.card--disabled .THIS .path-summary__details-item-link:hover {
    color: #333;
    text-decoration: none;
}


.THIS.card--disabled .THIS .path-summary__details-item-link:hover .path-summary__details-status-value {
    opacity: 1;
}

.THIS.card--disabled .THIS .path-summary__details-item-link:hover .path-summary__details-status-action {
    opacity: 0;
}



.THIS .path-summary__details-item-link:hover {
    color: #333;
    text-decoration: none;
    background-color: #efefef;
}

.THIS .path-summary__details-item-link:hover .path-summary__details-status-value {
    opacity: 0;
}

.THIS .path-summary__details-item-link:hover .path-summary__details-status-action {
    opacity: 1;
}




.THIS .path-summary__details-description p:first-child {
    padding-bottom: 16px;
    font-weight: 600;
    
}
.THIS .path-summary__details-description p::last-child {
    padding-bottom: 0;
}



.THIS .path-summary__details-item-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.THIS .path-summary__details-item-icon {
    margin-right: 16px;
}



.THIS.path-summary .path-summary--next-phase .path-summary__marker {
    margin-left: 27px;
}

.THIS.path-summary .path-summary--next-phase::before {
    top: 0;
    height: 25%;
    background-color: #dadada;
}

.THIS.path-summary .path-summary--next-phase .path-summary__content-body {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.THIS.path-summary .path-summary--next-phase .path-summary__content {
    width: 100%;
}

.THIS.path-summary .path-summary--next-phase .button-group {
    width: auto;
    margin-top: 0;
}



.THIS .path-summary__details-status {
    position: relative;
    display: flex;
    align-items: center;
    flex: 0 0 33%;
    font-family: 'TSTAR-Medium', sans-serif;
}

.THIS .path-summary__details-status span {
    position: absolute;
    right: 0;
    text-align: right;
    transition: opacity 200ms ease-in-out;
}

.THIS .path-summary__details-status-value {
    color: lighten(#4a4a4a, 30%);
}
.THIS .path-summary__details-status-action {
    opacity: 0;
}


.THIS .button__group {
    margin-top: 32px;
}

.THIS .path-summary__details--hidden {
    max-height: 0;
    padding-bottom: 0;
}
.THIS .path-summary__details--hidden .path-summary__details-list {
    opacity: 0;
    
}

.THIS .path-summary__details--open {
    max-height: 1200px;
}
.THIS .path-summary__details--open::before {
    opacity: 1;
}

.THIS .path-summary__details--open .path-summary__details-list {
    opacity: 1;
}


.THIS.card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.THIS .card__title {
    padding-bottom: 16px;
    color: #171717;
}
.THIS .card__title--level-2 {
    font-size: 36px;
    font-weight: 600;
}

.THIS .card__title--level-3 {
    font-size: 18px;
    font-weight: 600;
}

.THIS .card__title--level-4 {
    font-size: 14px;
    font-weight: 600;
}

.THIS .card__paragraph {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.THIS.card--grey {
    background-color: #f5f5f5;
}

.THIS.card--hidden {
    animation: slideUp 700ms 300ms forwards cubic-bezier(0.23, 1, 0.32, 1);
}
.THIS.card--hidden .card__content {
    animation: fadeOut 300ms ease-out forwards;
}


.THIS.card--disabled {
    opacity: 0.6;
}
.THIS.card--disabled::before,
.THIS.card--disabled::after {
    opacity: 0.6;
}

.THIS .button--disabled {
    cursor: not-allowed;
    pointer-events: none;
    border: 1px solid grey!important;
    background-color: grey!important;
}


.THIS.card--disabled .button--primary {
    cursor: not-allowed;
    pointer-events: none;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slideUp {
  100% {
    min-height: 0;
    padding: 0;
    margin: 0;
    height: 0px;
    overflow: hidden;
    box-shadow: none;
  }
}


/*----------------------------------------------------------------------------------*/


.THIS .button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 150px;
  padding: 8px;
  margin-right: 16px;
  font-size: 14px;
  color: #171717;
  border: none;
  transition: all 200ms ease-in-out;
  text-align: center;
}
  .THIS .button:hover {
    color: #373737;
    transform: scaleX(1.03);
    text-decoration: none;
  }

  .THIS .button:last-child {
    margin-right: 0;
  }

  .THIS .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .THIS .button--default {
    border: 1px solid #171717;
  }

  .THIS .button--primary {
    color: #fff;
    border: 1px solid #171717;
    background-color: #171717;
}
.THIS .button--primary-white{
    border: 1px solid #171717;
    background-color: WHITE;
}

.THIS .button-position{
    text-align:center;
}

    .THIS .button--primary:hover {
      color: #fff;
      background-color: #373737;
    }
  

  .THIS .button--close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #171717;
    border-radius: 2px;
    background-color: transparent;
}
    .THIS .button--close-icon {
      display: block;
    }
  

   .THIS .button--toggle {
    border: none;
}
    .THIS .button--toggle :hover {
      color: #373737;
      transform: none;
      text-decoration: none;
    }

     
      .THIS .button--toggle--open .button__icon--arrow {
        transition: all 300ms ease-in-out;
        transform: rotate(270deg);
      }
    
  

  .THIS .button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
  }


/* -------------------------------------------------------------------------------------------------------------------------- */

.THIS.main_page {
    font-family: 'EuclidSquareTrial', sans-serif;
}

.THIS h1 {
    font-size: 2em;
    margin: 0.67em 0;
    font-family: sans-serif!important;
}

.THIS .page__inner {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
}

/*.THIS h1,.THIS h2,.THIS h3,.THIS h4,.THIS h5,.THIS h6{

font-family: sans-serif!important;
}*/

/* Grouping content
========================================================================== */

/**
* 1. Add the correct box sizing in Firefox.
* 2. Show the overflow in Edge and IE.
*/

.THIS hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

.THIS pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
========================================================================== */

/**
* Remove the gray background on active links in IE 10.
*/

.THIS a {
    background-color: transparent;
}

/**
* 1. Remove the bottom border in Chrome 57-
* 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
*/

.THIS abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
* Add the correct font weight in Chrome, Edge, and Safari.
*/

.THIS b,
.THIS strong {
    font-weight: bolder;
}

/**
* 1. Correct the inheritance and scaling of font size in all browsers.
* 2. Correct the odd `em` font sizing in all browsers.
*/

.THIS code,
.THIS kbd,
.THIS samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
* Add the correct font size in all browsers.
*/

.THIS small {
    font-size: 80%;
}

/**
* Prevent `sub` and `sup` elements from affecting the line height in
* all browsers.
*/

.THIS sub,
.THIS sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.THIS sub {
    bottom: -0.25em;
}

.THIS sup {
    top: -0.5em;
}

/* Embedded content
========================================================================== */

/**
* Remove the border on images inside links in IE 10.
*/

.THIS img {
    border-style: none;
}

/* Forms
========================================================================== */

/**
* 1. Change the font styles in all browsers.
* 2. Remove the margin in Firefox and Safari.
*/

.THIS button,
.THIS input,
.THIS optgroup,
.THIS select,
.THIS textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
* Show the overflow in IE.
* 1. Show the overflow in Edge.
*/

.THIS button,
.THIS input {
    /* 1 */
    overflow: visible;
}

/**
* Remove the inheritance of text transform in Edge, Firefox, and IE.
* 1. Remove the inheritance of text transform in Firefox.
*/

.THIS button,
.THIS select {
    /* 1 */
    text-transform: none;
}

/**
* Correct the inability to style clickable types in iOS and Safari.
*/

.THIS button,
.THIS [type='button'],
.THIS [type='reset'],
.THIS [type='submit'] {
    -webkit-appearance: button;
}

/**
* Remove the inner border and padding in Firefox.
*/

.THIS button::-moz-focus-inner,
.THIS [type='button']::-moz-focus-inner,
.THIS [type='reset']::-moz-focus-inner,
.THIS [type='submit']::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
* Restore the focus styles unset by the previous rule.
*/

.THIS button:-moz-focusring,
.THIS [type='button']:-moz-focusring,
.THIS [type='reset']:-moz-focusring,
.THIS [type='submit']:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
* Correct the padding in Firefox.
*/

.THIS fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
* 1. Correct the text wrapping in Edge and IE.
* 2. Correct the color inheritance from `fieldset` elements in IE.
* 3. Remove the padding so developers are not caught out when they zero out
*    `fieldset` elements in all browsers.
*/

.THIS legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
* Add the correct vertical alignment in Chrome, Firefox, and Opera.
*/

.THIS progress {
    vertical-align: baseline;
}

/**
* Remove the default vertical scrollbar in IE 10+.
*/

.THIS textarea {
    overflow: auto;
}

/**
* 1. Add the correct box sizing in IE 10.
* 2. Remove the padding in IE 10.
*/

.THIS [type='checkbox'],
.THIS [type='radio'] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
* Correct the cursor style of increment and decrement buttons in Chrome.
*/

.THIS [type='number']::-webkit-inner-spin-button,
.THIS [type='number']::-webkit-outer-spin-button {
    height: auto;
}

/**
* 1. Correct the odd appearance in Chrome and Safari.
* 2. Correct the outline style in Safari.
*/

.THIS [type='search'] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
* Remove the inner padding in Chrome and Safari on macOS.
*/

.THIS [type='search']::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
* 1. Correct the inability to style clickable types in iOS and Safari.
* 2. Change font properties to `inherit` in Safari.
*/

.THIS ::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
========================================================================== */

/*
* Add the correct display in Edge, IE 10+, and Firefox.
*/

.THIS details {
    display: block;
}

.THIS summary {
    display: list-item;
}

.THIS template {
    display: none;
}

/**
* Add the correct display in IE 10.
*/

.THIS [hidden] {
    display: none;
}


/*--Next--*/



@font-face {
    font-family: 'EuclidSquareTrial';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Medium';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Medium-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Bold';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Bold-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquareTrial-Semibold';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Semibold-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidTriangleTrial';
    src: url("/resource/DifcTestResources/assets/fonts/Euclid_Trial/Euclid_Triangle_Trial/Web/EuclidTriangle-Regular-WebTrial.woff") format("woff");
}

.THIS .page-header {
    position: relative;
    z-index: 2;
}

.THIS .page-header__inner {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    margin: 0 auto;
}


.THIS .page-header__tier-inner {
    position: relative;
    max-width: 1440px;
    padding: 0 128px;
    margin: 0 auto;
}
.THIS .page-header__tier-inner::before {
    content: '';
    position: absolute;
    top: -64px;
    z-index: 1;
    left: 98px;
    background-color: #171717;
    width: 2px;
    height: 512px;
}


.THIS .page-section {
    padding: 0 32px;
}

.THIS.progress-tracker {
    position: relative;
    border-bottom: 1px solid #eaeaea;
    background-color: #fff;
}
.THIS .progress-tracker__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    padding: 32px;
    margin: 0 auto;
}

.THIS .progress-tracker__title {
    display: flex;
    align-items: flex-start;
    font-size: 30px;
}
.THIS .progress-tracker__title::before {
    position: absolute;
    left: 98px;
    bottom: 0;
    content: '';
    height: 76px;
    width: 2px;
    background-color: #171717;
}


.THIS .progress-tracker__progressbar {
    flex: 0 0 50%;
    padding-right: 96px;
}


.THIS .timeline-menu-button {
    margin-right: 16px;
    margin-left: 96px;
}


.THIS.card {
    margin: 16px 0;
    background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}
.THIS .card__title {
    padding-bottom: 16px;
    color: #171717;
}
.THIS .card__title--level-2 {
    font-size: 36px;
    font-weight: 600;
}

.THIS .card__title--level-3 {
    font-size: 18px;
    font-weight: 600;
}


.THIS .card__paragraph {
    font-size: 14px;
    line-height: 1.4;
    padding-bottom: 16px;
}

.THIS.card--grey {
    background-color: #f5f5f5;
}

.THIS.card--hidden {
    animation: slideUp 700ms 300ms forwards cubic-bezier(0.23, 1, 0.32, 1);
}
.THIS.card--hidden .card__content {
    animation: fadeOut 300ms ease-out forwards;
}


.THIS.card--disabled {
    opacity: 0.6;
}
.THIS.card--disabled::before,
.THIS.card--disabled::after {
    opacity: 0.6;
}



.THIS.card--disabled .button--primary {
    cursor: not-allowed;
    pointer-events: none;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes slideUp {
    100% {
        min-height: 0;
        padding: 0;
        margin: 0;
        height: 0px;
        overflow: hidden;
        box-shadow: none;
    }
}


/*----------------------------------------------------------------------------------*/


.THIS .button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    min-width: 150px;
    padding: 8px;
    margin-right: 16px;
    font-size: 14px;
    color: #171717;
    border: none;
    transition: all 200ms ease-in-out;
    text-align: center;
}
.THIS .button:hover {
    color: #373737;
    transform: scaleX(1.03);
    text-decoration: none;
}

.THIS .button:last-child {
    margin-right: 0;
}

.THIS .button-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.THIS .button--default {
    border: 1px solid #171717;
}

.THIS .button--primary {
    color: #fff;
    border: 1px solid #171717;
    background-color: #171717;
}
.THIS .button--primary:hover {
    color: #fff;
    background-color: #373737;
}


.THIS .button--close {
    position: absolute;
    top: 32px;
    right: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 26px;
    border: 1px solid #171717;
    border-radius: 2px;
    background-color: transparent;
}
.THIS .button--close-icon {
    display: block;
}


.THIS .button--toggle {
    border: none;
}
.THIS .button--toggle :hover {
    color: #373737;
    transform: none;
    text-decoration: none;
}


.THIS .button--toggle--open .button__icon--arrow {
    transition: all 300ms ease-in-out;
    transform: rotate(270deg);
}



.THIS .button__icon--arrow {
    width: 8px;
    transform: rotate(90deg);
    transition: transform 300ms ease-in-out;
}
@media screen and (min-width: 1440px) {
    .THIS .page-section{
        margin-right: 84px;
    }
}

/*----------------------------------------------------------------------------------------------------------------------*/

.THIS .pay-now{
    margin-top:1rem;
    padding:0.5rem;
    margin-left:4rem;
}

.THIS.formPay{
    margin:2rem;
    margin-left:3rem;
    position:relative;
    left:21rem;
}

.THIS .width{
    width:20%;
}

.THIS .payment_fail{
    font-weight: bold;
    font-family: sans-serif;
    font-size: 2rem;
}

.THIS .error_details{
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-style: dashed;
}

.THIS .error_resp{
    TEXT-ALIGN: CENTER;
    font-weight: bold;
    font-size: 1.3rem;
    color: red;
}

.THIS .message{
    text-align: center
}

.THIS iframe.cko-iframe.theme-standard {
    height: 90px;
    width: 35%;
    position: relative;
    left: -3rem;
    margin-bottom: 1rem;
}