.THIS .c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0;
}

.THIS .slds-input {
    width: 98%;
    
}

.THIS .slds-select {
    width: 95%;
    Font-size :12px;
}

.THIS .slds-input-has-icon_right .slds-input__icon {
    right: rem;

}

.THIS .slds-input__icon {
    right: rem;
}
.THIS .slds-input {
    Font-size :12px;
}

.THIS.slds-spinner_container {
    z-index: 10000;
    position: fixed;
}
.THIS .slds-form-element__label {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    display: inline-block;
    color: rgb(107, 109, 112);
    font-size: 1.4em;
    padding-right: .5rem;
    padding-top: .25rem;
    margin-bottom: .125rem;
    font-family: sans-serif;
}