.THIS.addScroll {
  height: 250px;
}

.THIS .slds-th__action-button {
  display: none;
}

.THIS .slds-has-button-menu {
  background-color: #4a4a4a !important;
  color: white !important;
}

.THIS .slds-th__action {
  background-color: #4a4a4a !important;
  color: white !important;
}

.THIS .slds-grid_align-end {
    justify-content: flex-start;
}

.THIS .slds-th__action:focus,
.THIS .slds-th__action:hover,
.THIS .slds-th__action:active {
  outline: 0;
  background-color: #4a4a4a;
}

.THIS .difc-font {
  /* font-family: "EuclidSquare-Light"; */
  font-family: "EuclidSquare-Medium";
}

.THIS .relatedList .slds-truncate {
  white-space: pre-wrap;
}

.THIS .optionalCSS th {
  word-wrap: anywhere;
}

.THIS .relatedList .slds-scrollable_x {
  overflow-x: hidden;
}