.THIS .ui-button--primary {
  background: #2b2826 !important;
  border-color: black !important;
}
.THIS .center-content {
  align-items: center;
  justify-content: center;
}
.THIS .ui-entityName__header {
  font-size: 34px;
  font-family: "EuclidSquare-Medium", sans-serif;
}
.THIS .borderLine {
  border: 1px solid black !important;
}

.THIS .nav-label {
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}
.THIS .ui-entity-navigation {
  position: relative;
  flex-wrap: wrap;
  min-height: 170px;
  background-color: #fff;
  margin-top: 25px;
  padding: 35px 0 0 65px;
}
.THIS .ui-registration-complete {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}
.THIS .slds-context-bar__item {
  padding: 25px 55px;
}
.THIS .nav-border {
  border-bottom: 2px solid #dddbda;
}
.THIS .slds-context-bar__item::selection,
.THIS .slds-context-bar__item:hover {
  background-color: transparent;
  border-bottom: 3px solid #0076cf;
}
.THIS .selected {
  border-bottom: 3px solid #0076cf !important;
}
.THIS .ui-form-card__header {
  font-size: 34px;
  font-family: "EuclidSquare-Medium", sans-serif;
  padding-left: 60px;
}

.THIS .ui-form-card__subheader {
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
  padding-left: 60px;
}
.THIS .ui-welcome {
  position: relative;
  flex-wrap: wrap;
  min-height: 170px;
  background-color: #fff;
  padding: 20px 0 0 15px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
}