.THIS .customRequired{
    font-weight: 400; } .THIS .customRequired:before{    
    content: "*";
    margin: 0 0.125rem 0 0.125rem;
    color: rgb(194, 57, 52);
    float: left; } 

.THIS .none{
    display:none; }



.THIS .difc-custom-padding label { 
padding-bottom: 5px;
}

.THIS .slds-form-element__label {
    padding-top: 0;
}

.THIS .difc-name-text	{
	color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
}