.THIS .difc-page-header {
  padding-top: 2%;
  color: #515151;
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -0.15px;
  line-height: 42px;
  font-family: "EuclidSquare-Medium", sans-serif;
}

.THIS .difc-one-col-other-div {
  margin-top: 1.5%;
  margin-bottom: 3%;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 4%;
}

.THIS .difc-button-outline {
  border: 2px solid #000000;
  padding: 0.3rem;
  font-family: "EuclidSquare-Medium";
  font-size: 13px;
  font-weight: 500;
  min-width: 100px;
}

.THIS .difc-white-background {
  background-color: white;
}

.THIS .difc-cost-summary {
  padding: 1rem;
  background-color: #f6f6f6;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

.THIS .difc-table-header {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 20px;
  font-weight: 600;
}

.THIS .difc-table-header-col th {
  background-color: #4a4a4a !important;
  color: white;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
}

.THIS .difc-table-header-col {
  background-color: #4a4a4a !important;
  color: white;
  font-family: "EuclidSquare-Light";
  font-size: 11px;
  font-weight: 300;
}

.THIS .difc-table-header-col-grey th {
  background-color: #d9dbdd !important;
  color: black;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
}

.THIS .difc-table-feilds {
  font-family: "EuclidSquare-Light";
  font-size: 11px;
  font-weight: 300;
}

.THIS .difc-table-feilds-bold {
  font-family: "EuclidSquare-Medium";
  font-size: 12px;
  font-weight: 600;
}

.THIS .difc-table tbody td {
  border-bottom: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .difc-table-border {
  border-bottom: 0.9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .difc-sub-heading {
  font-size: 17px;
  font-family: "EuclidSquare-Light", sans-serif;
  font-weight: 700;
}

.THIS .difc-mid-size {
  font-size: 14px;
  font-family: "EuclidSquare-Light", sans-serif;
  font-weight: 500;
}

.THIS .difc-cost-items {
  min-height: 8rem;
  padding-bottom: 2%;
}

.THIS .difc-table-container {
  background-color: white;
}

.THIS .difc-button-dark {
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "EuclidSquare-Medium";
  font-size: 12px;
  font-weight: 500;
  min-width: 100px;
  border-radius: 0;
  line-height: 1;
}

.THIS .difc-text-align-end {
  text-align: end;
}

.THIS .difc-grey {
  color: #9a9a9a;
  font-size: 12px;
  font-family: EuclidSquare-Light;
}

.THIS .difc-pay-button {
  font-size: 9px !important;
  min-width: max-Content !important;
  padding: 0.2rem 0.5rem !important;
  border-radius: 0.2rem;
  margin-left: 2%;
}

.THIS .difc-padding {
  padding: 0.5rem;
}

.THIS .difc-padding-vertical {
  padding: 0.5rem 0;
}

.THIS .difc-font {
  font-family: "EuclidSquare-Light";
  color: #9a9a9a;
  font-size: 11px;
}

.THIS .wrap {
  white-space: pre-wrap;
}

.THIS .difc-euclid-font {
  font-family: "EuclidSquare-Medium" !important;
}

.THIS .close {
  position: absolute;
  right: 32px;
  top: 22px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.THIS .close:hover {
  opacity: 1;
}

.THIS .close:before,
.THIS .close:after {
  position: absolute;
  left: 30px;
  content: " ";
  height: 14px;
  width: 2.3px;
  background-color: #333;
}

.THIS .close:before {
  transform: rotate(45deg);
}

.THIS .close:after {
  transform: rotate(-45deg);
}