.THIS .center-content {
  align-items: center;
  justify-content: center;
}
.THIS .borderLine {
  border: 1px solid gray !important;
}
.THIS .rightAlign {
  justify-content: flex-end;
}
.THIS .fullText:hover {
  overflow: visible !important;
  white-space: normal !important;
  height: auto !important;
}
.THIS .coverGreyArea {
  height: 100%;
}
.THIS {
  height: 100%;
}