﻿@font-face {
	font-family: 'Tstar_Light';
	src: url('../fonts/TSTAR-Light.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tstar_Bold';
	src: url('../fonts/TSTAR-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Tstar_Regular';
	src: url('../fonts/TSTAR-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

.boldFont {
     font-family: Tstar_Bold;
     color:#ff9100;
}
.whiteboldFont {
     font-family: Tstar_Bold;
     color:#ffffff;
}
.white-bg {
  background-color: #ffffff;
}

.primary-nav{
  display:none;
}

.light-desc {
  font-family: Tstar_Regular;
  font-size: 15px;
  color: #656565;
}
.header-pad {
  padding-bottom: 10px;
  padding-left: 20px;
}

.padding-top{
	padding-top:15px;
}

.padding-bottom{
	padding-bottom:1%;
}
 .content-padding{
	padding:5%;
	position:relative;
	top:70px; /*change from 140 px*/
	z-index:900;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}

.content-padding-login{
   padding:5%;
}

.content-margin{
	margin:5%;
}

.white-bg{
	background:#FFFFFF;
}

.bold-header{

	font-family: Tstar_Bold;
	font-size: 22px;
	color: #1D2859;
	text-align: left;
	font-weight: bold;
}


.header-margin{
	margin:5%;
}

.label-header {
  font-family: Tstar_Bold;
  font-size: 16px;
  color: #1D2859;
  font-weight: bold;

}

.input-text-font {
  font-family: Tstar_Bold;
  font-size: 14px;
  color: #1D2859;
  font-weight: bold;

}


.input-text {
  width:100%; 
  height:40px;
  padding-left: 10px;
  padding-right: 10px;
  outline:none;
 -webkit-appearance: none;
 -moz-appearance:none;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
  border: 1px solid #EAEDEF;
  border-radius:0;
  
  
}

.text-paddingtop{
	margin-top:8%;	
}

.title-margin{
	
	margin-top:5%;
	margin-left:5%;
	margin-right:5%;
	margin-bottom:2%;
}

.login_body{
background:#eaedef;margin:0
}

 
 .login-logo-container{
	margin-top: 0px;
	text-align:center;
 }
  

 @media only screen
 and (min-device-width : 320px) 
 and (max-device-width : 480px)  {
  
	  .login-logo-container{
			margin-top:30% !important;
			text-align:center;
		
		 }
 }
   
.block{

	 display:inline-block;
	position:relative;
	vertical-align:middle;
}  

.button{
	 
	 display: block; 
	 background:#1D2859 !important;
	 text-align:center; 
	 white-space: nowrap;
	 cursor: pointer;
	 color: #ffffff !important;
	 height:40px;
	 width:100%;
	 font-family:Tstar_Bold;
	 font-size:15px;
	 outline:none;
	 -webkit-appearance: none;
	 -moz-appearance:none;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	  border: 1px solid #1D2859;
	  border-radius:0;
 }		

.mobile-header{

	background:#1D2859;
	position:fixed;
	word-spacing:-1;
	width:100%;
	z-index:2000;
	
}

.mobile-login-header{
   
	background:#1D2859;
	position:relative;
	word-spacing:-1;
	padding:10px;
	
}

.block{

	display:inline-block;
	position:relative;
	vertical-align:middle;
} 

.hyperlink{
	font-family: Tstar_Bold;
    font-size: 14px;
	font-weight:bold;
	text-decoration:none;
	color:#1D2859;
}

/*styling error messages*/
.messageTable{
	border:1px solid #EAEDEF;
	text-align:left;
	width:100%;
	padding:5px;
 
 }
 
.messageText{
 padding: 10px;
 margin:0;
 color:#1D2859;
 font-family:Tstar_Regular;
 }
 
 h4 {
	display: block;
	-webkit-margin-before: 5px;
	-webkit-margin-after: 5px;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	color:#1D2859;
	font-family:Tstar_Bold;
}
/*styling error messages*/

/* menu style:begin*/

.main-container{
	padding:0;
	margin:0;

}

.c-menu{
	position:fixed
}

.c-menu,.o-wrapper{
	
}


.c-menu{
	z-index:200;
	background-color:#67b5d1;
	transition:transform .3s;
	/*margin-top:70px;*/

}

.c-menu__items{
	list-style:none;
	margin-left:-20px;
	margin-right:0;
	margin-top:0;
	margin-bottom:0;
	padding:0;
}


 .c-menu__items::-webkit-scrollbar { 
    display: none; 
 }   

.c-menu--push-left {
	background:#EAEDEF;
	width:80%;
	height:1000%;
}

.c-menu--push-left .c-menu__item{
	display:block;
	border-bottom:solid 1px #1D2859;
	
}

.c-menu--push-left .c-menu__item:first-child,.c-menu--push-left:first-child{
	border-top:none;
}

.menu-title-container{
	display:table;
	background:#1D2859;
	word-spacing:-1;
	line-height:50px;
	height:70px;
	width:100%;
	position:fixed;
	z-index:1000;
	/*margin-top:70px;*/
}

.c-menu__close{
	display:table-cell;
	vertical-align:middle; 
	border-right:1px solid #ffffff;
	height:70px;
	line-height:70px;
	width: 2%;
}

#menu-title-text{
	display:table-cell;
	color:#ffffff;
	vertical-align:middle;
	padding-left:3px;
	font-size:19px; 
	padding-top:7px;
	font-family:Tstar_Bold;
	text-align: center;
	position: relative;
    left: -20px;
}

#image_menu{
	vertical-align:middle;
    height:50px;
    padding-right: 10px;
	font-size: 30px;
	display: table-cell;
}

#image_menu_bar{
	
	vertical-align:middle;
	padding:15px;
	padding-left:11px;
	padding-right:11px;
	font-size: 41px;
}

.menu-outer{
	background:#1D2859;
	color:#FFFFFF;
	font-size:19px;
	line-height:51px;
	padding:10px;
	padding-left:15px;
	font-family:Tstar_Bold;
}

.menu-inner{
	vertical-align:middle;
}

#c-menu-first-subitem{		
	color:#1D2859;
	font-size:16px;
	padding-left:35px;
	padding-top:20px;
	padding-bottom:10px;
	font-family:Tstar_Bold;

}
#c-menu-second-subitem{		
	color:#1D2859;
	font-size:16px;
	padding-bottom:15px;
	padding-left:35px;
	font-family:Tstar_Regular;
}

#c-menu-subitem-text{
	display:table-cell;
	color:#1D2859;
	font-size:16px;
	height:50px;
    padding-left:36px;
	font-family:Tstar_Bold;
	vertical-align: middle;
}

#c-menu-subitem-image{
	
	display:table-cell;
	float:right;
	vertical-align:middle;
	height: 50px;
	
}

.text-image-container{
	/*line-height:50px;
	padding:5px;*/
	display: table;
    width: 100%;
}

.c-menu--push-left{
	top:0;left:0;
	-webkit-transform:translateX(-100%);
	-ms-transform:translateX(-100%);
	transform:translateX(-100%)
}

.c-menu--push-left.is-active{
	
}


body.has-active-menu{
        overflow:hidden;
        position:fixed;
		width:100%;
}


.o-wrapper.has-push-left{
	-webkit-transform:translateX(80%);
	-ms-transform:translateX(80%);
	transform:translateX(80%)
    
}


 .c-menu{
	 -webkit-transition:-webkit-transform .3s
}

.o-wrapper{
 -webkit-transition:-webkit-transform .3s
}
/*menu style: ends*/


/* home screen header:begins*/

.header_text_name{
	float:right;
	color:#FFFFFF;
	padding-top:10px;
	padding-bottom:20px;	
	font-size:16px;
	text-transform: uppercase;
	font-family:Tstar_Bold;
}

.header_text_name_long{
	font-size:50% !important;
	padding-right:2px;
	text-align:right;
}

.padding-top-10px-first-name{
	padding-top:10px;	
}

.padding-top-second-name{
	padding-top:10px;	
}

.padding-right-5px{
	padding-right:5px;
}

.padding-right-20px{
	padding-right:20px;
}

/*home screen:CSS*/
.bold-header-home{

	font-family: Tstar_Bold;
	font-size: 22px;
	color: #1D2859;
	text-align: left;
	font-weight: bold;
}

.notification-bar{
    
    background:#EAEDEF; 
    line-height:20px;
    height:50px;
    width="80%";
}

.margin-top-20px{
    
    margin-top:20px;
}

.notification-text{
    display:inline-block;
    color:#1D2859;
    padding:15.5px;
    font-size:19px;
    font-family:Tstar_Bold;
    vertical-align:middle;
    
}

.notification-image-container{
    
    display:inline-block;
    float:right;
    background:#1D2859
}

.notification-image{
    height:20px;
    width:20px;
    padding:15px;
}

.notification-content-container{
    display:none;
    border:1px solid #EAEDEF;
    padding:10px;
    
}

.notification-content-title{
    color:#1D2859;
    font-family:Tstar_Bold;
    font-size:16px;
}

.notification-main-container{
    line-height:20px;
    padding-top:10px;
	text-align:center;
}

.notification-text-image-container{
    display:inline-block;
    vertical-align:middle;
}

.notification-alert-icon{
    height:20px;
    width:20px;
	vertical-align: middle;
}

.notification-content-text{
    font-family:Tstar_Regular;
    font-size:14px;
    color:#1d2859;
    /*padding-left:30px;*/
}

.margin-top-5percentage{
    margin-top:5%;
}

.services-image-container{
    
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    max-width:25%;
    display:inline-block;
    width: 100%;
    position: absolute;
    margin: auto;
	text-align:center;
    height: 100px; 
	font-size: 100px;
	display:table-cell;
}
/* Smartphones (portrait and landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 320px) 
and (max-device-width : 480px) { 
/* Styles */
	.services-image-container{
		font-size: 80px;
	}
	
} 
 
 
/* Smartphones (portrait) --  --  --  --  -- - */
@media only screen
and (max-width : 320px) { 
/* Styles */
.services-image-container{
		font-size: 80px;
	}
	
 
} 
   
/* iPads (portrait and landscape) --  --  --  --  -- - */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 
/* Styles */
 .services-image-container{
		font-size: 95px;
	}
} 
 
 
/* iPads (portrait) --  --  --  --  -- - */
@media only screen
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
/* Styles */
.services-image-container{
		font-size: 95px;
	}
 
} 
 
/* Desktops and laptops --  --  --  --  -- - */
@media only screen
and (min-width : 1224px) { 
/* Styles */
.services-image-container{
		font-size: 95px;
	}
 
} 
 
/* Large screens --  --  --  --  -- - */
@media only screen
and (min-width : 1824px) { 
/* Styles */
.services-image-container{
		font-size: 100px;
	}
 
} 


.services-title{
    position: absolute;
    left:12.5%;
    right:12.5%;
    margin:auto; 
    font-family:TStar_Bold;
    font-size:14px;
    color:#1D2859;
	padding-top:10px;
}

.left-image{
   
    left:5%;
}

.center-image{
    left:0;
    right:0;
}

.right-image{
   right:5%;
}

#services-margin-top{
    
    margin-top:180px;
}

@media screen and (min-width: 600px) {
    #services-margin-top{
        margin-top:200px;
        
    }
}

/*home-screen:CSS*/

/*Company Info Stylings**/
.address-content {
	float:left;
	font-family: Tstar_Bold;
	font-size:14px;
	width: 100%;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  height:100%;
  z-index:3000;
}


.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%); /* IE 9 */
	-webkit-transform: translate(-50%, -50%); /* Safari */
	background: #fff;
	border-radius: 0px;
	width: 80%;
	position: relative;
	/*transition: all 5s ease-in-out;*/
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: orange;
}
.popup .popup-content {
  max-height: 50%;
  overflow: auto;
  padding: 8px;
  text-align:center;
}

.popup-header-link{
	height: 35px;
    padding-right: 20px;
    padding-left: 20px;
	float:right;
	font-family: Verdana,Arial,sans-serif;
	text-decoration:none;
	font-size:20px;
	color:#ffffff;
	margin-top:-3px;
}

.popup-header-text {
	padding-left: 17px;
}


.popup-header{
background-color:#1D2859;
line-height:35px;
text-align:left;
font-family: TStar_Bold;
font-size:16px;
color: #ffffff;

}
.services-section a:last-child div{
    border-bottom:none;
}

 .company-info-padding{
	padding:5%;
	height:100%;
	position:relative;
	top:70px;
	z-index:900;
	-webkit-transform: translate3d(0,0,0);
	-webkit-backface-visibility:hidden;
	-webkit-perspective:1000;
}
.label-top-bottom-pad{
	padding-top:30px;
	padding-bottom:30px;
}
/*.accordion-section{
	padding-top:20px;
}*/
.accordion-header {
	/*padding:10px;*/
	background-color:#d3d3d3;
	height:30px;
}
.accordion-label
{
	
	padding-left:4px;
	height:30px;
	
}
/*----- Accordion -----*/
.accordion, .accordion * {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}
 
.accordion {
    overflow:hidden;
    /*box-shadow:0px 1px 3px rgba(0,0,0,0.25);*/
    border-radius:0px;
    background:#ffffff;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    height: 50px;
    width:100%;
    text-decoration: none;
    padding-left:15px;
    display:inline-block;
    /*border-bottom:1px solid #1a1a1a;*/
    background:#eaedef;
    transition:all linear 0.15s;/* Type */
    font-size:19px;
    color:#1d2859;
    font-family: Tstar_Bold;
    border: 1px #adadad solid;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background:#eaedef;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    /*border-bottom:none;*/
}
 
/*----- Section Content -----*/
.accordion-section-content {
    /*padding:15px;*/
    display:none;
	border-left:1px #adadad solid;
	border-right:1px #adadad solid;
	/*border-bottom:1px #adadad solid;*/
}
.accordion-title-text {
	display:inline-block;
	height: 50px;
	padding-top: 11px;
}
.info-title{
/*float: left;*/
display: table-cell;
 vertical-align: middle;
 width: 30%;
 border-right: 1px #adadad solid;
  font-family: Tstar_Bold;
  font-size:14px;
  color:#656565;
  /*padding-bottom: 1000px; margin-bottom: -1000px; /*Added For Company Info*/
 
  
/* border-bottom: 1px solid; */}
.info-content{
	/*float: left;*/
	display: table-cell;
	/*width: 70%;*/
	vertical-align: middle;
	/*border-bottom: 1px solid;*/
	font-family: 'Tstar_Light';
	font-size:14px;
}
.clear-section {
  clear: both;
}
.wrapper{
	
}
.address-section {
	padding:15px;
	font-family: Tstar_Bold;
	font-size:14px;
	color:#656565;
	border-bottom: 1px #adadad solid;
}
.row-section {
	overflow:hidden;
	border-bottom: 1px #adadad solid;
	display: table;
    width: 100%;
}
.accordion-image {
	display: table-cell;
	margin: -1px;
	padding:15px;
	width: 52px;
	height: 52px;
	font-size: 20px;
}
.main-bold-header {
	font-size:22px;
	font-family: Tstar_Bold;
	color:#1d2859;
}
.services-section{
	border: 1px #adadad solid;
	
}
.services-section-margin{
    margin-top: 30px;
}
.services-section-margin:last-child{
	margin-bottom: 20px;
}

.services-section:last-child  {
    border-bottom: 1px #adadad solid;
}
/*.services-header:last-child  {
    border-bottom:none;
}*/
.services-header{
	background:#eaedef;
    font-size:19px;
    color:#1d2859;
    font-family: Tstar_Bold;
	padding:15px;
	border-bottom: 1px #adadad solid;
}

.services-row {
	border-bottom:1px #adadad solid;
	background:#ffffff;
	color:#1d2859;
	font-size:14px;
	font-family:Tstar_Regular;
	padding:15px;
}
.services-row:active {
	
	background-color:#C9C6C6;
	box-shadow: 0 0 5px -1px rgba(0,0,0,0.6);
}
.image-block{
	background-color:#1D2859;float:right;display:block;height:50px;width:50px;margin:-1px;
}
.address-row{
	width: 100%;
}
.row-title{
    width: 10%;
	padding: 8px;
	text-align: left;
}
.row-content {
	vertical-align: middle;
    width: 90%;
    text-align: left;
	padding: 8px;
}

/*Company Info Styling Ends here */
.body-margin{
	margin:0px;
}
/*portal top up balance CSS begins*/
 .portal-top-up-container{
	margin-bottom:10px;
	margin-right:15px;
	margin-left:35px;
	margin-top:10px;
	display:none;
}

.payment-option-label{
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:15px;
	padding-bottom:3px;
	padding-right:3px;
	width:20%;
}

.payment-option-label-largescreen{
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:15px;
	padding-bottom:3px;
	padding-right:3px;
	width:20%;
}

.payment-option-dropdown{
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:10px;
	height:30px;
	width:100%;
	padding-left:10px;
	outline:none;
	border: 1px solid #1D2859;	
	 outline:none;
	 -webkit-appearance: none;
	 -moz-appearance:none;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	  border-radius:0;
	background: url('../images/drop_down_arrow.png') no-repeat right 10px top 10px #EAEDEF;
	background-size:10px 8px;
	
	
}

.payment-option-dropdown-largescreen{
	
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:14px;
	height:40px;
	width:100%;
	background:url('../images/drop_down_arrow.png') no-repeat right 20px top 15px #EAEDEF;
	background-size:10px 8px;
	padding-left:10px;
	 outline:none;
	 -webkit-appearance: none;
	 -moz-appearance:none;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	  border: 1px solid #1D2859;
	  border-radius:0;
	
	
}

.payment-option-spacer{
	padding-top:7px;
	display: table;
    width: 100%;
}

.payment-option-spacer-largescreen{
	padding-top: 15px;
    display: table;
    width: 100%;
}

.payment-amount-textbox{
	padding-right:30px;
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	width:100%;
	height:30px;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	padding-left:12px !important;
	margin:0;
	border-radius:0;
	font-size:15px;
	outline:none;
	-webkit-appearance: none;
	border: 1px solid #1D2859;
	font-family:Tstar_Regular;
}

 .payment-amount-textbox-largescreen{
	width:100%;
	height:40px;
	padding:0;
	margin:0;
	padding-left:12px !important;
	font-size:15px;
	 outline:none;
	-webkit-appearance: none;
	-moz-appearance:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #1D2859;
	border-radius:0;
	font-family:Tstar_Regular;

}        
.payment-amount-currency-label{
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:15px;
	position:relative;
	right:5px;
	float:right;

}
.payment-amount-currency-label-largescreen{
	color:#1D2859;
	font-family:Tstar_Bold;
	font-size:15px;
	position:absolute;
	right:25px;
	padding-top:13px;
	
}
.portal-top-up-button{
	 display: table-cell; 
	 background:#1D2859 !important;
	 text-align:center; 
	 white-space: nowrap;
	 cursor: pointer;
	 color: #ffffff !important;   
	 font-family:Tstar_Bold; 
		height:30px;
		font-size;14px;
	 outline:none;
	 -webkit-appearance: none;
	 -moz-appearance:none;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	  border: 1px solid #1D2859;
	  border-radius:0;
	  vertical-align:middle;
}

.portal-top-up-button-largescreen{
	display: table-cell; 
	background:#1D2859 !important;
	text-align:center; 
	white-space: nowrap;
	cursor: pointer;
	color: #ffffff !important;
	width:100%;
	font-family:Tstar_Bold;
	outline:none;
	height:40px;
	font-size;15px;
	-webkit-appearance: none;
	-moz-appearance:none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	border: 1px solid #1D2859;
	border-radius:0;
	vertical-align: middle;
}

.popup_box {      
	display:none;    
 	position:fixed;       
	position:absolute;  
    height:2%;       
    width:80%; 
    left:10px;
	background:#EAEDEF;         
	margin-left: 15px;
    border:2px solid #1D2859;    
    padding:20px;     
    font-size:15px;  
    -moz-box-shadow: 0 0 5px #1D2859;  
    -webkit-box-shadow: 0 0 5px #1D2859;  
    box-shadow: 0 0 5px #1D2859;          
 } 
  
        
 .error_message{
        
    color:#1D2859;
    font-family:Tstar_Bold;
    text-align:justify;
    font-size:12px;
  }
  
 .confirm-button-container{

	text-align:center;
	margin-top:10px;
 
 }
 
 .confirm-ok-button{
	
	text-align:center;
	/*padding-top:12px;*/
	border-right: 1px solid #EAEDEF;
	outline: none !important;
	border: none;
	width:30%;
	color:#FFFFFF;
	background:#1D2859;
	height:30px;
	font-family:Tstar_Bold;
	font-size:15px;
	display:inline-block;
	line-height:30px;
 
 }
 
 .standard-sf-button{
    text-align:center !important;
	border-right: 1px solid #EAEDEF !important;
	outline: none !important;
	border: none !important;
	border-radius:0px !important;
	color:#FFFFFF !important;
	background:#1D2859 !important;
	height:30px !important;
	font-family:Tstar_Bold;
	font-size:12px !important;
 }
 
.confirm{
	display:none;    
	position:fixed;       
	position:absolute;  
	height:3%;       
	width:80%; 
	left:10px;
	background:#EAEDEF;         
	margin-left: 15px;
	border:2px solid #1D2859;    
	padding:20px;     
	font-size:15px;  
	-moz-box-shadow: 0 0 5px #1D2859;  
	-webkit-box-shadow: 0 0 5px #1D2859;  
	box-shadow: 0 0 5px #1D2859;

}

.dialog-title-bar{
	background:#1D2859 !important;
	margin:0;
	padding:0;
	border-radius:0;
	border:none;
}
        
.ui-button:focus { outline:none !important }

.dialog-title{
	
	color:#FFFFFF;
	vertical-align:middle;
	padding-top:5px;
	font-family:Tstar_Bold;
	width:50%;

}

.ui-dialog .ui-dialog-title {
	width:50%;
}

.dialog-close{
	
	padding:5px;
	color:#FFFFFF;
	background:#1D2859;
	border:none;
	font-family:Tstar_Bold;
}

.ui-widget-overlay{
   z-index:2001;
}

.ui-widget{
  z-index:2002 !important;
}


 
/*portal top up balance CSS ends*/

/*Saved Request:begins*/

 
 .more-image{
	font-size:20px;
 }
 
 #container::-webkit-scrollbar {
		width: .1px;
 }             

 .error_message-new{
 
	 color:#1D2859;
	 font-family:Tstar_Bold;
	 text-align:center;
	 font-size:12px;
 
 }

 .table-topbar-container{
	display:table;
	width:100%;
	height:50px;
	border:1px solid #ADADAD;
	background:#1D2859;
	color:#FFFFFF;
	margin:0;
 
 }
 
 .table-top-bar-content{
	display:table-cell;
	vertical-align:middle;
	border-right:1px solid #ADADAD;
	font-family:Tstar_Bold;
	font-size:12px;padding-left:10px;
 }
 
 .col-1-3-width{
	width:20%;
 }
 
 .col-2-width{
	width:50%
 }
 
 .col-4-width{
	width:10%;
 }
 
 .content-container{
	margin-top:3%;
	overflow-y:auto;
	overflow-x:hidden;
	border:1px solid #ADADAD;
 }
 
 .content-row{
	display:table;
	width:100%;
	height:50px;
	border-bottom:1px solid #ADADAD;
	background:#EAEDEF;
 }
 
 .row-content-bold{
    display:table-cell;
    vertical-align:middle;
	width:20%;
    border-right:1px solid #ADADAD;
	font-family:Tstar_Bold;
	font-size:12px;
	color:#000000;
 }
 
 .row-padding-left{
 
	padding-left:10px;
 }
 
 .row-content-regular{
	display:table-cell;
	vertical-align:middle;
	width:50%;
	border-right:1px solid #ADADAD;
	padding-left:10px;
	font-family:Tstar_Regular;
	font-size:12px;
	color:#000000;
 
 }
 
 .submit-button{
	padding-top:2px;
	background:#1D2859;
	color:#FFFFFF;
	font-size:10px;
	font-family:Tstar_Bold;
	height:27px;
	width:51px;
	border:none;
	border-radius:0;
	-webkit-appearance:none;
	
 
 }
 
 .submit-button:-webkit-any-link {
                
	text-decoration: none;
	cursor: auto;
}

.confirm-ok-button:-webkit-any-link {
                
	text-decoration: none;
	cursor: auto;
}
 
.table-cell-alignment{
	display:table-cell;
	vertical-align:middle;
	text-align:center;
}

.paginator .prevNextLinks .prevNext {
    margin: 0 10px !important;
}

/*Saved Request:ends*/

/*Pending actions:start*/
.image-textarea {
	-webkit-appearance: textarea;
	background-color: white;
	border: 1px solid #EAEDEF;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background:none;
}

.image-textarea::-webkit-resizer {
	display: none;
}

 .stepid-link:-webkit-any-link {
  
	text-decoration: none;
	
}

.stepid-view-link{

	color:#000000;
}

.title-service-request{
	 padding:10px;
	 color:#1D2859;
	 border:1px solid #ADADAD;
	 background:#eaedef;
	 text-align:center;
	 font-family:Tstar_Bold;
	  font-size:14px;   
}


#service_no{
  text-decoration:none;
  color:#000000;
}           
		   
/*Pending actions:end*/

.clear-text-decoration {
	text-decoration:none !important;
}

/*User HAndbook Styling**/
.li-section {
	padding-top: 10px;
	font-family: Tstar_Regular;
    font-size: 15px;
    color: #656565;
}
.expand-collapse-text-content {
	list-style-type:none;
	display:none; 
	padding-left: 15px;
}
.expand-collapse-text{
	padding-right: 8px;
}
.handbook-section-wrapper{
	padding: 15px;
}
.expand-collapse-link{
	font-family: Tstar_Bold;
    font-size: 15px;
    color: #1d2859;
	display:block;
}
.ul-margin {
	margin-top:10px;
	margin-bottom:10px;
}

body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }
.li-section  span{
	color: #656565 !important;
	font-family: Tstar_Regular !important; 
}

.disablelink {
	 pointer-events: none;
	 opacity: 0.5;
}
/* Smartphones (portrait) for Company Info row section --  --  --  --  -- - */
@media only screen
and (max-width : 480px) { 
/* Styles */
	.info-title
	{
		width:50% !important;
	}
 
} 

.scroll-arrow
{
	text-align: center;
    padding-top: 15px;
}
.current-balance-image-position
{
	font-size: 30px;
	float: right;
    position: relative;
    top: 27px;
    left: -11px;
}
.icon-pos
{
	float:left;
	margin-right: 10px;
	font-size: 25px;
	
}
.row-area
{
	clear:both;
	height:25px;
}
.help-row-area
{
	line-height: 25px;
}
.help-row-area-text
{
	font-family: Tstar_Bold;
    font-size: 15px;
    color: #1d2859;
	float: left;
}
.help-row-area-content
{
	font-family: Tstar_Regular;
    font-size: 15px;
    color: #1d2859;
	float: left;
	margin-left: 5px;
}
.main-help-container
{
	margin-top:22px;
}
