@charset "UTF-8";
@font-face {font-family: "image-font"; src: url(../fonts/image-font.eot?orgId=00D20000000nkZ5); src: url(../fonts/image-font.eot?orgId=00D20000000nkZ5&#iefix) format("embedded-opentype"), url(../fonts/image-font.woff?orgId=00D20000000nkZ5) format("woff"), url(../fonts/image-font.ttf?orgId=00D20000000nkZ5) format("truetype"), url(../fonts/image-font.svg?orgId=00D20000000nkZ5&image-font) format("svg"); font-weight: normal; font-style: normal}
[data-icon]:before { font-family: "image-font" !important; content: attr(data-icon); font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
[class^="icon-"]:before, [class*=" icon-"]:before { font-family: "image-font" !important; font-style: normal !important; font-weight: normal !important; font-variant: normal !important; text-transform: none !important; speak: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale }
.icon-1:before { content: "q"; color: rgb(29, 40, 89) }
.icon-19:before { content: "b"; color: rgb(29, 40, 89) }
.icon-2:before { content: "x"; color: rgb(29, 40, 89) }
.icon-3:before { content: "d"; color: rgb(29, 40, 89) }
.icon-4:before { content: "y"; color: rgb(29, 40, 89) }
.icon-5:before { content: "f"; color: rgb(29, 40, 89) }
.icon-6:before { content: "g"; color: rgb(29, 40, 89) }
.icon-7:before { content: "h"; color: rgb(29, 40, 89) }
.icon-8:before { content: "i"; color: rgb(29, 40, 89) }
.icon-9:before { content: "j"; color: rgb(29, 40, 89) }
.icon-10:before { content: "k"; color: rgb(29, 40, 89) }
.icon-11:before { content: "l"; color: rgb(255, 255, 255) }
.icon-12:before { content: "k"; color: rgb(29, 40, 89) }
.icon-13:before { content: "n"; color: rgb(29, 40, 89) }
.icon-14:before { content: "o"; color: rgb(255, 255, 255) }
.icon-15:before { content: "p"; color: rgb(29, 40, 89) }
.icon-menu:before { content: "w"; color: rgb(255, 255, 255) }
.icon-17:before { content: "r"; color: rgb(29, 40, 89) }
.icon-18:before { content: "s"; color: rgb(255, 255, 255) }
.icon-20:before { content: "z"; color: rgb(29, 40, 89) }
.icon-21:before { content: "u"; color: rgb(255, 255, 255) }
.icon-22:before { color: rgb(255, 255, 255); content: "v" }
.icon-23:before { color: rgb(29, 40, 89); content: "c" }
.icon-24:before { color: rgb(29, 40, 89); content: "n" }
.icon-25:before { color: rgb(29, 40, 89); content: "e" }
.icon-26:before { color: rgb(29, 40, 89); content: "m" }
