@font-face {font-family: "Tstar_Light"; src: url(../fonts/TSTAR-Light.otf?orgId=00D20000000nkZ5); font-weight: 400; font-style: normal}
@font-face {font-family: "Tstar_Bold"; src: url(../fonts/TSTAR-Bold.otf?orgId=00D20000000nkZ5); font-weight: 400; font-style: normal}
@font-face {font-family: "Tstar_Regular"; src: url(../fonts/TSTAR-Regular.otf?orgId=00D20000000nkZ5); font-weight: 400; font-style: normal}
.boldFont { font-family: Tstar_Bold; color: rgb(255, 145, 0) }
.whiteboldFont { font-family: Tstar_Bold; color: rgb(255, 255, 255) }
.white-bg { background-color: rgb(255, 255, 255) }
.primary-nav { display: none }
.light-desc { font-family: Tstar_Regular; font-size: 15px; color: rgb(101, 101, 101) }
.header-pad { padding-bottom: 10px; padding-left: 20px }
.padding-top { padding-top: 15px }
.padding-bottom { padding-bottom: 1% }
.content-padding { padding: 5%; position: relative; top: 70px; z-index: 900; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000 }
.content-padding-login { padding: 5% }
.content-margin { margin: 5% }
.white-bg { background: rgb(255, 255, 255) }
.bold-header { font-family: Tstar_Bold; font-size: 22px; color: rgb(29, 40, 89); text-align: left; font-weight: 700 }
.header-margin { margin: 5% }
.label-header { font-family: Tstar_Bold; font-size: 16px; color: rgb(29, 40, 89); font-weight: 700 }
.input-text-font { font-family: Tstar_Bold; font-size: 14px; color: rgb(29, 40, 89); font-weight: 700 }
.input-text { width: 100%; height: 40px; padding-left: 10px; padding-right: 10px; outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(234, 237, 239); border-radius: 0 }
.text-paddingtop { margin-top: 8% }
.title-margin { margin: 5% 5% 2% }
.login_body { background: rgb(234, 237, 239); margin: 0 }
.login-logo-container { margin-top: 0; text-align: center }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {.login-logo-container { margin-top: 30% !important; text-align: center } }
.block { display: inline-block; position: relative; vertical-align: middle }
.button { display: block; background: rgb(29, 40, 89) !important; text-align: center; white-space: nowrap; cursor: pointer; color: rgb(255, 255, 255) !important; height: 40px; width: 100%; font-family: Tstar_Bold; font-size: 15px; outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(29, 40, 89); border-radius: 0 }
.mobile-header { background: rgb(29, 40, 89); position: fixed; word-spacing: -1px; width: 100%; z-index: 2000 }
.mobile-login-header { background: rgb(29, 40, 89); position: relative; word-spacing: -1px; padding: 10px }
.block { display: inline-block; position: relative; vertical-align: middle }
.hyperlink { font-family: Tstar_Bold; font-size: 14px; font-weight: 700; text-decoration: none; color: rgb(29, 40, 89) }
.messageTable { border: 1px solid rgb(234, 237, 239); text-align: left; width: 100%; padding: 5px }
.messageText { padding: 10px; margin: 0; color: rgb(29, 40, 89); font-family: Tstar_Regular }
h4 { display: block; -webkit-margin-before: 5px; -webkit-margin-after: 5px; -webkit-margin-start: 0; -webkit-margin-end: 0; color: rgb(29, 40, 89); font-family: Tstar_Bold }
.main-container { padding: 0; margin: 0 }
.c-menu { position: fixed; z-index: 200; background-color: rgb(103, 181, 209); transition: transform 0.3s }
.c-menu__items { list-style: none; padding: 0; margin: 0 0 0 -20px }
.c-menu__items:-webkit-scrollbar { display: none }
.c-menu--push-left { background: rgb(234, 237, 239); width: 80%; height: 1000% }
.c-menu--push-left .c-menu__item { display: block; border-bottom: solid 1px rgb(29, 40, 89) }
.c-menu--push-left .c-menu__item:first-child, .c-menu--push-left:first-child { border-top: none }
.menu-title-container { display: table; background: rgb(29, 40, 89); word-spacing: -1px; line-height: 50px; height: 70px; width: 100%; position: fixed; z-index: 1000 }
.c-menu__close { display: table-cell; vertical-align: middle; border-right: 1px solid rgb(255, 255, 255); height: 70px; line-height: 70px; width: 2% }
#menu-title-text { display: table-cell; color: rgb(255, 255, 255); vertical-align: middle; padding-left: 3px; font-size: 19px; padding-top: 7px; font-family: Tstar_Bold; text-align: center; position: relative; left: -20px }
#image_menu { vertical-align: middle; height: 50px; padding-right: 10px; font-size: 30px; display: table-cell }
#image_menu_bar { vertical-align: middle; padding: 15px; padding-left: 11px; padding-right: 11px; font-size: 41px }
.menu-outer { background: rgb(29, 40, 89); color: rgb(255, 255, 255); font-size: 19px; line-height: 51px; padding: 10px; padding-left: 15px; font-family: Tstar_Bold }
.menu-inner { vertical-align: middle }
#c-menu-first-subitem { color: rgb(29, 40, 89); font-size: 16px; padding-left: 35px; padding-top: 20px; padding-bottom: 10px; font-family: Tstar_Bold }
#c-menu-second-subitem { color: rgb(29, 40, 89); font-size: 16px; padding-bottom: 15px; padding-left: 35px; font-family: Tstar_Regular }
#c-menu-subitem-text { display: table-cell; color: rgb(29, 40, 89); font-size: 16px; height: 50px; padding-left: 36px; font-family: Tstar_Bold; vertical-align: middle }
#c-menu-subitem-image { display: table-cell; float: right; vertical-align: middle; height: 50px }
.text-image-container { display: table; width: 100% }
.c-menu--push-left { top: 0; left: 0; -webkit-transform: translateX(-100%); -ms-transform: translateX(-100%); transform: translateX(-100%) }
body.has-active-menu { overflow: hidden; position: fixed; width: 100% }
.o-wrapper.has-push-left { -webkit-transform: translateX(80%); -ms-transform: translateX(80%); transform: translateX(80%) }
.c-menu { -webkit-transition: -webkit-transform 0.3s }
.o-wrapper { -webkit-transition: -webkit-transform 0.3s }
.header_text_name { float: right; color: rgb(255, 255, 255); padding-top: 10px; padding-bottom: 20px; font-size: 16px; text-transform: uppercase; font-family: Tstar_Bold }
.header_text_name_long { font-size: 50% !important; padding-right: 2px; text-align: right }
.padding-top-10px-first-name { padding-top: 10px }
.padding-top-second-name { padding-top: 10px }
.padding-right-5px { padding-right: 5px }
.padding-right-20px { padding-right: 20px }
.bold-header-home { font-family: Tstar_Bold; font-size: 22px; color: rgb(29, 40, 89); text-align: left; font-weight: 700 }
.notification-bar { background: rgb(234, 237, 239); line-height: 20px; height: 50px; width: 80% }
.margin-top-20px { margin-top: 20px }
.notification-text { display: inline-block; color: rgb(29, 40, 89); padding: 15.5px; font-size: 19px; font-family: Tstar_Bold; vertical-align: middle }
.notification-image-container { display: inline-block; float: right; background: rgb(29, 40, 89) }
.notification-image { height: 20px; width: 20px; padding: 15px }
.notification-content-container { display: none; border: 1px solid rgb(234, 237, 239); padding: 10px }
.notification-content-title { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 16px }
.notification-main-container { line-height: 20px; padding-top: 10px; text-align: center }
.notification-text-image-container { display: inline-block; vertical-align: middle }
.notification-alert-icon { height: 20px; width: 20px; vertical-align: middle }
.notification-content-text { font-family: Tstar_Regular; font-size: 14px; color: rgb(29, 40, 89) }
.margin-top-5percentage { margin-top: 5% }
.services-image-container { background-repeat: no-repeat; background-size: contain; background-position: center; max-width: 25%; display: inline-block; width: 100%; position: absolute; margin: auto; text-align: center; height: 100px; font-size: 100px; display: table-cell }
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {.services-image-container { font-size: 80px } }
@media only screen and (max-width: 320px) {.services-image-container { font-size: 80px } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {.services-image-container { font-size: 95px } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {.services-image-container { font-size: 95px } }
@media only screen and (min-width: 1224px) {.services-image-container { font-size: 95px } }
@media only screen and (min-width: 1824px) {.services-image-container { font-size: 100px } }
.services-title { position: absolute; left: 12.5%; right: 12.5%; margin: auto; font-family: TStar_Bold; font-size: 14px; color: rgb(29, 40, 89); padding-top: 10px }
.left-image { left: 5% }
.center-image { left: 0; right: 0 }
.right-image { right: 5% }
#services-margin-top { margin-top: 180px }
@media screen and (min-width: 600px) {#services-margin-top { margin-top: 200px } }
.address-content { float: left; font-family: Tstar_Bold; font-size: 14px; width: 100% }
.overlay { position: fixed; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7); transition: opacity 500ms; visibility: hidden; opacity: 0; height: 100%; z-index: 3000 }
.overlay:target { visibility: visible; opacity: 1 }
.popup { left: 50%; top: 50%; transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); background: rgb(255, 255, 255); border-radius: 0; width: 80%; position: relative }
.popup .close { position: absolute; top: 20px; right: 30px; transition: all 200ms; font-size: 30px; font-weight: 700; text-decoration: none; color: rgb(51, 51, 51) }
.popup .close:hover { color: orange }
.popup .popup-content { max-height: 50%; overflow: auto; padding: 8px; text-align: center }
.popup-header-link { height: 35px; padding-right: 20px; padding-left: 20px; float: right; font-family: Verdana, Arial, sans-serif; text-decoration: none; font-size: 20px; color: rgb(255, 255, 255); margin-top: -3px }
.popup-header-text { padding-left: 17px }
.popup-header { background-color: rgb(29, 40, 89); line-height: 35px; text-align: left; font-family: TStar_Bold; font-size: 16px; color: rgb(255, 255, 255) }
.services-section a:last-child div { border-bottom: none }
.company-info-padding { padding: 5%; height: 100%; position: relative; top: 70px; z-index: 900; -webkit-transform: translate3d(0, 0, 0); -webkit-backface-visibility: hidden; -webkit-perspective: 1000 }
.label-top-bottom-pad { padding-top: 30px; padding-bottom: 30px }
.accordion-header { background-color: rgb(211, 211, 211); height: 30px }
.accordion-label { padding-left: 4px; height: 30px }
.accordion, .accordion * { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box }
.accordion { overflow: hidden; border-radius: 0; background: rgb(255, 255, 255) }
.accordion-section-title { height: 50px; width: 100%; text-decoration: none; padding-left: 15px; display: inline-block; background: rgb(234, 237, 239); transition: all linear 0.15s; font-size: 19px; color: rgb(29, 40, 89); font-family: Tstar_Bold; border: 1px rgb(173, 173, 173) solid }
.accordion-section-title.active, .accordion-section-title:hover { background: rgb(234, 237, 239); text-decoration: none }
.accordion-section-content { display: none; border-left: 1px rgb(173, 173, 173) solid; border-right: 1px rgb(173, 173, 173) solid }
.accordion-title-text { display: inline-block; height: 50px; padding-top: 11px }
.info-title { display: table-cell; vertical-align: middle; width: 30%; border-right: 1px rgb(173, 173, 173) solid; font-family: Tstar_Bold; font-size: 14px; color: rgb(101, 101, 101) }
.info-content { display: table-cell; vertical-align: middle; font-family: "Tstar_Light"; font-size: 14px }
.clear-section { clear: both }
.address-section { padding: 15px; font-family: Tstar_Bold; font-size: 14px; color: rgb(101, 101, 101); border-bottom: 1px rgb(173, 173, 173) solid }
.row-section { overflow: hidden; border-bottom: 1px rgb(173, 173, 173) solid; display: table; width: 100% }
.accordion-image { display: table-cell; margin: -1px; padding: 15px; width: 52px; height: 52px; font-size: 20px }
.main-bold-header { font-size: 22px; font-family: Tstar_Bold; color: rgb(29, 40, 89) }
.services-section { border: 1px rgb(173, 173, 173) solid }
.services-section-margin { margin-top: 30px }
.services-section-margin:last-child { margin-bottom: 20px }
.services-section:last-child { border-bottom: 1px rgb(173, 173, 173) solid }
.services-header { background: rgb(234, 237, 239); font-size: 19px; color: rgb(29, 40, 89); font-family: Tstar_Bold; padding: 15px; border-bottom: 1px rgb(173, 173, 173) solid }
.services-row { border-bottom: 1px rgb(173, 173, 173) solid; background: rgb(255, 255, 255); color: rgb(29, 40, 89); font-size: 14px; font-family: Tstar_Regular; padding: 15px }
.services-row:active { background-color: rgb(201, 198, 198); box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6) }
.image-block { background-color: rgb(29, 40, 89); float: right; display: block; height: 50px; width: 50px; margin: -1px }
.address-row { width: 100% }
.row-title { width: 10%; padding: 8px; text-align: left }
.row-content { vertical-align: middle; width: 90%; text-align: left; padding: 8px }
.body-margin { margin: 0 }
.portal-top-up-container { display: none; margin: 10px 15px 10px 35px }
.payment-option-label { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 15px; padding-bottom: 3px; padding-right: 3px; width: 20% }
.payment-option-label-largescreen { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 15px; padding-bottom: 3px; padding-right: 3px; width: 20% }
.payment-option-dropdown { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 10px; height: 30px; width: 100%; padding-left: 10px; outline: none; border: 1px solid rgb(29, 40, 89); outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border-radius: 0; background: url(../images/drop_down_arrow.png) no-repeat right 10px top 10px rgb(234, 237, 239); background-size: 10px 8px }
.payment-option-dropdown-largescreen { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 14px; height: 40px; width: 100%; background: url(../images/drop_down_arrow.png) no-repeat right 20px top 15px rgb(234, 237, 239); background-size: 10px 8px; padding-left: 10px; outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(29, 40, 89); border-radius: 0 }
.payment-option-spacer { padding-top: 7px; display: table; width: 100% }
.payment-option-spacer-largescreen { padding-top: 15px; display: table; width: 100% }
.payment-amount-textbox { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; width: 100%; height: 30px; padding-right: 0; margin: 0; border-radius: 0; font-size: 15px; outline: none; -webkit-appearance: none; border: 1px solid rgb(29, 40, 89); font-family: Tstar_Regular; padding: 0 30px 0 12px !important }
.payment-amount-textbox-largescreen { width: 100%; height: 40px; padding: 0; margin: 0; padding-left: 12px !important; font-size: 15px; outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(29, 40, 89); border-radius: 0; font-family: Tstar_Regular }
.payment-amount-currency-label { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 15px; position: relative; right: 5px; float: right }
.payment-amount-currency-label-largescreen { color: rgb(29, 40, 89); font-family: Tstar_Bold; font-size: 15px; position: absolute; right: 25px; padding-top: 13px }
.portal-top-up-button { display: table-cell; background: rgb(29, 40, 89) !important; text-align: center; white-space: nowrap; cursor: pointer; color: rgb(255, 255, 255) !important; font-family: Tstar_Bold; height: 30px; outline: none; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(29, 40, 89); border-radius: 0; vertical-align: middle }
.portal-top-up-button-largescreen { display: table-cell; background: rgb(29, 40, 89) !important; text-align: center; white-space: nowrap; cursor: pointer; color: rgb(255, 255, 255) !important; width: 100%; font-family: Tstar_Bold; outline: none; height: 40px; -webkit-appearance: none; -moz-appearance: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; border: 1px solid rgb(29, 40, 89); border-radius: 0; vertical-align: middle }
.popup_box { display: none; position: fixed; position: absolute; height: 2%; width: 80%; left: 10px; background: rgb(234, 237, 239); margin-left: 15px; border: 2px solid rgb(29, 40, 89); padding: 20px; font-size: 15px; -moz-box-shadow: 0 0 5px rgb(29, 40, 89); -webkit-box-shadow: 0 0 5px rgb(29, 40, 89); box-shadow: 0 0 5px rgb(29, 40, 89) }
.error_message { color: rgb(29, 40, 89); font-family: Tstar_Bold; text-align: justify; font-size: 12px }
.confirm-button-container { text-align: center; margin-top: 10px }
.confirm-ok-button { text-align: center; border-right: 1px solid rgb(234, 237, 239); outline: none !important; border: none; width: 30%; color: rgb(255, 255, 255); background: rgb(29, 40, 89); height: 30px; font-family: Tstar_Bold; font-size: 15px; display: inline-block; line-height: 30px }
.standard-sf-button { text-align: center !important; border-right: 1px solid rgb(234, 237, 239) !important; outline: none !important; border: none !important; border-radius: 0 !important; color: rgb(255, 255, 255) !important; background: rgb(29, 40, 89) !important; height: 30px !important; font-family: Tstar_Bold; font-size: 12px !important }
.confirm { display: none; position: fixed; position: absolute; height: 3%; width: 80%; left: 10px; background: rgb(234, 237, 239); margin-left: 15px; border: 2px solid rgb(29, 40, 89); padding: 20px; font-size: 15px; -moz-box-shadow: 0 0 5px rgb(29, 40, 89); -webkit-box-shadow: 0 0 5px rgb(29, 40, 89); box-shadow: 0 0 5px rgb(29, 40, 89) }
.dialog-title-bar { background: rgb(29, 40, 89) !important; margin: 0; padding: 0; border-radius: 0; border: none }
.ui-button:focus { outline: none !important }
.dialog-title { color: rgb(255, 255, 255); vertical-align: middle; padding-top: 5px; font-family: Tstar_Bold; width: 50% }
.ui-dialog .ui-dialog-title { width: 50% }
.dialog-close { padding: 5px; color: rgb(255, 255, 255); background: rgb(29, 40, 89); border: none; font-family: Tstar_Bold }
.ui-widget-overlay { z-index: 2001 }
.ui-widget { z-index: 2002 !important }
.more-image { font-size: 20px }
#container:-webkit-scrollbar { width: 0.1px }
.error_message-new { color: rgb(29, 40, 89); font-family: Tstar_Bold; text-align: center; font-size: 12px }
.table-topbar-container { display: table; width: 100%; height: 50px; border: 1px solid rgb(173, 173, 173); background: rgb(29, 40, 89); color: rgb(255, 255, 255); margin: 0 }
.table-top-bar-content { display: table-cell; vertical-align: middle; border-right: 1px solid rgb(173, 173, 173); font-family: Tstar_Bold; font-size: 12px; padding-left: 10px }
.col-1-3-width { width: 20% }
.col-2-width { width: 50% }
.col-4-width { width: 10% }
.content-container { margin-top: 3%; overflow-y: auto; overflow-x: hidden; border: 1px solid rgb(173, 173, 173) }
.content-row { display: table; width: 100%; height: 50px; border-bottom: 1px solid rgb(173, 173, 173); background: rgb(234, 237, 239) }
.row-content-bold { display: table-cell; vertical-align: middle; width: 20%; border-right: 1px solid rgb(173, 173, 173); font-family: Tstar_Bold; font-size: 12px; color: rgb(0, 0, 0) }
.row-padding-left { padding-left: 10px }
.row-content-regular { display: table-cell; vertical-align: middle; width: 50%; border-right: 1px solid rgb(173, 173, 173); padding-left: 10px; font-family: Tstar_Regular; font-size: 12px; color: rgb(0, 0, 0) }
.submit-button { padding-top: 2px; background: rgb(29, 40, 89); color: rgb(255, 255, 255); font-size: 10px; font-family: Tstar_Bold; height: 27px; width: 51px; border: none; border-radius: 0; -webkit-appearance: none }
.submit-button:-webkit-any-link { text-decoration: none; cursor: auto }
.confirm-ok-button:-webkit-any-link { text-decoration: none; cursor: auto }
.table-cell-alignment { display: table-cell; vertical-align: middle; text-align: center }
.paginator .prevNextLinks .prevNext { margin: 0 10px !important }
.image-textarea { -webkit-appearance: textarea; background-color: rgb(255, 255, 255); border: 1px solid rgb(234, 237, 239); outline: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; background: none }
.image-textarea:-webkit-resizer { display: none }
.stepid-link:-webkit-any-link { text-decoration: none }
.stepid-view-link { color: rgb(0, 0, 0) }
.title-service-request { padding: 10px; color: rgb(29, 40, 89); border: 1px solid rgb(173, 173, 173); background: rgb(234, 237, 239); text-align: center; font-family: Tstar_Bold; font-size: 14px }
#service_no { text-decoration: none; color: rgb(0, 0, 0) }
.clear-text-decoration { text-decoration: none !important }
.li-section { padding-top: 10px; font-family: Tstar_Regular; font-size: 15px; color: rgb(101, 101, 101) }
.expand-collapse-text-content { list-style-type: none; display: none; padding-left: 15px }
.expand-collapse-text { padding-right: 8px }
.handbook-section-wrapper { padding: 15px }
.expand-collapse-link { font-family: Tstar_Bold; font-size: 15px; color: rgb(29, 40, 89); display: block }
.ul-margin { margin-top: 10px; margin-bottom: 10px }
body { -webkit-touch-callout: none !important }
a { -webkit-user-select: none !important }
.li-section span { color: rgb(101, 101, 101) !important; font-family: Tstar_Regular !important }
.disablelink { pointer-events: none; opacity: 0.5 }
@media only screen and (max-width: 480px) {.info-title { width: 50% !important } }
.scroll-arrow { text-align: center; padding-top: 15px }
.current-balance-image-position { font-size: 30px; float: right; position: relative; top: 27px; left: -11px }
.icon-pos { float: left; margin-right: 10px; font-size: 25px }
.row-area { clear: both; height: 25px }
.help-row-area { line-height: 25px }
.help-row-area-text { font-family: Tstar_Bold; font-size: 15px; color: rgb(29, 40, 89); float: left }
.help-row-area-content { font-family: Tstar_Regular; font-size: 15px; color: rgb(29, 40, 89); float: left; margin-left: 5px }
.main-help-container { margin-top: 22px }
