/* Foundation v2.1.4 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

table th { font-weight: bold; }
table td, table th { padding: 9px 10px; text-align: left; }

/* Mobile */
@media only screen and (max-width: 767px) {
	/*
	table.responsive { margin-bottom: 0; }
	
	.pinned { position: absolute; left: 0; top: 0; background: #fff; width: 15%; overflow: hidden; overflow-x: scroll; border-right: 1px solid #ccc; border-left: 1px solid #ccc; height:100% }
	.pinned table { border-right: none; border-left: none; width: 100%; }
	.pinned table th, .pinned table td { white-space: nowrap; }
	.pinned td:last-child { border-bottom: 0; }
	
	div.table-wrapper { position: relative; margin-bottom: 20px; overflow: hidden; border-right: 1px solid #ccc; }
	div.table-wrapper div.scrollable table { margin-left: 15%; font-size:12px;}
	div.table-wrapper div.scrollable { overflow: scroll; overflow-y: hidden; }	
	
	table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
	table.responsive th:first-child, table.responsive td:first-child, table.responsive td:first-child, table.responsive.pinned td { display: none; }
	*/
	.list {width:200% !important;}
	.pinned {display:none;}
	div.table-wrapper div.scrollable {
		overflow: scroll; overflow-y: hidden; 
		
		}
	/*
	div.table-wrapper div.scrollable::-webkit-scrollbar:horizontal {
			height: 12px;
	}			
	div.table-wrapper div.scrollable::-webkit-scrollbar-thumb:horizontal {
			background-color: #C2D2E4;
			height: 12px;
		}
	div.table-wrapper div.scrollable::-moz-scrollbar:horizontal {
			height: 12px;
	}			
	div.table-wrapper div.scrollable::-moz-scrollbar-thumb:horizontal {
			background-color: #C2D2E4;
			height: 12px;
		}*/
	div.table-wrapper div.scrollable::-webkit-scrollbar {
		height: 12px;
	}
	div.table-wrapper div.scrollable::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
		-webkit-border-radius: 10px;
		border-radius: 10px;
	}
	div.table-wrapper div.scrollable::-webkit-scrollbar-thumb {
		-webkit-border-radius: 10px;
		border-radius: 10px;
		background: #C2D2E4; 
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
}

/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


