.THIS .none{
    display:none; }



.THIS .difc-custom-padding label { 
padding-bottom: 5px;
}

.THIS .slds-form-element__label {
    padding-top: 0;
}

.THIS .difc-name-text	{
	color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 16px;
    font-weight: 900;
    line-height: 18px;
}