.THIS.difc-acrd-temp-container {
  margin-top: 20px;
}

.THIS .difc-acrd-content {
  background-color: inherit;
}

.THIS .difc-align {
  justify-content: center;

  align-items: center;
}

.THIS .difc-acrd-content-inact {
  background-color: #f8f7f8 !important;
}

.THIS .difc-inact-text {
  color: #5b5b5b !important;
}

.THIS .difc-make-sticky {
  margin-left: 7%;
  position: sticky;
  top: 2%;
}

.THIS .difc-pathway-guid {
  padding: 7%;
  background-color: #4a4a4a;
}

.THIS .difc-pathway-description {
  padding: 7%;

  background-color: #f6f6f6;
  color: #706e6b;
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.07px;
  line-height: 21px;
}

.THIS .difc-pathway-guid-card {
  background-color: white;
  color: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  font-family: "EuclidSquare-Medium";
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.55px;
  line-height: 24px;
}

.THIS .difc-pages-card {
  background-color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.THIS .difc-pages-card-inactive {
  background-color: #f8f7f8;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.THIS .difc-bold-text {
  padding: 7%;
  background-color: #f6f6f6;
  color: #4a4a4a;
  font-family: "EuclidSquare-light";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.07px;
  line-height: 21px;
}

.THIS .slds-progress__marker {
  border: 4px solid #4a4a4a;
  background-color: #ffffff;
  height: 20px;
  width: 20px;
  background-color: inherit;
}

.THIS .difc-sla {
  color: #4a4a4a;
  float: right;
  padding-right: 6%;
  font-family: "EuclidSquare-light";
  font-size: 14px;
  font-weight: 600;
}

.THIS .difc-heading {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 20px;
  font-weight: 900;
  line-height: 1 !important;
  width: 100%;
}

.THIS .difc-card-padding {
  padding: 0.75rem 0;
}

.THIS .difc-left {
  margin-left: 40%;
}

.THIS .difc-design-line {
  margin-left: calc(40% + 8.5px);
  width: 2px;
  height: 2rem;
  background: #ccd1d9;
  position: relative;
  top: 0.5rem;
  z-index: 1;
}

.THIS .difc-acrd-body {
  /*margin: 0 calc(0.75rem + (16.666667% * 0.4) - 0.5rem);*/
  padding: 4% calc(0.75rem + (16.666667% * 0.4) - 0.5rem);
  padding-bottom: 0;
  /*
	max-height: 50rem;
	overflow: scroll;
	overflow-x: hidden;
    */
}

.THIS .difc-button-outline {
  border: 2px solid #000000;
  padding: 0.5rem;
  font-family: "EuclidSquare-Medium";
  font-size: 13px;
  font-weight: 500;
  min-width: 100px;
}

.THIS .difc-button-dark {
  background-color: #000000;
  border: 2px solid #000000;
  color: #ffffff;
  padding: 0.5rem;
  font-family: "EuclidSquare-Medium";
  font-size: 13px;
  font-weight: 500;
  min-width: 100px;
}

.THIS .difc-card-container {
  width: 100%;
  position: relative;
}

.THIS .difc-card-container:before {
  content: "";
  position: absolute;
  margin-left: 7px;
  width: 2px;
  height: 100%;
  background-color: rgb(221, 219, 218);
  z-index: 1;
}

.THIS .difc-card-container-completed {
  width: 100%;
  position: relative;
}

.THIS .difc-card-container-completed:before {
  content: "";
  position: absolute;
  margin-left: 7px;
  width: 2px;
  height: 100%;
  background-color: #4a4a4a;
  z-index: 1;
}

.THIS .difc-timeline-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
  clear: both;
  padding-bottom: 2rem;
}

.THIS .timeline-content {
  width: 100%;
  padding: 0 calc(16.66666% * 0.6 - 2px + 0.75rem);
  line-height: 1;
}

.THIS .difc-progress-dot {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: 50%;
  background: rgb(221, 219, 218);
  border: 4px solid rgb(255, 255, 255);
  z-index: 2;
}

.THIS .difc-progress-check {
  width: 1rem;
  height: 1rem;
  position: relative;
  border-radius: 50%;
  background-color: white;
  z-index: 2;
}

.THIS .difc-sec-iteam-text label {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
}

.THIS .difc-extra-padding {
  padding-bottom: 1.75rem;
}

.THIS .difc-label {
  margin-bottom: 0.5rem;
  color: #000000;
  font-family: "EuclidSquare-Medium";

  font-size: 14px;

  font-weight: 500;
}

.THIS .difc-name-text {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 16px;
  font-weight: 900;
  line-height: 18px;
}

.THIS .diff-name-details {
  color: #9d9d9d;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 20px;
  padding: 5px 0;
}

.THIS .difc-botton-sec {
  width: calc(102% + 2 * (0.75rem + (16.666667% * 0.4) - 0.5rem));
  position: relative;
  right: calc(0.75rem + 1% + (16.666667% * 0.4) - 0.5rem);
}

.THIS .difc-button-right {
  text-align: right;
}

.THIS .difc-review {
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 500;
  background-color: inherit;
  bottom: 0.5rem;
  padding: 0 !important;
  color: #a0a0a0 !important;
}

.THIS .difc-review:focus {
  background-color: inherit;
  box-shadow: none !important;
}

.THIS .difc-icon {
  height: 20px;
  width: 20px;
}

.THIS .difc-square-button {
  border-radius: 0 !important;
}

.THIS .difc-remove-lable .slds-form-element__label {
  display: none;
}

.THIS .difc-form-icons .slds-button__icon {
  width: 1.1rem;
  height: 1.1rem;
}

.THIS .difc-form-icons .slds-button:focus {
  outline: 0;
  box-shadow: none;
}

.THIS .difc-input-placeholder-design .slds-form-element__control::before {
  content: "shares";

  position: absolute;
  right: 0.5rem;
  margin-top: 0.5rem;

  font-weight: 600;
}

.THIS .difc-min-content {
  max-width: min-content;
}

.THIS .black-table-header {
  color: white;
  background-color: black;
}

.THIS .difc-extend-width {
  width: 110%;
}

.THIS .difc-truncate-search-list {
  max-height: 20rem;
  overflow-y: scroll;
}

.THIS .slds-required {
  display: none;
}

.THIS .difc-white {
  background-color: white;
}

.THIS .share-allocation-button {
  width: 25%;
}

.THIS .difc-disabled {
  color: #e3e3e3 !important;
}

.THIS .page-Description {
  color: #515151;
  font-family: "EuclidSquare-Medium";
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding-top: 1%;
}

.THIS .difc-field-des {
  color: #515151;
  font-family: "EuclidSquare-Light";
  font-size: 12px;
  font-weight: 300;
  line-height: 17px;
  margin-top: 5px;
}

.THIS .difc-field-count {
  color: #000000;
  font-family: "EuclidSquare-Medium";
  font-size: 18px;
  font-weight: 900;
  letter-spacing: -0.09px;
  line-height: 21px;
  padding-left: calc((16.666667% * 0.4) - 0.5rem);

  margin-top: 1rem;
  margin-bottom: 0;
  margin-left: 0.25rem;
}

.THIS .close {
  position: absolute;
  right: 32px;
  top: 22px;
  width: 32px;
  height: 32px;
  opacity: 1;
}

.THIS .close:hover {
  opacity: 1;
}

.THIS .close:before,
.THIS .close:after {
  position: absolute;

  left: 30px;

  content: " ";

  height: 18px;

  width: 2.3px;

  background-color: #333;
}

.THIS .close:before {
  transform: rotate(45deg);
}

.THIS .close:after {
  transform: rotate(-45deg);
}