
@media (min-width: 768px) and (max-width: 939px) {

	.hidden-grid{
		display: none !important;
	}

	.hidden-tablet{
		display: none !important;
	}


	/*** top bar ***/

	.top-nav.news ul.mobile-logo{
		display: block !important;
		padding-left: 10px;
		padding-top: 5px;
		position: relative;
		z-index: 9999;
	}
	
	.top-bar .mobile-lang{
		position: absolute;
		right: 150px;
		top: 0;
		z-index: 99999;
	}
	
	.top-bar .name{
		height: 40px;
	}
	
	.top-bar.expanded{
		overflow: visible;
	}
	
	.top-bar.expanded .title-area{
		background: #1c252d;
		margin-bottom: 0;
		padding: 0;
	}
	
	.top-bar.expanded .toggle-topbar a span{
		box-shadow: none;
		-webkit-box-shadow:none;
	}
	
	.top-bar .toggle-topbar{
		width: 95px;	
	}
	
	
	.top-bar .toggle-topbar a{
		height: 40px;
		padding-left: 0;
		background: #60666c;
		padding-right: 0;
	}
	
	.top-bar .toggle-topbar a span{
		float: left;
		position: relative;
		text-transform: none;
		font-family: "CentroSanLight";
		font-weight: lighter;
		font-size: 14px;
		top:-1px;
		left: 0px;
		background-color: #1c252d;
		padding-right: 13px;
	}
	
	.top-bar .toggle-topbar a .icon-user{
		position: absolute;
		right: 5px;
		top:10px;		
	}
	
	.top-bar-section ul li{
		float: left;
	}
	
	nav.top-bar ul{
		padding: 0;
	}
	
	.top-bar.expanded .top-bar-section ul.right{
		background: #e9e8e9;
		padding: 20px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 9999;
		width: 100%;
	}
	
	.top-bar.expanded .top-bar-section ul.right li{
		float: none;
	}

	.top-bar.expanded .top-bar-section ul.right li.has-form{
		padding: 20px 15px;
	}
	
	.top-bar.expanded .top-bar-section ul.right li.language{
		display: none !important;
	}
	
	
	.top-bar.expanded .top-bar-section .has-form .large-5{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.top-bar.expanded .top-bar-section .has-form .large-5 input{
		width: 89%;
	}

	.top-bar.expanded .top-bar-section ul.right li.has-form form{
		width: 240px;
		margin: 0 auto;
	}
	
	.top-bar.expanded .top-bar-section ul.right li.has-form input[type="text"], .top-bar.expanded .top-bar-section ul.right li.has-form input[type="password"]{
		margin-top: 0;
		background: #fff;
		color: #000;
	}

	nav.top-bar ul li.settings > a .icon-setting{
		background: url("../images/icon-settings-white.png") no-repeat 0 0 !important;
	}

	nav.top-bar ul li.information{
		position: absolute !important;
		top: -20px;
		left: 0;
	}

	nav.top-bar ul li.settings{
		position: absolute !important;
		top: -20px;
		right: 0;
	}

	nav.top-bar ul li.settings.clicked ul{
		top: 60px;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-checklist{
		background: url("../images/icon-checklist-grey.png") no-repeat 0 0 !important;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-delete{
		background: url("../images/icon-delete-grey.png") no-repeat 0 0 !important;
	}
	
	
	/*** primary nav ***/
	.primary-nav{
		overflow: visible;	
	}
	
	.primary-nav .top-bar-section > ul{
		display: inline;
		width: auto;
	}
	.primary-nav .top-bar-section > ul > li{
		display: inline-block;
		float: left;
	}
	
	.primary-nav .top-bar-section ul > li > a{
		float: left;
		padding: 0 15px;
		line-height: 45px;
	}

	.primary-nav .top-bar-section ul > li.last > a{
		padding-right: 10px;
	}

	.primary-nav .top-bar-section ul > li > a.search{
		width: 43px !important;
	}
	
	.primary-nav .top-bar-section ul > li > a i.icon{
		margin-top: 3px;
		right: 7px !important;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
		width: 100% !important;
		top:60px !important;
		text-align: left;
		background: #ebeaeb;
		border: none;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul{
		padding-left: 10px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul li a{
		padding-left: 10px;
	}
	
	.top-bar .top-bar-section .has-form .desktop-submit{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label label{
		color: #54595e;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		width: 89%;
		text-align: center;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit a{
		width: 100%;
		background: #c0c1c2;
		color: #454a50;
		padding: 10px 15px;
		height: auto;
	}


	.primary-nav .top-bar-section ul > li.desktop-search.search-open form{
		padding: 10px !important;
		position: absolute !important;
		width: 50% !important;
		right: 0 !important;
		background: #CECECF;
		z-index: 99999 !important;
		top: 58px !important;
		margin-right: 0 !important;
		display: block !important;
	}

	.primary-nav .top-bar-section ul > li.desktop-search.search-open form input{
		height: 2em !important;
		top: 0 !important;
		padding: 0 10px !important;
	}
	
	
	/*** secondary nav ***/
	.secondary-menu{
		display: none !important;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs > *:before{
		content: "";
		margin:0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs{
		border: none;
		padding: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb{
		background: none;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb a{
		font-size: 16px;
		font-weight: normal;
		font-family: "CentroSanLight";
		text-transform: none;
		padding: 7px 10px;
	}
	
	
	/*** orbit ***/
	.orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 350px;
	}
	
	.orbit-container ul li img{
		height: 100%;
	}


	/*** about ***/


	.section-container .tab, .section-container .tab p.title{
		position: relative !important;
		padding-top: 0 !important;
	}

	.section-container .tab p.title{
		border-left: none !important;
		border-right: none !important;
		width: 100% !important;
		left: 0 !important;
		background: #e6e6e6 !important;
	}

	.section-container .tab.active .title{
		background: #dbdbdc !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
	}

	.share-holder ul{
		margin:0 !important;
	}

	.share-holder ul li{
		height: 290px !important;
		position: relative;
		overflow: hidden;
	}

	.share-holder ul li img{
		position: absolute;
		height: 100%;
		width: auto !important;
		max-width: none;
		top: 0;
		left: 0;
	}

	.share-holder .info{
		padding: 20px 20px 10px 20px !important;
	}

	.share-holder .info h3{
		font-size: 20px !important;
	}

	.share-holder .info h4{
		font-size: 16px !important;
	}

	.share-holder .info p{
		font-size: 16px !important;
		line-height: 1.2em !important;
	}


	.vacancy ul li{
		height: 229px !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

	.vacancy .block-content h4 a, .vacancy .block-content p {
		font-size: 16px !important;
	}

	/*** footer ***/
	footer .footer-right{
		width: 49.66667%;
	}

	.ctooltip.notif{
		top: 60px !important;
		right: auto !important;
		left: 3px !important;
	}

	.ctooltip.notif span{
		right: auto !important;
		left: 5px !important;
	}

	/*** contact ***/
	.contact .office-map{
		padding: 0 15px 0 0 !important;
	}

	.contact .inquiry form{
		width: 96% !important;
		margin: 0 !important;
	}

	.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard{
		padding: 15px 10px !important;
	}

	.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li, .contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li span{
		font-size: 14px !important;
	}

	/*** commodities ***/

	.mobile-company-logo{
		display: none !important;
	}

	.commodities .diamond-news ul li{
		margin-bottom: 20px;
		height: 281px !important;
	}

	.commodities .diamond-news ul li .block-content h4 a, .commodities .diamond-news ul li .block-content p{
		font-size: 18px !important;
	}

	#sticky-social {
		display: none !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.contact .contact-location > .large-12{
		padding-left: 0;
		padding-right: 0;
	}

	.contact .contact-location > .large-12 .row{
		margin-left:0;
		margin-right: 0;
	}

	.contact .contact-location > .large-12 .row .large-8{
		padding-right: 0 !important;
	}

	.about-page .bottom-space{
		margin-bottom: 80px !important;
	}

	.contact .service-center{
		padding: 0;
	}

	.contact .download{
		max-width: 46em !important;
	}

	.contact .contact-category .large-12{
		padding-left: 0;
		padding-right: 0;
	}

	.contact .vacancy .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.apply-online .vacancy ul li{
		height: 256px !important;
	}

	.apply-online .vacancy .block-content h4 a, .apply-online .vacancy .block-content p{
		font-size: 18px !important;
	}


	.apply-online .contact-desc{
		margin-bottom: 0 !important;
	}

	.apply-steps .step-wrapper{
		width:100% !important;
	}

	.tablet-secondary-nav .top-bar-section ul.left{
		width: 65%;
	}

	.tablet-secondary-nav .top-bar-section > ul.left > li.home{
		display: none;
	}

	.news .tablet-secondary-nav .top-bar-section > ul.left > li.home{
		display: block;
	}

	.tablet-home-link{
		display: block !important;	
		padding: 0 !important;	
		position: relative;
		z-index: 9999;
	}

	.tablet-home-link li a{
		height: 40px !important;
		padding: 10px 15px !important;
		background: none !important;
		display: block;
	}

	.news .tablet-home-link{
		display: none !important;
	}

	.top-nav.news ul.mobile-logo li a:hover{
		background: none;
	}
	
	a.show-more-tiles{
		display:none !important;
	}
}


@media only screen and (min-width: 940px) and (max-width: 1279px){
	.primary-nav .top-bar-section ul > li.desktop-search.search-open form{
		padding: 10px !important;
		position: absolute !important;
		width: 50% !important;
		right: 0 !important;
		background: #CECECF !important;
		z-index: 99999 !important;
		top: 58px !important;
		margin-right: 0 !important;
		display: block !important;
	}

	.primary-nav .top-bar-section ul > li.desktop-search.search-open form input{
		height: 2em !important;
		top: 0 !important;
		padding: 0 10px !important;
	}

	.top-nav.news ul.mobile-logo{
		display: block !important;
		padding-left: 10px;
		padding-top: 5px;
		position: relative;
		z-index: 9999;
	}

}

@media only screen and (min-width: 940px) {
	.top-bar ul.mobile-lang{
		display: none !important;
	}
	
	.top-bar.expanded .top-bar-section .has-form .large-2 a{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label{
		display: none !important;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		display: none !important;
	}
	
	.tablet-secondary-nav{
		display: none !important;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
	}

	.section-container .tab.active .title{
		background: #fff url("../images/bg-content.jpg") repeat-y 0 0 !important;
		background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#ffffff)) !important ;
		background: -webkit-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -moz-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -ms-linear-gradient(left, #e2e2e2, #ffffff) !important;
		background: -o-linear-gradient(left, #e2e2e2, #ffffff) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
		border-bottom: solid 1px #ccc !important;
	}

	.section-container .tab.active .content{
		background: #DEDEE0;
		border:none;
		background-color: #DEDEE0;	
		background: -webkit-gradient(linear, left top, right bottom, from(#DEDEE0), to(#ffffff)) !important;
		background: -webkit-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -moz-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -ms-linear-gradient(left, #DEDEE0, #ffffff) !important;
		background: -o-linear-gradient(left, #DEDEE0, #ffffff) !important;
	}

	.mobile-company-logo{
		display: none !important;
	}

	.apply-steps .step-wrapper{
		width: 100%;
	}
	
	a.show-more-tiles{
		display:none !important;
	}
	
}

@media only screen and (min-width: 940px) and (max-width: 1041px){
	.hidden-tablet{
		display: none !important;
	}

	.secondary-menu ul.next-menu{
		display: block !important;
		padding-left: 0 !important;
	}

	.secondary-menu.show-next-menu ul.hidden-tablet{
		display: block !important;
		position: absolute;
		right: 0px;
		top: 60px;
		z-index: 999;
		background: #CECECF;
	}

	.commodities .diamond-news ul li{
		height: 295px !important;
	}

	.commodities .diamond-news ul li .block-content p, .commodities .diamond-news ul li .block-content h4 a{
		font-size: 20px !important;
	}

	.commodities .diamond-news ul li .block-content p{
		margin-bottom: 0;
	}

	.contact .contact-location .large-12{
		padding-left: 50px;
		padding-right: 50px;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
	}

	.contact .download{
		width: 917px;
	}

	.contact .download .large-12 {
		padding-left: 30px !important;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
	}

	.contact .inquiry, .apply-steps{
		max-width: 62.5em !important;
	}

	.about-page .quote p{
		max-width: 800px !important;
	}

	.vacancy ul li{
		height: 258px !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

	
}

@media only screen and (max-width: 1024px){

	.about-page .bottom-space{
		margin-bottom: 80px !important;
	}

	.orbit-container .orbit-prev, .orbit-container .orbit-next{
		display: none !important;
	}
}

@media (max-width: 767px){

	.hidden-grid{
		display: none !important;
	}

	.hidden-mobile{
		display: none !important;
	}


	/*** top bar ***/
	
	.top-bar .mobile-lang{
		position: absolute;
		right: 100px;
		top: 0;
		z-index: 99999;
	}
	
	.top-bar .name{
		height: 40px;
	}
	
	.top-bar.expanded{
		overflow: visible !important;
	}
	
	.top-bar.expanded .title-area{
		background: #1c252d;
		margin-bottom: 0;
		padding: 0;
	}
	
	.top-bar.expanded .toggle-topbar a span{
		box-shadow: none;
		-webkit-box-shadow:none;
	}
	
	.top-bar .toggle-topbar{
		width: 120px;	
	}
	
	
	.top-bar .toggle-topbar a{
		background: #60666c;
		height: 40px;
		padding-left: 0;
	}
	
	.top-bar .toggle-topbar a span{
		float: left;
		position: relative;
		text-transform: none;
		font-family: "CentroSanLight";
		font-weight: lighter;
		font-size: 14px;
		top:-1px;
		left: 0px;
		background: #1c252d;
		padding-right: 17px;
		padding-left: 20px;
	}
	
	.top-bar .toggle-topbar a .icon-user{
		position: absolute;
		right: 6px;
		top:10px;
	}
	
	.top-bar-section ul li{
		float: left;
	}
	
	nav.top-bar ul{
		padding: 0;
	}
	
	.top-bar.expanded .top-bar-section ul.right{
		background: #e2e2e3;		
		padding: 29px 20px;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		text-align: center;
	}
	
	.top-bar.expanded .top-bar-section ul.right li{
		float: none;
	}
	
	.top-bar.expanded .top-bar-section ul.right li.language{
		display: none !important;
	}
	
	.top-bar.expanded .top-bar-section ul.right li.has-form form{
		width: 240px;
		margin: 0 auto;
	}
	
	.top-bar.expanded .top-bar-section ul.right li.has-form input[type="text"], .top-bar.expanded .top-bar-section ul.right li.has-form input[type="password"]{
		margin-top: 0;
		background: #fff;
		color: #000;
	}
	
	.top-bar.expanded .top-bar-section .has-form .large-5{
		width: 100%;
		margin-bottom: 10px;
	}
	
	.top-bar.expanded .top-bar-section .has-form .large-5 input{
		width: 210px;
	}

	nav.top-bar ul li.information{
		position: absolute !important;
		top: -20px;
		left: 0;
	}

	nav.top-bar ul li.settings{
		position: absolute !important;
		top: -20px;
		right: 0;
	}

	nav.top-bar ul li.settings.clicked ul{
		top: 40px;
	}

	.top-nav .top-bar-section ul.right.user-login{
		visibility: hidden;
	}

	.top-nav .top-bar-section ul.right.user-login li.settings, .top-nav .top-bar-section ul.right.user-login li.information{
		padding: 0 13px;
		top: 0;
	}

	nav.top-bar ul li.settings > a .icon-setting{
		background: url("../images/icon-settings-white.png") no-repeat 0 0 !important;
	}

	.top-nav.expanded .top-bar-section ul.right{
		z-index: 999999;
		visibility: visible;
	}

	.top-nav ul.mobile-logo li a:hover{
		background: none;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-checklist{
		background: url("../images/icon-checklist-grey.png") no-repeat 0 0 !important;
	}

	.top-nav .top-bar-section ul li.has-form .columns .icon-delete{
		background: url("../images/icon-delete-grey.png") no-repeat 0 0 !important;
	}
	
	
	/*** primary nav ***/
	.primary-nav{
		overflow: visible;	
	}
	
	.primary-nav .top-bar-section > ul{
		text-align: right;
	}
	.primary-nav .top-bar-section > ul > li{
		display: inline-block;
		float: none;
	}
	
	.primary-nav .top-bar-section ul > li > a{
		float: left;
		padding: 0 15px 0 0;
	}
	
	.primary-nav .top-bar-section ul > li > a i.icon{
		margin-top: 3px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 100% !important;
		width: 100% !important;
		top:44px !important;
		text-align: left;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul{
		padding-left: 10px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open ul li a{
		padding-left: 10px;
	}
	
	.top-bar .top-bar-section .has-form .desktop-submit{
		display: none !important;
	}

	.top-bar .top-bar-section .has-form .mobile-label label{
		color: #54595e;
		text-align: center;
		font-weight: bold;
		font-size: 14px;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit{
		width: 100%;
		padding-left: 20px;
		float: none;
		clear: both;
	}
	
	.top-bar .top-bar-section .has-form .mobile-submit a{
		width: 70%;
		background: #c0c1c2;
		color: #454a50;
		padding: 10px 15px;
		float: none;
		margin: 0 auto;
		height: auto;		
	}
	

	/*** mobile primary nav ***/

	.mobile-primary-nav.expanded .top-bar-section ul.right{
		background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.25, #fff), color-stop(0.5, #2F2727), color-stop(0.75, #e2e2e3), to(#e2e2e3));
		background: -webkit-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -moz-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -ms-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		background: -o-linear-gradient(top, #fff, #fff, #e2e2e3, #e2e2e3, #fff);
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ffffff, endColorstr=#e2e2e3);
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#e2e2e3, endColorstr=#ffffff)";
		border-bottom: solid 1px #ccc;
		z-index: 999;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks, .mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		background: #6d7176;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks label, .mobile-primary-nav .top-bar-section ul.right li.mainmenu label{
		font-weight: bold;
		cursor: default;
		padding: 20px 20px 5px;
		margin-bottom: 0;
		border-bottom: solid 1px #ccc;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label{
		font-weight: normal;
		padding-top: 5px;
		font-style: italic;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu, .mobile-primary-nav .top-bar-section ul.right li.mainmenu ul li, .mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label{
		border: none !important;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		font-weight: normal;
		padding: 5px 20px;
		border-bottom: solid 1px #ccc;		
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu a{
		font-weight: normal;
		padding: 5px 20px 5px 40px;
		background: none !important;
		color: #454a50 !important;
	}

	.mobile-primary-nav .top-bar-section ul.right li.quicklinks label, .mobile-primary-nav .top-bar-section ul.right li.quicklinks a{
		font-size: 14px;
		color: #fff;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu label, .mobile-primary-nav .top-bar-section ul.right li.mainmenu a{
		font-size: 14px;
		color: #454a50;
		position:relative;
	}

	.mobile-primary-nav .top-bar-section ul.right li.mainmenu > a:after{
		content: "";
		display: block;
		width: 0;
		height: 0;
		border: inset 5px !important;
		border-color: transparent transparent transparent rgba(187, 187, 187, 0.5) !important;
		border-left-style: solid !important;
		margin-right: 15px;
		margin-top: -4.5px;
		position: absolute;
		top: 50%;
		right: 0;
	}

	
	/*** secondary nav ***/
	.secondary-menu{
		display: none !important;
	}
	
	.tablet-secondary-nav .top-bar-section ul.left{
		width: 60%;
	}
	
	.tablet-secondary-nav .top-bar-section ul.left li.has-dropdown{
		width: 75%;
	}
	
	.tablet-secondary-nav .top-bar-section ul.right{
		width: 40%;
	}
	
	
	/*** orbit ***/
	.orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 350px;
	}
	
	.orbit-container ul li img{
		height: 100%;
	}
	
	
	/*** mobile logo ***/
	.top-bar ul.mobile-logo{
		position: absolute;
		left: 5px;
		top: 5px;
		z-index: 999;
		margin-top: 0;
		padding: 0;
	}


	/*** orbit ***/
	.orbit-container .orbit-slides-container > * .orbit-caption{
		padding-top: 100px !important;
		width: auto !important;
	}


	/*** breadcrumb ***/
	.tablet-secondary-nav .top-bar-section ul.breadcrumbs{
		border:none;
		padding: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs > *:before{
		content: "";
		margin: 0;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb{
		background: none;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.brcmb a{
		font-size: 16px;
		font-weight: normal;
		font-family: "CentroSanLight";
		text-transform: none;
		padding: 7px 10px;
	}

	.section-container .tab.active .title{

		background: #fff url("../images/bg-content.jpg") repeat-y 0 0 !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
		border-bottom: solid 1px #ccc !important;
	}


	/*** share holdewr ***/

	.share-holder ul{
		border-bottom: solid 1px #ccc;
	}

	.share-holder ul li.thumb{
		display: none !important;
	}

	.share-holder ul li.info{
		padding: 20px 20px 20px 20px;
		height: auto;;
	}

	.share-holder ul.last{
		border-bottom: none;
	}


	/*** tabs ***/
	.section-container{
		border-top: none !important;
	}

	.section-container .tab .title{
		border-left:none !important;
		border-right:none !important;
		background: #e6e6e6 !important;
	}

	.section-container .tab.active{
		border-bottom: solid 1px #ccc !important;
	}

	.section-container .tab.active .content{
		border:none !important;
		background-color: #ffffff;	
		background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e6e6e6)) !important;
		background: -webkit-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -moz-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -ms-linear-gradient(top, #ffffff, #e6e6e6) !important;
		background: -o-linear-gradient(top, #ffffff, #e6e6e6) !important;
	}


	/*** more link ***/
	.more-link .large-7{

	}

	.ctooltip.notif{
		top: 40px !important;
		right: auto !important;
		left: 3px !important;
		text-align: left !important;
	}

	.ctooltip.notif span{
		right: auto !important;
		left: 5px !important;
	}


	/*** contact ***/

	.contact .bottom-space{
		margin-bottom: 0 !important;
	}

	.apply-online .bottom-space{
		margin-bottom: 30px !important;
	}

	.contact .service-center{
		padding: 0 0.9375em !important;
	}

	.contact .inquiry form{
		width: 96% !important;
		margin: 0 !important;
	}

	.contact .inquiry .form-desc{

		width:100% !important;
	}

	.contact .download p{
		width: 85% !important;
		display: block;
		line-height: 1em;
	}

	.contact .inquiry form label.for-checkbox span.checkbox{
		height: 50px !important;
	}


	/*** commodities ***/
	.commodities .diamond-news ul li{
		margin-bottom: 20px !important;
		height: 315px !important;
	}

	.commodities .diamond-news ul li img{
		width: 100%;
	}

	.commodities .company-logo{
		display: none !important;
	}

	.commodities .mobile-company-logo{
		display: block !important;
	}

	.contact .contact-location .large-12 .row{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0px !important;
		padding-right: 0px !important;
	}

	.apply-steps .step-wrapper{

		width:720px;
	}
	
	a.show-more-tiles{
		display:block !important;
	}
	
	.contact .vacancy ul li a.hover-link, .commodities .vacancy ul li a.hover-link, .about-page .vacancy ul li a.hover-link{
		display:none;
	}

}

@media only screen and (max-width: 640px) {

	.apply-steps .step-wrapper{
		width:100% !important;
	}

	.apply-steps .step-wrapper .steps li{
		width:46% !important;
	}

	.apply-steps .step-wrapper .steps li.step-3, .apply-steps .step-wrapper .steps li.step-4{
		display:none;
	}
	

}

@media only screen and (max-width: 540px) {

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon{
		right: 43px !important;
		width: 100%;
	}

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a{
		position: relative;
		width: 100% !important;
	}

	.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a span{
		left: auto !important;
		right: 0;
	}

	.tablet-secondary-nav .top-bar-section > ul > li > a{
		font-size: 12px !important;
		font-weight: lighter;
	}
	
	.tablet-secondary-nav .top-bar-section > ul.left > li > a{
		padding: 10px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul.right > li > a{
		padding-top: 12px !important;
		padding-left: 35px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown{
		position: static;
		width: 75%;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a{
		padding: 12px 15px !important;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a .icon{
		position: static;
		float: right;
	}
	
	.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown{
		position: absolute;
		width: 100%;
		top:40px;
		left: 0;
	}
	
	i.icon-phone.grey{
		background: url("../images/icon-phone-small-grey.png") no-repeat 0 0 !important;
		top:14px !important;
	}
	
	i.icon-secondary-menu {
	    background: url("../images/icon-secondary-menu-small.png") no-repeat 0 3px !important;
	}

	.tablet-secondary-nav .top-bar-section ul.breadcrumbs li.current{
		display: none !important;
	}


	.section-container .tab.active .title{
		background: #dbdbdc !important;
		background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#F3F2F3)) !important;
		background: -webkit-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -moz-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		background: -ms-radial-gradient(circle, #e2e2e3, #F3F2F3) !important;
		filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3) !important;
		-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e3, endColorstr=#F3F2F3)" !important;
	}

	.more-link a{
		font-size: 18px !important;
		float: right !important;
	}

	.mobile-footer p{
		text-align: left !important;
		padding-right: 20px !important;
		padding-left: 20px !important;
	}

	.slider, .orbit-container, .orbit-container ul, .orbit-container ul li{
		height: 200px !important;
		min-height: 200px !important;
	}

	.tile-slider, .orbit-container, .tile-slider .orbit-container ul, .tile-slider .orbit-container ul li{
		height: 200px !important;
		min-height: 200px !important;
	}


	.orbit-container .orbit-slides-container > * .orbit-caption{
		padding-top: 30px !important;
		padding-left: 20px !important;
		padding-right: 150px !important;
	}

	.orbit-container ul li .orbit-caption h2{
		font-size: 16px !important;
		margin-bottom: 10px !important;
	}

	.orbit-container .orbit-slides-container > * .orbit-caption p{
		font-size: 14px !important;
	}

	.commodities .diamond-news ul li {
		height: 287px !important;
	}

	.commodities .diamond-news ul li .block-content p, .commodities .diamond-news ul li .block-content h4 a{
		font-size: 20px !important;
	}

	.more-link{
		margin-bottom: 30px !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}

	.contact .download{
		max-width: 28em !important;
	}

	.contact .contact-location .large-12 .row{
		padding-left: 0 !important;
	}

	.contact .inquiry{
		margin-bottom: 30px !important;
	}

	.contact .inquiry .btn-submit{
		margin-bottom: 0px !important;
	}

	.contact .inquiry form .large-6{
		width: 100% !important;
	}

	.contact.apply-online .inquiry form .large-12.use-info span .icon{
		top: 0 !important;
	}

	.contact .inquiry form .large-12.use-info .dropdown-medium-wrapper span .icon{
		top: 8px !important;
	}

	.apply-online .vacancy ul li{
		height: 256px !important;
		margin-bottom: 20px;
	}

	ul.mobile-step-info{
		display: block !important;
	}

	ul.mobile-step-info{
		height: 40px;
		margin-bottom: 40px;
	}

	ul.mobile-step-info li{
		background: #424242 url("../images/bg-tab-arrow.png") no-repeat right center;
		display: block;
		float: left;
		color: #fff;
		width: 10%;
		padding:8px 10px;
	}

	ul.mobile-step-info li.active{
		background: #000 url("../images/bg-tab-arrow-active.png") no-repeat right center;
		width: 70%;
	}

	ul.mobile-step-info li.last{
		background: #424242 url("../images/bg-tab-arrow-last-bg.png") no-repeat right center;
	}

	.contact .download a{
		font-size: 16px !important;
		padding-top: 13px !important;
	}

	.apply-steps .step-wrapper{
		width:100% !important;
	}

	.apply-steps .step-wrapper .steps li{
		width:43% !important;
	}

	.apply-steps .step-wrapper .steps li.step-3, .apply-steps .step-wrapper .steps li.step-4{
		display: none;
	}

	
}

@media only screen and (max-width: 360px) {


	.orbit-container .orbit-slides-container > * .orbit-caption{
		padding-top: 30px !important;
		padding-left: 20px !important;
		padding-right: 100px !important;
	}

	.contact .captcha{
		display: none !important;
	}

	.recaptchatable #recaptcha_image, .recaptchatable #recaptcha_response_field{
		width: 220px !important;
	}

	.contact .download p{
		width: 80% !important;
		font-size: 14px;
	}

	.contact .inquiry form {
		width: 90% !important;
	}

	.commodities .diamond-news ul li{
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
		display: block;
		height: 294px !important;
	}

	.about-page .row > .large-12, .commodities .row > .large-12, .contact .row > .large-12, .more-link > .large-12{
		padding-left: 15px !important;
		padding-right: 15px !important;
	}

	.contact .download{
		margin-bottom: 0;
		max-width: 18em !important;
	}

	.contact .download .large-12 {
		padding-left: 15px !important;
		margin-bottom: 30px !important;
	}

	.apply-online .vacancy ul li{
		float: none !important;
		padding: 0 !important;
		width: 100% !important;
		display: block;
		height: 283px !important;
	}

	.apply-online .vacancy ul li img {
		width: auto !important;
	}

	ul.mobile-step-info li{
		width: 15%;
	}

	ul.mobile-step-info li.active{
		width: 55%;
	}

	.contact .download a{
		font-size: 14px !important;
		padding-top: 13px !important;
	}	

	.apply-steps .step-wrapper .steps li {
		width: 43% !important;
	}

	.contact .inquiry form label.for-checkbox span.checkbox{
		height: 80px !important;
	}
}


/* Used to alter styles for screens at least 1280px wide. */
@media only screen and (min-width: 1280px) {
	.row{
		max-width: 1280px;
	}
	
	.primary-nav .top-bar-section ul > li > .f-dropdown.open{
		max-width: 857px !important;
	}

	.top-nav.news ul.mobile-logo{
		display: block !important;
		padding-left: 10px;
		padding-top: 5px;
	}

	.top-nav.news ul.mobile-logo li a:hover{
		background: none;
	}

	.commodities .vacancy ul li {
		height: 277px !important;
	}

	.commodities .vacancy .block-content p{
		font-size: 18px;
	}

	.next-menu{
		display: none !important;
	}
	
	a.show-more-tiles{
		display:none !important;
	}


}

/* Used to alter styles for screens at least 1440px wide. */
@media only screen and (min-width: 1440px) {
	
}