/**
 * DMCC POC
 * Author: MBLM
 * Date: 09/09/2013
 */

/*** common ***/
body{
 	background: #fff;
 	font-family: "CentroSanLight";
}

h1, h2, h3{
	font-family: "CentroSanBold";
}

a, a:visit, a:focus, a:hover{
	outline: 0 none !important;
}

body iframe{
	/*display: none !important; */
}

.bottom-space-40{
	margin-bottom: 40px;
}

.wysiwyg.bottom-space-40{
	margin-bottom: 20px;
}

.bottom-space-80{
	margin-bottom: 80px;
}

.wysiwyg.bottom-space-80{
	margin-bottom: 60px;
}

.has-tip{
	font-weight: normal;
}

.use-table{
	margin-bottom: 50px;
}

/*** icons ***/
i.icon{
	width: 20px;
	height: 20px;
	text-indent: -99999px;
	display: block;
	margin: 0 5px 0 auto;
}

i.icon-language{
	background: url("../images/icon-sprite.png") no-repeat 0px -194px;
}

i.icon-user{
	background: url("../images/icon-sprite.png") no-repeat 0px -116px;
}

i.icon-lock{
	background: url("../images/icon-sprite.png") no-repeat 0px -77px;
}

i.icon-information{
	background: url("../images/icon-sprite.png") no-repeat 0px 0px;
}

i.icon-submit{
	background: url("../images/icon-sprite.png") no-repeat 0px -38px;
}

i.icon-freezone{
	background: url("../images/icon-sprite.png") no-repeat 0px -312px;
}

i.icon-dmcc{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -107px;
}

i.icon-dmcc-grey{
	background: url("../images/icon-dmcc-grey.png") no-repeat 0px 0px;
}

i.icon-home{
	background: url("../images/icon-sprite.png") no-repeat 0px -350px;
}

i.icon-home.rollover{
	background: url("../images/icon-sprite-hover.png") no-repeat 3px 0px;
}

i.icon-home-white{
	background: url("../images/icon-home-white.png") no-repeat 0px 0px;
}

i.icon-phone{
	background: url("../images/icon-sprite.png") no-repeat 0px -233px;
}

i.icon-phone.grey{
	background: url("../images/icon-phone-grey.png") no-repeat 0px 0;
}

i.icon-search{
	background: url("../images/icon-sprite.png") no-repeat 0px -156px;
}

i.icon-alert{
	background: url("../images/icon-alert.png") no-repeat 0px 0px;
}

i.icon-exit{
	background: url("../images/icon-sprite.png") no-repeat 0px -468px;
}

i.icon-reload-white{
	background: url("../images/icon-reload-white.png") no-repeat 0px 4px;
}

i.icon-reload-grey{
	background: url("../images/icon-reload-grey.png") no-repeat 0px 4px;
}


i.icon-reload{
	background: url("../images/icon-sprite.png") no-repeat 0px -546px;
}

i.icon-dmcc-white{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px bottom;
}

i.icon-remove{
	background: url("../images/icon-sprite.png") no-repeat 0px -428px;
}

i.icon-star{
	background: url("../images/icon-star.png") no-repeat 0px 0px;
}

i.icon-secondary-menu{
	background: url("../images/icon-secondary-menu.png") no-repeat 0px 0px;
}

i.icon-commodities-hover{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -35px;
}

i.icon-freezone-hover{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -71px;
}

i.icon-dmcc-hover{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -107px;
}

i.icon-phone-small{
	background: url("../images/icon-phone-small-grey.png") no-repeat 0 0 !important;
	top:12px !important;
}

i.icon-diamond{
	background: url("../images/icon-filter.png") no-repeat 0 2px !important;
}

i.icon-diamond-hover{
	background: url("../images/icon-filter-hover.png") no-repeat 0 2px !important;
}


i.icon-gold{
	background: url("../images/icon-filter.png") no-repeat 0 -25px !important;
}

i.icon-gold-hover{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -25px !important;
}


i.icon-tea{
	background: url("../images/icon-filter.png") no-repeat 0 -52px !important;
}

i.icon-tea-hover{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -52px !important;
}

i.icon-other{
	background: url("../images/icon-filter.png") no-repeat 0 -80px !important;
}

i.icon-other-hover{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -80px !important;
}

i.icon-setting{
	background: url("../images/icon-settings-hover.png") no-repeat 0 0 !important;
}

i.icon-commodities-big{
	background: url("../images/icon-sprite-about.png") no-repeat 0 0 !important;
	display: block;
	width: 32px;
	height: 30px;
}

i.icon-eco-big{
	background: url("../images/icon-sprite-about.png") no-repeat 0 -68px !important;
	display: block;
	width: 32px;
	height: 32px;
}

i.icon-freezone-big{
	background: url("../images/icon-sprite-about.png") no-repeat 0 -129px !important;
	display: block;
	width: 32px;
	height: 32px;
}

i.icon-event{
	background: url("../images/icon-news-event.png") no-repeat 0 0 !important;
}

i.icon-event-hover{
	background: url("../images/icon-news-event.png") no-repeat 0 -39px !important;
}

i.icon-media{
	background: url("../images/icon-news-event.png") no-repeat 0 -80px !important;
}

i.icon-media-hover{
	background: url("../images/icon-news-event.png") no-repeat 0 -120px !important;
}

i.icon-arrow-down{
	background: url("../images/icon-sort.png") no-repeat 0 0px !important;
}

i.icon-arrow-down-hover{
	background: url("../images/icon-sort.png") no-repeat 0 -34px !important;
}

i.icon-arrow-up{
	background: url("../images/icon-sort.png") no-repeat 0 -120px !important;
}

i.icon-arrow-up-hover{
	background: url("../images/icon-sort.png") no-repeat 0 -86px !important;
}

i.icon-checklist{
	background: url("../images/icon-checklist.png") no-repeat 0 0 !important;
}

i.icon-delete{
	background: url("../images/icon-delete.png") no-repeat 0 0 !important;
}

i.icon-video-sub{
	background: url("../images/icon-media.png") no-repeat 0 0 !important;
}

i.icon-audio-sub{
	background: url("../images/icon-media.png") no-repeat 0 -37px !important;
}

i.icon-gallery-sub{
	background: url("../images/icon-media.png") no-repeat 0 -75px !important;
}

i.icon-download{
	background: url("../images/icon-download.png") no-repeat 0 0;
}

i.icon-form-info{
	background: url("../images/icon-form-info.png") no-repeat 0 0;
}




/*** text color scheme ***/
.text-blue{
	color: #136cac !important;
}

.text-tosca{
	color: #2fae9b !important;
}

.text-purple{
	color: #847da7 !important;
}

.text-grey{
	color: #5c666d !important;
}

.text-dark-blue{
	color: #00395d !important;
}

.text-light-blue{
	color: #136cac !important;
}


.bg-blue{
	background: #136cac !important;
}

.bg-tosca{
	background: #2fae9b !important;
}

.bg-purple{
	background: #847da7 !important;
}

.bg-grey{
	background: #5c666d !important;
}

.bg-dark-blue{
	background: #5c666d !important;
}

.bg-light-grey{
	background: #676b6f !important;
}

.bg-light-blue{
	background: #136cac !important;
}


.bg-dark-blue.gradient{
	background-color: #003454 !important;
	background: -webkit-gradient(linear, left top, right top, from(#003454), to(#004168)) !important;
	background: -webkit-linear-gradient(left, #003454, #004168) !important;
	background: -moz-linear-gradient(left, #003454, #004168) !important;
	background: -ms-linear-gradient(left, #003454, #004168) !important;
	background: -o-linear-gradient(left, #003454, #004168) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#003454, endColorstr=#004168) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#003454, endColorstr=#004168)" !important;
}

.bg-purple.gradient{
	background-color: #493E60 !important;
	background: -webkit-gradient(linear, left top, right top, from(#493E60), to(#574B73)) !important;
	background: -webkit-linear-gradient(left, #493E60, #574B73) !important;
	background: -moz-linear-gradient(left, #493E60, #574B73) !important;
	background: -ms-linear-gradient(left, #493E60, #574B73) !important;
	background: -o-linear-gradient(left, #493E60, #574B73) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#493E60, endColorstr=#574B73) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#493E60, endColorstr=#574B73)" !important;
}

.bg-tosca.gradient{
	background-color: #0d7074 !important;
	background: -webkit-gradient(linear, left top, right top, from(#0d7074), to(#20ab96)) !important;
	background: -webkit-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -moz-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -ms-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -o-linear-gradient(left, #0d7074, #20ab96) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96)" !important;
}

.bg-light-grey.gradient{
	background: url("../images/bg-content.jpg") repeat-y 0 0;
	background: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#f8f8f8)) !important;
	background: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -ms-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -o-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8)" !important;
}

/*** Tiles Updated Styles ****/

.text-commodities{
	color: #008691 !important;
}

.text-dmcc{
	color: #004976 !important;
}

.text-freezone{
	color: #7c878e !important;
}
/*
.text-grey{
	color: #5c666d !important;
}

.text-dark-blue{
	color: #00395d !important;
}

.text-light-blue{
	color: #136cac !important;
}
*/



.bg-blue_new{
	background: #136cac !important;
}

.bg-notification{
	background: #003454 !important;
}

.bg-commodities{
	/*background: #2fae9b !important;*/
	background: #008691 !important;
}

.bg-freezone{
	background: #847da7 !important;
}

.bg-grey_new{
	background: #5c666d !important;
}

.bg-dmcc{
	/*background: #5c666d !important;*/
	background: #004976 !important;
}

.bg-light-grey_new{
	background: #676b6f !important;
}

.bg-light-blue_new{
	background: #136cac !important;
}


.bg-dmcc.gradient{
	background-color: #004976 !important;
	background: -webkit-gradient(linear, left top, right top, from(#004976), to(#005f99)) !important;
	background: -webkit-linear-gradient(left, #004976, #005f99) !important;
	background: -moz-linear-gradient(left, #004976, #005f99) !important;
	background: -ms-linear-gradient(left, #004976, #005f99) !important;
	background: -o-linear-gradient(left, #004976, #005f99) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#004976, endColorstr=#005f99) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#004976, endColorstr=#005f99)" !important;
}

.bg-freezone.gradient{
	background-color: #7c878e !important;
	background: -webkit-gradient(linear, left top, right top, from(#7c878e), to(#93a2ab)) !important;
	background: -webkit-linear-gradient(left, #7c878e, #93a2ab) !important;
	background: -moz-linear-gradient(left, #7c878e, #93a2ab) !important;
	background: -ms-linear-gradient(left, #7c878e, #93a2ab) !important;
	background: -o-linear-gradient(left, #7c878e, #93a2ab) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#7c878e, endColorstr=#93a2ab) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#7c878e, endColorstr=#93a2ab)" !important;
}

.bg-commodities.gradient{
	background-color: #008691 !important;
	background: -webkit-gradient(linear, left top, right top, from(#008691), to(#00a7b5)) !important;
	background: -webkit-linear-gradient(left, #008691, #00a7b5) !important;
	background: -moz-linear-gradient(left, #008691, #00a7b5) !important;
	background: -ms-linear-gradient(left, #008691, #00a7b5) !important;
	background: -o-linear-gradient(left, #008691, #00a7b5) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#008691, endColorstr=#00a7b5) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#008691, endColorstr=#00a7b5)" !important;
}

.bg-tosca.gradient_new{
	background-color: #0d7074 !important;
	background: -webkit-gradient(linear, left top, right top, from(#0d7074), to(#20ab96)) !important;
	background: -webkit-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -moz-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -ms-linear-gradient(left, #0d7074, #20ab96) !important;
	background: -o-linear-gradient(left, #0d7074, #20ab96) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96)" !important;
}

.bg-light-grey.gradient_new{
	background: url("../images/bg-content.jpg") repeat-y 0 0;
	background: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#f8f8f8)) !important;
	background: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -ms-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	background: -o-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8)" !important;
}
/****************************************************************/

.bg-video{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-video-trans.png") no-repeat 0 0;
}

.bg-calendar{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 47px;
	height: 50px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-calendar-trans.png") no-repeat 0 0;
}

.bg-images{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 62px;
	height: 50px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-image-trans.png") no-repeat 0 0;
}

.bg-audio{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-audio-trans.png") no-repeat 0 0;
}

.bg-diamond{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 65px;
	height: 51px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-diamond-trans.png") no-repeat 0 0;
}

.bg-download{
	display: block;
	position: absolute;
	top: 35%;
	left: 50%;
	width: 54px;
	height: 50px;
	margin-top: -30px;
	margin-left: -30px;
	background: url("../images/bg-download-trans.png") no-repeat 0 0;
}

.grey-circle-gradient{
	background: #dbdbdc;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#fff));
	background: -webkit-radial-gradient(circle, #e2e2e3, #fff);
	background: -moz-radial-gradient(circle, #e2e2e3, #ffffff);
	background: -ms-radial-gradient(circle, #e2e2e3, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
}


/*** wysiwyg ***/
.wysiwyg{
	margin-bottom: 50px;
}


/*** top bar ***/
nav.top-bar{
	height: 40px;
	background: #1c252d;
	margin-bottom: 0;
}

nav.top-bar ul{
	padding: 10px 0 0;
}

nav.top-bar ul, nav.top-bar ul .has-form{
	background: none;
}

nav.top-bar ul li.language{
	margin-right: 50px;
}

nav.top-bar ul li span{
	color: #fff;
}

nav.top-bar ul .has-form{
	height: auto;
}

nav.top-bar ul .has-form .large-5{
	width: 200px;
}

nav.top-bar ul .has-form .large-2{
	width: 20px;
}

nav.top-bar ul .has-form input[type="text"], nav.top-bar ul .has-form form input[type="password"]{
	width: 160px;
	background: #5c666d;
	border:none;
	margin-top: -10px;
	box-shadow: none;
	color: #fff;
	height: 24px;
	float: left;
	line-height: 1em;
}

nav.top-bar ul .has-form a{
	background: none;
	width: 20px;
	height: 25px;
	float: left;
	padding-left: 0;
	border-bottom: none;
	outline: 0 none;
}

nav.top-bar ul li.settings{
	position: relative;
}

nav.top-bar ul li.settings a .icon{
	margin-top: 3px;
}

nav.top-bar ul li.settings ul{
	background: #1C252D;
	position: absolute;
	top: 29px;
	right: 0;
	z-index: 99999;
	width: 200px;
	padding: 0;
	visibility: hidden;
}

nav.top-bar ul li.settings > a{
	outline: 0;

} 

nav.top-bar ul li.settings > a:hover .icon-setting{
	background: url("../images/icon-settings.png") no-repeat 0 0 !important;
}

nav.top-bar ul li.settings.clicked ul{
	visibility: visible;
}

nav.top-bar ul li.settings ul li{
	display: block;
	border-bottom: solid 1px #ccc;
	width: 100%;
	float: none;
}

nav.top-bar ul li.settings ul li a{
	display: block;
	padding: 10px;
	width: 100%;
	float: none;
	height: auto;
	line-height: 1em;
	font-size: 14px;
	color: #fff;
	font-family: "CentroSanLight";
	font-weight: normal;
	text-align: left;
}

nav.top-bar ul li.settings ul li a:hover{
	background:#60666C !important;
}

.top-nav .top-bar-section ul li.has-form .columns{
	position: relative;
}

.top-nav .top-bar-section ul li.has-form .columns .icon-checklist, .top-nav .top-bar-section ul li.has-form .columns .icon-delete{
	position: absolute;
	right: 10px;
	top: 5px;
	z-index: 999;
	display: none;
}

.top-nav .top-bar-section ul li.information > a{
	z-index: 999999;
	position: relative;
	outline: 0 none;
}

.top-nav ul.home-link{
	padding-top: 0;
}

.top-nav ul.home-link a{
	height: 40px;
	padding: 10px 15px;
	background: none;
}

.top-nav.news ul.mobile-logo li a:hover{
	background: none;
}



/*** primary navigation ***/
.primary-nav{
	background: #f8f8f8;
	margin-bottom: 0;
	border-bottom: solid 1px #d8d9da;
	height: 59px;
}

.primary-nav .top-bar-section ul, .primary-nav .top-bar-section li a:not(.button){
	background: none;
}

.primary-nav .top-bar-section ul > li > a{
	color: #707478;
	font-size: 16px;
	text-transform: uppercase;
	font-family: "CentroSanBold";
	font-weight: normal;
	padding: 7px 20px;
}

.primary-nav .top-bar-section ul > li > a.search{
	height: 59px;
	position: relative;
	width: 55px;
}

.primary-nav .top-bar-section ul > li > a i.icon{
	position: absolute;
	top: 21px;
	right: 12px;
}

.primary-nav .top-bar-section ul > li > a:hover, .primary-nav .top-bar-section ul > li > a:focus, .primary-nav .top-bar-section ul > li > a.active{
	color: #01426a;
}

.primary-nav .top-bar-section ul > li > a.active{
	background: #CECECF;
}

.primary-nav .top-bar-section ul > li > .f-dropdown{
	background:#cececf;
	margin-top:1px;
	z-index:100;
	max-width: 0;
	display: none;
}

.primary-nav .top-bar-section ul > li > .f-dropdown.open{
	left:auto !important;
	right:0 !important;
	max-width: 857px;
	z-index: 9999;
	display: block;
	top: 58px !important;
	padding: 20px;
	border-bottom: 0;
}

.f-dropdown:before, .f-dropdown:after{
	border:none;
}

.f-dropdown div.row div > a.dropdown-links{
	font-size:12px;
	color:#454a50;
	font-weight:normal;
	display:block;
	font-family: "CentroSanBold";
	padding-top: 5px;
	line-height: 20px;
}

.primary-nav .top-bar-section ul > li > .f-dropdown span.title{
	font-size:12px;
	color:#454a50;
	font-weight:normal;
	display:block;
	font-family: "CentroSanBold";
	padding-top: 5px;
	line-height: 20px;
}

.primary-nav .top-bar-section ul > li > .f-dropdown span.title.first{
	padding-top: 0;
}


.primary-nav .top-bar-section ul > li > .f-dropdown ul > li{
	float:none;
}

.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a{
	font-size:12px;
	color:#454a50;
	text-transform:none;
	font-family: "CentroSanLight";
	line-height:20px;
	padding: 0px 20px !important;
}

.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a:hover, .primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a:focus, .primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a.active{
	background:#b1b2b5;
	color: #083b5d;
}

.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a.active{
	color: #083b5d;
}

.primary-nav .top-bar-section ul > li.desktop-search a{
	float: right
}

.primary-nav .top-bar-section ul > li.desktop-search form{
	float: left;
	margin-right: 0px;
	width: 0;
	display: none;
}

.primary-nav .top-bar-section ul > li.desktop-search form input{
	font-size: 16px;
	width: 100%;
	top: 13px;
	text-align: right;
	padding: 0;
	border: none;
	height: 0;
	line-height: 1em;
}

.primary-nav .top-bar-section ul > li.desktop-search form input:focus{
	box-shadow: none;
}

.mobile-primary-nav, .mobile-primary-nav.expanded{
	z-index: 99999;
}

.mobile-primary-nav.expanded ul.title-area li.mobile-search{
	background: #f7f7f7 url("../images/bg-mobile-primary-nav.png") no-repeat right top !important;
}


.mobile-primary-nav{
	background: #f7f7f7 url("../images/bg-mobile-primary-nav.png") no-repeat right top !important;
	height: 40px;
}

.mobile-primary-nav.expanded .title-area{
	background: #6D7176 !important;
	height: 40px;
	border-bottom: solid 1px #ccc;
}

.mobile-primary-nav ul.title-area{
	padding-top: 0;
}

.mobile-primary-nav ul.title-area .name{
	position: relative;
	float: left;
}

.mobile-primary-nav ul.title-area .name h1{
	color: #7a7e81;
	padding-left: 10px;
	text-transform: uppercase;
	margin-top: -2px;
}

.mobile-primary-nav.expanded ul.title-area .name h1{
	color: #fff;
}

.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon{
	padding-left: 0;
	right: 65px;
	margin-top: 0;
	top:0;
	
}

.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a{
	float: right;
	width: 58px;
	height: 40px;
	background: none;
}

.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a span{
	left: 36px;
	top:12px;
	box-shadow: none;
	-webkit-box-shadow:none;
	background: url("../images/icon-menu-list.png") no-repeat center center;
	width: 16px;
	height: 16px;
}

.mobile-primary-nav.expanded ul.title-area li.toggle-topbar.menu-icon a span{
	background: url("../images/icon-menu-list-white.png") no-repeat center center;
}

.mobile-primary-nav ul.title-area li.search{
	width: 44px;
	float: right;
	position: relative;
	right: 0;
	top: 0;
	height: 40px;
	border-left: solid 1px #ddd;
}

.mobile-primary-nav ul.title-area li.search a:hover{
	background: none;
}

.mobile-primary-nav ul.title-area li.search a .icon{
	margin-top: -10px;
	margin-right: 13px;
}

.mobile-primary-nav ul.title-area li.search-open form{
	position: absolute;
	width: 100% !important;
	padding: 10px;
	right: 0;
	top: 40px;
	z-index: 999;
	background: #CECECF;
}

.mobile-primary-nav ul.title-area li.search-open form input{
	font-size: 14px;
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.mobile-primary-nav ul.title-area li.search-open{
	width: auto;
	float: none;
	margin-top: 10px;
}

.mobile-primary-nav ul.title-area li.search-open a{
	display: block;
	height: 40px;
}

.mobile-primary-nav ul.title-area li.search-open a .icon{
	background: #CECECF url("../images/icon-sprite.png") no-repeat 11px -145px;	
	margin-top: -10px;
	margin-right: -5px;
	height: 40px;
	width: 44px;
}


.mobile-primary-nav .top-bar-section ul.right{
	display: none;
}

.mobile-primary-nav.expanded .top-bar-section ul.right{
	padding: 0;
	height: auto;
	text-align: left;
	display: block;
	top: 0px;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown{
	border-bottom: solid 1px #fff;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown a{
	background: #D0D7E2;
	color: #01426a;
	font-weight: normal;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown a:hover, .mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown a:focus{
	background: #738CAB;
	color: #fff;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown ul.dropdown{
	left: 0;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown.moved ul.dropdown{
	left: 100%;
	top:0;
	padding-top: 0;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown.moved ul.dropdown li{
	border-bottom: solid 1px #fff;
}

.mobile-primary-nav.expanded .top-bar-section ul.right li.has-dropdown.moved ul.dropdown li.title a{
	background: #01426a;
	color: #fff;
}



/*** slider ***/

.slider{
	position: relative;
	min-height: 350px;
}

.slider .brand-logo{
	position: absolute;
	left: 50px;
	top: 50px;
	z-index: 999;
}

.slider .brand-logo a:hover{
	background: none;
}

.orbit-container, .orbit-container ul{
	min-height: 350px;
	overflow: hidden;
	display: block;
}

.orbit-container ul li{
	min-height: 350px;
	display: block;
	list-style: none !important;
}

.orbit-container ul li{
	list-style: none;
}

.orbit-container ul li img{
	max-width: none !important;
}

.orbit-container ul li .orbit-caption h2{
	text-transform: uppercase;
	font-size: 24px;
}

.orbit-container .orbit-slide-number, .orbit-container .orbit-timer, .orbit-container .orbit-prev, .orbit-container .orbit-next, .tile-slider .orbit-container .orbit-bullets{
	display: none;
}

.tile-slider .orbit-container, .tile-slider .orbit-container ul, .tile-slider .orbit-container ul li{
	min-height: 200px;
	height: 200px;
}

.tile-slider .orbit-container ul li img{
	height: 100%;
}

.orbit-bullets {
	background:none;
	bottom: 6px;
	margin: 0;
	padding: 5px 20px;
	position: absolute;
	right: 0;
	top: auto;
	z-index:99;
}

.orbit-bullets li {
	border: none;
	border-radius: 0;
	-webkit-border-radius: 0;
	background-color: #738cab;
}

.orbit-bullets li.active {
	background-color: #d0d7e2;
}

.orbit-container .orbit-slides-container > * .orbit-caption{
	background: none;
	height: 100%;
	width: 423px;
	padding: 150px 50px 50px;
}

.orbit-container .orbit-slides-container > * .orbit-caption img{
	margin-bottom: 30px;
}

.orbit-container .orbit-slides-container > * .orbit-caption p{
	font-size: 18px;
	line-height: 1.3em;
}


.orbit-nav{
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 100%;
}

.orbit-nav a{
	width: 51px;
	height: 49px;
	display: block;
	text-indent: -99999px;
	position: absolute;
	z-index: 9;
	margin-top: -25px;
}

.tile-slider .orbit-nav a{
	width: 32px;
	height: 32px;
	display: block;
	text-indent: -99999px;
	position: absolute;
	z-index: 9;
	margin-top: -25px;
}

.orbit-nav a.orbit-prev-custom{
	background: url("../images/icon-slider-nav.png") no-repeat 0 0;
	left: -60px;
}

.tile-slider .orbit-nav a.orbit-prev-custom{
	background: #f8f8f8 url("../images/icon-slider-nav-small.png") no-repeat 0 0;
	left: 0;
}

.tile-slider .orbit-nav a.orbit-prev-custom:hover{
	background: #01426a url("../images/icon-slider-nav-small-hover.png") no-repeat 0 0;
	left: 0;
}


.orbit-nav a.orbit-next-custom{
	background: url("../images/icon-slider-nav.png") no-repeat 0 bottom;
	right: -60px;
}

.tile-slider .orbit-nav a.orbit-next-custom{
	background: #f8f8f8 url("../images/icon-slider-nav-small.png") no-repeat 0 bottom;
	right: 0;
}

.tile-slider .orbit-nav a.orbit-next-custom:hover{
	background: #01426a url("../images/icon-slider-nav-small-hover.png") no-repeat 0 bottom;
	right: 0;
}



/*** sub menu ***/
.secondary-menu{
	/*background: url("../images/bg-secondary-nav.png") no-repeat 0 0;*/
	background: #f8f8f8;
	height:59px;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	margin-bottom: 40px;
}

.news .secondary-menu{
	border-top: none;
}

.home .secondary-menu, .news .secondary-menu{
	margin-bottom: 20px;
}

.secondary-menu .top-bar-section > ul > li{
	background:url("../images/bg-sub-menu-separator.png") no-repeat right 0;
}

/*.secondary-menu .top-bar-section > ul > li > a{
	color: #454a50;
}

.secondary-menu .top-bar-section > ul > li > a.commodities{
	color:#0d7074;
}
*/
.secondary-menu .top-bar-section > ul > li a.commodities{
	color:#008691;
}

.secondary-menu .top-bar-section > ul > li > a.commodities i.icon{
	background: url("../images/icon-commodities-grey.png") no-repeat 0px 0px;
}*/

/*.secondary-menu .top-bar-section > ul > li > a.commodities i.icon{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -36px;
}

/*.secondary-menu .top-bar-section > ul > li > a.dmcc{
	color:#083b5d;
}*/

.secondary-menu .top-bar-section > ul > li > a.dmcc{
	color:#083b5d;
}*/

/*.secondary-menu .top-bar-section > ul > li > a.dmcc i.icon{
	background: url("../images/icon-dmcc-grey.png") no-repeat 0px 0px;
}*/

/*.secondary-menu .top-bar-section > ul > li > a.dmcc i.icon{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -109px;
}

/*.secondary-menu .top-bar-section > ul > li > a.freezone{
	color:#5d4f79;
}
}*/

.secondary-menu .top-bar-section > ul > li > a.freezone{
	color:#7c878e;
}


/*.secondary-menu .top-bar-section > ul > li > a.freezone i.icon{
	background: url("../images/icon-reload-grey.png") no-repeat 0px 0px;
}*/

/*.secondary-menu .top-bar-section > ul > li > a.freezone i.icon{
	background: url("../images/icon-sprite-hover.png") no-repeat 0px -72px;
}

.secondary-menu .top-bar-section > ul > li > a.event{
	color:#083b5d;
}*/

/*.secondary-menu.clicked .top-bar-section > ul > li > a.event i.icon{
	background: url("../images/icon-news-event.png") no-repeat 0 -39px !important;
}

.secondary-menu .top-bar-section ul li  a.media{
	color:#083b5d;
}*/

/*.secondary-menu.clicked .top-bar-section > ul > li > a.media i.icon{
	background: url("../images/icon-news-event.png") no-repeat 0 -120px !important;
}*/

.secondary-menu.clicked .top-bar-section > ul > li > a.sortby{
	color:#083b5d;
}

.secondary-menu .top-bar-section ul{
	padding: 0 20px 0 14px;
}

.secondary-menu .top-bar-section ul, .secondary-menu .top-bar-section ul li a{
	background:none;
	font-weight:normal;
}

.secondary-menu .top-bar-section ul li{
	padding: 20px 5px 20px 15px;
}

.secondary-menu .top-bar-section ul li.filter-label{
	padding-bottom: 20px;
	padding-left: 0;
	padding-right:15px;
}
.secondary-menu .top-bar-section ul li.date{
	padding-right:15px;
}
.secondary-menu .top-bar-section ul li.home{
	width:38px;
	padding-left:0;
}

.secondary-menu.rollover .top-bar-section ul li.home{
	visibility:visible;
}

.secondary-menu .top-bar-section ul li.home a{
	display: block;
	float: none;
	width: 20px;
	height: 20px;
	padding-left: 0;
}

.secondary-menu .top-bar-section ul li, .secondary-menu .top-bar-section ul li a{
	color:#454a50;
	font-size:16px;
	line-height:18px;
}

.secondary-menu .top-bar-section ul li a{
	font-family: "CentroSanLight";
	padding: 0 !important;
}

.secondary-menu .top-bar-section ul.right li a{
	font-family: "CentroSanLight";
}


.secondary-menu .top-bar-section ul li a span{
	float: left;
	margin-right: 10px;
}

.secondary-menu .top-bar-section ul li{
	float:left;
}

.secondary-menu .top-bar-section ul li.hover{
	background: #E4E4E4;
}

.secondary-menu .top-bar-section ul li a .icon{
	float: left;
}

.secondary-menu .top-bar-section ul.right li, .secondary-menu.rollover .top-bar-section ul.right li{
	background: none;
	padding-right: 0;
}

.top-bar-section .has-dropdown > a{
	padding-right: 0;
}

.top-bar-section .has-dropdown > a:after, .top-bar-section .has-dropdown > a:before{
	border:none;
}

.top-bar-section .has-dropdown > ul li a{
	padding: 5px 15px !important;
	font-family: "CentroSanBold";
	color: #454a50;
}


.top-bar-section .has-dropdown > ul li a.text-blue-hover{
	color: #136cac !important;	
}

.top-bar-section .has-dropdown > ul li a.text-commodities{
	color: #008691 !important;	
}

/*.top-bar-section .has-dropdown > ul li a.text-blue-hover:active .icon{
	background: url("../images/icon-filter-hover.png") no-repeat 0 2px !important;
}*/

.top-bar-section .has-dropdown > ul li a.text-tosca-hover{
	color: #20ab96 !important;	
}

/*.top-bar-section .has-dropdown > ul li a.text-tosca-hover:active .icon{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -25px !important;
}*/

.top-bar-section .has-dropdown > ul li a.text-purple-hover{
	color: #847da7 !important;	
}

.top-bar-section .has-dropdown > ul li a.freezone{
	color: #7c878e !important;	
}

/*.top-bar-section .has-dropdown > ul li a.text-purple-hover:active .icon{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -52px !important;
}*/

.top-bar-section .has-dropdown > ul li a.text-grey-hover{
	color: #5c666d !important;	
}

/*.top-bar-section .has-dropdown > ul li a.text-grey-hover:active .icon{
	background: url("../images/icon-filter-hover.png") no-repeat 0 -80px !important;
}

.top-bar-section .has-dropdown > ul li a.text-purple-hover.reload:active .icon{
	background: url("../images/icon-sprite.png") no-repeat 0px -541px !important;
}*/

.top-bar-section .has-dropdown > ul li a.text-dark-blue-hover{
	color: #083b5d !important;	
}

.top-bar-section .has-dropdown > ul li a.dmcc{
	color: #004976 !important;	
}

/*.top-bar-section .has-dropdown > ul li a.text-dark-blue-hover:active .icon{
	background: url("../images/icon-sprite.png") no-repeat 0px -274px !important;
}

.top-bar-section .has-dropdown > ul li a.text-dark-blue-hover.event:active .icon{
	background: url("../images/icon-news-event.png") no-repeat 0 -41px !important;
}

.top-bar-section .has-dropdown > ul li a.text-dark-blue-hover.media:active .icon{
	background: url("../images/icon-news-event.png") no-repeat 0 -120px !important;
}*/

.top-bar-section .has-dropdown .dropdown{
	background:#e4e4e4;
	top:58px;
	padding: 0 0 10px 0;
}

.top-bar-section .has-dropdown .dropdown li{
	padding: 0;
	margin-top: 10px;
}

.top-bar-section .has-dropdown .dropdown li:hover{
	background: #cfcfd0;
}

.top-bar-section .has-dropdown .dropdown li.last{
	margin-bottom: 10px;
}

.top-bar-section .has-dropdown .dropdown li a .icon{
	float: right;
}

.tablet-home-link{
	display: none;
}

/*** breadcrumb ***/

.breadcrumb3 {
}
.breadcrumb3 ul {
    padding: 0 0 0 15px;
    border-color: #dcdcdc;
    display: block;
    list-style: none outside none;
    margin-left: 0;
    overflow: hidden;
    padding: 0.5625em 0.875em;
}
.breadcrumb3 ul li {
}
.breadcrumb3 ul li span,
.breadcrumb3 ul li span:link,
.breadcrumb3 ul li span:visited {
    font-family: 'CentroSanLight';
    text-transform: none;
    color: #454a50;
    line-height: 18px;
    font-weight: normal;
    font-size: 16px;
}
.breadcrumb3 ul li span:hover {
    text-decoration: underline;
}
.breadcrumb3 ul li span:focus {
    outline: thin dotted;
}
.breadcrumb3 ul li.breadcrumbitem-selected {
}
.breadcrumb3 ul li.separator {
}

//*
.secondary-menu .top-bar-section ul.breadcrumbs{
	border:none;
	padding: 0 0 0 15px;
}

.secondary-menu .top-bar-section ul.breadcrumbs > *:before{
	content: "";
	margin: 0;
}

.secondary-menu .top-bar-section ul.breadcrumbs li{
	background: none;
	padding: 20px 5px;
}

.secondary-menu .top-bar-section ul.breadcrumbs li a{
	font-size: 16px;
	font-weight: normal;
	font-family: "CentroSanLight";
	text-transform: none;
}

.secondary-menu .top-bar-section ul.breadcrumbs li.first, .secondary-menu .top-bar-section ul.breadcrumbs li.first a{
	padding-left: 0;
}
*/
.tablet-secondary-nav{
	clear: both;
	position: relative;
}


.tablet-secondary-nav .top-bar-section ul{
	background: #e7e7e7;
	
}

.tablet-secondary-nav .top-bar-section ul.left{
	width: 65% !important;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;

}

.tablet-secondary-nav .top-bar-section ul.right{
	width: 35.1%;
	position: absolute;
	top: 0;
	right: 0;
}


.tablet-secondary-nav .top-bar-section ul li, .tablet-secondary-nav .top-bar-section ul li ul li{
	list-style: none;
}

.tablet-secondary-nav .top-bar-section > ul > li > a{
	background: none;
	font-size: 16px;
	color: #707478;
	padding: 10px 15px;
	font-weight: lighter;
}

.tablet-secondary-nav .top-bar-section > ul > li > a .icon-home{
	margin-top: 3px;
}

.tablet-secondary-nav .top-bar-section > ul.left > li{
	background:url("../images/bg-sub-menu-separator.png") no-repeat right 0;
	height: 40px;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown{
	width: 88%;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a{
	padding: 8px 15px;
	width: 100%;
	display: block;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a.expanded{
	background: none;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a > i{
	position: absolute;
	right: 15px;
	top: 11px;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown{
	left:0;
	width: 100%;
	padding: 20px 0;
	top: 39px;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li a{
	background: none;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li a .icon{
	margin-top: 5px;
}

.tablet-secondary-nav .top-bar-section ul li a{
	font-size: 16px;
}

.tablet-secondary-nav .top-bar-section ul.right li{
	height: 40px;
	float: right;
}

.tablet-secondary-nav .top-bar-section ul.right li a{
	padding-left: 50px;
	position: relative;
	display: inline-block;
	padding-top: 8px;
	
}

.tablet-secondary-nav .top-bar-section ul.right li a .icon{
	position: absolute;
	top: 10px;
	left: 10px;
	height: 22px;
	width: 22px;
}

.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li.has-dropdown ul.dropdown{
	padding: 0 20px;
}

/*** about ***/
.about h2{
	font-size: 30px;
}

.about p{
	font-size: 18px;
	margin-bottom: 20px;
}

.about-page .tabs{
	margin-bottom: 80px;
}




/*** TABS ***/
.section-container .tab .title{
	background: #DEDEE0;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#DEDEE0), to(#ffffff));
	background: -webkit-radial-gradient(circle, #DEDEE0, #ffffff);
	background: -moz-radial-gradient(circle, #DEDEE0, #ffffff);
	background: -ms-radial-gradient(circle, #DEDEE0, #ffffff);
	width: 33.3333333% !important;
	height: 61px !important;
}

.section-container .tab.active .title{
	background: #fff url("../images/bg-content.jpg") repeat-y 0 0;
	background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#ffffff)) ;
	background: -webkit-linear-gradient(left, #e2e2e2, #ffffff);
	background: -moz-linear-gradient(left, #e2e2e2, #ffffff);
	background: -ms-linear-gradient(left, #e2e2e2, #ffffff);
	background: -o-linear-gradient(left, #e2e2e2, #ffffff);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)";
	border-bottom: solid 1px #ccc !important;
}

.section-container .tab .title.first{
	border-left: none !important;
}

.section-container .tab .title.last{
	border-right: none !important;
}

.section-container .tab .title a{
	font-size: 22px !important;
	font-family: "CentroSanBold" !important;
	color: #8e8f90 !important;
	padding: 10px 20px !important;
}

.section-container .tab.active .content{
	background: #DEDEE0;
	border:none;
	background-color: #DEDEE0;	
	background: -webkit-gradient(linear, left top, right bottom, from(#DEDEE0), to(#ffffff));
	background: -webkit-linear-gradient(left, #DEDEE0, #ffffff);
	background: -moz-linear-gradient(left, #DEDEE0, #ffffff);
	background: -ms-linear-gradient(left, #DEDEE0, #ffffff);
	background: -o-linear-gradient(left, #DEDEE0, #ffffff);
}

.section-container .tab.active .content p{
	font-size: 18px;
}

.section-container .tab.active a.tosca{
	color: #0e7175 !important;
}

.section-container .tab.active a.tosca .icon{
	background: url("../images/icon-sprite-about-hover.png") no-repeat 0 0 !important;
}

.section-container .tab.active a.dark-blue{
	color: #00395d !important;
}

.section-container .tab.active a.dark-blue .icon{
	background: url("../images/icon-sprite-about-hover.png") no-repeat 0 -68px !important;
}

.section-container .tab.active a.purple{
	color: #847da7 !important;
}

.section-container .tab.active a.purple .icon{
	background: url("../images/icon-sprite-about-hover.png") no-repeat 0 -129px !important;
}


.quote{
	text-align: center;
}


/*** share holder ***/

.share-holder ul li{
	display: block;
	height: 251px;
	padding: 0;
	overflow: hidden;
}

.share-holder ul li img{
	width: auto;
	height: 100%;
	max-width: none;
}


.share-holder .info{
	padding: 20px 50px 10px 20px;
}

.share-holder .info h3{
	font-size: 22px;
	margin-bottom: 0px;	
}

.share-holder .info h4{
	font-size: 21px;
	color: #8e8f90;
	font-weight: normal;
}

.share-holder .info p{
	font-size: 18px;
	color: #8e8f90;
	font-style: italic;
	margin-bottom: 0;
	line-height: 26px;
}


/*** grid content ***/
.vacancy ul li{
	position: relative;
	overflow: hidden;
	height: 270px;
}

.vacancy .block-content{
	margin:0 !important;
	padding: 20px;
	position: relative;
	left: 0;
	bottom: 0;
}

.vacancy .block-content h4{
	margin-bottom: 10px;
	font-family: "CentroSanBold";
}

.vacancy .block-content h4 a{
	padding: 0;
	color: #676b6f;
}

.vacancy .block-content h4 a:hover{
	background: none;
	color: #676b6f;
}

.vacancy .block-content h4 a, .vacancy .block-content p{
	font-size: 18px;
}

.vacancy .block-content p{
	line-height: 1.2em;
	margin-bottom: 0;
}

.vacancy a.hover-link{
	padding: 5px 10px;
	color: #fff;
	display: block;
	width: 100%;
	position: relative;
	left: 0;
}

/*** more link ***/
.more-link{	
	height: 51px;
	padding: 0;
	display: block;	
	/*background: -webkit-gradient(radial, center center, 0, center center, 460, from(#DEDEE0), to(#ffffff));
	background: -webkit-radial-gradient(circle, #DEDEE0, #ffffff);
	background: -moz-radial-gradient(circle, #DEDEE0, #ffffff);
	background: -ms-radial-gradient(circle, #DEDEE0, #ffffff);*/
}

.more-link .large-12{	
	padding-right: 50px !important;
	padding-left: 50px !important;	
}


.more-link a{
	display: block;
	background: #f8f8f8 url("../images/icon-pagination-next.png") no-repeat left top;
	height: 51px;
	padding: 17px 10px 10px 70px;
	font-size: 18px;
	color: #707478;
	width: 100%;
	z-index: 999999;
}

.more-link a:hover, .more-link a:active{
	color: #fff;
	background: #01426a url("../images/icon-pagination-next-hover.png") no-repeat left top;
}


/*** masonry ***/
#main-content, #main-content-news {
  float:none;
  padding: 0;
  margin:0 auto;
  margin-bottom:40px;

  /* content-box is NEEDED. if border-box is enabled
     then it when Masonry calculates the height and width
	 of the container it counts incorrectly and the result
	 images running to the edge of the container on the right
	 and bottom sides. Only apply content-box to the container. */
  -webkit-box-sizing:content-box;
  -moz-box-sizing:content-box;
  box-sizing:content-box;
}

.box {
  margin: 5px;
  float: left;
  height: 200px;
  position: relative;
  overflow: hidden;
}

.box img, { display: block; width: 100%; }

.box h2{
	font-size: 20px;
	margin-bottom: 1em;
	margin-top: 0;
}

.box span.remove{
	position: absolute;
	width: 20px;
	height: 20px;
	top:5px;
	right: 5px;
	cursor: pointer;
}

.box span.star{
	position: absolute;
	width: 20px;
	height: 20px;
	top:5px;
	left: 5px;
	cursor: pointer;
}

.box .content{
	padding: 5px 10px;
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
}

.box .content p{
	margin-bottom: 0;
	color: #000;
	line-height: 19px;
	padding: 0px;
	font-size: 16px;
}

.box .content p span{
	text-transform: uppercase;
	color: #01426a;
	font-weight: bold;
	font-family: "CentroSanBold";
}

.box .content .ct-info{
	position: relative;
	font-size: 12px;
	padding: 10px 35px 15px 0px;
}

.box .content .ct-info .ct-left{
	float: left;
}

.box .content .ct-info .ct-right{
	float: right;
}

.box .content .ct-info .bottom-icon{
	position: absolute;
	display: block;
	width: 35px;
	height: 27px;
	background: url("../images/bg-readmore-separator.png") no-repeat left top;
	bottom:-10px;
	right: -10px;
	padding: 0;
	margin-bottom: 5px;
}

.box .content .ct-info .bottom-icon .icon{
	margin-top: 5px;
}

.box a.hover-link{
	color: #fff;
	padding: 8px 10px;
	position: absolute;
	bottom: -40px;
	left: 0;
	display: block;
	width: 100%;
	height: 30px;
	font-size: 14px;
	z-index: 999999;
}

.box .content a.readmore-hover i.icon{
	float: right;
	margin-top: -3px;
}

.box .content a .icon{
	margin: 5px auto;
}

/* unfortunately masonry needs hard pxs for images */
.col1 { width: 80px; }
.col2 { width: 180px; }
.col3 { width: 300px; }
.col4 { width: 380px; }
.col5 { width: 480px; }
.col1 img { max-width: 80px; }
.col2 img { max-width: 180px; }
.col3 img { max-width: 300px; }
.col4 img { max-width: 380px; }
.col5 img { max-width: 480px; }

.box a{
	display: block;
	color: #222;
	padding:0;
}

.box a:hover{
	background: none;
	color: #222;
}

/* animations for the transition/reordering */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}
.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}
.transitions-enabled.masonry  .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}


/*** social share ***/
#sticky-social{
	position: absolute;
	top:-270px;
	right: 0px;
	border-top:solid 1px #ddd;
	border-left: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	text-align: center;
	padding-bottom: 10px;
	margin-bottom: 0;
	background: #fff;
}

#sticky-social li{
	list-style: none;
}

#sticky-social li a{
	display: block;
	width: 30px;
	height: 30px;
	text-indent: -99999px;
	margin: 10px 10px 0 10px;
}

#sticky-social li a.fb{
	background: url("../images/icon-social.png") no-repeat 0 0;
}

#sticky-social li a.linkedin{
	background: url("../images/icon-social.png") no-repeat 0 -37px;
}

#sticky-social li a.twitter{
	background: url("../images/icon-social.png") no-repeat 0 -74px;
}

#sticky-social li a.gplus{
	background: url("../images/icon-social.png") no-repeat 0 -111px;
}

#sticky-social li a.youtube{
	background: url("../images/icon-social.png") no-repeat 0 -148px;
}

#sticky-social li a.email{
	background: url("../images/icon-social.png") no-repeat 0 -185px;
}


/*** contact page ***/
#map{
	width: 100%;
	height: 416px;
}

#map img{
	max-width: none;
}

.contact .contact-desc h2{
	font-size: 30px;
}

.contact .contact-location{
	margin-bottom: 30px;
	max-width: 1180px;
}

.contact .contact-location .large-12 .row{
	background: #f8f8f8;
	padding-left: 15px;
	padding-right: 0px;
}

.contact .service-center{
	background: #f8f8f8;
	padding: 15px;
}

.contact .office-map{
	padding-left: 0;
	padding-right: 0;
}

.contact .service-center h3{
	margin: 10px 0 10px;
	font-size: 20px;
}

.contact ul.vcard{
	border: none;
	padding: 10px 0;
	clear: both;
	display: block;
	margin: 0;
}

.contact ul.vcard li, .contact ul.vcard li span{
	font-size: 18px;
	color: #454a50;
	font-weight: normal;
	line-height: 1.4em;
}

.contact ul.vcard li span{
	display: block;
	width: 50px;
	float: left;
}

.contact .download{
	max-width: 1180px;
}

.contact .download .large-12{
	padding-left: 0px !important;
	padding-right: 0 !important;
	background: #f8f8f8;
}

.contact .download p{
	padding: 12px 10px 10px 20px;
	margin-bottom: 0;
}

.contact .download a{
	display: block;
	width: 100%;
	height: 51px;
	background: url("../images/icon-download.png") no-repeat 0 1px;
	padding-left: 60px;
	padding-top: 16px;
	font-size: 18px;
	color: #454a50;
}

.contact .download a:hover, .contact .download a:active{
	background: #00395D url("../images/icon-download-hover.png") no-repeat 0 1px;
	color: #fff;
}

.contact .inquiry{
	background: #e5e5e5;
	padding-top: 40px;
	max-width: 1180px;

}

.apply-online .inquiry{
	margin-bottom: 80px;
	padding-top: 120px;
}

.contact .vacancy .large-12{
	padding-left: 50px;
	padding-right: 50px;
}

.contact .vacancy ul li{
	height: 275px;
}

.contact .vacancy .block-content p{
	font-size: 18px;
}

.contact .inquiry .large-12{
	padding-right: 15px !important;
	padding-left: 15px !important;
}

.contact .inquiry form, .contact .inquiry .form-desc{
	width: 720px;
	margin: 0 auto
}

.contact .inquiry .form-desc h3{
	color: #4c4c4c;
}

.contact .inquiry form .large-6{
	width: 48%;
}

.contact .inquiry .form-desc h3{
	color: #4c4c4c;
}

.contact .inquiry .form-desc p{
	margin-bottom: 40px;
	color: #4c4c4c;
}

.contact .inquiry form label{
	font-family: "CentroSanBold";
	font-size: 14px;
	color: #4c4c4c;
	margin-bottom: 10px;
}

.contact .inquiry form label span.required{
	color: #738CAB;
}

.contact .inquiry form label a{
	color: #4c4c4c;
	text-decoration: underline;
}

.contact .inquiry form label a:hover{
	background: none;
}

.contact .inquiry form label.for-checkbox, .contact .inquiry form label.for-radio{
	font-family: "CentroSanLight";
	font-size: 16px;
}
/*
.contact .inquiry form label.for-checkbox span.checkbox, .contact .inquiry form label.for-radio span.radio{
	
	background: url("../images/icon-checkbox.png") no-repeat 0 4px;
	border: none;
	display: block;
	width: 32px;
	height: 32px;
	float: left;
	margin-right: 10px;
}
*/
.contact .inquiry form label.for-radio span.radio{
	-webkit-border-radius: 0;
	border-radius: 0;
	padding: 0;

}

/*
.contact .inquiry form label.for-checkbox.not-full span.checkbox, .contact .inquiry form label.for-radio.not-full span.radio{
	margin-top: -1px;
}

.contact .inquiry form label.for-checkbox span.checkbox.checked, .contact .inquiry form label.for-radio span.radio.checked{
	background: url("../images/icon-checkbox.png") no-repeat 3px -75px;
}
*/

.contact .inquiry form.custom .custom.checkbox.checked:before, .contact .inquiry form.custom .custom.radio.checked:before{
	content: "";
	background: none;
}

.contact .inquiry form > .row{
	margin-bottom: 15px;
}

.contact .inquiry form > .row.captcha{
	margin-bottom: 40px;
}

.contact .inquiry form p{
	margin-bottom: 40px;
	color: #4c4c4c;
}

.contact .inquiry form input[type=text], .contact .inquiry form input[type=email]{
	background: #fff;
	border: solid 1px #D8D8D8;
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	font-size: 16px;
	padding: 0 10px;
	height: 30px;
	color: #1a1a1a;
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

.contact .inquiry form textarea, .contact .inquiry form .custom.dropdown.large, .contact .inquiry form .custom.dropdown.large ul{
	width: 100%;
	max-width: 100%;	
}

.contact .inquiry form .custom.dropdown.large,.contact .inquiry form .custom.dropdown.medium{
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

.contact .inquiry form .custom.dropdown.large ul, .contact .inquiry form .custom.dropdown.medium ul{
	border: none;	
}
.contact .inquiry form .custom.dropdown.large ul li, .contact .inquiry form .custom.dropdown.medium ul li{
	padding: 5px 14px;
	font-size: 16px;
}

.contact .inquiry form textarea, .contact .inquiry form .custom.dropdown.large, .contact .inquiry form .custom.dropdown.medium, form textarea, .contact .inquiry form .custom.dropdown.large a, .contact .inquiry form .custom.dropdown.medium a{
	background: #fff;
	border: none;
}

.contact .inquiry form textarea, .contact .inquiry form .custom.dropdown.large a.current, .contact .inquiry form .custom.dropdown.medium a.current{
	background: #fff url("../images/bg-border-prefix.png") no-repeat right top; 
	margin-right: 35px;
	font-size: 16px;
	line-height: 2em;
	color: #1a1a1a;
	line-height: 1.9em;
}


.contact .inquiry form span.prefix, .contact .inquiry form label.prefix{
	border-top:solid 1px #D8D8D8;;
	border-bottom: solid 1px #D8D8D8;
	border-left: solid 1px #D8D8D8;
	border-right: none;
	background:#fff;
	/*background: #fff url("../images/bg-border-prefix.png") no-repeat right top;*/
	font-size: 20px;
	height: 30px;
	line-height: 1.6em;
}

.contact .inquiry form textarea{
	height: 150px;
	background: #fff;
	border: solid 1px #D8D8D8;
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	-webkit-appearance: none;
    -webkit-border-radius:0; 
    border-radius:0;
}

.contact .inquiry form input[type="submit"]{
	background: #4d90fe;
	width: 270px;
	color: #fff;
}

.contact .inquiry form input[type=text]:focus, .contact .inquiry form input[type=email]:focus, .contact .inquiry form textarea:focus{
	border:solid 1px #01426a !important;
}

.contact .inquiry form.custom .custom.dropdown .selector{
	background: #fff url("../images/icon-dropdown.png") no-repeat center center;
	height: 30px;
}

.contact .inquiry form.custom .custom.dropdown .selector:after{
	border: none;
}

.contact .inquiry form .large-12.use-info.cols-3{
	margin-top: 20px;
}

.contact .inquiry form .large-12.use-info.cols-3.last{
	margin-bottom: 20px;
}

.contact .inquiry form .large-12.use-info > label{
	margin-bottom: 17px;
}

.contact .inquiry form .large-6.use-info span .icon{
	top: 31px;
	right: -20px;
	position: absolute;
}

.contact .inquiry form .large-12.use-info span .icon{
	top: 35px;
	right: -20px;
	position: absolute;
}

.contact.apply-online .inquiry form .large-12.use-info span .icon{
	top: 31px;
	right: -20px;
	position: absolute;
}

.contact .inquiry form .large-12.use-info textarea, .contact .inquiry form .large-12.use-info .dropdown, .contact .inquiry form .large-12.use-info p{
	margin-bottom: 20px;
}

.contact .inquiry form .large-12.use-info textarea, .contact .inquiry form .large-12.use-info .dropdown{
	border: solid 1px #d8d8d8;
}

.contact .inquiry form .large-12.use-info .dropdown-medium-wrapper{
	position: relative;
	width: 300px;
}

.contact .inquiry form .large-12.use-info .dropdown-medium-wrapper span .icon{
	top: 8px;
	right: 0;
}

.contact .contact-category .large-12{
	padding-left: 50px;
	padding-right: 50px;
}

.contact .contact-category h3{
	color: #707478;
	font-size: 20px;
}

.contact .contact-category ul{
	margin: 0;
}

.contact .contact-category ul.large-block-grid-4{
	background: #f7f7f7;
	background: -webkit-gradient(radial, center center, 0, center center, 0, from(#ececec), to(#f7f7f7));
	background: -webkit-radial-gradient(circle, #ececec, #f7f7f7);
	background: -moz-radial-gradient(circle, #ececec, #f7f7f7);
	background: -ms-radial-gradient(circle, #ececec, #f7f7f7);
	margin-bottom: 2px;
}

.contact .contact-category ul.large-block-grid-4 > li{
	padding-bottom: 0;
	height: 150px;
	background: url("../images/bg-border-contact-service.png") no-repeat right center;
}

.contact .contact-category ul.large-block-grid-4 > li.last{
	background: none;
}

.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard{	
	padding: 15px 15px;
}

.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li{
	font-size: 16px;
	color: #707478;
	display: block;
	clear: both;
}

.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li span{
	font-size: 16px;
	color: #707478;
}

.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li.title{
	margin-bottom: 10px;
}

.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li a{
	padding: 0;
	color: #707478;
	text-decoration: underline;
}


.contact .contact-category ul.large-block-grid-4 .block-content ul.vcard li a:hover{
	background: none;
}


/*** commodities ***/

.commodities .about-commodities{
	margin-bottom: 30px !important;
}

.commodities h2{
	font-size: 30px;
}

.commodities .diamond-news{
	margin-bottom: 80px;
}


.commodities .diamond-news ul{
	margin-bottom: 30px;
}

.commodities .diamond-news a.readmore{
	font-size: 20px;
	color: #1d252d;
	padding-right: 30px;
}

.commodities .diamond-news a.readmore.use-arrow{
	background: url("../images/icon-arrow-right.png") no-repeat right center;
}

.commodities .diamond-news a.readmore.use-arrow:hover{
	color: #01426a;
}

.commodities .quote{
	max-width: 680px;
	margin:0 auto;
}

.commodities .company-logo ul li, .commodities .mobile-company-logo ul li{
	text-align: center;
	position: relative;
}

.commodities .company-logo ul li.grey, .commodities .mobile-company-logo ul li.grey{
	background: #e1e1e2;
}

.commodities .use-table h3{
	font-size: 20px;
	color: #707478;
}


.about-page .row > .large-12, .commodities .row > .large-12, .contact .contact-desc > .large-12{
	padding-left: 50px;
	padding-right: 50px;
}

.about-page .quote p{
	max-width: 1033px;
	margin: 0 auto;
}

.commodities .bottom-space, .about-page .bottom-space{
	margin-bottom: 20px;
}


/*** apply ***/
ul.step-info{
	height: 40px;
	margin-bottom: 45px;
	margin-top: 15px;
}

ul.step-info li{
	background: #424242 url("../images/bg-tab-arrow.png") no-repeat right center;
	display: block;
	float: left;
	color: #fff;
	width: 25%;
	padding:8px 10px;
}

ul.step-info li.active{
	background: #000 url("../images/bg-tab-arrow-active.png") no-repeat right center;
}

ul.step-info li.last{
	background: #424242 url("../images/bg-tab-arrow-last-bg.png") no-repeat right center;
}

ul.mobile-step-info{
	display: none;
}

.apply-online form p a{
	color: #454a50;
	text-decoration: underline;
}

.apply-online form p a:hover{
	background: none;
}

.apply-steps{
	max-width: 1180px;
	background: #e5e5e5;
	border-bottom: solid 2px #fff;
	padding-top: 80px;
}

.apply-steps .step-wrapper{
	width: 800px;
	margin: 0 auto;
}

.apply-steps .step-wrapper .steps{
	padding-left: 0;
	list-style: none;
	display: table;
	width: 100%;
}

.apply-steps .step-wrapper .steps li{
	display: block;
	width: 22%;
	float: left;
	position: relative;
	margin-right: 10px;
	margin-left: 10px;
}

.apply-steps .step-wrapper .steps .step{
	border-radius:50px;
	border:solid 5px #fff;
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #000;
	font-size: 26px;
	margin: 0 auto;
	font-family: "CentroSanBold";
}

.apply-steps .step-wrapper .steps .step.current{
	border-color:#000;
}

.apply-steps .step-wrapper .steps .step-title{
	border-top: solid 1px #000;
	position: absolute;
	top: 77px;
	left: 0;
	padding-top: 15px;
	text-align: center;
	margin: 0 auto;
	display: block;
	text-align: center;
	width: 100%;
	font-family: "CentroSanBold";
	color: #000;
}

.apply-steps .step-wrapper .steps .step-title .arrow{
	display: block;
	display: block;
	left: 50%;
	position: absolute;
	width: 20px;
	height: 10px;
	border: solid 10px;
	border-color: transparent transparent black transparent;
	top: -20px;
	margin-left: -10px;
}


/*** footer ***/
footer{
	background: #ddd;
	padding: 20px;
	color: #454a50;
}

footer .row .large-12{
	padding-left: 15px !important;
	padding-right: 15px !important;
}

footer h3{
	color: #454a50;
	font-size: 18px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

footer .about{
	height: 280px;
}

footer small{
	font-size: 11px;
}

footer p{
	font-size: 16px;
	line-height: 1.3em;
}

footer .footer-left{
	padding-left: 0;
}

footer .footer-right{
	float: right;
	padding-right: 0;
}

footer .footer-right dl dt{
	font-family: "CentroSanBold";
	font-size: 14px;
	font-weight: normal;
}

footer .footer-right dl dt a{
	color: #454a50;
	display: block;
	padding-right: 0;
	padding-left: 0;
}

footer .footer-right dl dd{
	padding-left: 10px;
	margin-bottom: 0;
	font-family: "CentroSanLight";
	font-size: 14px;
}

footer .footer-right dl dt a:hover,footer .footer-right dl dt a:active, footer .footer-right dl dd:hover, footer .footer-right dl dd:active{
	background: #b1b2b5;
}

footer .footer-right dl dd a{
	color: #454a50;
	padding-left: 0;
	padding-right: 0;
}

footer .footer-right dl dd a:hover{
	background: none;
	color: #454a50;
}

footer .copyright{
	clear: both;
	position: absolute;
	bottom: 40px;
}

.mobile-footer ul{
	width: 100%;
	margin: 0 auto;
	border-top: solid 1px #ddd;
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e2e2e2)) !important;
	background: -webkit-linear-gradient(left, #ffffff, #e2e2e2) !important;
	background: -moz-linear-gradient(left, #ffffff, #e2e2e2) !important;
	background: -ms-linear-gradient(left, #ffffff, #e2e2e2) !important;
	background: -o-linear-gradient(left, #ffffff, #e2e2e2) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffffff, endColorstr=#e2e2e2) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#ffffff, endColorstr=#e2e2e2)" !important;
}

.mobile-footer ul li{
	float: left;
	display: block;
	border-right: solid 1px #ddd;
	padding: 10px 0px;
	width: 25%;
}

.mobile-footer ul li.last{
	border: none;
}

.mobile-footer ul li a{
	display: block;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0;
}

.mobile-footer ul li a:hover{
	background: none;
}

.mobile-footer ul li a.green{
	color: #0d7074;
}

.mobile-footer ul li a.violet{
	color: #5d4f79;
}

.mobile-footer ul li a.blue{
	color: #083b5d;
}

.mobile-footer ul li a.grey{
	color: #454a50;
}

.mobile-footer ul li a .icon{
	margin: 0 auto;
}

.mobile-footer p{
	background: #e2e2e2;
	background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#ffffff)) !important;
	background: -webkit-linear-gradient(left, #e2e2e2, #ffffff) !important;
	background: -moz-linear-gradient(left, #e2e2e2, #ffffff) !important;
	background: -ms-linear-gradient(left, #e2e2e2, #ffffff) !important;
	background: -o-linear-gradient(left, #e2e2e2, #ffffff) !important;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
	display: block;
	width: 100%;
	margin: 0 auto;
	padding: 5px 10px;
	text-align: center;
	font-size: 11px;
}


/*** button ***/
button, .button, input[type="submit"]{
	background: #e7e7e7;	
	border:none;
	box-shadow: none;
	-webkit-box-shadow:none;
	padding-left: 50px;
	padding-right: 50px;
	color: #454a50;
	font-family: "CentroSanLight";
	font-weight: normal;
}

button:hover, .button:hover, button:active, .button:active, input[type="submit"]:hover, input[type="submit"]:active{
	background: #053E62 !important;
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#053E62), to(#003F65)) !important;
	background: -webkit-radial-gradient(circle, #053E62, #003F65) !important;
	background: -moz-radial-gradient(circle, #053E62, #003F65) !important;
	background: -ms-radial-gradient(circle, #053E62, #003F65) !important;
	padding-left: 50px;
	padding-right: 50px;
	box-shadow: none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	color: #fff !important;
}

button.tiny, .button.tiny{
	padding-left: 20px;
	padding-right: 20px;
	font-size: 14px;
}

button.small, .button.small{
	padding-left: 30px;
	padding-right: 30px;
	font-size: 14px;
}

.loadmore{
	margin: 0 auto;
	width: 300px;
	height: 40px;
	display: block;
	margin-bottom: 40px;
	clear: both;
	font-family: "CentroSanLight";
	font-style: 14px;
	font-weight: normal;
}

.loadmore-loader{
	margin: 0 auto;
	background: #e7e7e7 url("../images/loader.gif") no-repeat center center;
	height: 40px;
	width: 300px;
	margin-bottom: 40px;
	display: none;	
}


/*** ctooltip ***/
.ctooltip{
	background: #fff;
	padding: 10px;
	border: solid 1px #ddd;
	box-shadow: 0px 0px 3px #000;
	-moz-box-shadow: 0px 0px 3px #000;
	-webkit-box-shadow: 0px 0px 3px #000;
	position: absolute;
	font-size: 12px;
	z-index: 99999;
	max-width: 312px;
	width: 312px;
	display: none;
	top: 30px;
	right: 10px;
}

.ctooltip.notif{
	top: 40px;
	right: 5px;
}

.ctooltip p{
	font-size: 12px;
	margin-bottom: 0 !important;
}

.ctooltip p a{
	float: none!important;
	width: auto !important;
	height: auto !important;
	padding: 0 !important;
	line-height: 1.6 !important;
	text-decoration: underline;
	color: #454a50;
}

.ctooltip span.arrow{
	display: block;
	left: auto;
	right: 5px;
	position: absolute;
	width: 0;
	height: 0;
	border: solid 15px;
	border-color: transparent transparent white transparent;
	top: -25px;
}

.ctooltip.form{
	right: -23px;
	top:70px;
}


/*** recaptcha ***/
#recaptcha_div{
	margin-top: 10px;
}

#recaptcha_div table{
	border: solid 1px #d8d8d8 !important;
}

.recaptchatable #recaptcha_image{
	height: 60px !important;
}

.recaptchatable #recaptcha_response_field{
	background: #fff;
	border-color: #dfdfdf !important;
}

#recaptcha_div #recaptcha_area #recaptcha_table tbody tr{
	background: #fff !important;
}


/*** table ***/
.commodities table{
	width: 100%;
	border: none;
}

.commodities table tr th, table tr td{
	font-size: 16px !important;
	text-align: center !important;
	color: #707478 !important;
	padding: 7px 0;
}

.commodities table tr th{
	background: #b3b5b7;
	color: #fff !important;
}

.commodities tbody tr:nth-child(even) {
   background-color: #e1e1e2;
}
.primary-nav{z-index:1000}
.commodities-dropdown{position:relative;}
.commodities-dropdown.active{background:#CECECF;}
.primary-nav .top-bar-section ul > li.commodities-dropdown > .f-dropdown{margin-top:-1px;padding:20px;width:857px;max-width:857px;margin-left:-94px;position:absolute;left:0;top:100%;}

/*New Sorting*/
i.icon-filter,
.contact .inquiry form label.for-checkbox span.checkbox,
.contact .inquiry form label.for-radio span.radio	{width:16px;height:17px;text-indent:-9999px;display:block;margin:0 5px 0 auto;background:url(../images/icons-filter-sprite.png) left bottom no-repeat;float:left;border:0;}
.contact .inquiry form label.for-checkbox span.checkbox,
.contact .inquiry form label.for-radio span.radio 	{background-position:0 -90px;margin-top:1px}
.tablet-secondary-nav .top-bar-section .has-dropdown i.icon-filter{margin-top:4px}
.secondary-menu .top-bar-section ul li,
.secondary-menu .top-bar-section ul li a,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li a					{position:relative;font-family: "CentroSanLight";}
.secondary-menu .top-bar-section > ul.filter-nav li a,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul.filter-nav li a 		{color:#d0d0d0;}
.secondary-menu .top-bar-section ul li a.filter									{line-height:16px;display:block;}
.secondary-menu .top-bar-section ul li a.filter.active-filter,
.secondary-menu .top-bar-section ul li.date,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li a.filter.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li.date				{font-family: "CentroSanBold"}
.secondary-menu .top-bar-section > ul > li > a.filter span,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter span 		{line-height:16px;}
/*.secondary-menu .top-bar-section > ul > li > a.filter.commodities,
.secondary-menu .top-bar-section > ul > li > a.filter.commodities + ul li a,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.commodities 		{color:#008691;}
.secondary-menu .top-bar-section > ul > li > a.filter.commodities i,
.secondary-menu .top-bar-section > ul > li > a.filter.commodities + ul li a i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.commodities i		{background-position:0 0}
.secondary-menu .top-bar-section > ul > li > a.filter.freezone,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.freezone 						{color:#7c878e;}
.secondary-menu .top-bar-section > ul > li > a.filter.freezone i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.freezone i 					{background-position:0 -22px}
.secondary-menu .top-bar-section > ul > li > a.filter.dmcc i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.dmcc i 						{background-position:0 -45px}
.secondary-menu .top-bar-section > ul > li > a.filter.media i,
.secondary-menu .top-bar-section > ul > li > a.filter.media + ul li a i,
.secondary-menu .top-bar-section > ul > li > a.filter.event i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.media i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.event i 						{background-position:0 -67px}
.secondary-menu .top-bar-section > ul > li > a.filter.dmcc,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.dmcc 							{color:#004976;}
.secondary-menu .top-bar-section > ul > li > a.filter.media,
.secondary-menu .top-bar-section > ul > li > a.filter.media + ul li a,
.secondary-menu .top-bar-section > ul > li > a.filter.event,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.event,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.media							{color:#083b5d;}*/
.secondary-menu .top-bar-section ul li a.filter.active-filter i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li a.filter.active-filter i					{background-position:-16px -22px;}
.contact .inquiry form label.for-checkbox span.checkbox.checked,
.contact .inquiry form label.for-radio span.radio.checked												{background-position:-16px -90px;}
.secondary-menu .top-bar-section > ul > li > a.filter.commodities.active-filter i,
.secondary-menu .top-bar-section > ul > li > a.filter.commodities + ul li a.active-filter i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.commodities.active-filter i 	{background-position:-16px top;}
.secondary-menu .top-bar-section > ul > li > a.filter.dmcc.active-filter i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.dmcc.active-filter i 			{background-position:-16px -45px;}

.secondary-menu .top-bar-section > ul > li > a.filter.media.active-filter i,
.secondary-menu .top-bar-section > ul > li > a.filter.event.active-filter i,
.secondary-menu .top-bar-section > ul > li > a.filter.media + ul li a.active-filter i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.media.active-filter i,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.event.active-filter i 		{background-position:-16px -67px;}

.secondary-menu .top-bar-section ul li a.filter.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul li a.filter.active-filter						{color:#7c878e} 
.secondary-menu .top-bar-section > ul > li > a.filter.commodities.active-filter,
.secondary-menu .top-bar-section > ul > li > a.filter.commodities + ul li a.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.commodities.active-filter 	{color:#008691;} 
.secondary-menu .top-bar-section > ul > li > a.filter.dmcc.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.dmcc.active-filter 			{color:#004976;}
.secondary-menu .top-bar-section > ul > li > a.filter.media.active-filter,
.secondary-menu .top-bar-section > ul > li > a.filter.event.active-filter,
.secondary-menu .top-bar-section > ul > li > a.filter.media + ul li a.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.media.active-filter,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li > a.filter.event.active-filter 			{color:#083b5d;}
.secondary-menu .top-bar-section > ul > li.date,
.tablet-secondary-nav .top-bar-section .has-dropdown > ul > li.date {color:#454a50}

.secondary-menu .top-bar-section > ul > li > a.filter.commodities 	{width:135px;}
.secondary-menu .top-bar-section > ul > li > a.filter.freezone 		{width:105px;}
.secondary-menu .top-bar-section > ul > li > a.filter.media 		{width:120px;}
.secondary-menu .top-bar-section > ul > li > a.filter.event 		{width:90px;}
.secondary-menu .top-bar-section > ul > li > a.filter.dmcc 			{width:80px;}

.secondary-menu .top-bar-section .filter-list 	{min-width:100%;display:none;list-style:none;position:absolute;left:0;top:100%;padding:0;z-index:101;border:1px solid #ddd;border-bottom:0;}
.secondary-menu .top-bar-section .filter-list li{padding:15px;float:none;background:#F8F8F8;border-bottom:1px solid #ddd;}
.secondary-menu .top-bar-section > ul > li .asce,
.secondary-menu .top-bar-section > ul > li .desc{display:inline-block;width:16px;height:16px;background:url(../images/icon-sort.png) left top no-repeat!important;padding:0;margin-left:5px;margin-top:1px;}
.secondary-menu .top-bar-section > ul > li .asce:hover,
.secondary-menu .top-bar-section > ul > li .asce.active-filter{background-position:left -35px!important}
.secondary-menu .top-bar-section > ul > li .desc{background-position:left bottom!important}
.secondary-menu .top-bar-section > ul > li .desc:hover,
.secondary-menu .top-bar-section > ul > li .desc.active-filter{background-position:left -86px!important}

@media (min-width:800px) and (max-width:980px){
	.primary-nav .top-bar-section ul > li.commodities-dropdown > .f-dropdown{width:800px;max-width:800px;margin-left:-37px;}	
}
@media (min-width:768px) and (max-width:799px){
	.primary-nav .top-bar-section ul > li.commodities-dropdown > .f-dropdown{width:768px;max-width:768px;margin-left:-15px;}	
}
