@font-face {
    font-family: 'CentroSanLight';
    src: url('../fonts/parachute_-_pfcentrosanspro-light-webfont.eot');
    src: url('../fonts/parachute_-_pfcentrosanspro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/parachute_-_pfcentrosanspro-light-webfont.woff') format('woff'),
         url('../fonts/parachute_-_pfcentrosanspro-light-webfont.ttf') format('truetype'),
         url('../fonts/parachute_-_pfcentrosanspro-light-webfont.svg#pf_centro_sans_prolight') format('svg');
    font-weight: lighter;
    font-style: normal;

}

@font-face {
    font-family: 'CentroSanLightItalic';
    src: url('../fonts/parachute_-_pfcentrosanspro-lightitalic-webfont.eot');
    src: url('../fonts/parachute_-_pfcentrosanspro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/parachute_-_pfcentrosanspro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/parachute_-_pfcentrosanspro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/parachute_-_pfcentrosanspro-lightitalic-webfont.svg#pf_centro_sans_proLtIt') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'CentroSanBold';
    src: url('../fonts/parachute_-_pfcentrosanspro-bold-webfont.eot');
    src: url('../fonts/parachute_-_pfcentrosanspro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/parachute_-_pfcentrosanspro-bold-webfont.woff') format('woff'),
         url('../fonts/parachute_-_pfcentrosanspro-bold-webfont.ttf') format('truetype'),
         url('../fonts/parachute_-_pfcentrosanspro-bold-webfont.svg#pf_centro_sans_probold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: 'CentroSanLight', arial;
}

p{
	color: #454a50;
	font-size: 18px;
	margin-bottom: 20px;
}

a{
	padding-left: 5px;
	padding-right: 5px;
	outline: 0;
}

a:hover{
	background: #738cab;
	color: #fff;
}

h1, h2, h3, h4{
	color: #01426a;
}

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 30px;
	font-family: 'CentroSanBold';
	font-weight: normal;
}

h1{
	font-size: 40px;
	font-family: 'CentroSanBold';
}

h2{
	font-size: 32px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5, h6{
	font-size: 14px;
	color: #707478;
}

ul,ol{
	margin-bottom: 26px;
}

ul li, ol li{
	color: #738cab;
	font-size: 14px;
}

small{
	color: #454a50;
	font-size: 10px;
	margin-bottom: 14px;
}

blockquote{
	font-style: italic;
	border-left: solid 1px #738cab;
	border-right: solid 1px #738cab;

}

blockquote p{
	background: #e8eaf0;
	display: inline;
	padding: 0 10px;
	color: #738cab;
}