@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

.THIS .inner-table {
    font-family: 'EuclidSquare-Medium' !important;
    color:black;
}

.THIS .table-header {
    font-family: 'EuclidSquare-Medium' !important;
    color:black;
}
.THIS .slds-table thead th{
    color:black !important;
}