.THIS .difc-label {

    margin-bottom: 0.5rem;
    color: #000000;
    font-family: "EuclidSquare-Medium";

    font-size: 14px;

    font-weight: 500;
}

.THIS .slds-form-element__icon .slds-button_icon {
    display: none !important;
}

.THIS .slds-required {
    display: none;
}

.THIS .difc-label .slds-form-element__label {
    margin-bottom: .5rem;
    color: #000000;
    font-family: "EuclidSquare-Medium";
    font-size: 14px;
    font-weight: 500;
}

.THIS .slds-dueling-list__options {
    height: 11rem !important;
}