.THIS .ui-topup {
    position: relative;
    flex-wrap: wrap;
    min-height: 243px;
    padding: 11px 22px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
    /*margin-top: 16px;*/
 }
.THIS .topup-button{
    border: 2px solid black;
    padding: 5px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'EuclidSquare-Medium', sans-serif;
}
.THIS .link{
    color: #4a4a4a;
    text-decoration: none;
}
.THIS .dtl{
    color: #4a4a4a;
    font-size:12px !important;
}
.THIS .ui-form-card__subheader{
    font-size: 14px !important;
}
.THIS .action-link{
    color: #4a4a4a;
    font-weight: 300;
}
.THIS .stp-sum{
    color: #4a4a4a;
    font-size: 14px;
}