<apex:page showHeader="false" sidebar="false" standardStylesheets="false">   
   <html>
  <head>
  
  <style>
.maman {
    color: green;
    width: 60px;
    border: 1px solid #fff;
    text-align: center;
}

.google-visualization-orgchart-lineleft {
    border-left: 2px solid #333!important;
}
.google-visualization-orgchart-linebottom {
    border-bottom: 2px solid #333!important;
}
.google-visualization-orgchart-lineright {
    border-right: 2px solid #333!important;
}
.maman img {
    clear: both;
    display: block;
    margin: auto;
}



</style>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/soap/ajax/20.0/connection.js"></script>

    
    <script type="text/javascript">
      google.charts.load('current', {packages:["orgchart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() 
      {
      
      var URLId=getUrlParameter(window.location.href,'urlid');
      //alert(URLId);
      
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('string', 'Manager');
        data.addColumn('string', 'ToolTip');

        sforce.connection.sessionId = "{!$Api.Session_ID}";
        
        
        
        
        var SQLStr="select id,Main_Affiliation__c,Controller_Account__c,Main_Affiliation__r.Affiliation_Name__c,Controller_Account__r.Name, Account__r.Name from Affiliations__c where Main_Affiliation__c=\'"+URLId+"\' OR Controller_Account__c=\'"+URLId+"\' OR Account__c=\'"+URLId+"\'";
       // alert(SQLStr);
        var resultMain = sforce.connection.query(SQLStr);
        var recordMain = resultMain.getArray("records");
        
        console.log(SQLStr);
        var MaiAffid=recordMain[0].Main_Affiliation__c;
         var SQLStraff="select id,Comments__c,Account__c,Account__r.Registration_License_No__c,Controller_Account__r.Registration_License_No__c,Controller_Account__c,Main_Affiliation__r.Affiliation_Name__c,Controller_Account__r.Name, Account__r.Name from Affiliations__c where Main_Affiliation__c=\'"+MaiAffid+"\'";
      console.log(SQLStraff);
        var result = sforce.connection.query(SQLStraff);
        var records = result.getArray("records");
        //alert(records)
       data.addRows(records.length+2);

    //   data.addRows([[{v:'0553', f:'0553<div style="color:red; font-style:italic">President</div>'},'', 'The President'],
      //[{v:'1809', f:'1809<div style="color:red; font-style:italic">Vice President</div>'},'0553', 'VP']]);
           
        var j=0;
        for(var i = 0 ; i < records.length ; i++)
    {
                data.setValue(j,1,records[i].Main_Affiliation__r.Affiliation_Name__c);
                data.setValue(j,0,records[i].Controller_Account__r.Registration_License_No__c);
                data.setValue(j,2,"<table><tr><th>Company</th><th>Contact</th><th>Country</th></tr><tr><td>AlfredsFutterkiste</td><td>MariaAnders</td><td>Germany</td></tr><tr><td>CentrocomercialMoctezuma</td><td>FranciscoChang</td><td>Mexico</td></tr><tr><td>ErnstHandel</td><td>RolandMendel</td><td>Austria</td></tr><tr><td>IslandTrading</td><td>HelenBennett</td><td>UK</td></tr><tr><td>LaughingBacchusWinecellars</td><td>YoshiTannamuri</td><td>Canada</td></tr><tr><td>MagazziniAlimentariRiuniti</td><td>GiovanniRovelli</td><td>Italy</td></tr></table>");
                
                /* data.setValue([
                {v:records[i].Controller_Account__r.Registration_License_No__c, f:'Mike<div style="color:red; font-style:italic">President</div>'},
           '', 'The President']);
                */
                
                
           
               // alert(records[i].Controller_Account__c);
                if(records[i].Account__c!=null)
                {
                    console.log("Account__c===>"+records[i].Account__c);
                    //alert(records[i].Account__c);
                    //data.setValue(i+1,0,records[i].Controller_Account__r.Name);
                    //data.setValue(i+1,1,records[i].Account__r.Name);
                    //alert(records[i].Account__r.Name);
                    data.setValue(j+1,0,records[i].Account__r.Registration_License_No__c);
                    data.setValue(j+1,1,records[i].Controller_Account__r.Registration_License_No__c);
                    
                        j++;
                }
               // data.setValue(i,2,records[i].Controller_Account__r.Name);
        j++;
        
        console.log("j===>"+j);
        
    }
        
        //  }
          
        /*  
        // For each orgchart box, provide the name, manager, and tooltip to show.
        data.addRows([
          [{v:'Mike', f:'Mike<div style="color:red; font-style:italic">President</div>'},
           '', 'The President'],
          [{v:'Jim', f:'Jim<div style="color:red; font-style:italic">Vice President</div>'},
           'Mike', 'VP'],
           
           
          ['Alice', 'Mike', ''],
          ['Bob', 'Jim', 'Bob Sponge'],
          ['Carol', 'Bob', '']
        ]);
        */
    

        // Create the chart.
        var chart = new google.visualization.OrgChart(document.getElementById('chart_div'));
        // Draw the chart, setting the allowHtml option to true for the tooltips.
        chart.draw(data, {allowHtml:false});
      }
      function getUrlParameter(url, parameter) 
      {
    parameter = parameter.replace(/[\[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?|&]' + parameter + '=([^&#]*)');
    var results = regex.exec('?' + url.split('?')[1]);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
}

   </script>
    </head>
  <body>
    <div id="chart_div" ></div>
  </body>
</html>
</apex:page>