<apex:page standardController="Offer_Process__c" extensions="OfferProcessUtility" showHeader="false" sidebar="false" id="the">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
     <apex:form id="page">
    <apex:pageBlock title="Add Multiple Units" id="pb">
      <apex:pageMessages />      
      <apex:variable var="rowNumber" value="{!0}"/>
        <apex:pageBlockTable id="thetable" title="Unit Offer" var="acc" value="{!UnitOfferList}">
          <apex:column headerValue="No." style="width:20px; text-align:center;" headerClass="centertext">
            <apex:outputText value="{0}" style="text-align:center;">
              <apex:param value="{!rowNumber+1}" />
            </apex:outputText>
          </apex:column>
          <apex:column headerValue="Unit" >
            <apex:inputField value="{!acc.Unit__c}"/>
          </apex:column>
          <apex:column headerValue="Action" >
            <apex:commandButton value="Delete" action="{!deleteRow}" reRender="pb">
              <apex:param name="rowIndex" value="{!rowNumber}"/>
            </apex:commandButton>
            <apex:variable var="rowNumber" value="{!rowNumber+1}"/>
          </apex:column>
        </apex:pageBlockTable>
      <apex:commandButton action="{!addRow}" value="Add Unit" reRender="pb"/>      
      <apex:pageBlockButtons >
        <apex:commandButton value="Save" action="{!savefromUnit}" oncomplete="closeWindow()"/>
        <apex:commandButton value="Cancel" oncomplete="closeWindow()"/>
      </apex:pageBlockButtons>           
    </apex:pageBlock>
  </apex:form>
<script language="JavaScript" type="text/javascript">
    function closeWindow(){      
        opener.location.reload(true); 
        self.close();
    }
</script>   
            
</apex:page>