<apex:page docType="html-5.0" id="finePage" tabStyle="Company_Requests__tab" sidebar="true" cache="true" controller="cls_automatedFineProcess" applyBodyTag="false">
    <apex:form id="automatedFineProcess">
        <apex:outputPanel layout="none" rendered="{!isObjection}" id="finePanel">
            
            <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/foundation.css')}"/> 
            <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/responsive.css')}"/> 
            <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/typography.css')}"/> 
            <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/style_override.css')}"/>
            
            <apex:outputPanel layout="none" rendered="{!TypeOfSR='Objection'}" id="objectionPanel">
                <h4>Raise an Objection</h4><br/>
                    <apex:outputText value="{!objectionDescription}" escape="false"/>
                    <apex:pagemessages id="objectionmsg" escape="false"/>
                    <apex:pageblock title="Service Request Edit" id="objectionBlock">
                        <apex:pageBlockButtons id="objectionButton">
                            <apex:actionFunction action="{!saveObjectionSR}" name="saveObjectionSR"/>
                            <apex:commandButton value="Save" onclick="fieldValidations(); return false;" id="objectionSave"/>
                            <apex:commandButton value="Cancel" action="{!$site.Prefix}/home" id="objectionCancel"/>
                        </apex:pageBlockButtons>
                        <apex:pageBlockSection title="Service Request Details" columns="2" id="objectionSection1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Client"/>
                                <apex:outputText value="{!client}"/>
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Related Request"/>
                                <apex:outputText value="{!RelatedRequest}"/>
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Compliance"/>
                                <apex:outputText value="{!Compliance}"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection title="Provide Objection Reason" columns="2" id="objectionSection2">
                            <apex:pageBlockSectionItem id="objectionSectionItem2">
                                <apex:outputLabel value="Reason for Objection"/>
                                <apex:outputPanel styleClass="requiredInput" layout="block" >
                                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                    <apex:inputField value="{!objSR.Reason_for_Request__c}" id="objectionReason"/>
                                </apex:outputPanel>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        <apex:pageBlockSection title="Please enter details if the Person to whom this notice is addressed , is not a natural Person" columns="2" id="OtherDetails3">
                            <apex:pageBlockSectionItem id="positionSection">
                                <apex:outputLabel value="Position"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!objSR.Position__c}" id="position"/>
                                    </apex:outputPanel>
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem id="addresseSection">
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:outputLabel value="Name the Person to whom this Notice is addressed "/>
                                        <apex:inputField value="{!objSR.Name_of_Addressee__c}" id="addresse"/>
                                    </apex:outputPanel>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                    </apex:pageblock>
                    
                     <script type="text/javascript">
                         function fieldValidations(){
                             var reason = document.getElementById('finePage:automatedFineProcess:objectionBlock:objectionSection2:objectionSectionItem2:objectionReason').value;
                             var position = document.getElementById('finePage:automatedFineProcess:objectionBlock:OtherDetails3:positionSection:position').value;;
                             var addresse = document.getElementById('finePage:automatedFineProcess:objectionBlock:OtherDetails3:addresseSection:addresse').value;;
                             if(reason  == '' || position  == '' || addresse  == ''){
                                 alert('Please provide all required values before Submitting');
                             }
                             else{
                                 saveObjectionSR();
                             }
                         }
                     </script>
                
            
            </apex:outputPanel>
            
            <apex:outputPanel layout="none" rendered="{!TypeOfSR='Payment'}" id="paymentPanel">
                <h4>Fine Payment</h4><br/>
                
                    <apex:pagemessages id="finemsg" escape="false"/>
                    <apex:pageblock title="Service Request Edit" id="fineBlock">
                        <apex:pageBlockButtons id="fineButton">
                            
                            <apex:commandButton value="Pay Fine" action="{!finePaymentSR}" id="fineSave"/>
                            <apex:commandButton value="Cancel" action="{!$site.Prefix}/home" id="fineCancel"/>
                        </apex:pageBlockButtons>
                        <apex:pageBlockSection title="Service Request Details" columns="2" id="fineSection1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Client"/>
                                <apex:outputText value="{!client}"/>
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="Compliance"/>
                                <apex:outputText value="{!Compliance}"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                        
                    </apex:pageblock>
            </apex:outputPanel>
            
            <script type="text/javascript">
                function fieldValidations(){
                  var reason = document.getElementById('finePage:automatedFineProcess:objectionBlock:objectionSection2:objectionSectionItem2:objectionReason').value;
                  var position = document.getElementById('finePage:automatedFineProcess:objectionBlock:OtherDetails3:positionSection:position').value;;
                  var addresse = document.getElementById('finePage:automatedFineProcess:objectionBlock:OtherDetails3:addresseSection:addresse').value;;
                  if(reason  == '' || position  == '' || addresse  == ''){
                      alert('Please provide all required values before Submitting');
                  }
                  else{
                      saveObjectionSR();
                  }
              }
            </script>
        </apex:outputPanel>
       
        <apex:outputPanel layout="none" rendered="{!isObjection==false}" id="exceptionDatePanel">
            <style>
                .loader {
                    position: absolute; 
                    top: 35%;
                    left: 45%; 
                    margin-left: -60px; 
                    filter: Alpha(Opacity =70);  
                    opacity: 0.70;
                    -moz-opacity: 0.70;
                 }
                 /* This is for the full screen DIV */
                 .popupBackground {
                     /* Background color */
                     background-color:black;
                     opacity: 0.20;
                     filter: alpha(opacity = 20);
                  
                     /* Dimensions */
                     width: 100%;
                     height: 100%;
                     top: 0;
                     left: 0;
                     z-index: 998;
                     position: absolute;
                 }
              
                 /* This is for the message DIV */
                 .PopupPanel {
                     /* Background color */
                     /*border: solid 2px #00205B;
                     background-color: white;
                    */
                     /* Dimensions */
                     left: 50%;
                     width: 100px;
                     margin-left: -100px;
                     border-radius: 15px
                     top: 20%;
                     height: 100px;
                     margin-top: 60px;
                     z-index: 999;
                     position: fixed;
                 }
                 
                 th{
                    text-align:center; 
                    background-color:#141B4D;
                    color: white;
                 }
                 
                 .tableTd{
                    text-align:center; 
                 }
                 
            </style>
            
            <apex:actionStatus id="pleasewait" stopText="">
                <apex:facet name="start">
                    <div>
                        <div class="popupBackground"></div>
                        <div class="PopupPanel">
                            <img src="{!$Resource.LoadingImage}"/>
                        </div>
                    </div>
                </apex:facet>
            </apex:actionStatus>
            
            <apex:pageBlock title="Update Exception Date for Annual Return" id="infoBlock">
                
                <apex:actionfunction name="selectComplianceType" action="{!getAllRelatedCompliances}" rerender="automatedFineProcess" status="pleasewait"/>
                <apex:actionfunction name="selectAll" action="{!selectAll}" rerender="automatedFineProcess" status="pleasewait"/>
                <apex:actionfunction name="updateExceptionDateAction" action="{!updateExceptionDate}" rerender="automatedFineProcess" status="pleasewait"/>
                
                <apex:pageBlockButtons rendered="{!complianceSelected == 'Open'}">
                    <apex:commandButton value="Update Exception Date" onclick="updateExceptionDate(); return false;"/>
                </apex:pageBlockButtons>                    
                
                <apex:pageBlockSection title="List of Annual Return Compliance" id="infoSection" >
                    <apex:outputText value="Select Compliance Status"/>
                    <apex:selectList value="{!complianceSelected}" multiselect="false" size="1" onchange="selectComplianceType();">
                        <apex:selectOptions value="{!complianceType}"/>
                    </apex:selectList>
                    <apex:outputText value="Select all Compliance" rendered="{!complianceSelected == 'Open'}"/>
                    <apex:inputCheckBox value="{!selectAll}" id="selectAll" rendered="{!complianceSelected == 'Open'}" onchange="selectAll()"/>
                    <apex:outputText value="New Exception Date" rendered="{!complianceSelected == 'Open'}"/>
                    <apex:input type="date" value="{!exceptionDate}" id="exceptionDate" rendered="{!complianceSelected == 'Open'}" onchange="selectAll()"/>
                </apex:pageBlockSection>
                
                <apex:commandButton value="<<Previous" action="{!previous}" rendered="{!hasPrevious}" reRender="infoBlock" />
                <apex:commandButton value="Next >>" action="{!next}" rendered="{!hasNext}" reRender="infoBlock" />

                <table style="border-collapse: collapse;width:100%; margin-top:10px;" border="1" >
                    <tr>
                        <apex:outputPanel layout="none" rendered="{!complianceSelected == 'Open'}">
                            <th><apex:outputText value="Select"/></th>
                        </apex:outputPanel>
                        <th><apex:outputText value="Client Name"/></th>
                        <th><apex:outputText value="Start Date"/></th>
                        <th><apex:outputText value="End Date"/></th>
                        <th><apex:outputText value="Exception Date"/></th>
                        <apex:outPutPanel rendered="{!complianceSelected=='Defaulted'}" layout="none">
                            <th><apex:outputText value="Defaulted Date"/></th>
                        </apex:outPutPanel>
                    </tr>
                    
                    <apex:Repeat value="{!lstSetController}" var="obj" >
                        <tr>
                            <apex:outputPanel layout="none" rendered="{!complianceSelected == 'Open'}">
                                <td class="tableTd">
                                    <apex:inputCheckBox styleClass="check" value="{!obj.selectRecord}" />
                                </td>
                            </apex:outputPanel>
                            <td class="tableTd"><apex:outputText value="{!obj.client}"/></td>
                            <td class="tableTd">
                                <apex:outputText value="{0,date,dd/MM/YYYY}">
                                    <apex:param value="{!obj.startDate}"/>
                                </apex:outputText>
                            </td>
                            <td class="tableTd">
                                <apex:outputText value="{0,date,dd/MM/YYYY}">
                                    <apex:param value="{!obj.endDate}"/>
                                </apex:outputText>
                            </td>
                            <apex:outputPanel layout="none" rendered="{!complianceSelected=='Open'}">
                                <td class="tableTd">
                                <apex:input Type="date" value="{!obj.exceptionDate}" styleClass="exceptionDate"/>
                                </td>
                            </apex:outputPanel>
                            <apex:outputPanel layout="none" rendered="{!complianceSelected!='Open'}">
                                <td class="tableTd">
                                <apex:outputText value="{0,date,dd/MM/YYYY}">
                                    <apex:param value="{!obj.exceptionDate}"/>
                                </apex:outputText>
                                </td>
                            </apex:outputPanel>
                                <apex:outputPanel layout="none" rendered="{!complianceSelected=='Defaulted'}">
                                    <td class="tableTd">
                                    <apex:outputText value="{0,date,dd/MM/YYYY}">
                                        <apex:param value="{!obj.defaultedDate}"/>
                                    </apex:outputText>
                                    </td>
                                </apex:outputPanel>
                        </tr>
                    </apex:Repeat>
                </table>
            </apex:pageBlock>
            <script type="text/javascript">
                
                function updateExceptionDate(){
                    var selectAll = document.getElementById('finePage:automatedFineProcess:infoBlock:infoSection:selectAll').checked;
                    var exceptionDate = document.getElementById('finePage:automatedFineProcess:infoBlock:infoSection:exceptionDate').value;
                    var hasSelected;
                    var hasError = 'false';
                    if(selectAll == 1 && exceptionDate==''){
                        alert('Please provide exception Date');
                        hasError = 'true';
                    }
                    
                    for(var i=0;i<document.getElementsByClassName('check').length;i++){
                        if(document.getElementsByClassName('check')[i].checked == true){
                            hasSelected = true;
                            break;
                        }
                        else{
                            hasSelected = false;
                        }
                    }
                    
                    if(hasSelected==false && selectAll == 0){
                        alert('Select Compliance and provide exception date to update.');
                        hasError = 'true';  
                    }
                    
                    if(hasError == 'false'){
                        updateExceptionDateAction();
                    }
                    
                }
                
                function selectAllBox(){
                        selectAll();
                }
                
                
            </script>
        </apex:outputPanel>
       
    </apex:form>
</apex:page>