<apex:page standardController="Service_Request__c" extensions="cls_ClientInformation_edit" id="page" tabStyle="Service_Request__c" sidebar="false">
    <apex:sectionHeader title="Client Information" />
    <apex:pageMessages id="messageId"/>
    <apex:form rendered="{!isNull(Service_Request__c.Completed_Date_Time__c)}" id="formId">
        <apex:inputHidden value="{!Service_Request__c.Customer__c}" />
        <apex:pageBlock mode="Edit">
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!save}" value="Save" />
                <apex:commandButton action="{!cancel}" value="Cancel" />               
            </apex:pageBlockButtons>
            <apex:pageBlockSection columns="1" collapsible="false" title="Correspondence Details">
                <apex:outputField label="Client Name" value="{!Service_Request__c.Customer__r.Name}" />
                <apex:outputField value="{!Service_Request__c.Email__c}" />
                <apex:outputField value="{!Service_Request__c.Send_SMS_To_Mobile__c}" />
            </apex:pageBlockSection>
            <apex:pageBlockSection columns="1" collapsible="false" title="CEO / SEO / Managing Director or personnel at a similar position">
                <apex:outputLabel >Please enter the details of the Chief Operating Officer,Senior Executive Officer,Managing Director or an individual holding a similar position</apex:outputLabel>
                <apex:inputField value="{!CEODetails.Given_Name__c}" label="First Name" required="true"/>
                <apex:inputField value="{!CEODetails.Family_Name__c}"  label="Last Name" required="true"/>
                <apex:inputField value="{!CEODetails.Passport_No__c}" required="true" rendered="{!CEODetails.Passport_No__c == Null}"/>
                <apex:outputField value="{!CEODetails.Passport_No__c}" rendered="{!CEODetails.Passport_No__c != Null}"/>
                  <apex:inputField value="{!CEODetails.Nationality_list__c}" required="true"/>
                <apex:inputField value="{!CEODetails.Person_Email__c}" required="true"/>
                 <apex:inputField value="{!CEODetails.Mobile__c}" required="true"/>
              
               
            </apex:pageBlockSection>
            <apex:outputPanel id="panelId">
                <apex:pageBlockSection columns="1" collapsible="false" title="Point of Contact for General Communications:" rendered="{!IF(CorporateCommunication == null,false, true)}">
                <apex:inputField value="{!CorporateCommunication.Given_Name__c}"   label="First Name" required="true"/>
                <apex:inputField value="{!CorporateCommunication.Family_Name__c}" label="Last Name" required="true"/>
                <apex:outputField value="{!CorporateCommunication.Passport_No__c}" rendered="{!CorporateCommunication.Passport_No__c != Null}"/>
                <apex:inputField value="{!CorporateCommunication.Person_Email__c}" required="true"/>
                <apex:inputField value="{!CorporateCommunication.Mobile__c}" required="true"/>
                 
            </apex:pageBlockSection>
            </apex:outputPanel>            
             <apex:pageBlockSection columns="1" collapsible="false" title="Point of contact for general communications" rendered="{!listOfAmendment.size > 0}">
              <apex:variable var="c" value="{!0}" />              
                 <apex:pageBlockTable value="{!listOfAmendment}" var="item">                    
                         <apex:column value="{!item.Given_Name__c}"/>
                         <apex:column value="{!item.Family_Name__c}"/>
                        
                         <apex:column value="{!item.Person_Email__c}"/>
                         <apex:column value="{!item.Mobile__c}"/>
                         <apex:column value="{!item.Relationship_Type__c}"/>
                         <apex:column headerValue="Edit">
                             <apex:commandLink action="{!EditAmendment}" value="Edit" reRender="panelId">
                                 <apex:param assignTo="{!indexOfList}" value="{!c}" name="indexOfList"/>
                             </apex:commandLink>
                                <apex:facet name="footer">
                                    <apex:commandButton action="{!AddNewAmendment}" value="Add" reRender="formId"/>
                                </apex:facet>
                         </apex:column>
                        <apex:column headerValue="Remove">
                             <apex:commandLink action="{!removeAmendment}" value="Remove" reRender="panelId">
                                 <apex:param assignTo="{!indexOfList}" value="{!c}" name="indexOfList"/>
                             </apex:commandLink>
                             <apex:variable var="c" value="{!c+1}"/>
                         </apex:column>
                 </apex:pageBlockTable>                 
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>
</apex:page>