<apex:page standardController="Service_Request__c" extensions="cls_confirmation_statement_edit" standardStylesheets="true"  id="page" showHeader="false" tabStyle="Service_Request__c" sidebar="false" >

<apex:pageBlock mode="maindetail">

<apex:pageBlockSection columns="1" rendered="{!OR(!IsFEY_Provided ,  Service_Request__c.Legal_Structures__c=='LTD')}" >


<apex:pageBlockSectionItem rendered="{!Service_Request__c.Legal_Structures__c=='LTD'}" >
<b></b>

<apex:outputPanel >


<div>
<b>Annual Turnover </b><br />

The annual turnover calculated on a consolidated basis including all subsidiaries is equal to or less than USD 5 million? 
<br />

<apex:outputField value="{!Service_Request__c.Confirm_Change_of_Trading_Name__c}"/>

</div></apex:outputPanel>


</apex:pageBlockSectionItem>


<apex:pageBlockSectionItem rendered="{!!(IsFEY_Provided)}">
<b></b>

<apex:outputPanel >

<div><br />
<b>Financial Year End</b><br />

Please enter the date of the Financial Year End of {!Service_Request__c.Entity_Name__c}
<br />

<apex:outputField value="{!Service_Request__c.Financial_Year_End_mm_dd__c}"/>

</div></apex:outputPanel>

</apex:pageBlockSectionItem>




</apex:pageBlockSection>


<apex:pageBlockSection columns="1" id="Undertaking" collapsible="false" title="Confirmation & Undertaking ">

<apex:pageBlockSectionItem >
<apex:outputField label="DIFC Client Portal" value="{!Service_Request__c.Entity_Name_checkbox__c}"/>
<apex:outputPanel >
I hereby confirm that the company profile and officer details available on the DIFC Client Portal are accurate and up to date as of
&nbsp;
 <b>
 <apex:outputText value="{0,date,dd/MMM/yyyy}"> <apex:param value="{!Service_Request__c.CreatedDate}" /> </apex:outputText>
 </b>
 </apex:outputPanel>
</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!ObjAccount.Exempted_from_UBO_Regulations__c!=true}">
<apex:outputField value="{!Service_Request__c.Registered_Office_Address__c}"/>
  I hereby confirm that there has been no changes to the Ultimate Beneficial Owners register since the last filing with the DIFC Registrar of Companies.

</apex:pageBlockSectionItem>



    <apex:pageBlockSectionItem rendered="{!if(Service_Request__c.Confirm_Change_of_Trading_Name__c=='Yes',true,false)}">
    <apex:outputField value="{!Service_Request__c.Registered_Phone_Number__c}"/>
       I hereby confirm that {!Service_Request__c.Entity_Name__c} has an annual turnover of US$5 million or less, calculated on a consolidated basis including all subsidiaries. 
    </apex:pageBlockSectionItem>


<apex:pageBlockSectionItem rendered="{!SRData.Legal_Structures__c !='NPIO'}">
<apex:outputField value="{!Service_Request__c.Business_Activity__c}"/>
  I hereby confirm that all information required to be filed by the entity pursuant to DIFC Companies Law, Law No. 5 of 2018 and Companies Regulations in 
  relation to the confirmation period ending<br /> with the license expiry date has been filed or is being filed at the same time as the filing this statement. 

</apex:pageBlockSectionItem>

<apex:pageBlockSectionItem rendered="{!SRData.Legal_Structures__c =='NPIO'}">
<apex:outputField value="{!Service_Request__c.Business_Activity__c}"/>
  I hereby confirm that all information required to be filed by the entity pursuant to DIFC Non Profit Incorporated Organisations Law, DIFC Law No. 6 of 2012 
  <br/>in relation to the confirmation period ending with the license expiry date has been filed or is being filed at the same time as the filing this statement. 

</apex:pageBlockSectionItem>



 <!---------------------------- Start 7716 ----------------------------->
     <apex:pageBlockSectionItem rendered="{!if(ObjAccount.Qualifying_Type__c!=null && ObjAccount.Qualifying_Type__c!= 'Qualifying Purpose',true,false)}">
    <apex:outputfield value="{!Service_Request__c.Processing_Personal_Data__c}"/>
   <apex:outputPanel > 
    <!-- <apex:outputText escape="false" rendered="{!ObjAccount.Qualifying_Type__c='Qualifying Purpose'}" value="I hereby confirm that {!Service_Request__c.Entity_Name__c} continues to serve its Qualifying Purpose" /> -->
    <apex:outputText escape="false" rendered="{!ObjAccount.Qualifying_Type__c='Qualifying Applicants'}"  value="I hereby confirm that {!Service_Request__c.Entity_Name__c} continues to be controlled by one (1) or more Qualifying Applicants" />
    <apex:outputText escape="false" rendered="{!ObjAccount.Qualifying_Type__c='Qualifying Applicants & Purpose'}"  value="I hereby confirm that {!Service_Request__c.Entity_Name__c} : <br />(i) continues to be controlled by one (1) or more Qualifying Applicants; or<br />(ii) continues to serve its Qualifying Purpose." />
    </apex:outputPanel>
    </apex:pageBlockSectionItem>
    
    
    <!-- <apex:pageBlockSectionItem rendered="{!if(AND(ObjAccount.Qualifying_Purpose_Type__c!=null,ObjAccount.Qualifying_Purpose_Type__c=='Structured Financing'),true,false)}">
    <apex:outputfield value="{!Service_Request__c.On_behalf_of_identical_name__c}"/>
    
    <apex:outputText escape="false" value="Is the Initiator or a transaction party an Authorised Firm licensed by DFSA or a Recognised Financial Services Regulator."
    />
    </apex:pageBlockSectionItem> -->
    
    
    <!---------------------------- End 7716 ----------------------------->



 <!--Below Logic added by Sai, For 6368  -->
    <apex:pageBlockSectionItem rendered="{!isISPV}">
        <apex:outputfield value="{!Service_Request__c.Change_Activity__c}"/>
        The ISPV continues to be owned or controlled by 1 or more DIFC registered entities with a physical presence in the DIFC, that is one of the below:
        <br/>   A fund or fund vehicle;
        <br/>   A fund manager regulated by the DFSA;
        <br/>   A Holding Company; 
        <br/>   A Single Family Office;
        <br/>   A Proprietary investment company; or
        <br/>   Any other entity regulated by the DFSA (that has been approved as a qualifying applicant by the Registrar) 
    </apex:pageBlockSectionItem>
    <!--Above Logic added by Sai, For 6368  -->
	
	<!--Below Logic added by Sai, For 7917  -->
    <apex:pageBlockSectionItem rendered="{!if(contains(ObjAccount.License_Activity__c,'316'),'true','false')}">
        <apex:outputField value="{!Service_Request__c.Use_Registered_Address__c}"/>
        <apex:outputText escape="false" value="I hereby confirm that the appointed Authorised Representative(s) are ordinarily resident (s) in the UAE." />
    </apex:pageBlockSectionItem>
    <!--Above Logic added by Sai, For 7917  -->



</apex:pageBlockSection> 
 
 <apex:pageBlockSection columns="1" rendered="{!(ObjAccount.Qualifying_Type__c =='Qualifying Purpose' && ObjAccount.Qualifying_Purpose_Type__c =='Structured Financing') || structuredFinancing}" collapsible="false" title="Prescribed Company Declarations">
		
		<apex:pageBlockSectionItem >
			<b></b>
			<apex:outputPanel >
				<div>
				Does {!ObjAccount.Name} continue to serve its Qualifying Purpose?
				<br />
				<apex:actionregion >
					<apex:outputField value="{!Service_Request__c.Is_the_Initiator_or_a_transaction_party__c}">
						<apex:actionSupport event="onchange" rerender="reason" status="mystatus"/>
					</apex:outputField>
				</apex:actionregion>
				</div>
			</apex:outputPanel>
		</apex:pageBlockSectionItem>
		
		<apex:pageBlockSectionItem >
			<b></b>
			<apex:outputPanel id="reason">
				<div>
					<apex:outputlabel rendered="{!IF(Service_Request__c.Is_the_Initiator_or_a_transaction_party__c == 'No', true, false)}" value="Please explain why the company is no longer serving its Qualifying Purpose"/>
					<br/>
					<apex:outputField value="{!Service_Request__c.Bank_Name__c}" rendered="{!IF(Service_Request__c.Is_the_Initiator_or_a_transaction_party__c == 'No', true, false)}"/>
				</div>
			</apex:outputPanel>
		</apex:pageBlockSectionItem>
		
		<apex:pageBlockSectionItem > 
			<b></b>
			<apex:outputPanel >
				<div>
				Is the Initiator or a transaction party an Authorised Firm licensed by DFSA or a Recognised Financial Services Regulator. 
				<br />
				<apex:outputField value="{!Service_Request__c.Include_passport_numbers_on_Certificate__c}"/>
				</div>
			</apex:outputPanel>
		</apex:pageBlockSectionItem>
	</apex:pageBlockSection>
 
</apex:pageBlock>

</apex:page>