<apex:page standardController="Step__c" extensions="DNRDController" action="{!dnrd}">
 <apex:form >
   <apex:pageBlock title="Step Details">
   
        <b>Step Name : </b> <apex:outputText value="{!Step__c.Step_Name__c}"/><br/>
   
   </apex:pageBlock>
 </apex:form>
</apex:page>