<apex:page docType="html-5.0" sidebar="true" cache="true" tabStyle="Employee_Requests__tab" controller="DIFCServicesController" action="{!LoadEmployeeRequests}" applyBodyTag="false">

    <!--<apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>-->
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/foundation.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/responsive.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/typography.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/style_override.css')}"/> 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"></link>    

    <style>
        .outer td.oRight{padding: 0;}
        .accordion .subMenu .menu-items {margin-left: 0;}
        .accordion .subMenu .menu-items li {line-height: 2em;}
        /*a.SubMenu-Section {background-color: rgb(138, 138, 172); color:#fff;}*/
         a.SubMenu-Section {
        /*background-color: rgb(0, 161, 223);*/
          font-weight: bold;
        /*color:#fff;*/
          line-height: 30px;
          font-size: 1.0em;
          background-color: #e8ebec;
        }
        /*.sub-section .menu-items {background-color: #f1f3f3;}*/
        a.SubMenu-Section.collapsed + div.sub-section {display:none;}
        a.SubMenu-Section {background-color: #e8ebec;}        
        .sub-section li a {padding-left: 30px !important;}
        i.fa {line-height: 30px; float: right; right: 10px; font-size: 1.5em; font-weight: bold;}
        .accordion dd>a {background:#00205B !important; color: #fff !important;}
        
        .main-content.services .box{
          
          /* -webkit-transition -moz, etc, too */
          -webkit-transition: width 0.3s, height 0.3s !important;
             -moz-transition: width 0.3s, height 0.3s !important;
               -o-transition: width 0.3s, height 0.3s !important;
                  transition: width 0.3s, height 0.3s !important;         
        }       
    </style>
  
    
    <body>

        <div class="row services-requests container">        
           <div>
               <div class="large-8 columns">
                   <h3>Employee Services</h3>
                   <p>
                    Welcome to Employee Services. This section allows you to submit service requests related to DIFC Government Services such as  new employment packages, Renewal of employment packages, amendments and cancellations. Other services are also available such as non-sponsored employment cards, visits visas and dependent packages. You may  click on the service you wish to apply for, fill the form and submit. Submission can only be completed if enough balance is available on the entity account.                   
                   </p>
                   <p>
                    Please note that original documents will be required for certain applications as indicated in the service request or notified by the DIFC Government Services team.                   
                   </p>
                   <p>
                     Government Services Office working hours are: Sunday to Thursday from 08:00 AM to 03:00 PM
                   </p>
                   <p>
                    <a href="https://www.difc.ae/operating/government-services" target="_blank">For detailed requirements and procedures, please click here to download GSO Client Handbook.</a>    
                   </p>
                   
               </div>
                <!--Added by Veera for Tkt 4394  -->
                <div class="large-4 columns services-requests" style="width: 28%;padding-top: 13px;float:left;">
                            <!--V1.1 rendered="{!Services_Enabled_For_User}"-->
                            <apex:outputPanel layout="block" rendered="{!Services_Enabled_For_User}">
                                <c:TrainingRequestComponent type="Employee Services" ></c:TrainingRequestComponent>
                            </apex:outputPanel>
                            <c:GSOEmpServicesNotification ></c:GSOEmpServicesNotification>
                </div>
            </div>
           <script>
              var servicesJSON_menu = {!ServicesJSONMenu};              
           </script>
           
           <apex:outputPanel id="thePanel" layout="block" rendered="{!IF(AND (Services_Enabled_For_User == true , PSATerminated == false),true,false)}">  <!-- //V1.28 -->
                <div class="hidden-services">
                <apex:repeat value="{!sections}" var="subMenu" >
                   <!-- <apex:repeat value="{!EmployeeServiceRequestsMenu}" var="subMenu" > -->
                        <div class="box" style="display:none;">
                            <dl class="accordion" data-accordion="data-accordion">
                                <dd data-tab="data-tab">
                                    <a href="javascirpt:void(0)" class="expanded collapsed">{!subMenu}</a>
                                      <ul class="subMenu">
                                          <apex:repeat value="{!EmployeeServiceRequestsMenu[subMenu]}" var="subMenuSection" >
                                              <li>
                                                <!-- <a href="#" class="collapsed expanded"></a> -->
                                                <apex:outputLink styleClass="SubMenu-Section collapsed" rendered="{!subMenuSection != subMenu}" 
                                                value="javascript:void(0)"><i class="fa fa-angle-up fa fa-angle-down"></i>
                                                  {!subMenuSection} Test
                                                </apex:outputLink>
                                                <div class="{!IF(subMenuSection == subMenu, 'no-section', 'sub-section')}">                                                
                                                  <ul class="menu-items">

                                                    <apex:repeat value="{!EmployeeServiceRequestsMenu[subMenu][subMenuSection]}" var="subMenuSection_ListItem" >
                                                      <li>
                                                        <a id="{!subMenuSection_ListItem.API_NAME}" 
                                                           href="{!$Site.Prefix}/{!ServiceRequest_Prefix}/e?RecordType={!subMenuSection_ListItem.RecordId}&type={!subMenuSection_ListItem.API_NAME}&service_request_title={!subMenuSection_ListItem.PortalServiceTitle}&retURL={!$Site.Prefix}/home" style="display:{!IF(subMenuSection_ListItem.isFlow==false && subMenuSection_ListItem.strFlowId==null,'','none')};">
                                                            {!subMenuSection_ListItem.MenuTitle}
                                                        </a>                                                  
                                                      </li>
                                                    </apex:repeat>
                                                  </ul>
                                                </div>
                                              </li>
                                         </apex:repeat>
                                      </ul>
                                </dd>
                             </dl>
                        </div>
                        <!-- </apex:repeat> --> 
                    </apex:repeat>         
                </div>
            </apex:outputPanel>
            
            <div class="large-12 columns">
                <apex:outputPanel rendered="{!NOT(Services_Enabled_For_User)}">
                    <div data-alert="" class="alert-box info radius" style="line-height: 20px; font-size: 1rem; font-style: italic;">
                        <i class="icon icon-information" style="width:20px; height: 20px;"></i>The following services are not enabled for you. Please <a href="{!$Site.Prefix}/apex/User_Access_Form">click here</a> and submit a request to DIFC to enable it.
                    </div>
                </apex:outputPanel>    
                
                <apex:outputPanel rendered="{!PSATerminated==true}"><!-- //V1.28 -->
                    <div data-alert="" class="alert-box info radius" style="line-height: 20px; font-size: 1rem; font-style: italic;">
                        <i class="icon icon-information" style="width:20px; height: 20px;"></i>The following services are not enabled for you. Please submit a request to DIFC to enable it.
                    </div>
                </apex:outputPanel>                         
            </div>
            
            <div class="large-12 columns masonry main-content services bottom-space-20" style="float:left;padding-left:10px;">                   
            </div><!-- main content -->
            
        </div>
        
        <script type="text/javascript" src="//cdn.jsdelivr.net/masonry/3.1.5/masonry.min.js"></script>
        <script>


        function reArrangeBoxes(){
            var $heroContainer = jQuery(".main-content.services");
            $heroContainer.masonry();
        }
        jQuery(function(){
              jQuery(".services-requests .main-content").masonry({
                itemSelector: '.box',
                /* transitionDuration: 0, */
                  animationOptions: {
                    duration: 200
                }
              });
             jQuery('#Application_of_Registration').attr('href', '{!$Site.Prefix}/apex/Process_Flow?FlowId=a1A110000036Dvc');
            
              var $heroContainer = jQuery(".main-content.services");
              /*                         
              $(".hidden-services .box").each(function(){
                 $(this).attr("style", "block");
                 $(heroContainer).append($(this));       
              })*/
              var boxes = jQuery(".hidden-services .box");
              $heroContainer.append(boxes);
              $heroContainer.masonry("appended", boxes); 
              $heroContainer.masonry(); 
              
            jQuery('a.SubMenu-Section').on('click', function(){
                var $thisSection = jQuery(this);
                $thisSection.toggleClass('collapsed');
                $thisSection.find('i').toggleClass('fa-angle-down');
                                
                if($thisSection.hasClass('collapsed')){
                    $thisSection.next().slideUp('slow', reArrangeBoxes);
                                        
                }else{
                    $thisSection.next().slideDown('slow', reArrangeBoxes);
                }
                
            
            })              
                          
        }) 
        
        jQuery( document ).ready(function() {
            var parentwidth = window.innerWidth;
            parentwidth = parentwidth * .98;
            jQuery(".header").toggleClass("header").width(parentwidth);
            jQuery(".bPageHeader").toggleClass("bPageHeader").width(parentwidth);    
        });
        
        Sfdc.onReady(function() {
             jQuery('#Application_of_Registration').attr('href', '{!$Site.Prefix}/apex/Process_Flow?FlowId=a1A110000036Dvc');
        });        
        </script>
    </body>
<!-- End Default Content REMOVE THIS -->
</apex:page>