<apex:page controller="EnterGIINController" showHeader="true" sidebar="false" tabStyle="Account">
   
    <apex:form >
        <apex:pageBlock title="Please enter a valid GIIN Number">
            <apex:pageBlockButtons >
                <apex:commandButton value="Save" action="{!save}" rendered="{!isGIINExsit == false}"/>
            </apex:pageBlockButtons>
            {!isGIINExsit }
            <apex:pageBlockSection > 
                <apex:inputField value="{!account.GIIN__c}" rendered="{!isGIINExsit == false}"  required="true"/>
                <apex:outputField value="{!account.GIIN__c}" rendered="{!isGIINExsit == true}"/>
                The GIIN is a 19-digit alphanumeric identifier and should be entered with appropriate punctuation (period or decimal). Example: 98Q96B.00000.LE.250  
            </apex:pageBlockSection>
        </apex:pageBlock>
    </apex:form>

</apex:page>