<apex:page tabStyle="FAQs__tab" sidebar="true" cache="true" controller="Faq_controller" action="{!load_faqs}" >
    <!--<apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>-->
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/foundation.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/responsive.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/typography.css')}"/> 
    <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/style_override.css')}"/> 

    <style>
        /* .container {margin-top: 55px;} */
        h1, h2, h3, h4, h5, h6{
            text-transform: capitalize;
        }
        /* .content-bottom {
            position: absolute;
            bottom: 0px;
        } */
         
        .faq-contents {margin-bottom: 20px;}
        
        .answer p {
          color: #454A50;
        }
        
        .faq-contents h5 {
            line-height:20px;
            font-size:16px;
            font-weight:700;
            color: #00205B;
            /*padding-left:24px;*/
            cursor:pointer;
            background-image:url('../img/open.png');
            background-position:left;
            background-repeat:no-repeat;
            margin: 0 auto;
        }
        
        .faq-contents h5.close {
            background-image:url('../img/close.png');
        }        
        .faq-section {
            /*padding-left: 20px;*/
            background-color: #f3f3f5;
        }       
        section ul { margin: 0;} 
        .list { list-style-type: none;}
                
        /* -------------------------------- 
        
        Main components 
        
        -------------------------------- */
        header {
          position: relative;
          height: 180px;
          line-height: 180px;
          text-align: center;
          background-color: #a9c056;
        }
        header h1 {
          color: #ffffff;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          font-size: 20px;
          font-size: 1.25rem;
        }
        @media only screen and (min-width: 1024px) {
          header {
            height: 240px;
            line-height: 240px;
          }
          header h1 {
            font-size: 36px;
            font-size: 2.25rem;
            font-weight: 300;
          }
        }
        
        .cd-faq {
          width: 90%;
          max-width: 1024px;
          margin: 2em auto;
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
        }
        .cd-faq:after {
          content: "";
          display: table;
          clear: both;
        }
        @media only screen and (min-width: 768px) {
          .cd-faq {
            position: relative;
            margin: 4em auto;
            box-shadow: none;
          }
        }
        
        .cd-faq-categories a {
          position: relative;
          display: block;
          overflow: hidden;
          height: 50px;
          line-height: 50px;
          padding: 0 28px 0 16px;
          background-color: #4e5359;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          color: #ffffff;
          white-space: nowrap;
          border-bottom: 1px solid #555b61;
          text-overflow: ellipsis;
        }
        .cd-faq-categories a::before, .cd-faq-categories a::after {
          /* plus icon on the right */
          position: absolute;
          top: 50%;
          right: 16px;
          display: inline-block;
          height: 1px;
          width: 10px;
          background-color: #7f868e;
        }
        .cd-faq-categories a::after {
          -webkit-transform: rotate(90deg);
          -moz-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          -o-transform: rotate(90deg);
          transform: rotate(90deg);
        }
        .cd-faq-categories li:last-child a {
          border-bottom: none;
        }
        @media only screen and (min-width: 768px) {
          .cd-faq-categories {
            width: 20%;
            float: left;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
          }
          .cd-faq-categories a {
            font-size: 13px;
            font-size: 0.8125rem;
            font-weight: 600;
            padding-left: 24px;
            padding: 0 24px;
            -webkit-transition: background 0.2s, padding 0.2s;
            -moz-transition: background 0.2s, padding 0.2s;
            transition: background 0.2s, padding 0.2s;
          }
          .cd-faq-categories a::before, .cd-faq-categories a::after {
            display: none;
          }
          .no-touch .cd-faq-categories a:hover {
            background: #555b61;
          }
          .no-js .cd-faq-categories {
            width: 100%;
            margin-bottom: 2em;
          }
        }
        @media only screen and (min-width: 1024px) {
          .cd-faq-categories {
            position: absolute;
            top: 0;
            left: 0;
            width: 200px;
            z-index: 2;
          }
          .cd-faq-categories a::before {
            /* decorative rectangle on the left visible for the selected item */
            display: block;
            top: 0;
            right: auto;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: #a9c056;
            opacity: 0;
            -webkit-transition: opacity 0.2s;
            -moz-transition: opacity 0.2s;
            transition: opacity 0.2s;
          }
          .cd-faq-categories .selected {
            background: #42464b !important;
          }
          .cd-faq-categories .selected::before {
            opacity: 1;
          }
          .cd-faq-categories.is-fixed {
            /* top and left value assigned in jQuery */
            position: fixed;
          }
          .no-js .cd-faq-categories {
            position: relative;
          }
        }
        
        .cd-faq-items {
          position: fixed;
          height: 100%;
          width: 90%;
          top: 0;
          right: 0;
          background: #ffffff;
          padding: 0 5% 1em;
          overflow: auto;
          -webkit-overflow-scrolling: touch;
          z-index: 1;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transform: translateZ(0) translateX(100%);
          -moz-transform: translateZ(0) translateX(100%);
          -ms-transform: translateZ(0) translateX(100%);
          -o-transform: translateZ(0) translateX(100%);
          transform: translateZ(0) translateX(100%);
          -webkit-transition: -webkit-transform .3s;
          -moz-transition: -moz-transform .3s;
          transition: transform .3s;
        }
        .cd-faq-items.slide-in {
          -webkit-transform: translateZ(0) translateX(0%);
          -moz-transform: translateZ(0) translateX(0%);
          -ms-transform: translateZ(0) translateX(0%);
          -o-transform: translateZ(0) translateX(0%);
          transform: translateZ(0) translateX(0%);
        }
        .no-js .cd-faq-items {
          position: static;
          height: auto;
          width: 100%;
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          transform: translateX(0);
        }
        @media only screen and (min-width: 768px) {
          .cd-faq-items {
            position: static;
            height: auto;
            width: 78%;
            float: right;
            overflow: visible;
            -webkit-transform: translateZ(0) translateX(0);
            -moz-transform: translateZ(0) translateX(0);
            -ms-transform: translateZ(0) translateX(0);
            -o-transform: translateZ(0) translateX(0);
            transform: translateZ(0) translateX(0);
            padding: 0;
            background: transparent;
          }
        }
        @media only screen and (min-width: 1024px) {
          .cd-faq-items {
            float: none;
            width: 100%;
            padding-left: 220px;
          }
          .no-js .cd-faq-items {
            padding-left: 0;
          }
        }
        
        .cd-close-panel {
          position: fixed;
          top: 5px;
          right: -100%;
          display: block;
          height: 40px;
          width: 40px;
          overflow: hidden;
          text-indent: 100%;
          white-space: nowrap;
          z-index: 2;
          /* Force Hardware Acceleration in WebKit */
          -webkit-transform: translateZ(0);
          -moz-transform: translateZ(0);
          -ms-transform: translateZ(0);
          -o-transform: translateZ(0);
          transform: translateZ(0);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          -webkit-transition: right 0.4s;
          -moz-transition: right 0.4s;
          transition: right 0.4s;
        }
        .cd-close-panel::before, .cd-close-panel::after {
          /* close icon in CSS */
          position: absolute;
          top: 16px;
          left: 12px;
          display: inline-block;
          height: 3px;
          width: 18px;
          background: #6c7d8e;
        }
        .cd-close-panel::before {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
        }
        .cd-close-panel::after {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
        .cd-close-panel.move-left {
          right: 2%;
        }
        @media only screen and (min-width: 768px) {
          .cd-close-panel {
            display: none;
          }
        }
        
        .cd-faq-content > table > tr > td {
            border: none !important;
        }
        
        .cd-faq-group {
          /* hide group not selected */
          display: none;
        }
        .cd-faq-group.selected {
          display: block;
        }
        .cd-faq-group .cd-faq-title {
          background: transparent;
          box-shadow: none;
          margin: 1em 0;
        }
        .no-touch .cd-faq-group .cd-faq-title:hover {
          box-shadow: none;
        }
        .cd-faq-group .cd-faq-title h2 {
          text-transform: uppercase;
          font-size: 12px;
          font-size: 0.75rem;
          font-weight: 700;
          color: #bbbbc7;
        }
        .no-js .cd-faq-group {
          display: block;
        }
        @media only screen and (min-width: 768px) {
          .cd-faq-group {
            /* all groups visible */
            display: block;
          }
          .cd-faq-group > li {
            background: #ffffff;
            margin-bottom: 6px;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08);
            -webkit-transition: box-shadow 0.2s;
            -moz-transition: box-shadow 0.2s;
            transition: box-shadow 0.2s;
          }
          .cd-faq-group > li:hover {
            box-shadow: 0 1px 10px rgba(108, 125, 142, 0.3);
          }
          .cd-faq-group .cd-faq-title {
            margin: 2em 0 1em;
          }
          .cd-faq-group:first-child .cd-faq-title {
            margin-top: 0;
          }
        }
        
        .cd-faq-trigger {
          position: relative;
          display: block;
          margin: 1.6em 0 .4em;
          line-height: 1.2;
          text-decoration: inherit !important;  
        }
        @media only screen and (min-width: 768px) {
          .cd-faq-trigger {
            font-size: 24px;
            font-size: 1.5rem;
            font-weight: 300;
            margin: 0;
            padding: 20px 72px 24px 24px;
          }
          .cd-faq-trigger::before, .cd-faq-trigger::after {
            /* arrow icon on the right */
            position: absolute;
            right: 24px;
            top: 20px;
            height: 2px;
            width: 13px;
            background: #00205B;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            transition-property: transform;
            -webkit-transition-duration: 0.2s;
            -moz-transition-duration: 0.2s;
            transition-duration: 0.2s;
            content: '';
          }
          .cd-faq-trigger::before {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            right: 32px;
          }
          .cd-faq-trigger::after {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          .content-visible .cd-faq-trigger::before {
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
          }
          .content-visible .cd-faq-trigger::after {
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
          }
        }
        
        .cd-faq-content p {
          font-size: 14px;
                /*
          font-size: 0.875rem;
                line-height: 1.4;
                */
        }
        @media only screen and (min-width: 768px) {
          .cd-faq-content {
            display: none;
            padding: 0 24px 30px;
          }
          .cd-faq-content p {
            line-height: 1.6;
          }
          .no-js .cd-faq-content {
            display: block;
          }
        }
        
        .list td {
            border-bottom: none !important;
            padding: 0px !important;
        }
        
    </style>
    
    <div class="services-requests container">        
       <div class="row faq-contents">
           <div class="large-12 columns">
               <!-- <h3>FAQ<small style="color: #222;">s</small></h3>  -->
                
                <!--<section id="cd-faq-items faq-list">
                    
                    <input class="search" placeholder="Search" />
                    <button class="sort" data-sort="name"/> 
                    
                    <ul class="list cd-faq-group">
                        <apex:repeat value="{!faqs}" var="faq" id="faqs">   
                            <li>
                                <div class="faq-section" id="{!faq.Name}">
                                    <a class="cd-faq-trigger" name="{!faq.Name}" href="#{!faq.Name}"><h5 style="text-transform: none;">{!faq.Question__c}</h5></a>
                                    <div class="cd-faq-content answer">
                                        <p><apex:outputText value="{!faq.Answer__c}" escape="false"/></p>
                                    </div>                        
                                </div>                        
                            </li>                                
                        </apex:repeat>                                                                        
                    </ul>
                </section> -->    

                <!-- Heading -->
                <apex:repeat value="{!faqsMapSorted}" var="headingKey" id="faq-heading">
                
                    <p></p>
                    <h3><apex:outputText value="{!HTMLEncode(headingKey)}" /></h3>
                    <p>                    
                    </p>
                    
                    <!-- Sub-Heading -->    
                    <apex:repeat value="{!faqsMapSorted[headingKey]}" var="subheading" id="faq-subheading" >
                    
                        <p></p>
                        <h4><apex:outputText value="{!faqsMapSubHeadingMap[headingKey][subheading]}" /></h4>
                        <p>                    
                        </p>
                
                        <apex:repeat value="{!faqsMapSorted[headingKey][subheading]}" var="faqRecord" >
                
                            <section id="cd-faq-items faq-list">
                                
                                <ul class="list cd-faq-group">

                                    <li>
                                        <div class="faq-section" id="{!HTMLEncode(faqRecord.Name)}">
                                            <a class="cd-faq-trigger" name="{!HTMLEncode(faqRecord.Name)}" href="#{!HTMLEncode(faqRecord.Name)}"><h5 style="text-transform: none;">{!HTMLEncode(faqRecord.Question__c)}</h5></a>
                                            <div class="cd-faq-content answer">
                                                <p>    
                                                    <apex:outputField value="{!faqRecord.Answer__c}" />                                                    
                                                    <apex:outputField value="{!faqRecord.Screenshot__c}" />                                                       
                                                </p>
                                            </div>                        
                                        </div>                        
                                    </li> 
                                                                 
                                </ul>
                                
                            </section>
                        
                        </apex:repeat>
                    
                    </apex:repeat>
                
                </apex:repeat>                                              
           </div>
        </div>
        
        
     </div> 
    
       <div class="content-bottom">
          <hr/>
           <p>Having difficulties and need additional support? Click on one of the below links to speak directly with a DIFC representative or open a new support ticket and outline your request.</p>
           <div class="contact-support">
               <div class="support phone">
                   <!--<a href="tel:+97143622222"><i class="icon_phone_blue"></i>+971 4 362 2222</a>-->
                   <span><i class="icon_phone_blue"></i>+971 4 362 2222</span>
               </div>
               <div class="support email">
                   <a href="mailto:portal@difc.ae"><i class="icon_email"></i>portal@difc.ae</a>
               </div>
               <div class="support ticket">
                   <a href="{!HTMLENCODE($Site.Prefix)}/500/e"><i class="icon_ticket"></i>Create a support ticket</a>
               </div>                                            
           </div>
       </div> 
    
    <!--<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js" />   -->
    <script>
        
        function anchorScroll(that_obj, func) {
            var that_offset = that_obj.offset();             
            var speed       = 100;
            var anchro_elem = jQuery(that_obj).find('a.cd-faq-trigger');
            console.log('toggling section....');
            jQuery(anchro_elem).next('.cd-faq-content').slideToggle(200).end().parent().toggleClass('content-visible');
        }        
        
        var faq_hash = document.location.hash,
            faq_num = jQuery(faq_hash);
        if(faq_num && faq_num.length > 0 ){
            anchorScroll(faq_num);
        } 
    
        jQuery(document).ready(function() {
            /*
            jQuery('#faq-list h5').click(function() {
        
                jQuery(this).next('.answer').slideToggle(500);
                jQuery(this).toggleClass('close');       
            });
            */
            var faqTrigger = jQuery('.cd-faq-trigger');        
            //show faq content clicking on faqTrigger
            faqTrigger.on('click', function(event){
                event.preventDefault();
                console.log('Click toggling section....');
                jQuery(this).next('.cd-faq-content').slideToggle(200).end().parent().toggleClass('content-visible');
                var selected_hash = jQuery(this).attr('name');
                window.location.hash = selected_hash;
            }); 
        
        }); // end ready    
    </script>
</apex:page>