<apex:page controller="GsSRCancellationForm" id="gsServiceCancel" tabStyle="Service_Request__c">

<style type="text/css">
/* This is for the full screen DIV */
.popupBackground {
/* Background color */
    background-color:black;
    opacity: 0.20;
    filter: alpha(opacity = 20);
    /* Dimensions */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 998;
    position: absolute;
}
    
/* This is for the message DIV */
.PopupPanel {
    /* Dimensions */
    left: 50%;
    width: 100px;
    //margin-left: -100px;
    border-radius: 15px
    top: 50%;
    height: 100px;
    margin-top: 200px;
    z-index: 999;
    position: fixed;
}
</style>
<apex:form id="form">
    <apex:actionStatus id="pleasewait" stopText="">
        <apex:facet name="start">
            <div>
                <div class="popupBackground"></div>
                <div class="PopupPanel">
                    <img src="{!$Resource.LoadingImage}"/>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    
    <apex:sectionHeader subtitle="SR #{!ServiceRequest.Name}" title="{!ServiceRequest.Service_Type__c} Cancellation"/>
    
    <apex:pageBlock title="Key Information" id="thePB">
        <apex:pageMessages id="Messages" />
        
        <apex:pageBlockSection >
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="Reason for Cancellation" />
                <apex:outputPanel styleClass="requiredInput" layout="block">
                    <div class="requiredBlock"  ></div>
                    <apex:inputField value="{!ServiceRequest.Reason_for_Request__c}"/>
                </apex:outputPanel>
            </apex:pageBlockSectionItem>
        </apex:pageBlockSection>
     

       <apex:pageBlockButtons location="bottom">
       
       <apex:actionStatus id="pleasewait">
         <apex:facet name="stop">
           <apex:outputPanel >
            <apex:commandButton value="Save" action="{!SaveSR}" status="pleasewait" reRender="Messages"/>
            <apex:commandButton value="Cancel" status="pleasewait" action="{!BackToSR}"/>
           </apex:outputPanel>
         </apex:facet> 
          <apex:facet name="start">
                        <apex:outputPanel >
                            <apex:commandButton value="Please Wait..." disabled="true" />
                           </apex:outputPanel>                         
                    </apex:facet>  
       </apex:actionStatus>    
        </apex:pageBlockButtons>
        
       
    </apex:pageBlock> 
</apex:form>
</apex:page>