<apex:page standardController="Service_Request__c" extensions="ManagmentDetailsPopup">
	<apex:outputpanel rendered="{!isError}">
		<font size="2" color="RED">
			1. The  Management Details of this entity are not updated. To update Management Details, please go to <b>Update details, Add or Remove Management Details</b>.<br/> 
	        2. The Confirmation Statement must be submitted before renewing the DIFC License. To file your Confirmation Statement, please go to <b>Confirmation Statement </b>. <br/>
	        3. License Renewal cannot be approved until the Management Details is updated and Confirmation Statement is submitted. 
		</font>
	</apex:outputpanel>
	<apex:outputpanel rendered="{!isConfirmation}">
		<font size="2" color="RED">
			1. The Confirmation Statement must be submitted before renewing the DIFC License. To file your Confirmation Statement, please go to <b>Confirmation Statement </b>.<br/> 
	        2. License Renewal cannot be approved until the Confirmation Statement is submitted. <br/>
		</font>
	</apex:outputpanel>
</apex:page>