<apex:page controller="CalendarDemoCtrl">
 <link href="{!$Resource.fullCalendarCSS_D}" rel="stylesheet" />
     <apex:includeScript value="{!$Resource.jqueryjs}" /> 
     <apex:includeScript value="{!$Resource.JqueryUi}" /> 
    
     <apex:includeScript value="{!$Resource.momentjs}" />
      <apex:includeScript value="{!$Resource.fullCalendarMinJS}" />
        <!--some styling. Modify this to fit your needs-->
    <style>
        #cal-options {float:left;}
        #cal-legend { float:right;}
        #cal-legend ul {margin:0;padding:0;list-style:none;}
        #cal-legend ul li {margin:0;padding:5px;float:left;}
        #cal-legend ul li span {display:block; height:16px; width:16px; margin-right:4px; float:left; border-radius:4px;}
        #calendar {margin-top:20px;}
        #calendar a:hover {color:#fff !important;}
         
        .fc-event-inner {padding:3px;}
        .event-birthday {background:#56458c;border-color:#56458c;}
        .event-campaign {background:#cc9933;border-color:#cc9933;}
        .event-personal {background:#1797c0;border-color:#1797c0;}
        .event-pastdue {background:#c03b16;border-color:#000000;}
    </style>
    <apex:form id="clientChartRecord">
    
    <script>
      
        
        
    //We need to wrap everything in a doc.ready function so that the code fires after the DOM is loaded
    $(document).ready(function() {
       
        //Call the fullCallendar method. You can replace the '#calendar' with the ID of the dom element where you want the calendar to go. 
        $('#calendar').fullCalendar({
        
        dragScroll: false,
        durationEditable : false,
        disableResizing : false,      
        disableDragging: true,
        droppable: false,
        
          
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'agendaWeek,agendaDay,listWeek'
            },
              weekNumbers: true,
                navLinks: true, // can click day/week names to navigate views
             editable: true,
        
            defaultView: 'agendaDay',
            eventLimit: true,
            slotDuration: '00:10',
            minTime: '08:00',
            maxTime : '14:30',
            nowIndicator : true,
            allDaySlot : false,
            slotLabelInterval: 10,
            
            eventDragStop: function(calEvent, jsEvent, view) {
            
            var dateObjs = new Date(calEvent.start);
            var dateObje = new Date(calEvent.end);
            var url = calEvent.url
          
           // alert(moment(calEvent.start).format('h:mm:ss a'));
               
            document.getElementById('j_id0:clientChartRecord:hiddenField').value = dateObjs;
          //  document.getElementById('j_id0:clientChartRecord:saveEeventId').click();
        
            // change the border color just for fun
            $(this).css('border-color', 'red');

            },
            
             eventClick: function(calEvent, jsEvent, view) {
            
            var dateObjs = new Date(calEvent.start);
            var dateObje = new Date(calEvent.end);
            var url = calEvent.url
          
           // alert('ffffffffff' +moment(calEvent.start).format('h:mm:ss a'));
               
            document.getElementById('j_id0:clientChartRecord:hiddenField').value = dateObjs;
          //  document.getElementById('j_id0:clientChartRecord:saveEeventId').click();
        
            // change the border color just for fun
            $(this).css('border-color', 'red');

            },
           
      
             
            events:
            [
            //At run time, this APEX Repeat will reneder the array elements for the events array
            <apex:repeat value="{!events}" var="e">
                {
                title: "{!e.title}",
                start: '{!e.startString}',
                end: '{!e.endString}',
                url: '{!e.url}',
                allDay: {!e.allDay},
                className: '{!e.className}'
                },
            </apex:repeat>
            ]
        });
    });

    </script>
    
    <div id="calendar"></div>
    <apex:inputHidden value="{!hiddenValue }" id="hiddenField"/>
    <apex:commandButton action="{!saveEvent}" id="saveEeventId" reRender="clientChartRecord" />
     
 </apex:form>
    
</apex:page>