<apex:page standardController="Service_Request__c" id="test" tabstyle="Service_Request__c">
<apex:includeLightning />
  <div id="LcDisplayId"></div> 
 
  <script> 
    var recordId ='{!$CurrentPage.parameters.id}';
    debugger;
    $Lightning.use("c:MiscellaneousServicesApp", function() {
      debugger;
      $Lightning.createComponent("c:MiscellaneousServicesComponent",
      { 
           "recordIds" : recordId 
          //component.set("v.",recordId);
      },
     "LcDisplayId",
      function(component) {
         
      });
    });
    </script> 
</apex:page>