<!-- 
    Author: Diana Correa
    Date : 22 - Oct - 2015

-->

<apex:page id="homePage" cache="true" expires="{!$Label.MobileCacheExpiryTime}" standardStylesheets="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" showHeader="false" controller="HomeCls">
      
    <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/difc-mobile-style.css')}"/>  

     <body height="100%;" width="100%" class="main-container">
     <!--Removing Header-->
     <!--<c:MobileHeader ></c:MobileHeader>-->
   
        <div id="o-wrapper" class="o-wrapper">
           
            <!--menu -->
          <apex:include pageName="MobileMenu"/>

        
            <!-- add the body content here -->
            <div class = "content-padding">
                 <div height="20%">
                
                    <!-- <div class="bold-header-home padding-bottom">
                          DIFC DASHBOARD
                    </div>
                    
                    <div class="light-desc padding-top" style="text-align:justify">
                         A dedicated service hub, offering DIFC-registered clients access to a wide variety of online services from your mobile device.
                    </div>-->
                 </div>
                
               <!--Notification section -->
                  <div class="notification-bar margin-top-20px">
                    <div class="notification-text" >
                        NOTIFICATIONS
                    </div>
                    <div class="notification-image-container">
                        <div id="notification-image" class="notification-image icon-11" style="font-size:20px" ></div>
                    </div>
                </div>
                
                <div id="notifications" class="notification-content-container" >
                    <div class="notification-main-container" style="{!IF(Notifications.size > 0 ,'display:none;','')}">
                       <div class="notification-content-text">
                           <i>You do not have any open compliances</i>
                        </div> 
                    </div>
                    <div class="notification-content-title" style="{!IF(Notifications.size > 0 ,'','display:none;')}" >
                        List of the Open Compliances
                    </div>
                    <div class="notification-main-container" style="{!IF(Notifications.size > 0 ,'','display:none;')}">
                        
                        <apex:repeat value="{!Notifications}" var="item"  >
                        <div  class="notification-text-image-container">
                            <div class="notification-content-text" style="display:table">
                             <div style="display:table-cell;padding-right: 5px;"><img class="notification-alert-icon" src="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/images/notification_icon.png')}" /></div>
                              <div style="display:table-cell;text-align:left">  {!item.ComplianceName} is due on/before <apex:outputText escape="false" value="{0,date,dd'/'MM'/'yyyy}">
                                             <apex:param value="{!item.EndDate}" /> 
                                         </apex:outputText> </div>
                            </div>
                        </div>
                        </apex:repeat>
                    </div> 
                </div>             
               
               <!-- Services section-->
                <div class="margin-top-5percentage" width="100%">
                         <a href="MobileCompanyInfo">
                         <div class="services-image-container left-image icon-15" >
                             
                                <div id="services-title-alignment" class="services-title" >COMPANY INFO</div>
                                    
                             </div></a>
                         <a href="MobileCompanyServices" class="{!IF(contains(communityUserRoles,'Company Services') ,'','disablelink')}">
                          <div class="services-image-container center-image icon-17"  > 
            
                                   <div id="services-title-alignment" class="services-title" >COMPANY SERVICES </div>
                         
                              </div>
                              </a>
                              <a href = "MobileOtherServices" class="{!IF(contains(communityUserRoles,'IT Services') ,'','disablelink')}">
                          <div class="services-image-container right-image icon-12" >
                                    
                                    <div id="services-title-alignment" class="services-title" >OTHER SERVICES</div> 
                              
                          </div>
                          </a>
                             
                  </div>
                  <div id="services-margin-top" width="100%" style="padding-bottom:150px">
                        <a href="MobileSavedRequests">
                        <div class="services-image-container left-image icon-8" >
                                   
                                <div id="services-title-alignment" class="services-title" >SAVED REQUESTS</div>
                                    
                          </div></a>
                      <a href="MobilePendingRequest">
                          <div class="services-image-container center-image icon-19"  > 
            
                            <div id="services-title-alignment" class="services-title" >SERVICE REQUESTS </div>
                         
                          </div></a>
                         <a href="MobilePendingActions">
                          <div class="services-image-container right-image icon-9" >
                                    
                             <div id="services-title-alignment" class="services-title" >PENDING ACTIONS</div>    
                              
                          </div></a>
                     
                    </div>
                    
              </div>
                     
            
        
          <!-- /o-container -->
        
        </div><!-- /o-wrapper -->
         
        <apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/difc.min.js')}"/>
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.3/js/foundation.min.js"></script>-->  
        <script>
        var j$ = jQuery.noConflict();
         //show or hide notification
        j$(document).ready(function(){
        
            //Sets the Page Title
            j$("#menu-title-text").text('DIFC DASHBOARD');
            
             
             j$(".notification-bar").click(function(){
                
                 
                 if(j$('#notifications').css('display')=='block'){
                     
                    j$("#notifications").slideUp();
                     //jQuery("#notification-image").attr('src','{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/images/drop_down.png')}');
                     jQuery("#notification-image").removeClass("icon-21");
                     jQuery("#notification-image").addClass("icon-11");
                     
                 }
                 else{
                     
                     j$("#notifications").slideDown();
                    j$('#notifications').css('display','block');
                    // jQuery("#notification-image").attr('src','{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/images/drop_down_upwards.png')}');
                     jQuery("#notification-image").removeClass("icon-11");
                     jQuery("#notification-image").addClass("icon-21");
                 }
                 
                 
             });
         });
         
        
       </script>

    
     </body>
    

</apex:page>