<!--User Handbook Page - 
    Date: 27-10-2015
    Author: Rajil Ravindran-->
    

<apex:page cache="true" expires="{!$Label.MobileCacheExpiryTime}" id="MobileUserHandbook"  controller="DIFCServicesController" action="{!loadUserHandbook}" standardStylesheets="false" sidebar="false" applyBodyTag="false" applyHtmlTag="false" showHeader="false">
<head>
  
    <apex:stylesheet value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/css/difc-mobile-style.css')}"/>

    <script>
        var dropDownImageURL = "{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/images/drop_down.png')}";
        var dropDownUpwardsImageURL = "{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/images/drop_down_upwards.png')}";
        
    </script>
</head>
<body class="body-margin">
    <!--Header -->
    <!--<c:MobileHeader ></c:MobileHeader>-->
    
    <!-- menu code:begins-->
        
        <div id="o-wrapper" class="o-wrapper">
           
            <apex:include pageName="MobileMenu"/>
    
            <!--User Handbook Starts here -->
            
            <div class = "company-info-padding white-bg ">
               <!-- <div class = "main-bold-header">
                    Client Handbook
                </div>
                <div class = "light-desc" style="padding-bottom:30px;padding-top:20px">
                    On this page, you will see all your service request information.
                </div> -->
                
                <div class="accordion">
                    <apex:repeat value="{!mobileUserHandbookMap}" var="key" >
                        <div class="accordion-section">
                            <div>
                            <a  class="accordion-section-title " href="#{!SUBSTITUTE(key, ' ', '')}">
                                <span class="accordion-title-text">{!key}</span>
                                <span class="image-block">
                                    <div class="accordion-image icon-11"></div>
                                </span>
                            </a>
                            
                             </div>
                            <div id="{!SUBSTITUTE(key, ' ', '')}" class="accordion-section-content">
                                <div class="wrapper row-section handbook-section-wrapper" >
                                    <!--<div style="height:10px"></div>-->
                                    <apex:repeat value="{!mobileUserHandbookMap[key]}" var="subkey">
                                        
                                            <div style="padding-top: 10px;padding-bottom: 10px;">
                                                <a class="expand-collapse-link clear-text-decoration" href="#{!SUBSTITUTE(key, ' ', '')}{!SUBSTITUTE(subkey, ' ', '')}">
                                                    <div class="expand-collapse-text" style="float:left">+</div><div style="display:table-cell">{!subkey}</div>
                                                </a>
                                                <ul id="{!SUBSTITUTE(key, ' ', '')}{!SUBSTITUTE(subkey, ' ', '')}" class="expand-collapse-text-content ul-margin" >
                                                    <apex:repeat value="{!mobileUserHandbookMap[key][subkey]}" var="admn">
                                                            <li class="li-section">
                                                                <a class="expand-collapse-link clear-text-decoration" >
                                                                    <div class="expand-collapse-text" style="float:left;color: #656565;">+</div>
                                                                    <span style="color: #656565;font-size:15px !important;font-family:Tstar_Bold !important;display:table-cell"><apex:outputText escape="false" value="{!admn.menuText}"></apex:outputText></span>                                                                    
                                                                </a>
                                                                <ul  class="expand-collapse-text-content ul-margin" >   
                                                                    <li class="li-section">
                                                                        <span style="font-size: 14px;word-break: break-word;white-space: normal; margin-top:0px; margin-bottom:0px;">
                                                                            <apex:outputText escape="false" value="{!admn.descriptionText}"></apex:outputText>
                                                                        </span>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                    </apex:repeat>
                                                </ul>
                                                
                                            </div>
                                       
                                        
                                    </apex:repeat>
                                </div>
                            </div><!--end .accordion-section-content-->
                        </div><!--end .accordion-section-->
                        
                        <div style="height:10px"></div>
                    </apex:repeat>
                </div><!--end .accordion-->
                
            </div>
            <!--Company Content ends here.. -->
            
        </div><!-- /o-wrapper -->
       <apex:includeScript value="{!URLFOR($Resource.mobile_difc_resource,'mobile_difc_resource/scripts/difc.min.js')}"/>
       <script>
        var j$ = jQuery.noConflict();
        j$(document).ready(function(){
            
            //Sets the Page Title
            j$("#menu-title-text").text('CLIENT HANDBOOK');
            });
       </script>
</body>

</apex:page>