<apex:page showHeader="false" sidebar="false" controller="OB_SendWithDocusignController">

  <style>
    body {
      background: white !important;
    }
  </style>

  <apex:includeLightning />
  <div id="lightning" />

  <script>


    var SRId = "{!JSENCODE($CurrentPage.parameters.srId)}";



    $Lightning.use("c:lcvfApp", function () {
      $Lightning.createComponent("c:OB_SendWithDocusignPage",
        {
          "srId": SRId,
        },
        "lightning",
        function (cmp) {
        });
    });

  </script>
</apex:page>