<apex:page tabStyle="Service_Request__tab" controller="DynamicPageFlowCls" action="{!GotoMainScreen}" id="DyncPgFlow" tabstyle="Account" sidebar="false" cache="true">
    <apex:stylesheet value="{!$Resource.ProcessFlowCSS}"/>
    <apex:stylesheet value="{!$Resource.DocumentCSS}/popup/reveal.css"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.min.js"/>
    <apex:includeScript value="{!$Resource.DocumentCSS}/popup/jquery.reveal.js"/>

    <apex:outputlabel id="hdnCurrentPageId" value="{!strPageId}" style="display:none;"/>
    <apex:actionStatus id="pleasewait" stopText="" onstop="copyCompanyName(); disableElements();">
        <apex:facet name="start">
            <div>
                <div class="popupBackground"></div>
                <div class="PopupPanel">
                    <img src="{!$Resource.LoadingImage}"/>
                </div>
            </div>
        </apex:facet>
    </apex:actionStatus>
    <table class="wrap-container" width="100%">
        <tbody>
            <tr>
                <td class="sidebar">
                    <!-- <c:DPFSideBarComponent id="MenuComp" curPageId="{!strPageId}" rerender="MainPnl" status="ActStatus"/>     -->        
                </td>
                <td class="oRight" id="bodyCell">
                    <apex:form id="frm">
                        <apex:actionfunction name="InvokeAction" action="{!DynamicButtonAction}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,MainPnl"/><!-- status="ActStatus" -->
                        <apex:actionfunction name="RePrepareFields" action="{!RePrepareSection}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,MainPnl"/>
                        <apex:actionfunction name="SaveRecord" action="{!CommitRecord}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,MainPnl"/>
                        <apex:actionfunction name="NavigatePage" action="{!goTopage}" status="pleasewait" rerender="hdnCurrentPageId,MenuComp,MainPnl">
                            <apex:param name="NextPageId" value="" assignTo="{!strNavigatePageId}"/>
                        </apex:actionfunction>
                        <apex:inputhidden value="{!stringActionId}" id="hdnActnId"/>
                        <apex:outputpanel id="MainPnl" layout="block"><!-- style="width:77%;float:left;" -->
                            <apex:inputhidden value="{!strReqFieldIds}" id="hdnReqFldIds"/>
                            <apex:outputPanel layout="block" styleClass="pageTitle">{!pageTitle}</apex:outputPanel>
                            <apex:outputPanel layout="block" styleClass="pageDescription">
                                <apex:outputtext value="{!pageDescription}" escape="false"/>
                            </apex:outputPanel>
                            <!-- Modified start by Ghanshyam -->
                            <div style="display:none;" class="reqErrorMsg" id="errorDiv"> Please fill all required fields. </div>
                            <!-- Modified End by Ghanshyam -->
                            <apex:actionStatus id="ActStatus">
                                 <apex:facet name="start">
                                     <img class="loader" id="theLoadImage" src="/img/loading32.gif"/>
                                 </apex:facet>
                             </apex:actionStatus>
                            <apex:outputpanel id="DyncPnl">
                                <apex:pagemessages id="errormsg"/>
                                <apex:dynamicComponent componentValue="{!DyncPgMainPB}" />
                            </apex:outputpanel>
                            
                            <a data-reveal-id="cancelModal" id="CancelLink" data-animation="fade" style="display:none;"></a>
                            <div id="cancelModal" class="reveal-modal" style="display:block;">  
                                <a class="close-reveal-modal">&#215;</a>
                                <apex:outputpanel layout="block" style="margin-top:15px;">
                                    <p style="font-weight:bold;">
                                        <label>Cancel will delete all the information of your application.</label><br/>
                                    </p>
                                    <p style="font-weight:bold;">
                                        <label>Are you sure you want to cancel the Request?</label>
                                    </p>
                                    <apex:commandbutton value="Confirm" action="{!Cancel_Request}" rerender="msg" status="pleasewait"/>
                                </apex:outputpanel>
                            </div>
                            <script>
                                var hdnMenu = '{!strHiddenPageIds}';
                                var CommunityUsr = '{!isCommunity}';
                                if(hdnMenu!=null && hdnMenu!=''){
                                    var hdnsize = hdnMenu.indexOf(",");
                                    if(hdnsize>-1){
                                        var hdnPgLst = hdnMenu.split(',');
                                        for(i = 0; i < hdnPgLst.length;i++){
                                            if(document.getElementById(hdnPgLst[i])!=null){
                                                document.getElementById(hdnPgLst[i]).style.display = 'none';
                                            }
                                        }
                                    }else{
                                        if(document.getElementById(hdnMenu)!=null)
                                            document.getElementById(hdnMenu).style.display = 'none';
                                    }
                                }
                                if(document.getElementById('{!$Component.hdnReqFldIds}')!=null){
                                    var reqflds = document.getElementById('{!$Component.hdnReqFldIds}').value;
                                    if(reqflds!=null && reqflds!=''){
                                        var ReqFldCompIds = reqflds;
                                        var n = ReqFldCompIds.indexOf(",");
                                        if(n>-1){
                                            var strFldIds = ReqFldCompIds.split(',');
                                            if(strFldIds!=null && strFldIds.length>0){
                                                for(var i=0;i<strFldIds.length;i++){
                                                    var ComPid = strFldIds[i];
                                                    var inputs, index, picklists;
                                                    
                                                    inputs = document.getElementsByTagName('input');
                                                    picklists = document.getElementsByTagName('select');
                                                    
                                                    for(index = 0; index < picklists.length; ++index){
                                                        var PickId = picklists[index].id;
                                                        if((CommunityUsr==true || CommunityUsr=='true') && PickId.indexOf(':CompanyTypelistc')>-1){
                                                            if(document.getElementById(PickId).value!=null && document.getElementById(PickId).value!='')
                                                                document.getElementById(PickId).disabled = true;
                                                        }
                                                    }
                                            
                                                    for(index = 0; index < inputs.length; ++index) {
                                                        var ElemId = inputs[index].id;
                                                        if(ElemId.indexOf(ComPid)>-1){
                                                            if(document.getElementById(ElemId).type=='checkbox' && document.getElementById(ElemId+'_ReqBlock')!=null){
                                                                document.getElementById(ElemId+'_ReqBlock').style.backgroundColor="#F9F4F4";
                                                            }
                                                        }
                                                        if((CommunityUsr==true || CommunityUsr=='true') && ElemId.indexOf(':Customerc')>-1){
                                                            document.getElementById(ElemId).disabled = true;
                                                            if(document.getElementById(ElemId+'_lkwgt')!=null)
                                                                document.getElementById(ElemId+'_lkwgt').style.display = 'none';
                                                        }
                                                    }
                                                }
                                            }
                                        }else{
                                            var ComPid = ReqFldCompIds;
                                            var inputs, index, picklists;
                                            inputs = document.getElementsByTagName('input');
                                            picklists = document.getElementsByTagName('select');
                                            
                                            for(index = 0; index < picklists.length; ++index){
                                                var PickId = picklists[index].id;
                                                if((CommunityUsr==true || CommunityUsr=='true') && PickId.indexOf(':CompanyTypelistc')>-1){
                                                    if(document.getElementById(PickId).value!=null && document.getElementById(PickId).value!='')
                                                        document.getElementById(PickId).disabled = true;
                                                }
                                            }
                                            
                                            for(index = 0; index < inputs.length; ++index) { 
                                                var ElemId = inputs[index].id;
                                                if(ElemId.indexOf(ComPid)>-1){
                                                    if(document.getElementById(ElemId).type=='checkbox' && document.getElementById(ElemId+'_ReqBlock')!=null){
                                                        document.getElementById(ElemId+'_ReqBlock').style.backgroundColor="#F9F4F4";
                                                    }
                                                }
                                                if((CommunityUsr==true || CommunityUsr=='true') && ElemId.indexOf(':Customerc')>-1){
                                                    document.getElementById(ElemId).disabled = true;
                                                    if(document.getElementById(ElemId+'_lkwgt')!=null)
                                                        document.getElementById(ElemId+'_lkwgt').style.display = 'none';
                                                }
                                            }
                                        }
                                    }
                                }
                            </script>
                        </apex:outputpanel>
                        <script>
                            var ReqFieldsFilled = true;
                            function DoAction(ButtonSectionId,IgnoreReqFlds){
                                if(document.getElementById('{!$Component.hdnActnId}')!=null){
                                    document.getElementById('{!$Component.hdnActnId}').value = ButtonSectionId;
                                    if(IgnoreReqFlds==true || IgnoreReqFlds=='true'){
                                        DisableAllButtons();
                                        InvokeAction();
                                    }else{
                                        ValidateRequiredFlds();
                                        if(ReqFieldsFilled==true){
                                            DisableAllButtons();
                                            InvokeAction();
                                        }
                                    }
                                }
                            }
                            function SaveDetails(){
                                ValidateRequiredFlds();
                                if(ReqFieldsFilled==true){
                                    DisableAllButtons();
                                    SaveRecord();
                                }
                            }
                            function InvokeChangeEvent(){
                                RePrepareFields();
                                setTimeout(function(){  pageload(false); }, 6000);
                            }
                            
                            $( window ).load(function() {
                                 console.log('page is loaded');
                                 
                               // pageload(true);
                            });
                                                                                                   

                            function pageload(isRun){
                            var LicenseCode = '{!LicenseActivityCode}';
                            var CompanyType = document.querySelector('[id$="PBSItem_CompanyTypelistc:CompanyTypelistc"]').value;
                            if(CompanyType == 'Non - financial' && (LicenseCode.indexOf('357') != -1 || LicenseCode.indexOf('369') != -1 ||  LicenseCode.indexOf('370') != -1)){
                                if(isRun)
                                    addDynamicLegalStructure();
                                addDynamicText();
                                }
                             }
                             
                             function addDynamicText(){
                             
                               var htmlt = "<b>Application for Incorporation / Registration</b><br> <p>This request is for the establish and foundation in DIFC covering the registration and licensing. Just click on each of the sections shown on the left hand panel, complete it, save it, and click on Next. On 'Review and Finalize', kindly ensure all the details entered in the sections are valid and completed prior to proceeding with the 'Finalize &amp; Proceed' option. In this step, you can also cancel the request, and create a new one. Kindly note that once you hace selected Finalize &amp; Proceed there is no option to navigate back. On 'Upload Required Documents', you will be asked to add supporting documents for the request, some of which will be generated in 'Generated Documents' of the said section. Upload all the required documents, and click on Next. Navigate to 'Submit Request' to finalize the submission.</p><p>In this request, you are asked to submit some of the documents in original copies - they are identified in Upload Required Documents'. Should you have any clarifications, please email <a href='mailto:portal@difc.ae' target='_top'>portal@difc.ae</a></p></div>";
                               document.getElementById('DyncPgFlow:frm:j_id24').innerHTML = htmlt;
                              
                             }
                             
                                
                        function addDynamicLegalStructure(){
                            
                         
                                 document.querySelector('[id$="PBSItem_LegalStructuresc:LegalStructuresc"]').innerHTML = '';
                                 var x = document.querySelector('[id$="PBSItem_LegalStructuresc:LegalStructuresc"]');
                                 
                                 var option = document.createElement("option");
                                 option.text = "--None--";
                                 option.value = ""; 
                                 x.add(option);
                                 
                                 option = document.createElement("option");
                                 option.text = "Foundation";
                                 option.value = "Foundation"; 
                                 x.add(option);
                                 
                                
                                
                            
                        }
                            
                            function DisplayMessage(FldDetail,FldLabel){
                                if(document.getElementById('FldDesc')!=null)
                                    document.getElementById('FldDesc').innerHTML = FldDetail;
                                if(document.getElementById('FldHead')!=null)
                                    document.getElementById('FldHead').innerHTML = FldLabel + ' Description';
                            }
                            function ValidateRequiredFlds(){
                                ReqFieldsFilled = true;
                                if(document.getElementById('{!$Component.hdnReqFldIds}')!=null){
                                    var ReqFldCompIds = document.getElementById('{!$Component.hdnReqFldIds}').value;
                                    if(ReqFldCompIds!=null && ReqFldCompIds!=''){
                                        var n = ReqFldCompIds.indexOf(",");
                                        if(n>-1){
                                            var strFldIds = ReqFldCompIds.split(',');
                                            if(strFldIds!=null && strFldIds.length>0){
                                                for(var i=0;i<strFldIds.length;i++){
                                                    var ComPid = strFldIds[i];
                                                    var inputs, index, selects;
                                                    inputs = document.getElementsByTagName('input');
                                                    selects = document.getElementsByTagName('select');
                                                    for(index = 0; index < inputs.length; ++index) {
                                                        var ElemId = inputs[index].id;
                                                        if(ElemId.indexOf(ComPid)>-1){
                                                            if(document.getElementById(ElemId).type=='checkbox'){
                                                                var chkboxval = document.getElementById(ElemId).checked;
                                                                if(chkboxval==false || chkboxval=='false'){
                                                                    ReqFieldsFilled = false;
                                                                    break;
                                                                }
                                                            }else{
                                                                if(document.getElementById(ElemId).value==null || document.getElementById(ElemId).value==''){
                                                                    ReqFieldsFilled = false;
                                                                    break;
                                                                }
                                                            }
                                                        }
                                                    }
                                                    for(index = 0; index < selects.length; ++index) {
                                                        var ElemId = selects[index].id;
                                                        if(ElemId.indexOf(ComPid)>-1){
                                                            if(document.getElementById(ElemId).value==null || document.getElementById(ElemId).value==''){
                                                                ReqFieldsFilled = false;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }else{
                                                var ComPid = ReqFldCompIds;
                                                var inputs, index, selects;
                                                inputs = document.getElementsByTagName('input');
                                                selects = document.getElementsByTagName('select');
                                                for(index = 0; index < inputs.length; ++index) {
                                                    var ElemId = inputs[index].id;
                                                    if(ElemId.indexOf(ComPid)>-1){
                                                        if(document.getElementById(ElemId).type=='checkbox'){
                                                            var chkboxval = document.getElementById(ElemId).checked;
                                                            if(chkboxval==false || chkboxval=='false'){
                                                                ReqFieldsFilled = false;
                                                                break;
                                                            }
                                                        }else{
                                                            if(document.getElementById(ElemId).value==null || document.getElementById(ElemId).value==''){
                                                                ReqFieldsFilled = false;
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }
                                                for(index = 0; index < selects.length; ++index) {
                                                    var ElemId = selects[index].id;
                                                    if(ElemId.indexOf(ComPid)>-1){
                                                        if(document.getElementById(ElemId).value==null || document.getElementById(ElemId).value==''){
                                                            ReqFieldsFilled = false;
                                                            break;
                                                        }
                                                    }
                                                }
                                        }
                                    }
                                }
                                if(ReqFieldsFilled==false){
                                    document.getElementById('errorDiv').style.display = '';
                                }else{
                                    document.getElementById('errorDiv').style.display = 'none';
                                }
                            }
                            
                            function DisableAllButtons(){
                                /*
                                var node_list = document.getElementsByTagName('input');
                                for(var i = 0; i < node_list.length; i++) {
                                    var node = node_list[i];
                                    if(node.getAttribute('type') == 'submit' && node.value!='Top-up Balance') {
                                        node.className = 'btnDisabled';
                                        node.value = 'Processing...';
                                    }
                                }
                                */           
                            }
                        </script>
                    </apex:form>
                    <script>
                        copyCompanyName();
                        disableElements();
                    
                        function copyCompanyName(){
                            
                            if({!isInvestmentFundCompany}){
                            
                                if( ( document.querySelector('[id$="PBSItem_EntityNamec:EntityNamec"]').value == '' || 
                                        document.querySelector('[id$="PBSItem_LegalStructuresc:LegalStructuresc"]').value == "LTD IC" ) && 
                                    ( document.querySelector('[id$="PBSItem_EntityNamec:EntityNamec"]').value.indexOf('OEIC') == -1  &&
                                       document.querySelector('[id$="PBSItem_EntityNamec:EntityNamec"]').value.indexOf('LTD') == -1 
                                    ) ){
                                    document.querySelector('[id$="PBSItem_EntityNamec:EntityNamec"]').value = document.querySelector('[id$="PBSItem_Customerc:Customerc"]').value;  
                                }
                            
                                
                            }
                        }
                        
                        function disableElements(){
                        
                            if({!isInvestmentFundCompany}){
                            
                                disableElement("PBSItem_Natureofbusinessc:Natureofbusinessc");
                                
                                if(document.querySelector('[id$="PBSItem_LegalStructuresc:LegalStructuresc"]').value != "LTD IC" && 
                                    document.querySelector('[id$="PBSItem_LegalStructuresc:LegalStructuresc"]').value != "LTD PCC")  disableElement("PBSItem_EntityNamec:EntityNamec");
                                else enableElement("PBSItem_EntityNamec:EntityNamec");
                            
                            }
                            
                        }
                        
                        function disableElement(id){
                            document.querySelector('[id$="'+id+'"]').disabled = "disabled";
                        }
                        
                        function enableElement(Id){
                            document.querySelector('[id$="'+id+'"]').disabled = "";
                        }
                    
                        function Navigate_To_Page(NextPG){
                            ValidateRequiredFlds();
                            if(ReqFieldsFilled==true){
                                NavigatePage(NextPG);
                            }
                        }
                        function CancelRequest(){
                            if(document.getElementById('CancelLink')!=null)
                                document.getElementById('CancelLink').click();
                        }
                        function noenter(ev){
                            if(window.event && window.event.keyCode == 13 || ev.which == 13) {
                                return false;
                            }else {
                              return true;
                            }
                        }
                        
                        function disable_correspondace_details(){
                            if(jQuery){
                                $("input[id$='Emailc']").attr('disabled', 'disabled');
                                $("input[id$='SendSMSToMobilec']").attr('disabled', 'disabled');
                            }
                        }
                        if(Sfdc && Sfdc.onReady){
                            Sfdc.onReady ( function() {
                                if((CommunityUsr && CommunityUsr=='true'))
                                    disable_correspondace_details();
                            });
                        }                     
                        
                    </script>
                </td>
            </tr>
        </tbody>
    </table>
    
     
   


</apex:page>