<apex:page docType="html-5.0" standardController="Service_Request__c" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="true" extensions="RORPUserCls" showHeader="false" sidebar="false" id="RORPUserForm">

    <!--[if IE 7 ]><html class="ie lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie lt-ie9" lang="en"> <![endif]-->
                
        <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
        <title>DIFC - Dubai International Financial Centre</title>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
    
        <!-- <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/difc.min.css')}"/> -->
        <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
          
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
            
        <!--<![endif]-->
    
        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/css/ie.css')}"></link>
            <script type="text/javascript" src="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/js/libs/respond.min.js')}"></script>
            <script type="text/javascript" src="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/js/vendor/custom.modernizr.js')}"></script>            
        <![endif]-->
    
         <style>
            .main-content {margin: 0 auto;}
            .errMsg{color:red;}

             body input.btn{            
                margin-left: 500px;
            }        
            .difc-logo img {height: 55px;}
             @media (max-width: 980px){
                    nav.top-bar ul {
                    padding: 0 6px;
                 }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);            
            }
            
            i.icon-phone-white{            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            
            nav.top-nav .top-bar-section ul li .icon-phone-white{            
                background-position: left 3px !important;
            }
            
            .top-bar-section li:not(.has-form) a:not(.button){
            
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
            
            }
            .top-bar-section i.icon{            
                float: none !important;
                line-height: 45px;
           }
           .top-bar.top-nav ul, .top-bar.top-nav ul li{                
             /*margin-left: 0 !important;*/
                line-height: 65px;
                font-size: 12px;
           }
           
           .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}           
           body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {           
               border-bottom: 0px !important;   
           }
           
          table.multiSelectPicklistTable tbody tr:first-of-type{
              display:none;
          }
          tr.multiSelectPicklistRow select{           
               height:70px;
               width:160px;
          }
          input[type=file]{ width: 400px;}
         </style>
         <style>
    .consentfont{
    font-size: 14px;
    color: #4d4d4d;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: EuclidSquare-Medium !important;
    
}
         </style>
    <style>
             
      html, body, #wrap {
    height: 100%;
}
#wrap {
    height: auto;
    min-height: 100%;
}
#content {
    overflow: hidden;
    padding-bottom: (footer height);
}
#footer { 
    position: relative;
    margin-top: -(footer height); /* Note the negative value */
    height: (footer height);
    clear:both;
} 

#footer-wrap {
    display: block;
    padding: 5px;
    background: #e8ebec;
   
}
.consentfont{
    font-size: 14px;
    color: #4d4d4d;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: EuclidSquare-Medium !important;
    
}

		/* DIFC Team Added Styles Start*/
			
			 body .bPageBlock{
            	background-color:#ffffff !important;
            } 
            
             body, td {
             	background-color:#ffffff !important;
             }
             
             body, th {
             	background-color:#ffffff !important;
             }
             label, .mainTitle, h4{
             	font-family:EuclidSquare-Medium !important;
             }
             label{
             	font-size: 14px;
             }
              .bPageBlock.brandSecondaryBrd, body .secondaryPalette.bPageBlock
             {
             	border-top-color:#D1D3D3 !important;
             }
		/*DIFC Styles END  */
         </style>
    </head>
<script>
        var rtnURL='signin';
        function cancelfnc(){
              window.location.href = '/' + rtnURL;
        }
    </script> 

<div id="wrap">
    <div id="content"> 
 
        <div class="login">
        
        	<img src="/digitalOnboarding/resource/1574086933000/OB_DifcBlueLogo" style="height:50px" />
            <!-- <nav class="row full-width top-bar top-nav dashboard">
                <ul class="mobile-logo left">
                  <li class="difc-logo">
                    <a target="_blank" href="http://www.difc.ae">
                      <img src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/DIFC_white_logo.png')}"/>
                    </a>
                  </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left hide-for-small-only hide-for-medium-only">
                        <li class="call-centre" style="margin-left: 10px;">
                            <i class="icon icon-return-back left"></i>
                            <a href="{!$Site.Prefix}/signin" style="
                                                        line-height: 65px;
                                                        padding-left: 0 !important;
                                                        font-size: 1rem;
                            ">Go Back to Login</a>
                        </li>
                    </ul>    
                  <ul class="title-area right">
                    <li class="toggle-topbar"><a href="#"></a></li>
                  </ul>
    
               <ul class="right user-login">
                    <li class="settings has-form"><a href="#" title="Settings"><i class=
                    "icon icon-setting">&nbsp;</i></a></li>
                  </ul>
    
                  <ul class="right">
                    <li class="call-centre">
                      
                      <a href="tel:+97143622222">
                      <i class="icon icon-phone-white"></i>Call Centre: +971 4 362 2222</a>
                    </li>
                  </ul>
                </section>
            </nav> -->    
            <!-- <div class="row full-width top-bar primary-nav hide-for-small hide-for-small"></div> -->
   
            <div class="row full-width">  
              <div class="large-12 columns">   
              
                    <br></br>
                    <h4>Property Services Access Request Form</h4>
                    <br></br>
               </div>
               
      <!------------------User Access Form Code---------------------------->
 
            <apex:form id="userForm">
            <apex:messages styleClass="errMsg"/>
               <div class="large-12 columns">  
                
                 <apex:outputPanel id="createPanel">
                 
                   <apex:pageBlock id="newUser" title="New User Details">
                     <apex:outputLabel value="Please enter the following details for creating a portal user."></apex:outputLabel>
                      <apex:outputPanel styleClass="info">
                       <apex:pageBlockSection >
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Title" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Title__c}" taborderhint="2"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Position" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Position__c}" taborderhint="8"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="First Name" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.First_Name__c}" taborderhint="3"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Nationality" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Nationality_list__c}" taborderhint="9"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                        <apex:outputLabel value="Middle Name" style="align:float-left;"/>
                                        <apex:inputField value="{!sUser.Middle_Name__c}" taborderhint="4"/>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Passport Number" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Passport_Number__c}" taborderhint="10"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Last Name" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Last_Name__c}" taborderhint="5" />
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Email" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Email__c}" taborderhint="11"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Place of Birth" style="align:float-left;"/>
                                        <apex:inputField value="{!sUser.Place_of_Birth__c}" taborderhint="6" />
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Mobile Number" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Send_SMS_To_Mobile__c}" taborderhint="12"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Date of Birth" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Date_of_Birth__c}" taborderhint="7"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                          </apex:pageBlockSection>
                        </apex:outputPanel>
                      </apex:pageBlock>
                                      
                      <apex:outputPanel id="loadFile">  
                            <apex:pageBlock title="Upload Passport Copy">
                             <apex:pageBlockSection columns="1">
                             <apex:outputLabel value="Please ensure the file is of the following format - doc, pdf, docx, gif, png, jpeg, jpg. "/>
                                <apex:pageblocksectionitem >
                                  <apex:inputfile id="file" value="{!PassportCopy.body}" filename="{!PassportCopy.name}" tabIndex="16"/> 
                                </apex:pageblocksectionitem>
                              </apex:pageBlockSection>
                            </apex:pageBlock>
                            <apex:outputPanel >
                            <apex:pageBlock id="subBtn">
                      <apex:pageblockbuttons location="bottom" >
                            <apex:commandButton action="{!saveInfo}" value="Submit"  style="margin-left:200px;" />
                            <apex:commandButton value="Cancel"  onclick="cancelfnc();return false;" style="margin-right:190px;"/>
                     </apex:pageblockbuttons>
                         <!-- <apex:actionRegion > -->
                      <apex:inputCheckbox value="{!isConsent}"  id="chkbox" style="padding-left:20px;"/>
                     <!-- </apex:actionRegion> -->
                    
                    <apex:outputText styleclass="consentfont" style="padding-left:20px;" value="By providing this information, we understand that you are requesting DIFC to communicate with you. Please read our "/>
                    <apex:outputLink styleclass="consentfont" style="color:#0965da;"  target="_blank" value="https://www.difc.ae/online-data-protection-policy">Privacy Policy</apex:outputLink>
                    <apex:outputText styleclass="consentfont"  value=" policy for further information about how we manage your data."/><br/>
                    <apex:outputText styleclass="consentfont"  value="If you do not wish to be contacted, kindly do not proceed further."/>
                    </apex:pageBlock>
                    </apex:outputPanel>
                      </apex:outputPanel>                               
                      
                    </apex:outputPanel>
                </div>
            </apex:form>
        </div>
    </div>
    </div>
  </div>
  <div id ="footer">
      <div id ="footer-wrap">
            <c:DIFCPortalFooter ></c:DIFCPortalFooter>      
        </div>
    </div>
   <c:LiveChat /> 
</apex:page>