<apex:page cache="true" showHeader="false" controller="Fetch_Passport_Details"  sidebar="false" action="{!generateBCExcel}" contentType="{!if(displayType=='xls','application/vnd.ms-excel#PassportDetails.xls','')}"> <!-- contentType="application/vnd.ms-excel#PassportDetails.xls" -->
   
 <html> 
 
 <style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{font-family:Arial, sans-serif;font-size:18px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg th{font-family:Arial, sans-serif;font-size:20px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;}
    .tg .tg-yw4l{vertical-align:top}
    
    header {
    background-color:white;
    color:white;
    text-align:center;
    padding:5px;     
}
</style>


<table width="100%" border="0" class="tg">
  <tr>
        <td  colspan="3" rowspan="4" ><apex:image Value="{!$Label.Salesforce_URL}/servlet/servlet.ImageServer?id={!$Label.DIFC_Logo_ID}&oid={!$Organization.Id}" height="20px" width="50px" /></td>
        <th class="tg-yw4l"  colspan="3" rowspan="4" style="color:red;">New Trade License</th>
  </tr>
  
</table>



<table class="tg" width="100%">

  
  <tr>
    <td class="tg-yw4l" colspan="3"> </td>
    <td class="tg-yw4l" colspan="4"> </td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3"  bgcolor="#c1c1b3">Date :<apex:outputText value="{0, date, MMMM d','  yyyy}"><apex:param value="{!NOW()}" />
        </apex:outputText></td>
    
    <td class="tg-yw4l" colspan="4"  bgcolor="#c1c1b3"></td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="7" style="color:red;">1.New Company Details</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3" bgcolor="#c1c1b3">Company Name</td>
    <td class="tg-yw4l" colspan="4">{!companyName}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3" bgcolor="#c1c1b3">Entity Type</td>
    <td class="tg-yw4l" colspan="4">{!entityType}</td>
  </tr>
  <tr>
    <td class="tg-yw4l" colspan="3" bgcolor="#c1c1b3">Business Activity</td>
    <td class="tg-yw4l" colspan="4">{!companyActivities}</td>
  </tr>
   <tr>
    <td class="tg-yw4l" colspan="7" style="color:red;">2.Mother Company Details</td>
  </tr>
  
   <tr >
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Company Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Registration Number</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Place of Incorporation</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Incorporation</th>
   
       
  </tr>
  <apex:variable value="{!1}" var="serial"/>
  
      <tr>    
          <td class="tg-yw4l">{!serial}</td>         
          <td class="tg-yw4l">{!serviceReq.Foreign_Registration_Name__c}</td>
          <td class="tg-yw4l"></td>
          <td class="tg-yw4l">{!serviceReq.Foreign_Registration_Place__c}</td>
          <td class="tg-yw4l"><apex:outputText value="{0, date, MMMM d','  yyyy}"><apex:param value="{!serviceReq.Foreign_Registration_Date__c}"/></apex:outputText></td>            
      </tr>
      <apex:variable value="{!serial+1}" var="serial"/>
 <!--  Individual UBO  -->
  
  <tr style="display:{!if(indUBODet.size>0,'','none')}">
    <td class="tg-yw4l" colspan="7" style="color:red;">3.Share Holders/Business Owners in the new company</td>
  </tr>
  
   <tr style="display:{!if(indUBODet.size>0,'','none')}">
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Nationality</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Passport No.</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">UID No.</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Visa No.</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Gender</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Contact No.</th>
   
       
  </tr>
  <apex:variable value="{!1}" var="seril"/>
  <apex:repeat value="{!indUBODet}" var="amd">
      <tr>    
          <td class="tg-yw4l">{!seril}</td>         
          <td class="tg-yw4l">{!amd.Name_of_Body_Corporate_Shareholder__c}</td>
          <td class="tg-yw4l">{!amd.Nationality_list__c}</td>
          <td class="tg-yw4l">{!amd.Passport_No__c}</td>
          <td class="tg-yw4l"></td>
          <td class="tg-yw4l"></td>
          <td class="tg-yw4l">{!amd.Gender__c}</td>
          <td class="tg-yw4l"><apex:outputtext value="&nbsp;{!amd.Phone__c}&nbsp;" rendered="{!displayType !='pdf'}"/><apex:outputtext value="{!amd.Phone__c}" rendered="{!displayType =='pdf'}"/></td>
            
      </tr>
      <apex:variable value="{!seril+1}" var="seril"/>
  </apex:repeat>
  <!--  Body Corporate UBO  -->
   <tr style="display:{!if(bodycorporateUBODet.size>0,'','none')}">
    <td class="tg-yw4l" colspan="7" style="color:red;">3.Share Holders/Business Owners in the new company</td>
  </tr>
  
   <tr style="display:{!if(bodycorporateUBODet.size>0,'','none')}">
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Sr.No</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Company Name</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Registration Number</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Place of Incorporation</th>
    <th class="tg-yw4l"  bgcolor="#c1c1b3">Date of Incorporation</th>       
  </tr>
  <apex:variable value="{!1}" var="seril"/>
  <apex:repeat value="{!bodycorporateUBODet}" var="amd">
      <tr>    
          <td class="tg-yw4l">{!seril}</td>         
          <td class="tg-yw4l">{!amd.Name_of_Body_Corporate_Shareholder__c}</td>
          <td class="tg-yw4l"></td>
          <td class="tg-yw4l"></td>
          <td class="tg-yw4l"></td>          
            
      </tr>
      <apex:variable value="{!seril+1}" var="seril"/>
  </apex:repeat>
  
  
</table>


    
 </html>  
</apex:page>