<apex:page docType="html-5.0" action="/apex/User_Access_Form{!IF(OR(ISBLANK($Currentpage.parameters.BPno),$Currentpage.parameters.BPno == '' ),'','?BPno='+$Currentpage.parameters.BPno)}" standardController="User_SR__c" applyHtmlTag="false" applyBodyTag="false" standardStylesheets="true" extensions="PreUserCls" showHeader="false" sidebar="false" id="UserAccessForm">

    <!--[if IE 7 ]><html class="ie lt-ie8" lang="en"> <![endif]-->
    <!--[if IE 8 ]><html class="ie lt-ie9" lang="en"> <![endif]-->
                
        <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"></meta>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
        <title>DIFC - Dubai International Financial Centre</title>
    
        <link rel="shortcut icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
        <link rel="icon" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/favicon.ico')}" type="image/x-icon"/>
    
        <!-- <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/difc.min.css')}"/> -->
        <apex:stylesheet value="{!URLFOR($Resource.difc_portal, 'DIFC_CommunityResource/css/difc.min.css')}"/>
        <apex:stylesheet value="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/ie.css')}"/>
          
     
        <!--[if (gte IE 9)|!(IE)]><!-->
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/css/responsive.css')}"></link>
            
        <!--<![endif]-->
    
        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/css/ie.css')}"></link>
            <script type="text/javascript" src="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/js/libs/respond.min.js')}"></script>
            <script type="text/javascript" src="{!URLFOR($Resource.DIFCPortalLoginResource, 'DIFC_Portal_Login/DIFC/Community/js/vendor/custom.modernizr.js')}"></script>            
        <![endif]-->
    
         <style>
            .main-content {margin: 0 auto;}
            .errMsg{color:red;}

             body input.btn{            
                margin-left: 500px;
            }        
            .difc-logo img {height: 55px;}
             @media (max-width: 980px){
                    nav.top-bar ul {
                    padding: 0 6px;
                 }
            }
            .top-nav.news ul.mobile-logo, .top-nav.dashboard ul.mobile-logo {
                padding: 0px;
                margin: 0 10px !important;
            } 
            .top-bar-section ul li > a {font-family: inherit;}  
            footer small {font-style: italic;}    
            
            html .brandSecondaryBrd {
                border-top-color: #00205B !important;
                border-bottom: 1px solid #eaeaea;
                border-left: 1px solid #eaeaea;
                border-right: 1px solid #eaeaea;
            }
            
            nav.top-nav .top-bar-section ul.right li, nav.top-nav .top-bar-section ul.right li a{            
                font-size: 14px !important;
                background: rgba(0, 0, 0, 0);            
            }
            
            i.icon-phone-white{            
                background: url("{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/icon-phone-small-white.png')}") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
                width: 20px !important;
            }
            
            nav.top-nav .top-bar-section ul li .icon-phone-white{            
                background-position: left 3px !important;
            }
            
            .top-bar-section li:not(.has-form) a:not(.button){
            
                background: none !important;
                padding: 0 15px !important;
                line-height: 45px;
            
            }
            .top-bar-section i.icon{            
                float: none !important;
                line-height: 45px;
           }
           .top-bar.top-nav ul, .top-bar.top-nav ul li{                
             /*margin-left: 0 !important;*/
                line-height: 65px;
                font-size: 12px;
           }
           
           .top-bar-section li.call-centre{margin-right: 0 !important; background: transparent;}           
           body .apexp .bPageBlock.apexDefaultPageBlock .pbHeader {           
               border-bottom: 0px !important;   
           }
           
          table.multiSelectPicklistTable tbody tr:first-of-type{
              display:none;
          }
          tr.multiSelectPicklistRow select{           
               height:70px;
               width:160px;
          }
          input[type=file]{ width: 400px;}
         </style>
    </head>


<body>
        <div class="login">
            <nav class="row full-width top-bar top-nav dashboard">
                <ul class="mobile-logo left">
                  <li class="difc-logo">
                    <a target="_blank" href="http://www.difc.ae">
                      <img src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/images/DIFC_white_logo.png')}"/>
                    </a>
                  </li>
                </ul>
                <section class="top-bar-section">
                    <ul class="left hide-for-small-only hide-for-medium-only">
                        <li class="call-centre" style="margin-left: 10px;">
                            <i class="icon icon-return-back left"></i>
                            <a href="/customers/signin" style="
                                                        line-height: 65px;
                                                        padding-left: 0 !important;
                                                        font-size: 1rem;
                            ">Go Back to Login</a>
                        </li>
                    </ul>    
                  <ul class="title-area right">
                    <li class="toggle-topbar"><a href="#"></a></li>
                  </ul>
    
       <!--         <ul class="right user-login">
                    <li class="settings has-form"><a href="#" title="Settings"><i class=
                    "icon icon-setting">&nbsp;</i></a></li>
                  </ul> -->
    
                  <ul class="right">
                    <li class="call-centre">
                      
                      <a href="tel:+97143622222">
                      <i class="icon icon-phone-white"></i>Call Centre: +971 4 362 2222</a>
                    </li>
                  </ul>
                </section>
            </nav>    
            <div class="row full-width top-bar primary-nav hide-for-small hide-for-small"></div>
   
    
            <div class="row full-width">  
              <div class="large-12 columns">   
              
                    <br></br>
                    <h4>User Access Request Form</h4>
                    <br></br>
               </div>
               
               
      <!------------------User Access Form Code---------------------------->
         
 
            <apex:form id="userForm">
        <!-- 
            <script>
                function ChangeView(SelVal){
                    if(document.getElementById(SelVal)!=null && document.getElementById('UserAccessForm:userForm:StrSelVal')!=null){
                        document.getElementById('UserAccessForm:userForm:StrSelVal').value = document.getElementById(SelVal).value;
                    }
                    //console.log('document.getElementById(SelVal).value==>'+document.getElementById(SelVal).value);
                    PreparePB();
                }
            </script>
            -->
            <!-- apex:actionFunction name="PreparePB" action="{!ChangeOption}" /-->
            <!-- apex:inputhidden value="{!strSelVal}" id="StrSelVal" /--->
            <apex:messages styleClass="errMsg"/>
               <div class="large-12 columns">  
                <apex:pageBlock id="SelPB">
                   <apex:pageBlockSection columns="1" id="SelPBS">
                        <apex:outputText id="cName" label="Customer: " rendered="{!displayAcc}" value="{!accountName}"/>
                     
                       <!--apex:outputLabel value="Please select the type of action required for portal user." rendered="{!showPicklist}"/>
                        <apex:inputField id="optionList" rendered="{!showPicklist}" label="What would you like to do:" value="{!sUser.User_Form_Action__c}" onchange="ChangeView('{!$Component.optionList}');" taborderhint="1"/>
<!--                         <apex:actionSupport event="onchange" reRender="createPanel, loadFile, updateUser, revokeUser" /> -->
<!--                         </apex:inputField> 
                        
                        <script>
                       
                          document.getElementById('{!$Component.optionList}').disabled = {!disableOptions};
                                              
                        </script>
                       --->
                   
                   </apex:pageBlockSection>
                 </apex:pageBlock>
                 <apex:outputPanel id="createPanel">
                   <!--  apex:messages styleClass="errMsg"/-->
                   <apex:pageBlock id="newUser" title="New User Details">
                     <apex:outputLabel value="Please enter the following details for creating a portal user."></apex:outputLabel>
                      <apex:outputPanel styleClass="info">
                       <apex:pageBlockSection >
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Title" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Title__c}" taborderhint="2"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Position" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Position__c}" taborderhint="8"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="First Name" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.First_Name__c}" taborderhint="3"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Nationality" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Nationality__c}" taborderhint="9"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                        <apex:outputLabel value="Middle Name" style="align:float-left;"/>
                                        <apex:inputField value="{!sUser.Middle_Name__c}" taborderhint="4"/>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Passport Number" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Passport_Number__c}" taborderhint="10"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Last Name" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Last_Name__c}" taborderhint="5" />
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Email" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Email__c}" taborderhint="11"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Place of Birth" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Place_of_Birth__c}" taborderhint="6" />
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Mobile Number" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Mobile_Number__c}" taborderhint="12"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="Date of Birth" style="align:float-left;"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" >
                                        <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                                        <apex:inputField value="{!sUser.Date_of_Birth__c}" taborderhint="7"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem> 
                              <apex:pageBlockSectionItem >
                                    <apex:outputLabel value="License Number" style="align:float-left;" rendered="{!showPicklist}"/>
                                    <apex:outputPanel styleClass="requiredInput" layout="block" rendered="{!showPicklist}">
                                        <apex:outputPanel styleClass="requiredBlock" layout="block" rendered="{!showPicklist}"/>
                                        <apex:inputField value="{!sUser.License_Number__c}" rendered="{!showPicklist}" taborderhint="13"/>
                                    </apex:outputPanel>
                              </apex:pageBlockSectionItem>
                          </apex:pageBlockSection>
                        </apex:outputPanel>
                      </apex:pageBlock>

                      <apex:pageBlock title="User Access Type">
                       
                        <!--apex:outputLabel value="User Access Type:" style="font-weight:bold"/-->
                        <apex:outputLabel value="Please select the services the portal user will be authorized to raise."/>
                        <br/>
                        <apex:pageBlockSection columns="2" >
                            <apex:pageBlockSectionItem >
                            <apex:outputLabel value="Company Services" for="companyServices_box">
                                <br/><span>(Registrar of Companies and Data Protection services)</span>
                            </apex:outputLabel>
                            <apex:inputCheckbox id="companyServices_box" value="{!compServices}" tabindex="14"/>                            
                            </apex:pageBlockSectionItem>
                            <apex:pageBlockSectionItem >
                              <apex:outputLabel value="Employment Services" for="employeeServices_box">
                                  <br/><span>(Government services)</span>
                              </apex:outputLabel>
                              <apex:inputCheckbox id="employeeServices_box" value="{!empServices}" tabindex="15"/>                            
                            </apex:pageBlockSectionItem>
                            </apex:pageBlockSection>
                         <script>
                         
                            if({!disableInput})
                            {
                             $(".pbSubsection table tbody tr td input").attr("disabled", "disabled"); 
                             $(".pbSubsection table tbody tr td select").attr("disabled", "disabled"); 
                      
                            }
                 
                         </script>
               
               </apex:pageBlock>
                
                <apex:outputPanel id="loadFile">  
                    <apex:pageBlock title="Upload Passport Copy">
                    <apex:pageblockbuttons location="bottom">
                            <apex:commandButton action="{!saveInfo}" value="Submit"/>
                     </apex:pageblockbuttons>
                     <apex:pageBlockSection columns="1">
                     <apex:outputLabel value="Please ensure the file is of the following format - doc, pdf, docx, gif, png, jpeg, jpg. "/>
                        <apex:pageblocksectionitem >
                          <apex:inputfile id="file" value="{!PassportCopy.body}" filename="{!PassportCopy.name}" tabIndex="16"/> 
                        </apex:pageblocksectionitem>
                      </apex:pageBlockSection>
                    </apex:pageBlock>
                </apex:outputPanel>         
            </apex:outputPanel>
                    

           </div>
        </apex:form> 
    
     </div>
 
  </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>   
    <script src="{!URLFOR($Resource.DIFC_PortalResource, 'DIFC_CommunityResource/js/foundation.min.js')}"></script>     
    <script>
        $(function(){
            var select = document.getElementById('calYearPicker');
            if (!select) return;
            
              select.innerHTML = '';
              var startYear = new Date().getFullYear() - 90;
              var endYear   = new Date().getFullYear();
              for (var year = startYear; year <= endYear; year++) {
                select.options[select.options.length] = new Option(year, year);
              }
            
        });
         $(document).foundation();
         
    </script> 
   </body>   
</apex:page>