@font-face {
  font-family: "EuclidSquare-Medium";
  src: url("/resource/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff")
    format("woff");
}

.THIS .service-name {
  font-family: "EuclidSquare-Medium";
  font-size: 14px !important;
  font-weight: 500 !important;
}

.THIS .description {
  font-family: "EuclidSquare-Medium";
  font-size: 12px !important;
  font-weight: 300 !important;
  min-height: 50px;
}

.THIS .difc-font {
  font-family: "EuclidSquare-Medium";
}

.THIS .difc-button {
  font-size: 10px !important;
}