<style>
        /*        
        #DyncPgFlow\:MenuComp{
            padding-top:20px;
            width:21.5%;
            float:left;
            margin-right: 1.5%;
            background-color: #f6f6f6; 
            border-right: 1px solid #cbcbcb;
            box-sizing: border-box;
        }*/

        .actionLink:hover{
		    text-decoration:underline;nderline !important;
		}
		.reveal-modal{
			top:180px;
		}
		.reveal-modal .close-reveal-modal{
			top:12px;
		}
		.reqErrorMsg{
			font-weight: bold;
			color: #c00;
			text-align: center;
		}
        .pbBody{
            margin-left: 0px !important;
            margin-right: 0px !important;
        }
        .pageTitle{
            color: #454a50;
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 13px;
        }
        .pageDescription{
            color: #454a50;
            line-height: 1.5; 
            margin-bottom: 13px;
            font-size: 13px;
        }
        .loader{
            z-index: 1200;
            position: absolute;
            margin-left: -60px;
            filter: Alpha(Opacity =70);
            opacity: 0.70;
            -moz-opacity: 0.70;
            top: 40%;
            left: 50%;
        }
        .rowWrapper{
            width: 100%;
            display: table;
            padding: 10px 0 10px 0;
        }
        .rowWrapper td {
            border: none;
        }
        .pageBlockSectionWrapper .labelCol, .pageBlockSectionWrapper .dataCol, .pageBlockSectionWrapper .data2Col{
            border: none !important;
            /*padding: 0px !important;*/
        }
        .bPageBlock .pbHeader{
            border-bottom: none !important;
            /*margin-bottom: 20px !important;*/
        }
        .bPageBlock .pbHeader .pbTitle, .bPageBlock .pbBottomButtons .pbTitle{
            display: none;
        }
        .bPageBlock .pbHeader .btn.right, .bPageBlock .pbBottomButtons .btn.right{
            float: right;
        }
        .bPageBlock .pbHeader .btn.left, .bPageBlock .pbBottomButtons .btn.left{
            float: left;
        }
        .bPageBlock .pbHeader .pbButton, .bPageBlock .pbBottomButtons .pbButtonb{
            text-align: center;
        }
        .pbBody .pbSubheader{
            padding-left: 15px !important;
        }
        .sectionDescription{
            box-sizing: border-box;
            padding: 8px 15px 10px 15px;
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 5px;
            line-height: 1.5;
            color: #454a50;
            font-size: 13px;
        }
        .labelWrapper{
            display: table-cell;
            text-align: right;
            vertical-align: middle;
            color: #454a50;
            font-weight: bold;
        }
        .colLayout1 .labelWrapper{
            width: 28%;
            padding-right: 6%;
        }
        .colLayout2 .labelWrapper, .colLayout3 .labelWrapper{
            width: 30%;
            padding-left: 3%;
        }
        .fieldWrapper{
            display: table-cell;
            vertical-align: middle;
        }
        .colLayout1 .fieldWrapper{
            width: 38%;
            padding-right: 6%;
        }
        .colLayout2 .fieldWrapper, .colLayout3 .fieldWrapper{
            width: 70%;
            padding-left: 3%;
            padding-right: 3%;
        }
        .fieldWrapper input, .fieldWrapper select, .fieldWrapper textarea{
            width: 100%;
            box-sizing: border-box;
        }
        .fieldWrapper input[type="checkbox"]{
            margin: 0 0 0 0px;
            width: auto;
        }
        .fieldWrapper img.checkImg{
            margin: 0 0 0 -4px;
        }
        .fieldWrapper .requiredInput .requiredBlock{
            left: -6px;
        }
        .fieldWrapper .dateInput, .fieldWrapper .lookupInput{
            display: table;
            width: 100%;
        }
        .fieldWrapper .dateInput input, .fieldWrapper .lookupInput input{
            display: table-cell;
            width: 100%;
        }
        .fieldWrapper .dateFormat, .lookupInput a {
            /*display: table-cell;*/
            width: 1px;
            white-space: nowrap;
            padding-left: 6px;
            
        }
        .fieldWrapper .lookupInput .lookupIcon, .fieldWrapper .lookupInput .lookupIconOn{
            margin-right: 0px !important;
        }
        .colLayout1 .descWrapper{
            width: 34%;
            display: table-cell;
            vertical-align: middle;
            line-height: 1.5;
            color: #454a50;
            font-size: 13px;
        }
        .sidebar {
            padding-top: 0px !important;
            vertical-align: top;            
            width: 250px !important;
            border: 1px solid #e5e5e5;            
        }

        .btn {min-width: 70px;}

        /** Process_Flow CSS **/

        #DyncPgFlow\:MenuComp{
            display: block;
            padding-top: 20px;
        }

        .sectionDescription{
            box-sizing: border-box;
            padding: 8px 15px 10px 15px;
            border-bottom: 1px solid #e4e4e4;
            margin-bottom: 5px;
            line-height: 1.5;
            color: #454a50;
            font-size: 13px;
        }
        
        /* This is for the full screen DIV */
         .popupBackground {
             /* Background color */
             background-color:black;
             opacity: 0.20;
             filter: alpha(opacity = 20);
          
             /* Dimensions */
             width: 100%;
             height: 100%;
             top: 0;
             left: 0;
             z-index: 998;
             position: absolute;
         }
      
         /* This is for the message DIV */
         .PopupPanel {
             /* Dimensions */
             left: 50%;
             width: 100px;
             //margin-left: -100px;
             border-radius: 15px
             top: 50%;
             height: 100px;
             margin-top: 200px;
             z-index: 999;
             position: fixed;
         }
            
        .wrap-container td {vertical-align: top;}
        .noSidebarCell, .sidebarCell .fixed,
        .wrap-container .sidebar {padding: 0;}
        .message table td {padding: 0;}
        .message {margin: 8px 0px;}
        
        .bPageBlock .pbBody .labelCol.empty{
            display: none;
        }
        /****************************************/        

    </style>