@font-face {
  font-family: 'TSTAR Light';
  src: url('../fonts/TSTAR Light Regular.eot');
  src: url('../fonts/TSTAR Light Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TSTAR Light Regular.woff2') format('woff2'), url('../fonts/TSTAR Light Regular.woff') format('woff'), url('../fonts/TSTAR Light Regular.svg#TSTAR Light Regular') format('svg');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: u+0-10ffff;
}

@font-face {
  font-family: 'TSTAR';
  src: url('../fonts/TSTAR Regular.eot');
  src: url('../fonts/TSTAR Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TSTAR Regular.woff2') format('woff2'), url('../fonts/TSTAR Regular.woff') format('woff'), url('../fonts/TSTAR Regular.svg#TSTAR Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: u+0020-00fe;
}

@font-face {
  font-family: 'TSTARBOLD';
  src: url('../fonts/TSTAR Bold.eot');
  src: url('../fonts/TSTAR Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TSTAR Bold.woff2') format('woff2'), url('../fonts/TSTAR Bold.woff') format('woff'), url('../fonts/TSTAR Bold.svg#TSTAR Bold') format('svg');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  unicode-range: u+0020-00fe;
}

@font-face {
  font-family: 'TSTAR Headline';
  src: url('../fonts/TSTAR Headline Bold.eot');
  src: url('../fonts/TSTAR Headline Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TSTAR Headline Bold.woff2') format('woff2'), url('../fonts/TSTAR Headline Bold.woff') format('woff'), url('../fonts/TSTAR Headline Bold.svg#TSTAR Headline Bold') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  unicode-range: u+0-10ffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'TSTAR', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
  font-size: 13px;
}

a {
  text-decoration: none;
  color: #141b4d;
}

a:hover {
  color: #00a3e0;
}

* {
  box-sizing: border-box;
}

p {
  margin-top: 0;
}

figure {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  color: #141b4d;
  font-weight: 400;
  margin: 0 0 15px;
  text-transform: uppercase;
}

select, input, textarea, button {
  font-family: 'TSTAR';
  font-size: 13px;
  color: #666;
  outline: none;
}

.text-center {
  text-align: center;
}

.header {
  width: 100%;
  float: left;
  background: #f6f6f6;
  padding: 10px;
}

.logo {
  float: left;
  margin: 10px;
}

.search {
  background: #fff;
  border: 1px solid #dbdbdb;
  padding: 5px 10px;
  float: left;
  width: 218px;
  margin: 30px 20px 0 0;
}

.search input[type=text] {
  background: #fff;
  border: none;
  width: calc(100% - 14px);
}

.search a {
  color: #666;
}

.search a:hover {
  color: #141b4d;
}

.navigation {
  float: right;
  position: relative;
  z-index: 10;
}

.navigation ul {
  margin: 0;
  padding: 0;
}

.navigation li {
  list-style: none;
  background: #7863a9;
  text-align: center;
  float: left;
  font-size: 16px;
  text-transform: uppercase;
  width: 120px;
  height: 90px;
  border-left: 0px solid #fff;
  position: relative;
}

.navigation li a {
  color: #fff;
  padding: 20px 0 10px;
  display: block;
}

.navigation li i {
  display: block;
  font-size: 26px;
  margin-bottom: 8px;
}

.navigation li:nth-child(1) {
  background: #141b4d;
  border: none;
  opacity: .70;
}

.navigation li:nth-child(2) {
  background: #141b4d;
  opacity: 0.80;
}

.navigation li:nth-child(3) {
  background: #141b4d;
  opacity: .90;
}

.navigation li:nth-child(4) {
  background: #141b4d;
}

.navigation .hover {
  height: 3px;
  background: #d0d0ce;
  left: 50%;
  right: 50%;
  position: absolute;
  bottom: 0;
  transition: all 0.2s ease-in;
  z-index: 10;
}

.navigation li:hover .hover {
  left: 0;
  right: 0;
}

.banner {
  width: 100%;
  float: left;
  display: flex;
  overflow: hidden;
  height: 220px;
  position: relative;
}

.left_nav {
  width: 234px;
  float: left;
  position: absolute;
  height: 100%;
}

.left_nav ul {
  margin: 0;
  padding: 0;
  display: table;
  width: 234px;
  position: absolute;
  height: 100%;
}

.left_nav li {
  list-style: none;
  display: table-row;
  height: 20%;
  position: relative;
}

.left_nav li a {
  font-size: 14px;
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
}

.left_nav li:nth-child(1) {
  background: #141b4d;
}

.left_nav li:nth-child(2) {
  background: #141b4d;
  opacity: .90;
}

.left_nav li:nth-child(3) {
  background: #141b4d;
}

.left_nav li:nth-child(4) {
  background: #141b4d;
  opacity: .80;
}

.left_nav li:nth-child(5) {
  background: #141b4d;
  opacity: .60;
}

.left_nav li .fa {
  width: 40px;
  font-size: 24px;
  margin: -3px 10px 0;
  float: left;
  text-align: center;
}

.slider {
  width: calc(100% - 234px);
  float: right;
  margin-left: 234px;
}

.slider img {
  width: 100%;
}

.slider .carousel-control {
  background-image: none !important;
  font-size: 40px;
  top: 50%;
  color: #fff;
  opacity: 1;
  text-shadow: none;
  bottom: inherit;
  width: 60px;
  margin-top: -30px;
}

.slider .carousel-caption {
  width: 100%;
  background: rgba(19, 28, 78, 0.6);
  font-size: 22px;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: left;
  padding: 5px 20px;
}

.slider .carousel-caption p {
  margin: 5px 0 8px;
}

.slider .carousel-inner, .slider .carousel, .slider .carousel-inner > .item {
  height: 100%;
}

.body_container {
  width: 100%;
  float: left;
  padding: 40px 20px 0;
}

.aside_container {
  float: left;
  width: 234px;
}

.quick_links {
  background: #f3f3f3;
  margin: 0;
  padding: 10px 0;
  width: 100%;
}

.quick_links li {
  list-style: none;
  position: relative;
  margin-bottom: 1px;
}

.quick_links li a {
  padding: 8px 15px 8px 40px;
  font-size: 14px;
  color: #666;
  display: inline-block;
  width: 100%;
  transition: all 0.2s ease-in-out;
  position: relative;
  z-index: 10;
}

.quick_links li:after {
  width: 0;
  content: '';
  position: absolute;
  height: 100%;
  float: left;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.quick_links li:hover:after, .quick_links li .active {
  width: 100%;
  background: #00a3e0;
  color: #fff;
}

.quick_links li .fa {
  margin: 0 15px 0 -30px;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.quick_links li a:hover {
  color: #fff;
}

.quick_links li:hover .fa, .quick_links li .active .fa {
  margin: 0 10px 0 -24px;
  opacity: 1;
}

.margin_btm_50 {
  margin-bottom: 50px !important;
  width: 100%;
  float: left;
}

.emp_rotator {
  background: #f8f8f8;
  padding: 20px 0;
  width: 100%;
  float: left;
}

.emp_rotator .thumb img {
  border-radius: 100%;
  width: 118px;
  border: 2px solid #fff;
}

.emp_rotator .carousel-control {
  background-image: none !important;
  font-size: 40px;
  top: 25%;
  color: #999;
  text-shadow: none;
  bottom: inherit;
}

.emp_rotator .carousel-caption {
  padding: 0;
  position: static;
  margin-top: 10px;
  text-shadow: none;
  color: #616161;
}

.emp_rotator .name {
  font-size: 18px;
  color: #141b4d;
  font-family: "TSTARBOLD";
  text-transform: uppercase;
}

.emp_rotator p {
  margin: 0;
}

.emp_rotator figure {
  text-align: center;
}

.emp_rotator .carousel-control.left {
  left: 10px;
}

.emp_rotator .carousel-control.right {
  right: 10px;
}

.bold {
  font-family: "TSTARBOLD";
}

.blue_r {
  font-size: 14px;
  color: #141b4d;
  font-family: "TSTARBOLD";
}

.job_vacancies p {
  line-height: 24px;
}

.button {
  background: #fff;
  border: 1px solid #c9c9c9;
  text-transform: uppercase;
  color: #141b4d;
  text-align: center;
  padding: 7px 15px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  color: #fff;
  background: #141b4d;
  border-color: #141b4d;
}

.team {
  background: #f8f8f8;
  padding: 15px 15px 0;
  margin: 0;
  float: left;
  width: 100%;
  overflow-y: auto;
  max-height: 350px;
}

.team ul {
  margin: 0;
  padding: 0;
}

.team li {
  list-style: none;
  line-height: 20px;
  width: 100%;
  float: left;
  margin: 0 0 10px;
}

.team .name {
  color: #141b4d;
}

.team li img, .emp_directory li p {
  float: left;
}

.team li img {
  margin-right: 10px;
  width: 60px;
}

.team .online {
  color: #339900;
  font-style: italic;
}

.mdl_container {
  width: calc(100% - 468px);
  float: left;
  padding: 0 50px;
}

.img_width {
  width: 100%;
}

.announcements figure {
  width: 45%;
}

.announcements .img_width {
  float: left;
}

.announcements .info {
  float: left;
  padding: 0 0 0 20px;
  width: 55%;
}

.blue_txt {
  color: #019fdc;
  font-size: 14px;
}

.blue_txt a {
  color: #019fdc;
}

.text p {
  line-height: 24px;
  margin: 0 0 10px;
}

.date_div {
  border: 1px solid #dfdfdf;
  color: #141b4d;
  height: 70px;
  text-align: center;
  padding: 6px 15px;
  font-size: 14px;
  line-height: 18px;
  margin: 5px 10px 0 0;
  transition: all 0.3s ease-in-out;
}

.date_div:hover {
  color: #fff;
  background: #141b4d;
}

.date {
  font-size: 20px;
  font-family: "TSTARBOLD";
}

.flex {
  display: flex;
  vertical-align: top;
}

.fullwidth {
  width: 100%;
  float: left;
}

.margin_btm_20 {
  margin-bottom: 20px !important;
}

.news, .events {
  width: 50%;
  float: left;
  padding-right: 20px;
}

.news .button, .events .button {
  width: 100%;
}

.news .button {
  width: 100%;
  margin-top: 9px;
}

.event_date {
  background: #00a3e0;
  padding: 15px;
  color: #fff;
  text-align: center;
}

.event {
  padding: 13px 10px;
  color: #999;
  line-height: 22px;
}

.event a {
  font-size: 14px;
  color: #333;
}

.event p {
  margin: 0;
}

.event_date .bold {
  font-size: 16px;
}

.events {
  padding: 0 0 0 20px;
}

.event_bdr {
  border: 1px solid #e9e9e9;
  border-bottom: none;
  border-left: none;
}

.team .search {
  width: 100%;
  margin-bottom: 15px;
}

.eoq {
  background: #019fdc;
  padding: 15px 10px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'TSTARBOLD';
  font-size: 22px;
  float: left;
  width: 100%;
}

.eoq h2 {
  font-size: 40px;
  float: left;
  font-family: 'TSTAR Headline';
  letter-spacing: -1.5px;
  color: #fff;
  margin: 0;
  line-height: 34px;
}

.eoq span {
  float: left;
}

.padding_rgt_10 {
  padding-right: 10px !important;
}

.radio {
  margin: 3px 3px 0 0;
  display: inline-block;
}

.instagram ul {
  margin: 0;
  padding: 0;
}

.instagram li {
  width: 20%;
  float: left;
  border-left: 1px solid #fff;
  list-style: none;
}

.instagram li img {
  width: 100%;
}

.instagram li:nth-child(1) {
  border-left: none;
}

.footer {
  width: 100%;
  float: left;
  padding: 15px 20px 10px;
  background: #f6f6f6;
  margin-top: 10px;
}

.social_media {
  float: left;
  font-size: 20px;
}

.social_media a {
  color: #ccc;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
}

.social_media a:hover {
  color: #666;
}

.footer_links {
  text-align: center;
  color: #666;
  margin: -22px auto 0;
  width: 100%;
  float: left;
}

.footer_links a {
  font-size: 14px;
  padding: 0 5px;
}

.copyright {
  float: right;
  color: #666;
  margin-top: -24px;
}

.toggle {
  display: none;
}

.rgt_container {
  width: calc(100% - 234px);
  padding-left: 40px;
  float: left;
}

.about .text {
  width: 80%;
  float: left;
  padding: 0 0 0 30px;
}

.headshot {
  width: 20%;
  float: left;
}

.padding_left_20 {
  padding-left: 20px !important;
}

.rgt_container p {
  line-height: 28px;
}

.headshot figcaption {
  border: 1px solid #eee;
  padding: 5px 10px;
  text-align: center;
  font-size: 14px;
  color: #141b4d;
}

.headshot figcaption span {
  color: #019fdc;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.headshot img {
  margin-bottom: -4px;
}

.row {
  margin: 0 -15px;
}

.col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
  float: left;
  padding: 0 15px;
}

.padding_rgt_40 {
  padding-right: 40px !important;
}

.col_1 {
  width: 8.333333%;
}

.col_2 {
  width: 16.666667%;
}

.col_3 {
  width: 25%;
}

.col_4 {
  width: 33.333333%;
}

.col_5 {
  width: 41.666667%;
}

.col_6 {
  width: 50%;
}

.col_7 {
  width: 58.333333%;
}

.col_8 {
  width: 66.666667%;
}

.col_9 {
  width: 75%;
}

.col_10 {
  width: 83.333333%;
}

.col_11 {
  width: 91.666667%;
}

.col_12 {
  width: 100%;
}

.docs ul {
  margin: 0;
  padding: 0;
}

.docs li {
  background: #f3f3f3;
  padding: 10px;
  margin-bottom: 1px;
  list-style: none;
  display: flex;
}

.docs li i {
  background: #00a3e0;
  color: #fff;
  padding: 10px 15px;
  font-size: 22px;
  margin: -10px 15px -10px -10px;
}

.docs .button {
  width: 100%;
}

.docs li a {
  color: #333;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.emp_rotator .carousel-control.left {
  left: 0;
}

.emp_rotator .carousel-control.right {
  right: 0;
}

.weather {
  background: #f8f8f8;
  padding: 15px 15px 0;
}

.weather img {
  margin: 10px 0;
}

@media screen and (max-width: 1920px) {
  .banner {
    height: 344px;
  }
}

@media screen and (max-width: 1900px) {
  .banner {
    height: 220px;
  }
}

@media screen and (max-width: 1300px) {
  .slider img {
    width: 1065px !important;
  }
  
  .footer_links a {
    font-size: 12px;
  }
  
  .footer_links {
    margin-top: -23px;
  }
}

@media screen and (max-width: 1100px) {
  .announcements figure, .announcements .info, .news, .events {
    width: 100%;
  }
  
  .announcements .info {
    padding: 20px 0 0;
  }
  
  .events {
    margin-top: 20px;
    padding: 0;
  }
  
  .mdl_container {
    padding: 0 20px;
  }
  
  .headshot {
    width: 160px;
  }
  
  .about .text {
    width: calc(100% - 160px);
  }
  
  .footer {
    text-align: center;
  }
  
  .social_media, .footer_links, .copyright {
    width: 100%;
    margin: 0;
  }
  
  .footer_links {
    margin: 10px 0 !important;
  }
}

@media screen and (max-width: 960px) {
  .slider .carousel-caption {
    font-size: 16px;
    line-height: 22px;
  }
  
  .slider .carousel-caption p {
    margin: 5px 0;
  }
  
  .header .pull-right {
    width: 100%;
  }
  
  .navigation {
    width: 100%;
    margin-bottom: 1px;
  }
  
  .navigation li {
    width: 25%;
    height: auto;
  }
  
  .navigation li a {
    padding: 12px 0;
  }
  
  .search {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .header {
    padding: 0;
  }
  
  .logo {
    margin-left: 20px;
  }
  
  .aside_container {
    width: 180px;
  }
  
  .mdl_container {
    width: calc(100% - 360px);
  }
  
  .team li p {
    width: 100%;
    float: left;
  }
  
  .eoq h2 {
    font-size: 36px;
  }
  
  .col_7, .col_5 {
    width: 100%;
  }
  
  .rgt_container {
    width: calc(100% - 180px);
  }
}

@media screen and (max-width: 767px) {
  .banner {
    height: auto;
    display: inherit;
  }
  
  .left_nav, .left_nav ul {
    position: inherit;
    width: 100%;
  }
  
  .slider {
    width: 100%;
    margin: 1px 0 0;
  }
  
  .slider img {
    margin-bottom: -5px;
  }
  
  .left_nav li a {
    padding: 12px 0;
  }
  
  .aside_container, .mdl_container {
    width: 100%;
    padding: 0;
  }
  
  .eoq h2, .eoq span {
    font-size: 35px;
    float: none;
    display: inline-block;
  }
  
  .toggle {
    background: #141b4d;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #fff;
    float: right;
    display: inline-block;
    margin: 30px 20px 0 0;
    padding-top: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .toggle:hover {
    background: #00a3e0;
  }
  
  .search {
    right: 40px;
  }
  
  .navigation {
    display: none;
  }
  
  .navigation li {
    width: 100%;
    border: none;
    text-align: left;
  }
  
  .navigation li i {
    float: left;
    width: 60px;
    text-align: center;
    margin: -4px 0 0;
  }
  
  .margin_btm_50 {
    margin-bottom: 20px !important;
  }
  
  .announcements {
    margin-bottom: 0 !important;
  }
  
  .body_container {
    padding: 15px;
  }
  
  .logo {
    margin-left: 15px;
  }
  
  .footer_links {
    line-height: 20px;
  }
  
  .navigation .hover {
    height: 1px;
    left: 0;
    right: 100%;
    transition: all 0.3s ease-in;
  }
  
  .team li p {
    width: auto;
    float: inherit;
  }
  
  .rgt_container {
    width: 100%;
    padding: 0;
  }
  
  .col_1, .col_2, .col_3, .col_4, .col_5, .col_6, .col_7, .col_8, .col_9, .col_10, .col_11, .col_12 {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .search {
    position: static;
    margin: 5px 15px 15px;
    width: calc(100% - 30px);
  }
  
  .eoq h2:nth-child(1) {
    display: block;
    width: 100%;
    float: left;
  }
  
  .eoq span {
    font-size: 22px;
    float: left;
    margin-right: 5px;
  }
  
  .slider .carousel-caption {
    line-height: 18px;
    font-size: 13px;
  }
  
  .headshot, .about .text {
    width: 100%;
    padding: 0;
  }
  
  .about .text {
    padding-top: 20px;
  }
}