#bgContainer, #searchContainer, .message-container, #share-container, #download-doc-section, #show-phone, .converter-container, #footer-full {
    display: none;
}

#phone-num, #time-zone {
    display: inline;
}

.map-container {
    display: inline;
}

.contact-container {
    display: inline;    
}

.gallery-container {
    padding-top: 30px;
    padding-bottom: 10px;
}