/*

Overriding Salesforce styles

*/

* {
	
	white-space: normal !important;
	/*
	font-family:'PF Centro Sans Pro Light';*/
}

.lt-ie9 body {
	margin: auto !important;
}

body {

	/* 
	Remove extra margin added on sides of the page 	
	*/
	font-family: Arial, Helvetica, "Helvetica Neue", "Helvetica", sans-serif;
	margin: 0 !important;

}

.login-box {
	background: #fff;
	border: 1px solid #E5E5E5;
	/*padding: 10px;	*/
}

.login-box form .button {
	width: 100%;
	margin-bottom: 10px;
	/*background: #00A1DF;*/
	background: #00a3e0;
	font-size: 100%;
}


.submit_wrapper {
	overflow: hidden;
	clear: both;
}

.login-box form .button:hover {
	/*padding: 10px 15px;*/
}

.login-box > .row.full-width {
	margin: auto;
}

.login-box form label {
	/*font-family: "PF Centro Sans Pro Bold";*/
	font-weight: bold;
}

.login-box form .help_wrapper .custom.checkbox {
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0;
	vertical-align: bottom;
	position: relative;
	top: -2px;
}

.forgot_passw{
	margin: 20px 0;	
}

.forgot_passw a {
	color: #01264A;
	text-decoration: underline;
}

.login-dashboard {
	min-height: 600px !important;
}

/*** top bar ***/
nav.top-bar,
nav.top-bar.expanded-nav {
    height: 65px !important;
    /*background: #141b4d;*/
    background: url("../images/DIFC_logo_pattern.png") 10px 0% repeat !important;
    background-size: 100%;
    margin-bottom: 0;
  	background-position-x: 10px !important;    
}
/*
nav.top-bar.top-nav {
    height: 65px;
    background: #141b4d;
    background-size: 100%;    
    margin-bottom: 0;
}
*/

h1, h2, h3, h4, h5, h6 {
	display: block;
}

body.detailPage table td.dashboard-content div.pbSubheader h3 {
	display: inline;
	padding-top: 2px;
}

body .dashboard-content a:hover{
	background-color: transparent;
}

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	/*background: url('/customer1/resource/1391946156000/PageLoader_gif') 50% 50% no-repeat rgb(249,249,249);*/
}

body iframe {
	display: block !important;
}

body td, .dashboard-content {
	 /*font-family: 'PF Centro Sans Pro Light'; */
}

/* hide till processing view */
#contentWrapper {
	display: none;
}

.dashboard-content,.lookupInput {
	white-space: normal !important;
}

body .bEditBlock .pbBody .pbSubheader, 
body .bWizardBlock .pbBody .pbSubheader {
	padding: 10px;
	margin: 0 auto;	
	background: #adadad !important;
	min-height: 20px;
	max-height: 35px;
	border: none;
}


.zen .zen-tabMenu a:hover {
	text-decoration: none;
}

.zen .zen-moreTabs {
	top: 15px;
}

ul li {
	margin-left: 0;
}

/* Remove extra thick bottom boder line on primary nav
div.row.top-bar.primary-nav {
	border-bottom: none;
}
*/

/* Hiding top-black bar, banner */
#globalHeaderBar, div[role='banner'] {
	display: none;
}
html .brandPrimaryBrd {
	position: relative;
}

div.bodyDiv {
	box-shadow: none;
}

.zen .zen-tabMenu .zen-active {
	box-shadow: none;
	border: none;
	background-color: rgba(255, 255, 255, 0) !important;	
}
.zen .zen-tabMenu>li {
	height: auto;
}

.zen #tabContainer {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: none;	
}

#contentWrapper {
	min-width: 0;
}

#bodyTable, #sidebarDiv  {
	background: inherit;
}


#sidebarDiv, .filterOverview .bFilterView select ,
.topNav.primaryPalette select  {
	width: auto; 
}

.sidebarCollapsed #handlebarContainer {
	left: 0px;
}

.filterOverview .bFilterView select ,
.topNav.primaryPalette select {
	min-width: 200px;
}

input[type="file"], input[type="checkbox"], 
input[type="radio"], select {
	margin: 0 0 1rem 0;
}

.filterOverview .bFilterView label{
	display: inline;
}

#handlebarContainer {
	left: 320px;
}

.accordion .content {
	/*font-family: "PF Centro Sans Pro Light";*/
}

.dashboard-content .button, 
.dashboard-content .button:focus {
	margin-bottom: 0;
	min-width: 0;
	outline: none;
}

#editPage .pbSubsection, .editPage .pbSubsection {
	margin-top: 0px;
	padding: 0;
	background: #E5E5E5;
}

.bPageBlock .detailList .errorMsg {
	clear: both;
}

table.outer tbody tr td.oRight {
	width: 100%;
}

body.homepage .dashboard-content table tr:nth-of-type(even) {
	background: #FFF !important;
}

body.homeTab .dashboard-content .empty_list {
	/*font-family: 'CentroSanLightItalic';*/
	padding-left: 10px;
}

#editPage .pbSubsection, 
#editPage .pbHeader table, #editPage .pbBottomButtons table,
body.editPage .pbSubsection fieldset,
div#ep.bPageBlock.brandSecondaryBrd.bEditBlock.secondaryPalette {
	border: none;
}

#editPage .pbHeader table, #editPage .pbBottomButtons table,
#editPage .pbHeader table td.pbTitle {
	background-color: transparent;
	color: #fff;
	padding-left: 0;
	margin: 0 auto; 	
}

body .bPageBlock .pbTitle h2 {
	color: #fff;
	font-size: 1.4em;
	padding-left: 0;
}

#editPage table {
	margin-bottom: 20px;
}

body .bEditBlock .pbBody {
	background-color: #e5e5e5;
	overflow: hidden;	
}

#editPage .pbSubsection, .editPage .pbSubsection fieldset table.table-form-field {
	border:0;
	width:100%;
	margin-bottom:0;
}

.bPageTitle.form-header .ptBody {
	overflow: inherit;
}

body .bEditBlock .pbHeader, body .bLayoutBlock .pbHeader{
	padding: 5px 10px;
	min-height: 40px;
	background-color: #00426A;
	border: none;
}

body .bEditBlock .pbHeader, body .bLayoutBlock .pbHeader, 
body .bEditBlock .pbBottomButtons {
	margin:0;
}

/* form section title font size */
body .bPageBlock .pbBody .pbSubheader h3, 
body .bWizardBlock .bPageBlock .pbBody .pbSubheader label {
font-size: 1.4em;
}


.sidebar form div .currency-balance{
	position: absolute;
	right: 54px;
	top: 2px;
}

.sidebar form div .currency {
	position: absolute;
	right: 10px;
	top: 6px;
}

/* inline edit highlight color */
.detailList .inlineEditWriteOn {
	background-color: #c3c3c3;
	background-position: center right;
}

/******* Documents Upload view ****************/

/* Responsive tables:

	 hide default toggle icons 
*/
.homeTab.homepage .activities table tr > td > span.footable-toggle, 
.homeTab.homepage .box-table table tr > td > span.footable-toggle  {
	display: none;	
}

table tr > td > span.footable-toggle {
	float: left;
	margin-right: 10px;
}

.homeTab.homepage table tr .footable-visible.footable-last-column {
	float: none;
}

body .bRelatedList .actionColumn,
.apexp div#dvDocs table tbody tr td:first-child {
	width: 150px !important;
}

.row.homepage-header {
	margin-bottom: 20px;
}

/* Sidebar view icons placement */
.sidebarCell {
	padding-top: 0;
}
.sidebarCell div.service-list .accordion dd ul li.preview {
	position: relative;
}

.sidebarCell div.service-list .accordion dd ul li.preview i {
	position: absolute;
	left: 30px;
	top: 2px;
}

.sidebarCell div.service-list .accordion dd ul li.preview a:last-child {
	padding-left: 52px;
}


/* Document Upload section */
.apexp .reveal-modal {
	height: auto !important;
	width: 90% !important;
}

.apexp .reveal-modal div#dvNewDoc, 
.apexp .reveal-modal div#dvNewDoc table, 
.apexp .reveal-modal textarea {
	width: 100% !important;	
}


/****** Form elements adjust even spacing *********/
.brandTertiaryBgr.pbSubheader.tertiaryPalette {
	background: #E5E5E5 !important;
	min-height: 40px;
	padding-top: 10px !important;
}

.brandTertiaryBgr.pbSubheader.tertiaryPalette, 
.brandTertiaryBgr.pbSubheader.tertiaryPalette h3,
.requiredText {
	color: #454A50 !important;
	margin: 0;
}

.requiredText {
	font-weight: bold;	
}

.pbSubsection table.detailList tr td.label-col {
	color: #4D4D4D;
    cursor: pointer;
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding-right: 5px;	
}

.pbSubsection input[type="file"], .pbSubsection input[type="checkbox"], 
.pbSubsection input[type="radio"], .pbSubsection select {
	background-color: #FFF;
}

form input[type=text]:focus, 
form input[type=email]:focus, 
form textarea:focus, 
.sub-nav dd input:focus {
	border: solid 1px #01426A !important;
	box-shadow: none;
	-webkit-box-shadow: none;
	background-color: #FFF;
}


/*.pbSubsection input.emptyDependentLookup.readonly {
	position:relative;
	left: 3px;
	top: 3px;
}*/

.pbSubsection input[type="checkbox"] {
	margin:0;
	margin-top: 5px;
}

.pbSubsection .requiredInput .requiredBlock.stripHeight {
	float: left;
	height: 28px;	
}

@media only screen and (min-width: 1280px) {
	.table-form-field tr td.label-col 	{position: relative; width: 18% !important; }
	.table-form-field tr td.data-col 	{width: 30% !important;margin: 0;padding: 0;}
	.table-form-field tr td.label-col + td + td.label-col{padding-left: 3% !important;width: 18% !important;}
}

.bPageBlock .requiredInput {
	height: auto;
}

.requiredInput .requiredBlock span.dateInput.input{
	width: 60%;
	float: left;
}

.requiredInput .requiredBlock span.dateFormat {
	float: right;
}

/* Form two way Language element adjustement */
table.multiSelectPicklistTable {
	margin: 0;
}

.pbSubsection .detailList .requiredInput fieldset {
	padding: 0;
	margin: 0;
}

table.multiSelectPicklistTable .multiSelectPicklistRow select[multiple*='multiple'] {
	width: 100% !important;
}

table.multiSelectPicklistTable .multiSelectPicklistRow td:first-child {
	width: 45% !important;
	float: left;
}

table.multiSelectPicklistTable .multiSelectPicklistRow .multiSelectPicklistCell {
	width: 10% !important;
	margin: 10px auto;
}

table.multiSelectPicklistTable .multiSelectPicklistRow td:last-child {
	width: 45% !important;
	float: right;
}


/* Readonly form clear table border */
body.detailPage div.pbSubsection .bPageBlock .detailList tr td, 
body.detailPage div.pbSubsection .bPageBlock .detailList tr th, 
body.detailPage div.pbSubsection .hoverDetail .bPageBlock .detailList tr td, 
body.detailPage div.pbSubsection .hoverDetail .bPageBlock .detailList tr th,
body.detailPage div.pbSubsection .bPageBlock .pbHeader table, 
body.detailPage div.pbSubsection .bPageBlock .pbBottomButtons table,
body.detailPage div.pbSubsection .detailList tr td,
body.detailPage .bDetailBlock.bPageBlock .pbBody .pbSubheader,
body.detailPage div.pbSubsection fieldset{
	border: none;
}

body.detailPage .bPageBlock .pbHeader table, 
body.detailPage .pbBottomButtons,
body.detailPage .pbBottomButtons table,
body.detailPage .bDetailBlock.bPageBlock[id^="ep"] {
	background-color: #f8f8f8;
	border: none;
	margin-bottom: 0;
}

body .bPageBlock .pbBody {
	background-color: #E5E5E5;
}

body.detailPage .bDetailBlock.bPageBlock[id^="ep"] {
	margin-bottom: 20px;
}

body.detailPage table td.dashboard-content div.pbSubheader h3 {
	color: #454A50;
}

body.detailPage .bDetailBlock.bPageBlock .pbBody .pbSubheader, 
body.FindSimilarOppsSearchUi .bPageBlock .pbBody .pbSubheader {
	min-height: 35px;
	background: #adadad;
	padding: 9px 10px;
}

body.detailPage .listHoverLinks {
	min-height: 35px;
	background: #00426A;
	padding-top: 8px;
	padding-left: 8px;	
	margin: 0;
	overflow: hidden;
	margin-top: 1.9em;	
}

body.detailPage .listHoverLinks .linklet, 
body.detailPage .listHoverLinks .linklet:hover,
body.detailPage .listHoverLinks .linkletOn .listTitle {
	color: #fff;
	background: transparent;
}

body.detailPage .listHoverLinks .linklet {
	/*margin: 5px 6px 15px;*/
	min-height: 35px;
	background: #00426A;
	margin-left: 0;
	float: right;
	padding-right: 0;
	padding-bottom: 6px;
	padding-left: 4px;
	position: relative;
	font-weight: bold;	
}


body.detailPage .listHoverLinks .mainTitle {
	float: left;
	font-size: 18px;
	color: #fff;
}


body.detailPage .listHoverLinks span.pipe {
	padding-top: 4px;
	float: right;
	color: #fff;
}

/* Centere align form buttons */
.buttonContainer input{
	margin-right: 3px;
}
body.detailPage .pbHeader .buttonContainer{
	padding: 0 18%;
}

body.detailPage .pbBottomButtons .buttonContainer {
	padding: 0px 2%;
}

body.editPage .pbBottomButtons .buttonContainer {
	padding: 0px 10%;
}



.highlightHover {
	background-color: #dcdcdc !important;
}

/* Header and bottom button alignments */
.bEditBlock .pbBottomButtons>table>tbody>tr>td, 
.bPageBlock .pbBottomButtons>table>tbody>tr>td, 
.bLayoutBlock .pbBottomButtons>table>tbody>tr>td {
	width: 100%;
	padding: 5px 16%;
}


span.dateInput.dateOnlyInput input {
	width: 65%;
	float: left;
}

.dateFormat {
	float: right;
}

/******* User Profile ****************/

.profilePage.userProfilePage .mainContent,
.userProfilePage .headerContent,
.threecolumn, .userProfilePage {
	width: auto;
}

/*
Make even sized as text fields 
*/
.pbSubsection select {
	padding: 0.3rem;
}

.listViewport .x-grid3-hd-row td, 
.listViewport .x-grid3-row td, 
.listViewport .x-grid3-summary-row td {
	/*font-family: 'PF Centro Sans Pro Light';*/
}

.x-grid3 table, .x-grid3-row-table{
	margin-bottom: 0px;
}
.x-grid3-hd.x-grid3-cell.x-grid3-td-ACTION_COLUMN,
.x-grid3-col.x-grid3-cell.x-grid3-td-ACTION_COLUMN {
	width: 120px !important;
}

.bottomNav .paginator .right {
	width: 12%;
}

nav.top-nav section.top-bar-section ul li.user span:first-child,
.paginator .selectorTarget.selectCount .selectArrow {
	float: right;
}
nav.top-nav section.top-bar-section ul li.user span:last-child {
	float: left;
	margin-right: 10px;
}


 body.listPage .dashboard-content .listViewport .linkBar {
 	padding-top: 10px;
 }

/*** button ***/
 body.listPage .dashboard-content .listViewport .linkBar .btn, 
 body.listPage .dashboard-content .listViewport .linkBar .btn:focus {
    background: #ebebeb;
    border:1px solid #d6d6d6;
    box-shadow: none;
    -webkit-box-shadow:none;
    padding:10px 15px;
    color: #333;
    /*font-family:'PF Centro Sans Pro Light';*/
    font-weight: normal;
    font-size:12px;
    border-radius: 0;
    outline: none;
}

body.listPage .dashboard-content .listViewport .linkBar .btn:hover,
body.listPage .dashboard-content .listViewport .linkBar .btn:active{
    background: #00426a !important;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#053E62), to(#003F65)) !important;
    background: -webkit-radial-gradient(circle, #053E62, #003F65) !important;
    background: -moz-radial-gradient(circle, #053E62, #003F65) !important;
    background: -ms-radial-gradient(circle, #053E62, #003F65) !important;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    color: #fff !important;
}

body.listPage .dashboard-content .listViewport .linkBar .btn.refreshListButton:hover {
	background-position: 10px -14px !important;
}
body.listPage .dashboard-content .listViewport .linkBar .btn.refreshListButton,
body.listPage .dashboard-content .listViewport .linkBar .btn.refreshListButton:active{
	background: url(/img/alohaSkin/sync.png) top left no-repeat !important;
	width: 37px;
	height: 34px;
	background-position: 10px 8px !important;
	vertical-align: bottom;
}

.datePicker select {
	width: auto;
}

.datePicker .dateBar .calLeft, 
.datePicker .dateBar .calLeftOn, 
.datePicker .dateBar .calRight, 
.datePicker .dateBar .calRightOn {
	margin-top: 12px;
}

body.editPage .helpButton, 
body.editPage .helpButtonOn {
	/*position: absolute;*/
	margin-right: 20px;
	display: block;
}

.editPage .detailList .helpOrb {
	max-width: 100px;
	top: 2px;
}

.pageTitleIcon, #sessiontimeout {
	display: none;
}

footer a:hover {
	text-decoration: none;
}

.submit_wrapper button {
	background: #01426A;
	border: 1px solid #01426A;
	color: #fff;

	font-size: 13pt;
	font-family: "Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
	font-weight: 300;	
}

.button:hover, .button:focus, .btnPrimary:hover, .btnPrimary:focus {
	cursor: hand; 
	cursor: pointer;
	box-shadow:inset 0px 2px 1px rgba(0,0,0,0.1);
}

.button .label, .button, .btnPrimary{
	color: #fff;
	font-size:  14px;
	font-family:"Helvetica Neue Regular", "Helvetica Neue", Helvetica, sans-serif;
	text-shadow: 0px -1px 0px rgba(0,0,0,0.3);
	font-weight:300;
}

input.primary, .button, .btnPrimary{
	line-height: 20px;
	display: inline-block;
	padding: 7px 20px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-appearance: none;
}