.THIS .difc-cost-table{
    background-color: white;
    padding: 1rem;
        
    
}

.THIS .difc-form-heading {
     color: #000000;
font-family: "EuclidSquare-Medium";
font-size: 22px;
font-weight: 900;
letter-spacing: -0.15px;

    padding-bottom: 2%  ;

}

.THIS .difc-font {
    font-family: "EuclidSquare-Light";
}

.THIS .difc-table{
    background-color: white;
    padding-top: 1%;
    padding-top: 0;
    
}

.THIS .difc-table-header {
	color: #000000;
font-family: "EuclidSquare-Medium";
font-size: 20px;
font-weight: 600;
    
}

.THIS .difc-table-header-col th {
    background-color:#4a4a4a !important;
    color: white;
    font-family: "EuclidSquare-Light";
    font-size: 12px;
    font-weight: 300;

}

.THIS .difc-table-header-col-grey th {
    background-color: #d9dbdd!important;
    color: black;
    font-family: "EuclidSquare-Light";
    font-size: 14px;
    font-weight: 300;

}

.THIS .difc-table-feilds {
    font-family: "EuclidSquare-Light";
font-size: 14px;
font-weight: 300;

}

.THIS .difc-table-feilds-bold {
    color: #000000;
font-family: "EuclidSquare-Light";
font-size: 14px;
font-weight: 700;

}

.THIS .difc-table  tbody td {
    border-bottom: .9px solid rgba(221, 219, 218, 0.46) !important;
}

.THIS .difc-file-upload .slds-file-selector__text {
   display: none;
}