.THIS .slds-button_neutral{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border: 1px solid rgb(217, 219, 221);
    transition: border .15s linear;
    border-color: rgb(216, 221, 230);
    background-color: rgb(255, 255, 255);
}
/*table css*/
.THIS td {
   border: 1px solid #ddd;
  padding: 8px;
}
.THIS th {
    border: 1px solid #ddd;
  padding: 8px;
    
    padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #000000;
  color: white;
    
}
.THIS table
{
    width:99%;
}
.THIS ul {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}

.THIS tr:hover {background-color: #FDFDFD;}

.THIS tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
.THIS table tbody tr td,
.THIS table thead tr th {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 10px 8px;
}
.THIS table tbody tr td,
.THIS table tbody tr th,
.THIS table tfoot tr td,
.THIS table tfoot tr th,
.THIS table thead tr th,
.THIS table tr td {
  display: table-cell;
  line-height: 1.28571rem;
}

/*end-table css*/
.THIS .ui-topup {
  position: relative;
  flex-wrap: wrap;
  min-height: 243px;
  padding: 40px 20px;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.26);
  /*margin-top: 16px;*/
}
.THIS .topup-button {
  border: 2px solid black;
  padding: 5px;
  margin-top: 25px;
  cursor: pointer;
  font-size: 14px;
  font-family: "EuclidSquare-Medium", sans-serif;
}
.THIS .ui-form-card__header {
  color: #000000;
  font-weight: 700;
  font-size: 18px !important;
}
.THIS .ui-form-card__subheader {
  font-size: 14px !important;
}
.THIS .action-link {
  color: #4a4a4a;
  font-weight: 300;
}
.THIS .stp-sum {
  color: #4a4a4a;
  font-size: 14px;
}
/* define the animation */
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateY(0, 0);
  }
  100% {
    -webkit-transform: translateY(-100%, 0);
  }
}

@-moz-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
  /* from {
    bottom: 0%;
  }
  to {
    bottom: 200px;
  } */
}

@keyframes mymove {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
  /* from {
    bottom: 0%;
  }
  to {
    bottom: 200px;
  } */
}

/* define your limiting container */
.THIS .marquee {
  /* white-space: nowrap;
  overflow: hidden; */
}
/* this is the tray moving around your container */
.THIS .marquee.test {
  /* display: inline-block;
  text-indent: 0; */
  position: relative;
  -webkit-animation-name: mymove; /* Safari 4.0 - 8.0 */

  animation-name: mymove;

  animation: mymove 100s linear infinite; /* here you select the animation */
  -webkit-animation: mymove 100s linear infinite; /* here you select the animation */
}
/* pause the animation on mouse over */
.THIS .marquee.test:hover {
  animation-play-state: paused;
  -webkit-animation-play-state: paused;
}

.THIS .close {
  position: absolute;
  right: 32px;
  top: 22px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.THIS .close:hover {
  opacity: 1;
}
.THIS .close:before,
.THIS .close:after {
  position: absolute;

  left: 30px;

  content: " ";

  height: 18px;

  width: 2.3px;

  background-color: #333;
}

.THIS .close:before {
  transform: rotate(45deg);
}
.THIS .close:after {
  transform: rotate(-45deg);
}

.THIS .white-background {
  background-color: white;
}
.THIS .animation-css-helper {
  padding: 60px 10px 10px 10px;
  height: 200px;
  overflow: hidden;
}

.THIS .non-animation-css-helper {
  padding: 10px 15px;
}