@font-face {
    font-family: 'EuclidSquare-Medium';
    src: url("/sfsites/c/resource/1550413580000/difcUI/fonts/Euclid_Trial/Euclid_Square_Trial/Web/EuclidSquare-Regular-WebTrial.woff") format("woff");
}

@font-face {
    font-family: 'EuclidSquare-Light';
    src: url("/resource/difcUI/fonts/EuclidSquare/EuclidSquare-Light.otf") format("opentype");
}

.THIS .slds-progress-bar__value{
    background: #0076CF!important;
}



.THIS .ui-card{
    margin: 16px 0;background-color: #fff;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    width: 1072px;
    height : 1000px;
    padding: 25px 60px;
}
    

.THIS .ui-form-card__header-title {
    display: block;
    font-size: 24px;
    padding-left: 50px;
    font-family: 'EuclidSquare-Medium', sans-serif;
    cursor: pointer;
}
.THIS .approval-table-title{
    font-size: 24px;
   	padding: 15px 0;
    font-family: 'EuclidSquare-Light', sans-serif;
    cursor: pointer;
}
.THIS .ui-form-card_content{
    display: flex;
    padding: 10px 0;
}
.THIS .ui-form-element__label{
    font-family: 'EuclidSquare-Medium',sans-serif;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: 600;
}

.THIS .ui-card__paragraph {
    padding-bottom: 16px;
    font-size: 14px;
    line-height: 1.4;
}
.THIS .topup-content{
    max-width: 560px;
    width: 100%;
    margin: 0 55px;
}
.THIS .table-content{
    padding: 25px 0 0 60px;
}
.THIS .table-content-header{
    padding: 25px 0 0 60px;
}
.THIS .slds-table thead th {
    background-color:#4A4A4A;
    color: #fff;
}
.THIS .slds-table th{
    padding:10px 0;
}