/**
 * DIFC
 */

/*** common ***/
*, *:after,
*:before            {box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-webkit-font-smoothing: antialiased !important;
                    -moz-font-smoothing:antialiased !important;-o-font-smoothing:antialiased !important;font-smoothing:antialiased !important;text-rendering:optimizeLegibility !important;}
body {
    background: #fff;
    /*font-family:'PF Centro Sans Pro Light';*/
}
body p {font-size:14px}
h1, h2, h3,b,strong {
    /*font-family:'PF Centro Sans Pro Bold';*/
    line-height:1;
    font-weight:bold;
}
a, a:visit, a:focus, a:hover {
    outline: 0 none !important;
}
a {color:#333;}
body iframe {
    /*display: none !important;*/
}
.bottom-space-40 {
    margin-bottom: 40px;
}
.wysiwyg.bottom-space-40 {
    margin-bottom: 20px;
}
.bottom-space-80 {
    margin-bottom: 80px;
}
.wysiwyg.bottom-space-80 {
    margin-bottom: 60px;
}
.has-tip {
    font-weight: normal;
}
.use-table {
    margin-bottom: 50px;
}
/*** icons ***/
 i.icon,b.icon {
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    display: inline-block;
    margin: 0 5px -4px auto;
}
i.icon-language {
    background: url("../images/icon-sprite.png") no-repeat 0px -194px;
}
i.icon-user {
    background: url("../images/icon-sprite.png") no-repeat 0px -116px;
}
i.icon-lock {
    background: url("../images/icon-sprite.png") no-repeat 0px -77px;
}
i.icon-information {
    background: url("../images/icon-sprite.png") no-repeat 0px 0px;
}
i.icon-submit {
    background: url("../images/icon-sprite.png") no-repeat 0px -38px;
}
i.icon-freezone {
    background: url("../images/icon-sprite.png") no-repeat 0px -312px;
}
i.icon-DIFC {
    background: url("../images/icon-sprite-hover.png") no-repeat 0px -107px;
}
i.icon-DIFC-grey {
    background: url("../images/icon-DIFC-grey.png") no-repeat 0px 0px;
}
i.icon-home {
    background: url("../images/icon-sprite.png") no-repeat 0px -350px;
}
i.icon-home.rollover {
    background: url("../images/icon-sprite-hover.png") no-repeat 3px 0px;
}
i.icon-home-white {
    background: url("../images/icon-home-white.png") no-repeat 0px 0px;
}
i.icon-phone {
    background: url("../images/icon-sprite.png") no-repeat 0px -233px;
}
i.icon-phone.grey {
    background: url("../images/icon-phone-grey.png") no-repeat 0px 0;
}
i.icon-phone-white {
    background: url("../images/icon-phone-small-white.png") no-repeat 0px 0;
}
i.icon-search {
    background: url("../images/icon-sprite.png") no-repeat 0px -156px;
}
i.icon-alert {
    background: url("../images/icon-alert.png") no-repeat 0px 0px;
}
i.icon-exit {
    background: url("../images/icon-sprite.png") no-repeat 0px -468px;
}
i.icon-reload-white {
    background: url("../images/icon-reload-white.png") no-repeat 0px 4px;
}
i.icon-reload-grey {
    background: url("../images/icon-reload-grey.png") no-repeat 0px 4px;
}
i.icon-reload {
    background: url("../images/icon-sprite.png") no-repeat 0px -546px;
}
i.icon-DIFC-white {
    background: url("../images/icon-sprite-hover.png") no-repeat 0px bottom;
}
i.icon-remove {
    background: url("../images/icon-sprite.png") no-repeat 0px -428px;
}
i.icon-star {
    background: url("../images/icon-star.png") no-repeat 0px 0px;
}
i.icon-secondary-menu {
    background: url("../images/icon-secondary-menu.png") no-repeat 0px 0px;
}
i.icon-commodities-hover {
    background: url("../images/icon-sprite-hover.png") no-repeat 0px -35px;
}
i.icon-freezone-hover {
    background: url("../images/icon-sprite-hover.png") no-repeat 0px -71px;
}
i.icon-DIFC-hover {
    background: url("../images/icon-sprite-hover.png") no-repeat 0px -107px;
}
i.icon-phone-small {
    background: url("../images/icon-phone-small-grey.png") no-repeat 0 0 !important;
    top:12px !important;
}
i.icon-diamond {
    background: url("../images/icon-filter.png") no-repeat 0 2px !important;
}
i.icon-diamond-hover {
    background: url("../images/icon-filter-hover.png") no-repeat 0 2px !important;
}
i.icon-gold {
    background: url("../images/icon-filter.png") no-repeat 0 -25px !important;
}
i.icon-gold-hover {
    background: url("../images/icon-filter-hover.png") no-repeat 0 -25px !important;
}
i.icon-tea {
    background: url("../images/icon-filter.png") no-repeat 0 -52px !important;
}
i.icon-tea-hover {
    background: url("../images/icon-filter-hover.png") no-repeat 0 -52px !important;
}
i.icon-other {
    background: url("../images/icon-filter.png") no-repeat 0 -80px !important;
}
i.icon-other-hover {
    background: url("../images/icon-filter-hover.png") no-repeat 0 -80px !important;
}
i.icon-setting {
    background: url("../images/icon-settings-hover.png") no-repeat 0 0 !important;
}
i.icon-commodities-big {
    background: url("../images/icon-sprite-about.png") no-repeat 0 0 !important;
    display: block;
    width: 32px;
    height: 30px;
}
i.icon-eco-big {
    background: url("../images/icon-sprite-about.png") no-repeat 0 -68px !important;
    display: block;
    width: 32px;
    height: 32px;
}
i.icon-freezone-big {
    background: url("../images/icon-sprite-about.png") no-repeat 0 -129px !important;
    display: block;
    width: 32px;
    height: 32px;
}
i.icon-event {
    background: url("../images/icon-news-event.png") no-repeat 0 0 !important;
}
i.icon-event-hover {
    background: url("../images/icon-news-event.png") no-repeat 0 -39px !important;
}
i.icon-media {
    background: url("../images/icon-news-event.png") no-repeat 0 -80px !important;
}
i.icon-media-hover {
    background: url("../images/icon-news-event.png") no-repeat 0 -120px !important;
}
i.icon-arrow-down {
    background: url("../images/icon-sort.png") no-repeat 0 0px !important;
}
i.icon-arrow-down-hover {
    background: url("../images/icon-sort.png") no-repeat 0 -34px !important;
}
i.icon-arrow-up {
    background: url("../images/icon-sort.png") no-repeat 0 -120px !important;
}
i.icon-arrow-up-hover {
    background: url("../images/icon-sort.png") no-repeat 0 -86px !important;
}
i.icon-checklist {
    background: url("../images/icon-checklist.png") no-repeat 0 0 !important;
}
i.icon-delete {
    background: url("../images/icon-delete.png") no-repeat 0 0 !important;
}
i.icon-video-sub {
    background: url("../images/icon-media.png") no-repeat 0 0 !important;
}
i.icon-audio-sub {
    background: url("../images/icon-media.png") no-repeat 0 -37px !important;
}
i.icon-gallery-sub {
    background: url("../images/icon-media.png") no-repeat 0 -75px !important;
}
i.icon-download {
    background: url("../images/icon-download.png") no-repeat 0 0;
}
i.icon-form-info {
    background: url("../images/icon-form-info.png") no-repeat 0 0;
}
i.icon-chat{background:url(../images/icon-chat-v3.png) no-repeat 0 2px;}
i.icon-help{background:url(../images/icon-support-v3.png) no-repeat 0 2px;}

/*** text color scheme ***/
 .text-blue {
    color: #136cac !important;
}
.text-tosca {
    color: #2fae9b !important;
}
.text-purple {
    color: #847da7 !important;
}
.text-grey {
    color: #5c666d !important;
}
.text-dark-blue {
    color: #00395d !important;
}
.text-light-blue {
    color: #136cac !important;
}
.bg-blue {
    background: #136cac !important;
}
.bg-tosca {
    background: #2fae9b !important;
}
.bg-purple {
    background: #847da7 !important;
}
.bg-grey {
    background: #5c666d !important;
}
.bg-dark-blue {
    background: #5c666d !important;
}
.bg-light-grey {
    background: #676b6f !important;
}
.bg-light-blue {
    background: #136cac !important;
}
.bg-dark-blue.gradient {
    background-color: #003454 !important;
    background: -webkit-gradient(linear, left top, right top, from(#003454), to(##004168)) !important;
    background: -webkit-linear-gradient(left, #003454, ##004168) !important;
    background: -moz-linear-gradient(left, #003454, ##004168) !important;
    background: -ms-linear-gradient(left, #003454, ##004168) !important;
    background: -o-linear-gradient(left, #003454, ##004168) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#003454, endColorstr=#004168) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#003454, endColorstr=#004168)" !important;
}
.bg-purple.gradient {
    background-color: #493E60 !important;
    background: -webkit-gradient(linear, left top, right top, from(#493E60), to(#574B73)) !important;
    background: -webkit-linear-gradient(left, #493E60, #574B73) !important;
    background: -moz-linear-gradient(left, #493E60, #574B73) !important;
    background: -ms-linear-gradient(left, #493E60, #574B73) !important;
    background: -o-linear-gradient(left, #493E60, #574B73) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#493E60, endColorstr=#574B73) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#493E60, endColorstr=#574B73)" !important;
}
.bg-tosca.gradient {
    background-color: #0d7074 !important;
    background: -webkit-gradient(linear, left top, right top, from(#0d7074), to(#20ab96)) !important;
    background: -webkit-linear-gradient(left, #0d7074, #20ab96) !important;
    background: -moz-linear-gradient(left, #0d7074, #20ab96) !important;
    background: -ms-linear-gradient(left, #0d7074, #20ab96) !important;
    background: -o-linear-gradient(left, #0d7074, #20ab96) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#0d7074, endColorstr=#20ab96)" !important;
}
.bg-light-grey.gradient {
    background: url("../images/bg-content.jpg") repeat-y 0 0;
    background: -webkit-gradient(linear, left top, right top, from(#e8e8e8), to(#f8f8f8)) !important;
    background: -webkit-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
    background: -moz-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
    background: -ms-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
    background: -o-linear-gradient(left, #e8e8e8, #f8f8f8) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e8e8e8, endColorstr=#f8f8f8)" !important;
}
.bg-video {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-video-trans.png") no-repeat 0 0;
}
.bg-calendar {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 47px;
    height: 50px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-calendar-trans.png") no-repeat 0 0;
}
.bg-images {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 62px;
    height: 50px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-image-trans.png") no-repeat 0 0;
}
.bg-audio {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-audio-trans.png") no-repeat 0 0;
}
.bg-diamond {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 65px;
    height: 51px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-diamond-trans.png") no-repeat 0 0;
}
.bg-download {
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    width: 54px;
    height: 50px;
    margin-top: -30px;
    margin-left: -30px;
    background: url("../images/bg-download-trans.png") no-repeat 0 0;
}
.grey-circle-gradient {
    background: #dbdbdc;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#e2e2e3), to(#fff));
    background: -webkit-radial-gradient(circle, #e2e2e3, #fff);
    background: -moz-radial-gradient(circle, #e2e2e3, #ffffff);
    background: -ms-radial-gradient(circle, #e2e2e3, #ffffff);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
}
/*** wysiwyg ***/
 .wysiwyg {
    margin-bottom: 50px;
}
/*** top bar ***/
nav.top-bar,
nav.top-bar.expanded-nav {
    height: 40px;
    /*background: #1c252d;*/

/*    background: url("images/top-bar-log_BG.png") repeat;
    background-size: 100%; */   
    margin-bottom: 0;
}
nav.top-bar ul {
    /*padding: 10px 0 0;*/
}
nav.top-bar ul, nav.top-bar ul .has-form {
    background: none;
}
nav.top-bar ul li.language {
    margin-right: 50px;
}
nav.top-bar ul li.language span{position:relative;top:0px;}
nav.top-bar ul li span {
    color: #fff;
}
nav.top-bar ul .has-form {
    height: auto;
}
nav.top-bar ul .has-form .large-5 {
    width: 200px;
}
nav.top-bar ul .has-form .large-2 {
    width: 20px;
}
nav.top-bar ul .has-form input[type="text"], nav.top-bar ul .has-form form input[type="password"] {
    width: 160px;
    background: #5c666d;
    border:none;
    margin-top: -10px;
    box-shadow: none;
    color: #fff;
    height: 24px;
    float: left;
    line-height: 1em;
}
nav.top-bar ul .has-form a {
    background: none;
    width: 20px;
    height: 25px;
    float: left;
    padding-left: 0;
    border-bottom: none;
    outline: 0 none;
}
nav.top-bar ul li.settings {
    position: relative;
}
nav.top-bar ul li.settings a .icon {
    margin-top: 3px;
}
nav.top-bar ul li.settings ul {
    background: #1C252D;
    position: absolute;
    top: 29px;
    right: 0;
    z-index: 99999;
    width: 200px;
    padding: 0;
    visibility: hidden;
}
nav.top-bar ul li.settings > a {
    outline: 0;
}
nav.top-bar ul li.settings > a:hover .icon-setting {
    background: url("../images/icon-settings.png") no-repeat 0 0 !important;
}
nav.top-bar ul li.settings.clicked ul {
    visibility: visible;
}
nav.top-bar ul li.settings ul li {
    display: block;
    border-bottom: solid 1px #ccc;
    width: 100%;
    float: none;
}
nav.top-bar ul li.settings ul li a {
    display: block;
    padding: 10px!important;
    width: 100%;
    float: none;
    height: auto;
    line-height: 1em;
    font-size: 14px;
    color: #fff;
/*    font-family:'PF Centro Sans Pro Light';
    font-weight: normal;
*/
    text-align: left;
}
nav.top-bar ul li.settings ul li a:hover{text-decoration:none;}
.top-bar .title-area{z-index:5000}
.top-bar-section li a:hover:not(.button){background:none}
nav.top-nav .top-bar-section ul li,
nav.top-nav .top-bar-section ul li a,
nav.top-nav ul li a{color:#fff;font-size:12px;/*font-family: 'PF Centro Sans Pro Light'*/}
nav.top-nav .top-bar-section ul.right li,
nav.top-nav .top-bar-section ul.right li a{font-size:14px; background: rgba(0, 0, 0, 0);}
nav.top-nav ul li a:hover{color:#fff;}
nav.top-nav .top-bar-section ul li .icon-phone-white{background-position:left 3px}
nav.top-bar ul li.settings ul li a:hover {
    background:#60666C !important;
}
.top-nav .top-bar-section ul li.has-form .columns {
    position: relative;
}
.top-nav .top-bar-section ul li.has-form .columns .icon-checklist, .top-nav .top-bar-section ul li.has-form .columns .icon-delete {
    position: absolute;
    right: 10px;
    top: 5px;
    z-index: 999;
    display: none;
}
.top-nav .top-bar-section ul li.information > a {
    z-index: 999999;
    position: relative;
    outline: 0 none;
}
.top-nav ul.home-link {
    padding-top: 0;
}
.top-nav ul.home-link a {
    height: 40px;
    padding: 10px 15px;
    background: none;
}
.top-nav.news ul.mobile-logo li a:hover {
    background: none;
}
/*** primary navigation ***/
 .primary-nav {
    background: #e8ebec;
    margin-bottom: 0;
    border-bottom: solid 1px #d8d9da;
    height: 59px;
}
.primary-nav .top-bar-section ul, .primary-nav .top-bar-section li a:not(.button) {
    background: none;
}
.primary-nav .top-bar-section ul > li.has-dropdown.hover,
.primary-nav .top-bar-section ul > li.has-dropdown:hover >a{
    background:#cececf;
}
.primary-nav .top-bar-section ul > li > a {
    color: #707478;
    font-size: 16px;
    text-transform: uppercase;
/*    font-family:'PF Centro Sans Pro Bold';*/
    font-weight: bold;
    padding: 7px 15px;
    white-space:nowrap;
}
.top-bar-section .has-dropdown > a {
    padding-right:15px!important;
}
.primary-nav .top-bar-section ul > li li a {
    font-size:14px;
}
.primary-nav .top-bar-section ul > li:hover > a, .primary-nav .top-bar-section ul > li > a:hover {
    background:none;
}
.primary-nav .top-bar-section ul > li > a.search {
    height: 59px;
    position: relative;
    width: 55px;
}
.primary-nav .top-bar-section ul > li > a i.icon {
    position: absolute;
    top: 21px;
    right: 12px;
}
.primary-nav .top-bar-section ul > li > a:hover, .primary-nav .top-bar-section ul > li:hover > a, .primary-nav .top-bar-section ul > li > a:focus, .primary-nav .top-bar-section ul > li > a.active {
    color: #01426a;
}
.primary-nav .top-bar-section ul > li > a.active, .primary-nav .top-bar-section ul > li.has-dropdown.hover > a {
    color: #083b5d;
}
.primary-nav .top-bar-section ul > li > .f-dropdown {
    background:#cececf;
    margin-top:1px;
    z-index:100;
    max-width: 0;
    display: none;
}
.f-dropdown:before, .f-dropdown:after {
    border:none;
}
.primary-nav .top-bar-section ul > li.has-dropdown > .f-dropdown {
    display:none;
}
body .primary-nav .top-bar-section ul > li.has-dropdown.hover > .f-dropdown {
    z-index: 9999;
    display: block;
    border-bottom: 0;
    left:0!important;
    top:100%!important;
}
body .primary-nav .top-bar-section ul li.has-dropdown ul li {
    float:none;
}
.primary-nav .top-bar-section ul > li > .f-dropdown span.title {
    font-size:12px;
    color:#454a50;
    font-weight:bold;
    display:block;
    /*font-family:'PF Centro Sans Pro Bold';*/
    padding-top: 5px;
    line-height: 20px;
}
.primary-nav .top-bar-section ul > li > .f-dropdown span.title.first {
    padding-top: 0;
}
.primary-nav .top-bar-section ul > li > .f-dropdown ul > li {
    float:none;
}
.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a {
    font-size:12px;
    color:#454a50;
    text-transform:none;
    /*font-family:'PF Centro Sans Pro Light';*/
    line-height:20px;
    padding: 0px 20px !important;
}
.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a:hover, .primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a:focus, .primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a.active {
    background:#b1b2b5;
    color: #083b5d;
}
.primary-nav .top-bar-section ul > li > .f-dropdown ul > li > a.active {
    color: #083b5d;
}
.primary-nav .top-bar-section ul > li.desktop-search a {
    float: right
}
.primary-nav .top-bar-section ul > li.desktop-search form {
    float: left;
    margin-right: 0px;
    width: 0;
    display: none;
}
.primary-nav .top-bar-section ul > li.desktop-search form input {
    font-size: 16px;
    width: 100%;
    top: 13px;
    text-align: right;
    padding: 0;
    border: none;
    height: 0;
    line-height: 1em;
}
.primary-nav .top-bar-section ul > li.desktop-search form input:focus {
    box-shadow: none;
}
.mobile-primary-nav, .mobile-primary-nav.expanded-nav {
    z-index: 99999;
}
.mobile-primary-nav.expanded-nav ul.title-area li.mobile-search {
    background: #f7f7f7 url("../images/bg-mobile-primary-nav.png") no-repeat right top !important;
}
.mobile-primary-nav {
    background: #f7f7f7 url("../images/bg-mobile-primary-nav.png") no-repeat right top !important;
    height: 40px;
}
.mobile-primary-nav.expanded-nav .title-area {
    background: #6D7176 !important;
    height: 40px;
    border-bottom: solid 1px #ccc;
}
.mobile-primary-nav ul.title-area {
    padding-top: 0;
}
.mobile-primary-nav ul.title-area .name {
    position: relative;
    float: left;
    z-index:101;
}
.top-bar .toggle-topbar{z-index:102}
.mobile-primary-nav ul.title-area .name h1 {
    color: #7a7e81;
    padding-left: 10px;
    text-transform: uppercase;
    margin-top: -2px;
}
.mobile-primary-nav.expanded-nav ul.title-area .name h1 {
    color: #fff;
}
.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon {
    padding-left: 0;
    right: 65px;
    margin-top: 0;
    top:0;
}
.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a {
    float: right;
    width: 58px;
    height: 40px;
    background: none;
}
.mobile-primary-nav ul.title-area li.toggle-topbar.menu-icon a span {
    left: 36px;
    top:12px;
    box-shadow: none;
    -webkit-box-shadow:none;
    background: url("../images/icon-menu-list.png") no-repeat center center;
    width: 16px;
    height: 16px;
}
.mobile-primary-nav.expanded-nav ul.title-area li.toggle-topbar.menu-icon a span {
    background: url("../images/icon-menu-list-white.png") no-repeat center center;
}
.mobile-primary-nav ul.title-area li.search {
    width:41px;
    float: right;
    position: relative;
    right: 0;
    top: 0;
    height:40px;
    border-left: solid 1px #ddd;
}
.mobile-primary-nav ul.title-area li.search a   {height:40px;display:block;}
.mobile-primary-nav ul.title-area li.search a:hover {
    background: none;
}
.mobile-primary-nav ul.title-area li.search a .icon {
    margin-top:11px;
    margin-left:8px;
}
.mobile-primary-nav ul.title-area li.search-open form {
    position: absolute;
    width: 100% !important;
    padding: 10px;
    right: 0;
    top: 40px;
    z-index: 999;
    background: #CECECF;
    display:block;
}
.mobile-primary-nav ul.title-area li.search-open form input {
    font-size: 14px;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
.mobile-primary-nav ul.title-area li.search-open {
    width: auto;
    float: none;
    margin-top:0;
}
.mobile-primary-nav ul.title-area li.search-open a {
    display: block;
    height: 40px;
}
.mobile-primary-nav ul.title-area li.search-open a .icon {
    background: #CECECF url("../images/icon-sprite.png") no-repeat 9px -145px;
    margin-top:0;
    margin-right:-3px;
    height: 40px;
    width: 44px;
    float:right;
}
.mobile-primary-nav .top-bar-section ul.right {
    display: none;
    top:0!important;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right {
    padding: 0;
    height: auto;
    text-align: left;
    display: block;
    top: 0px;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown {
    border-bottom: solid 1px #fff;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown a {
    background: #D0D7E2;
    color: #01426a;
    font-weight: normal;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown a:hover, .mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown a:focus {
    background: #738CAB;
    color: #fff;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown ul.dropdown {
    left: 0;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown.moved ul.dropdown {
    left: 100%;
    top:0;
    padding-top: 0;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown.moved ul.dropdown li {
    border-bottom: solid 1px #fff;
}
.mobile-primary-nav.expanded-nav .top-bar-section ul.right li.has-dropdown.moved ul.dropdown li.title a {
    background: #01426a;
    color: #fff;
}
/*** sub menu ***/
 .secondary-menu {
    background: #f8f8f8;
    height:59px;
    border-bottom: solid 1px #ddd;
    margin-bottom: 40px;
}
.news .secondary-menu {
    border-top: none;
}
.home .secondary-menu, .news .secondary-menu {
    margin-bottom: 20px;
}
.secondary-menu .top-bar-section > ul > li {
    background:url("../images/bg-sub-menu-separator.png") no-repeat right 0;
}
.secondary-menu .top-bar-section > ul > li > a {
    color: #454a50;
}
.secondary-menu .top-bar-section > ul > li > a.DIFC, .secondary-menu .top-bar-section > ul > li > a.freezone, .secondary-menu .top-bar-section > ul > li > a.commodities, .secondary-menu .top-bar-section > ul > li > a.event, .secondary-menu .top-bar-section > ul > li > a.media, .secondary-menu .top-bar-section > ul > li > a.sortby {
    /*font-family:'PF Centro Sans Pro Bold';*/
}
.secondary-menu .top-bar-section > ul > li > a.commodities {
    color:#0d7074;
}

 .secondary-menu .top-bar-section > ul > li > a.DIFC {
    color:#083b5d;
}

 .secondary-menu .top-bar-section > ul > li > a.freezone {
    color:#5d4f79;
}

 .secondary-menu .top-bar-section > ul > li > a.event {
    color:#083b5d;
}

 .secondary-menu .top-bar-section ul li a.media {
    color:#083b5d;
}

 .secondary-menu.clicked .top-bar-section > ul > li > a.sortby {
    color:#083b5d;
}
.secondary-menu .top-bar-section ul {
    padding: 0 20px 0 14px;
}
.secondary-menu .top-bar-section ul, .secondary-menu .top-bar-section ul li a {
    background:none;
    font-weight:normal;
}
.secondary-menu .top-bar-section ul li {
    padding: 20px 15px;
}
.secondary-menu .top-bar-section ul li.filter-label {
    padding-bottom: 20px;
    padding-left: 0;
}
.secondary-menu .top-bar-section ul li.home {
    width:38px;
    padding-left:0;
}
.secondary-menu.rollover .top-bar-section ul li.home {
    visibility:visible;
}
.secondary-menu .top-bar-section ul li.home a {
    display: block;
    float: none;
    width: 20px;
    height: 20px;
    padding-left: 0;
}
.secondary-menu .top-bar-section ul li, .secondary-menu .top-bar-section ul li a {
    color:#454a50;
    font-size:16px;
    line-height:18px;
}
.secondary-menu .top-bar-section ul li a {
    /*font-family:'PF Centro Sans Pro Light';*/
    padding: 0 !important;
}
.secondary-menu .top-bar-section ul li:hover > a, .secondary-menu .top-bar-section ul li a:hover {
    background:none;
    color:#454a50;
}
.secondary-menu .top-bar-section ul.right li a {
    /*font-family:'PF Centro Sans Pro Light';*/
}
.secondary-menu .top-bar-section ul li a span {
    float: left;
    margin-right: 10px;
}
.secondary-menu .top-bar-section ul li {
    float:left;
}
.secondary-menu .top-bar-section ul li.hover {
    background: #E4E4E4;
}
.secondary-menu .top-bar-section ul li a .icon {
    float: left;
}
.secondary-menu .top-bar-section ul.right li, .secondary-menu.rollover .top-bar-section ul.right li {
    background: none;
    padding-right: 0;
}
.top-bar-section .has-dropdown > a {
    padding-right: 0;
}
.top-bar-section .has-dropdown > a:after, .top-bar-section .has-dropdown > a:before {
    border:none;
}
.top-bar-section .has-dropdown > ul li a {
    padding: 5px 15px !important;
    /*font-family:'PF Centro Sans Pro Bold';*/
    color: #454a50;
    font-weight: bold;
}
.top-bar-section .has-dropdown > ul li a.text-blue-hover {
    color: #136cac !important;
}

 .top-bar-section .has-dropdown > ul li a.text-tosca-hover {
    color: #20ab96 !important;
}

 .top-bar-section .has-dropdown > ul li a.text-purple-hover {
    color: #847da7 !important;
}

 .top-bar-section .has-dropdown > ul li a.text-grey-hover {
    color: #5c666d !important;
}

.top-bar-section .has-dropdown > ul li a.text-purple-hover.reload:active .icon{
    background: url("../images/icon-sprite.png") no-repeat 0px -541px !important;
}
 .top-bar-section .has-dropdown > ul li a.text-dark-blue-hover {
    color: #083b5d !important;
}

 .top-bar-section .has-dropdown .dropdown {
    background:#e4e4e4;
    top:58px;
    padding: 0 0 10px 0;
}
.top-bar-section .has-dropdown .dropdown li {
    padding: 0;
    margin-top: 10px;
}
.top-bar-section .has-dropdown .dropdown li:hover {
    background: #cfcfd0;
}
.top-bar-section .has-dropdown .dropdown li.last {
    margin-bottom: 10px;
}
.top-bar-section .has-dropdown .dropdown li a .icon {
    float: right;
}
.tablet-home-link {
    display: none;
}
/*** breadcrumb ***/
 .secondary-menu .top-bar-section ul.breadcrumbs {
    border:none;
    padding: 0 0 0 15px;
}
.secondary-menu .top-bar-section ul.breadcrumbs > *:before {
    content:"";
    margin: 0;
}
.secondary-menu .top-bar-section ul.breadcrumbs li {
    background: none;
    padding: 20px 5px;
}
.secondary-menu .top-bar-section ul.breadcrumbs li a {
    font-size: 16px;
/*    font-weight: normal;
    font-family:'PF Centro Sans Pro Light';
*/
    text-transform: none;
}
.secondary-menu .top-bar-section ul.breadcrumbs li.first, .secondary-menu .top-bar-section ul.breadcrumbs li.first a {
    padding-left: 0;
}
.tablet-secondary-nav {
    clear: both;
    position: relative;
}
.tablet-secondary-nav .top-bar-section ul {
    background: #e7e7e7;
}
.tablet-secondary-nav .top-bar-section ul.left {
    width: 65% !important;
    border-radius:0;
    -webkit-border-radius:0;
    -moz-border-radius:0;
}
.tablet-secondary-nav .top-bar-section ul.right {
    width: 35.1%;
    position: absolute;
    top: 0;
    right: 0;
}
.tablet-secondary-nav .top-bar-section ul li, .tablet-secondary-nav .top-bar-section ul li ul li {
    list-style: none;
}
.tablet-secondary-nav .top-bar-section > ul > li > a {
    background: none;
    font-size: 16px;
    color: #707478;
    padding: 10px 15px;
    font-weight: lighter;
}
.tablet-secondary-nav .top-bar-section > ul > li > a .icon-home {
    margin-top: 3px;
}
.tablet-secondary-nav .top-bar-section > ul.left > li {
    background:url("../images/bg-sub-menu-separator.png") no-repeat right 0;
    height: 40px;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown {
    width: 88%;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a {
    padding: 8px 15px;
    width: 100%;
    display: block;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a.expanded {
    background: none;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown > a > i {
    position: absolute;
    right: 15px;
    top: 11px;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown {
    left:0;
    width: 100%;
    padding: 20px 0;
    top: 39px;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li a {
    background: none;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li a .icon {
    margin-top: 5px;
}
.tablet-secondary-nav .top-bar-section ul li a {
    font-size: 16px;
}
.tablet-secondary-nav .top-bar-section ul.right li {
    height: 40px;
    float: right;
}
.tablet-secondary-nav .top-bar-section ul.right li a {
    padding-left: 50px;
    position: relative;
    display: inline-block;
    padding-top: 8px;
}
.tablet-secondary-nav .top-bar-section ul.right li a .icon {
    position: absolute;
    top: 10px;
    left: 10px;
    height: 22px;
    width: 22px;
}
.tablet-secondary-nav .top-bar-section > ul > li.has-dropdown .dropdown li.has-dropdown ul.dropdown {
    padding: 0 20px;
}


/* unfortunately masonry needs hard pxs for images */
 .col1 {
    width: 80px;
}
.col2 {
    width: 180px;
}
.col3 {
    width: 300px;
}
.col4 {
    width: 380px;
}
.col5 {
    width: 480px;
}
.col1 img {
    max-width: 80px;
}
.col2 img {
    max-width: 180px;
}
.col3 img {
    max-width: 300px;
}
.col4 img {
    max-width: 380px;
}
.col5 img {
    max-width: 480px;
}
.box a {
    display: block;
    color: #222;
    padding:0;
}
.box a:hover {
    background: none;
    color: #222;
}
/* animations for the transition/reordering */
 .transitions-enabled.masonry, .transitions-enabled.masonry .masonry-brick {
    -webkit-transition-duration: 0.7s;
    -moz-transition-duration: 0.7s;
    -ms-transition-duration: 0.7s;
    -o-transition-duration: 0.7s;
    transition-duration: 0.7s;
}
.transitions-enabled.masonry {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}
.transitions-enabled.masonry .masonry-brick {
    -webkit-transition-property: left, right, top;
    -moz-transition-property: left, right, top;
    -ms-transition-property: left, right, top;
    -o-transition-property: left, right, top;
    transition-property: left, right, top;
}
/*** social share ***/
 #sticky-social {
    position: absolute;
    top:-270px;
    right: 0px;
    border-top:solid 1px #ddd;
    border-left: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 0;
    background: #fff;
}
#sticky-social li {
    list-style: none;
}
#sticky-social li a {
    display: block;
    width: 30px;
    height: 30px;
    text-indent: -99999px;
    margin: 10px 10px 0 10px;
}
#sticky-social li a.fb {
    background: url("../images/icon-social.png") no-repeat 0 0;
}
#sticky-social li a.linkedin {
    background: url("../images/icon-social.png") no-repeat 0 -37px;
}
#sticky-social li a.twitter {
    background: url("../images/icon-social.png") no-repeat 0 -74px;
}
#sticky-social li a.gplus {
    background: url("../images/icon-social.png") no-repeat 0 -111px;
}
#sticky-social li a.youtube {
    background: url("../images/icon-social.png") no-repeat 0 -148px;
}
#sticky-social li a.email {
    background: url("../images/icon-social.png") no-repeat 0 -185px;
}

/*====
  Form
  ====*/

form.custom .custom {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: -1px;
  /* fix centering issue */
  vertical-align: middle;
  border: solid 1px #d8d8d8;
  background: white;
}
  form.custom .custom.checkbox {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    padding: -1px; }
  form.custom .custom.radio {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
    padding: 3px; }

/* Custom Select Options and Dropdowns */
form.custom {
  /* Custom input, disabled */ }
  form.custom .custom.dropdown {
    display: block;
    position: relative;
    top: 0;
    height: 30px;/*2.3125em*/
    margin-bottom: 1.25em;
    margin-top: 0px;
    padding: 0px;
    width: 100%;
    background: white;
    background: -moz-linear-gradient(top, white 0%, #f3f3f3 100%);
    background: -webkit-linear-gradient(top, white 0%, #f3f3f3 100%);
    -webkit-box-shadow: none;
    background: linear-gradient(to bottom, white 0%, #f3f3f3 100%);
    box-shadow: none;
    font-size: 0.875em;
    vertical-align: top; }
    form.custom .custom.dropdown ul {
      overflow-y: auto;
      max-height: 200px; }
    form.custom .custom.dropdown .current {
      cursor: default;
      white-space: nowrap;
      line-height:1.6;
      color: rgba(0, 0, 0, 0.75);
      text-decoration: none;
      overflow: hidden;
      display: block;
      padding-left: 0.5em;
      margin-right: 2.3125em;
      font-size:16px;
  }
    form.custom .custom.dropdown .selector {
      cursor: default;
      position: absolute;
      width: 2.5em;
      height: 2.3125em;
      display: block;
      right: 0;
      top: 0;
  }
      form.custom .custom.dropdown .selector:after {
        content: "";
        display: block;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border: inset 5px;
        border-color: #aaa transparent transparent transparent;
        border-top-style: solid;
        position: absolute;
        left: 0.9375em;
        top: 50%;
        margin-top: -3px; }
    form.custom .custom.dropdown:hover a.selector:after, form.custom .custom.dropdown.open a.selector:after {
      content: "";
      display: block;
      width: 0;
      height: 0;
      border: inset 5px;
      border-color: #222222 transparent transparent transparent;
      border-top-style: solid; }
    form.custom .custom.dropdown .disabled {
      color: #888888; }
      form.custom .custom.dropdown .disabled:hover {
        background: transparent;
        color: #888888; }
        form.custom .custom.dropdown .disabled:hover:after {
          display: none; }
    form.custom .custom.dropdown.open ul {
      display: block;
      z-index: 10;
      min-width: 100%;
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box; }
    form.custom .custom.dropdown.small {
      max-width: 134px; }
    form.custom .custom.dropdown.medium {
      max-width: 254px; }
    form.custom .custom.dropdown.large {
      max-width: 434px; }
    form.custom .custom.dropdown.expand {
      width: 100% !important; }
    form.custom .custom.dropdown.open.small ul {
      min-width: 134px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    form.custom .custom.dropdown.open.medium ul {
      min-width: 254px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
    form.custom .custom.dropdown.open.large ul {
      min-width: 434px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
  form.custom .error .custom.dropdown {
    border-color: #c60f13;
    background-color: rgba(198, 15, 19, 0.1);
    background: rgba(198, 15, 19, 0.1);
    margin-bottom: 0; }
    form.custom .error .custom.dropdown:focus {
      background: #fafafa;
      border-color: #999999; }
  form.custom .error .custom.dropdown + small.error {
    margin-top: 0; }
  form.custom .custom.dropdown ul {
    position: absolute;
    width: auto;
    display: none;
    margin: 0;
    left: -1px;
    top: auto;
    -webkit-box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding: 0;
    background: white;
    border: solid 1px #cccccc;
    font-size: 16; }
    form.custom .custom.dropdown ul li {
      color: #555555;
      font-size:16px;
      cursor: default;
      padding-top: 0.25em;
      padding-bottom: 0.25em;
      padding-left: 0.375em;
      padding-right: 2.375em;
      min-height: 1.5em;
      line-height: 1.5em;
      margin: 0;
      white-space: nowrap;
      list-style: none;
  }
      form.custom .custom.dropdown ul li.selected {
        background: #eeeeee;
        color: black; }
      form.custom .custom.dropdown ul li:hover {
        background-color: #e4e4e4;
        color: black; }
      form.custom .custom.dropdown ul li.selected:hover {
        background: #eeeeee;
        cursor: default;
        color: black; }
    form.custom .custom.dropdown ul.show {
      display: block; }
  form.custom .custom.disabled {
    background: #dddddd; }

.mobile-search form.custom{
    display:none;
}
/*** apply ***/
 ul.step-info {
    height: 40px;
    margin-bottom: 45px;
    margin-top: 15px;
}
ul.step-info li {
    background: #424242 url("../images/bg-tab-arrow.png") no-repeat right center;
    display: block;
    float: left;
    color: #fff;
    width: 25%;
    padding:8px 10px;
}
ul.step-info li.active {
    background: #000 url("../images/bg-tab-arrow-active.png") no-repeat right center;
}
ul.step-info li.last {
    background: #424242 url("../images/bg-tab-arrow-last-bg.png") no-repeat right center;
}
ul.mobile-step-info {
    display: none;
}
.apply-online form p a {
    color: #454a50;
    text-decoration: underline;
}
.apply-online form p a:hover {
    background: none;
}
.row .apply-steps {
    border-bottom: solid 2px #E5E5E5;
    height:91px;
    margin-bottom:85px;
    padding-top:15px;
    margin-right:-20px;
    margin-left:-20px;
}
.apply-steps .step-wrapper {
    margin: 0 auto;
}
.apply-steps .step-wrapper .steps {
    padding:0;
    margin:0;
    list-style: none;
    width: 100%;
}
.apply-steps .step-wrapper .steps li {
    /*display: block;
    width: 22%;
    float: left;
    margin-right: 10px;
    margin-left: 10px;*/
    position: relative;
}
.apply-steps .step-wrapper .steps .step {
    border-radius:50px;
    -webkit-border-radius:50px;
    border:solid 5px #E5E5E5;
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    color: #575C63;
    font-size: 26px;
    margin: 0 auto;
    /*font-family:'PF Centro Sans Pro Bold';*/
    font-weight: bold;
}
.apply-steps .step-wrapper .steps .step.current {
    border-color:#00426A;
    color:#00426A;
}
.apply-steps .step-wrapper .steps .step-title {
    border-top: solid 2px #000;
    position: absolute;
    top:74px;
    left:0.9375rem;
    right:0.9375rem;
    padding-top: 15px;
    text-align: center;
    display:block;
    color:#575C63;
    font-size:16px;
    line-height:normal;
    width:auto;
}
.apply-steps .step-wrapper .steps .step.current + .step-title{
    border-color: #00426A
}
.apply-steps .step-wrapper .steps .step-title .arrow {
    display: block;
    left: 50%;
    position: absolute;
    width: 20px;
    height: 10px;
    border: solid 10px;
    border-color: transparent transparent #000 transparent;
    top: -20px;
    margin-left: -10px;
}
.apply-steps .step-wrapper .steps .step.current + .step-title .arrow{
    border-color: transparent transparent #00426A transparent;
}

/*** footer ***/
 footer {
    background: #e8ebec;
    padding: 20px;
    color: #454a50;
    position: relative;
    border-top: 1px solid #ddd;
}
footer .row .large-12 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
footer h3 {
    color: #454a50;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
footer .about {
    height: 280px;
}
footer small {
    font-size: 11px;
}
footer p {
    font-size: 16px;
    line-height: 1.3em;
}
footer .footer-left {
    padding-left: 0;
}

footer .footer-right dl dt {
    /*font-family:'PF Centro Sans Pro Bold';*/
    font-size: 14px;
    font-weight: bold;
}
footer .footer-right dl dt a {
    color: #454a50;
    display: block;
    padding-right: 0;
    padding-left: 0;
}
footer .footer-right dl dd {
    padding-left: 10px;
    margin-bottom: 0;
    /*font-family:'PF Centro Sans Pro Light';*/
    font-size: 14px;
}
footer .footer-right dl dt a:hover, footer .footer-right dl dt a:active, footer .footer-right dl dd:hover, footer .footer-right dl dd:active {
    background: #b1b2b5;
}
footer .footer-right dl dd a {
    color: #454a50;
    padding-left: 0;
    padding-right: 0;
    font-size:13px;
}
footer .footer-right dl dd a:hover {
    background: none;
    color: #454a50;
    text-decoration:none;
}

.mobile-footer ul {
    width: 100%;
    margin: 0 auto;
    border-top: solid 1px #ddd;
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#e2e2e2)) !important;
    background: -webkit-linear-gradient(left, #ffffff, #e2e2e2) !important;
    background: -moz-linear-gradient(left, #ffffff, #e2e2e2) !important;
    background: -ms-linear-gradient(left, #ffffff, #e2e2e2) !important;
    background: -o-linear-gradient(left, #ffffff, #e2e2e2) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#ffffff, endColorstr=#e2e2e2) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#ffffff, endColorstr=#e2e2e2)" !important;
}
.mobile-footer ul li {
    float: left;
    display: block;
    border-right: solid 1px #ddd;
    padding: 10px 0px;
    width: 25%;
}
.mobile-footer ul li.last {
    border: none;
}
.mobile-footer ul li a {
    display: block;
    text-align: center;
    font-size: 11px;
    text-transform: uppercase;
    padding: 0;
}
.mobile-footer ul li a:hover {
    background: none;
}
.mobile-footer ul li a.green {
    color: #0d7074;
}
.mobile-footer ul li a.violet {
    color: #5d4f79;
}
.mobile-footer ul li a.blue {
    color: #083b5d;
}
.mobile-footer ul li a.grey {
    color: #454a50;
}
.mobile-footer ul li a .icon {
    margin: 0 auto;
}
.mobile-footer p {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, right top, from(#e2e2e2), to(#ffffff)) !important;
    background: -webkit-linear-gradient(left, #e2e2e2, #ffffff) !important;
    background: -moz-linear-gradient(left, #e2e2e2, #ffffff) !important;
    background: -ms-linear-gradient(left, #e2e2e2, #ffffff) !important;
    background: -o-linear-gradient(left, #e2e2e2, #ffffff) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff) !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.gradient (GradientType=1, startColorstr=#e2e2e2, endColorstr=#ffffff)" !important;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 5px 10px;
    text-align: center;
    font-size: 11px;
}
/*** button ***/
 button, .button, input[type="submit"],.button:focus {
    /*background: #ebebeb;*/
    border:1px solid #d6d6d6;
    box-shadow: none;
    -webkit-box-shadow:none;
    /*padding:10px 15px;*/
    /*color: #333;*/
/*    font-family:'PF Centro Sans Pro Light';
    font-weight: normal;*/    
    /*font-size:12px;*/
}
/*
button:hover, .button:hover, button:active, .button:active, input[type="submit"]:hover, input[type="submit"]:active {
    background: #00426a !important;
    background: -webkit-gradient(radial, center center, 0, center center, 460, from(#053E62), to(#003F65)) !important;
    background: -webkit-radial-gradient(circle, #053E62, #003F65) !important;
    background: -moz-radial-gradient(circle, #053E62, #003F65) !important;
    background: -ms-radial-gradient(circle, #053E62, #003F65) !important;
    box-shadow: none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    color: #fff !important;
}
*/
button.tiny, .button.tiny {
    font-size: 14px;
}
button.small, .button.small {
    font-size: 14px;
}
.loadmore {
    margin: 0 auto;
    width: 300px;
    height: 40px;
    display: block;
    margin-bottom: 40px;
    clear: both;
    /*font-family:'PF Centro Sans Pro Light';*/
    font-style: 14px;
    font-weight: normal;
}
.loadmore-loader {
    margin: 0 auto;
    background: #e7e7e7 url("../images/loader.gif") no-repeat center center;
    height: 40px;
    width: 300px;
    margin-bottom: 40px;
    display: none;
}
/*** ctooltip ***/
 .ctooltip {
    background: #fff;
    padding: 10px;
    border: solid 1px #ddd;
    box-shadow: 0px 0px 3px #000;
    -moz-box-shadow: 0px 0px 3px #000;
    -webkit-box-shadow: 0px 0px 3px #000;
    position: absolute;
    font-size: 12px;
    z-index:102;
    max-width: 312px;
    width: 312px;
    display: none;
    top: 30px;
    right: 10px;
}
.ctooltip.notif {
    top:40px;
    right:8px;
}
.ctooltip p {
    font-size: 12px;
    margin-bottom: 0 !important;
}
.ctooltip p a {
    float: none!important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    line-height: 1.6 !important;
    text-decoration: underline;
    color: #454a50;
}
.ctooltip span.arrow {
    display: block;
    left: auto;
    right:3px;
    position: absolute;
    width: 26px;
    height:13px;
    top: -12px;
    background:url(../images/arrow-tool-tip.png) left top no-repeat;
}
.ctooltip.form {
    right:0px;
    top:30px;
}
.dashboard-content h3 .ctooltip.form,
.visa-form-content h3 .ctooltip.form{right:0px}

@-moz-document url-prefix() { 
  .ctooltip.form    {right:5px;}
  .dashboard-content h3 .ctooltip.form,
  .visa-form-content h3 .ctooltip.form{right:7px}
}
.sidebar .sidebar-box .ctooltip.form    {width:230px}
.sidebar .sidebar-box .small-8 input    {width:153px;}
.sidebar .sidebar-box .small-8.balance-field input {width:132px}


/*** recaptcha ***/
 #recaptcha_div {
    margin-top: 10px;
}
#recaptcha_div table {
    border: solid 1px #d8d8d8 !important;
}
.recaptchatable #recaptcha_image {
    height: 60px !important;
}
.recaptchatable #recaptcha_response_field {
    background: #fff;
    border-color: #dfdfdf !important;
}
#recaptcha_div #recaptcha_area #recaptcha_table tbody tr {
    background: #fff !important;
}
/*** table ***/
 .commodities table {
    width: 100%;
    border: none;
}

.commodities table tr th {
    background: #b3b5b7;
    color: #fff !important;
}
.commodities tbody tr:nth-child(even) {
    background-color: #e1e1e2;
}



/*Added for Dashboard*/
body                            {-webkit-font-smoothing: antialiased;-moz-font-smoothing:antialiased;-o-font-smoothing:antialiased;font-smoothing:antialiased;}
.top-bar-section i.icon         {line-height:45px}
.top-nav.news ul.mobile-logo    {padding-left: 10px;padding-top: 5px;margin:0 0 0 5px;}
nav.top-nav                     {z-index:99999999}
.primary-nav                    {z-index:9999999;height:58px!important;}
.primary-nav .top-bar-section   {display:table;width:100%}
nav.top-nav li.back             {margin-left:20px;}
.top-bar-section li.user        {position:relative;top:0px;}
.title-area .user               {margin-right:65px;}
nav.top-nav li.back a,
.top-bar-section li.call-centre a   {white-space:nowrap;line-height:1.6;display:inline;position:relative;}
.top-bar-section li.call-centre a   {padding-left:0;top:0px;}
.top-bar-section li.call-centre     {/*margin-right:40px;*/}
.dashboard .top-bar-section ul li a {background:none;}
.icon-return-back               {background:url(../images/icon-back-v2.png) left 3px no-repeat;}
.dashboard a:hover                {background:none;color:#000;text-decoration:underline;}
.dashboard footer a:hover,
.dashboard a.button:hover,
.dashboard .primary-nav a:hover   {text-decoration:none;}
.dashboard .primary-nav ul ul     {display:none;position:absolute;left:0;top:100%;z-index:99999;background:#E5E5E5;min-width:100%}
.dashboard .primary-nav ul .last ul{left:auto;right:0}
.dashboard .primary-nav ul ul li a:hover {background:#ccc;}
footer dl dd            {margin-bottom:0}
.top-bar-section li a.btn-login {line-height:30px;}
.info-tip               {position:relative;display:inline;height:20px;width:20px;z-index: 100}
.info-tip span          {height:20px;position:relative;z-index:101}

.sidebar a              {color:#000;}
.sidebar                {width:320px;color:#000;padding-top:33px;padding-bottom:15px;position:absolute;z-index: 999;}
.sidebar h3 a           {/*color:#01426A;*/padding:0;display:block;padding:5px 0;}
.sidebar h3 a:hover     {background:#dcdcdc;text-decoration:none;}
.box-table,
.content-bottom         {padding-right:10px;padding-left:10px;}
.box-table,
.sidebar-box            {margin-bottom:30px;}
.sidebar-box            {background:#fff;padding:18px 20px 20px;border:1px solid #E5E5E5;}
.table                  {width:100%;}
table tr th:first-child {text-align:left;}
.sidebar-box textarea   {margin-bottom:1em;height:100px;}
.table td .ctooltip.form       {right:0px;}
.table td .info-tip            {float:right;}
.table td i.icon              {float:right;}
 .contact-box           {text-align:center;background:#fff;border:1px solid #E5E5E5;padding:15px;}
 .contact-box .button   {margin-bottom:5px}
 .sidebar ul             {list-style:none;margin:0;}
 .list-saved-application li {border:1px solid #E5E5E5;padding-left:5px;margin-bottom:5px;color:#333;}
 .list-saved-application li a,
 .list-saved-application li span    {float:right;padding:0;margin-left:5px;}
 .list-saved-application li a i     {display:block;width:20px;height:20px;}

.accordion                      {margin-bottom:25px}
.accordion dd                   {margin-bottom:10px!important}
.accordion dd > a,
.sidebar h3,
.menu-title,
.menu-sub-title                     {/*font-family:'PF Centro Sans Pro Bold';*/ font-weight: bold; font-size:18px;}
.accordion dd > a,
.accordion dd > a:hover         {background:none;padding:0 0 0 10px;font-size:18px;text-decoration:none;}
.icon-minus-plus                {background:url(../images/icon-minus-plus.png) left top no-repeat;display:inline-block;margin:0;width:12px;height:12px;}
.accordion dd > a.collapsed.expanded span,
.menu-title.expanded span       {background-position:left bottom}
.accordion .content             {padding:0 0 15px}
.accordion .content.active      {background:none;}
.accordion ul li        {line-height:25px}
.accordion ul li li     {line-height:20px}
.accordion ul .link-first-level      {display:block;padding:0 0 0 20px;margin-top:10px;color:#000;}
.accordion ul ul span,
.table .icon-minus-plus-small,
.mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label b{cursor:pointer;display:block;margin-left:20px;color:#808080;padding:5px 0 1px 9px;background: url(../images/icon-minus-plus-small.png) left 7px no-repeat;}
.table .icon-minus-plus-small,
.mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label b {height:15px;margin-left:0;display:inline-block;}
.accordion ul ul span               {background-position:left 12px!important;}
.accordion ul ul span.expanded      {background-position:left -7px!important;}
.table .footable-detail-show .icon-minus-plus-small,
.mobile-primary-nav .top-bar-section ul.right li.mainmenu.sub label.expanded b  {background-position:left -12px}
.accordion ul ul li a   {padding-left:30px;display:block;}
.accordion ul a:hover,
.accordion ul li.active a   {background:#dcdcdc;text-decoration:none;}
.accordion ul ul ul     {display:none;}
.accordion ul ul ul.active      {display:block;}
.accordion ul ul span           {font-style:italic;color:#000;}

.sidebar .icon-home-small       {margin:0 3px -3px 3px;width:16px;height:16px;background:url(../images/icon-home-small.png) left top no-repeat;}
.service-list i.icon.icon-home  {margin-right:2px;}
.sidebar .service-list h3 a     {padding-bottom:6px;padding-left:22px;}
.sidebar .service-list h3       {margin-bottom:11px}

form .row .columns:first-child  {padding-right:0}
form .form-field .field-label,
.sidebar form.company-overview div label         {padding-top:3px;font-size:12px;color:#000;}
.sidebar form.company-overview div label         {width:85px;position:relative;margin-right:-5px;}
.balance-field                  {margin-bottom:20px}
.balance-field a.right          {padding:0;}
.balance-field a.right .icon    {margin-right:0;margin-top:-3px}
.balance-field input            {width:130px;margin-bottom:2px;}
.sidebar form.company-overview div input         {padding-top:0;padding-bottom:0;height:20px;color:#000!important;background:#fff!important;font-size:12px;box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;}
.sidebar form.company-overview div,
.sidebar form.company-overview div label         {font-size:12px;position:relative;}
.sidebar form.company-overview div label         {right:-5px;}
.sidebar form.company-overview div .currency     {position:absolute;right:50px;top:4px;}
.sidebar form.company-overview fieldset          {padding:3px 0 0;border:0;margin:0 0 5px}
.sidebar form.company-overview fieldset div input{margin-bottom:10px}
.row .sidebar-box .row          {margin-right:-20px;margin-left:-20px}

.sidebar .sidebar-search                    {padding-left:23px}
.sidebar .sidebar-search form               {margin-bottom:10px;overflow:hidden;}
.sidebar .sidebar-search .form-label        {width:35px;float:left;display:inline-block;line-height:24px;}
.sidebar .sidebar-search form input         {width:243px;margin:0;padding-top:0;padding-bottom:0;box-shadow:none;-webkit-box-shadow:none;-o-box-shadow:none;height:25px;font-size:14px;} 

.dashboard-content,
.visa-form-content              {color:#454a50;padding-top:33px;border-right:1px solid #D8D9DA;padding-left:20px;padding-right:10px;}

@media only screen and (max-width: 40em) { 
    .row.full-width.main-row        {background: transparent;}
    
    .sidebar {
        position: relative;
        margin: 0 auto 25px;
        padding: 33px 10px;
        -moz-border-radius: 2px;
        border-radius: 2px;

        font-size:14px;
        border-color:#D8D8D8;

        box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow:0px 2px 2px rgba(0, 0, 0, 0.3);;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    }
}
@media only screen and (min-width: 40.063em){
    .dashboard-content              {padding-left: 330px !important; } 
    .sidebar                        {position: absolute;  }
 }

.dashboard-content h1,
.dashboard-content h2,
.dashboard-content h3,
.dashboard-content h4,
.sidebar .sidebar-box h3,
.visa-form-content h1,
.visa-form-content h2,
.visa-form-content h3,
.visa-form-content h4               {color:#000;}
.dashboard-content a.link-text      {font-size:12px;}
.dashboard-content a.link-text.right    {position:relative;top:7px}
.dashboard-content .breadcrumbs,
.visa-form-content .breadcrumbs     {margin-bottom:11px;background:none;padding:0;border:0;}
.dashboard-content .breadcrumbs li a,
.visa-form-content .breadcrumbs li a{font-size:12px;color:#333333;text-transform:none;margin-right:5px;text-decoration:none;}
.dashboard-content .breadcrumbs li a:hover,
.visa-form-content .breadcrumbs li a:hover{text-decoration:underline;}
.dashboard-content .breadcrumbs li:before,
.visa-form-content .breadcrumbs li:before {display:none;}
.dashboard-content h4 i.icon,
.sidebar .sidebar-box h3 i.icon         {margin:0 5px -5px 7px;}
.visa-form-content h4 i.icon{margin:0 5px -3px 7px}
.sidebar .sidebar-box h3    {margin-bottom:18px;font-size:18px;}
.dashboard-content h3 i.icon,
.visa-form-content h3 i.icon,
.visa-form-content h4 i.icon{margin-left:7px}

.visa-form-content h3 .ctooltip.form{top:34px}

.alert-msg-box              {margin-bottom:44px}
.alert-msg-box .alert-box   {margin-bottom:4px;font-size:14px;height:40px;padding-top:12px;line-height:16px}
.alert-box .icon        {margin:0 5px -1px 0;width:16px;height:16px;float:left;}
.alert-box              {background:#00426a;border:0;}
.alert-box .close       {font-size:13px;color:#fff;opacity:1;filter:alpha(opacity:100);text-decoration: none;top:55%;padding-top:10px}
.alert-box .close:hover {text-decoration:underline;color:#fff;opacity:1;filter:alpha(opacity:100);}

.dashboard-content h3   {margin-bottom:13px}
.dashboard-content h4   {font-size:18px}
.to-do-list             {margin-bottom:30px;}
.to-do-list h4          {margin-left:10px}
.row .row-to-do-list    {margin-bottom:7px;margin-left:0px;margin-right:0}
.row-to-do-list:hover   {background:#ebebeb}
.row-to-do-list div     {min-height:33px;padding-top:7px;padding-bottom:7px;overflow:hidden;line-height:20px;}

.contact-support strong{/*font-family:'PF Centro Sans Pro Bold';*/font-weight:bold;color:#000;}
@media (min-width:1280px){
    .row-to-do-list div     {height:33px;}
    .row-to-do-list div.title-to-do {padding-left:20px;width:145px;}
    .row-to-do-list div.desc-to-do {width:490px}
    .row-to-do-list div.day-to-do{width:150px}
}
@media (max-width:1279px) and (min-width:980px){
    .row-to-do-list div.title-to-do {padding-left:20px;width:125px;}
    .row-to-do-list div.desc-to-do {width:250px}
    .row-to-do-list div.day-to-do{width:120px}
}
@media (max-width:999px) and (min-width:980px){
    .row-to-do-list div.desc-to-do {width:230px}
}
.dashboard-content td strong,
.dashboard-content strong,
.title-to-do,
dl dt                {/*font-family:'PF Centro Sans Pro Bold';*/font-weight:bold;}

.visa-form-content table th,
.dashboard-content table th{color:#000;font-weight:normal;/*font-family:'PF Centro Sans Pro Light';*/border-bottom:2px solid #fff;padding-top:5px;padding-bottom:5px}
.day-to-do,.action-to-do{font-size:12px}
.dashboard-content table td,
.dashboard-content table th,
.visa-form-content table th,
.visa-form-content table td{font-size:14px}
.row-to-do-list .action-to-do {width:130px;padding-top:0px;padding-bottom:0px}
.dashboard-content .action-to-do a         {text-decoration:none;width:90px;text-align:center;display:block;float:right;padding:0 10px;line-height:30px;height:33px;background:#ebebeb;border:1px solid #9f9f9f;color:#454a50;}
.row-to-do-list .action-to-do a:hover{color:#fff;background:#00426a;text-decoration:none;}
.contact-support i.icon     {margin:0 5px -6px auto;}
.contact-support i.icon.icon-phone-small{position:relative;top:2px!important;}
.contact-support i.icon.icon-chat{margin-bottom:-4px}
.dashboard-content .contact-support a,
.visa-form-content .contact-support a {text-decoration:none;}
.dashboard-content .contact-support a:hover,
.visa-form-content .contact-support a:hover{text-decoration:underline;}

.dashboard-content h3 .ctooltip.form{top:33px;}

.to-do-recently,
.to-do-recently p,
.to-do-recently li      {font-size:12px!important;color:#454a50;}
.to-do-recently p strong{color:#000;}
.to-do-recently ul      {list-style:none;}
.to-do-recently p,
.to-do-recently ul      {margin-bottom:10px;margin-left:0}
.to-do-recently         {margin-bottom:50px;padding:0 10px;}
.to-do-recently a       {padding:0}


.actions                {margin-bottom:30px;padding:0 10px;}
.row-action             {padding-right:45px;border:1px solid #d6d6d6;margin-bottom:10px;padding-left:10px;position:relative;}
.row-action .action-text        {line-height:38px;height:38px;width:100%;}
.btn-next                       {position:absolute;right:0;top:0;width:40px;height:100%;background:#ebebeb url(../images/icon-next.png) 0 center no-repeat;border-left:1px solid #d6d6d6;}
.row-action:hover               {background:#00426a;color:#fff;}
.row-action:hover strong        {color:#fff}
.row-action:hover .btn-next     {width:40px;height:100%;background:#00426a url(../images/icon-next.png) -40px center no-repeat;}
.dashboard-content .button      {padding:10px 15px;margin-bottom:15px;min-width:250px;color:#454a50;text-decoration:none;}
.actions .btn-blue          {background:#00426a;color:#fff}
.actions .btn-blue:hover    {background:#333!important;}

.dashboard-content a,
.visa-form-content a        {color:#454a50;text-decoration:underline;}
.dashboard-content a:hover,
.visa-form-content a:hover  {color:#01426A;}

table                       {margin-bottom:20px;}
table thead tr th,
table tbody tr td           {padding:10px 8px;}
.table tr th                {background:#D6D6D6}
.table tr,
.table tr.footable-detail-show + .footable-row-detail       {background:#ebebeb!important;}
.table tr.even,
.table tr.even.footable-detail-show + .footable-row-detail   {background:#fff!important}
.table tr.footable-detail-show + .footable-row-detail td     {padding-top:0}
.table tr.footable-detail-show + .footable-row-detail td div.footable-row-detail-inner {padding-left:12px}
.table th.submitted      {min-width:100px}
.table th.last-reply,
.table th.activityby     {min-width:95px}

.contact-support        {margin-bottom:55px}
.contact-support a      {padding:0}
.contact-support p      {margin-bottom:4px}


.application-date       {margin-right:20px}

 table.table thead tr .header span {
    background-image: url(../images/sorting.gif);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height:9px;
    width:10px;
    display:inline-block;
    margin-left:2px
}
table.table thead tr .headerSortUp span {
    background-image: url(../images/sorting-asc.gif);
}
table.table thead tr .headerSortDown span {
    background-image: url(../images/sorting-desc.gif);
}

table.table thead tr .category.header{min-width:90px;}


.box-visa select {background-position:96.5% 15px;}

.tab-content{display:none;}

.sidebar .icon.icon-search-left {margin-top:4px;float:left;width:16px;height:16px;background:url(../images/icon-search-left.png) left top no-repeat}

.main-row               {background:url(../images/bg-sidebar.png) left top repeat-y;}


/*------------------
  For Visa Form Read
  ------------------*/
body p,
.visa-form-content          {font-size:14px}
.visa-form-content .link-share,
.visa-form-content .link-share:hover    {font-size:14px;display:block;position:relative;top:5px;line-height:18px}
.visa-form-content .link-share span     {text-decoration:underline;background:url(../images/icon-share-v1.png) right 1px no-repeat;padding-right:20px;display:inline-block;}


.visa-form-content ul.breadcrumbs       {margin-top:0;margin-bottom:15px}
.visa-form-content ul.breadcrumbs li    {line-height:1;font-size:12px;}
.process-steps ul           {overflow:hidden;list-style:none;margin:0;}
.process-steps ul li        {float:left;width:25%;text-align:center;}
.profile-steps              {margin:0 -20px 60px;position:relative;}

.profile-steps .table-form td.active form   {margin-bottom:30px}
.profile-steps .title-step span             {display:inline-block;/*font-family:'PF Centro Sans Pro Bold';*/ font-weight: bold; font-size:20px;line-height:1.1;padding-top:4px}
.profile-steps .title-step .steps-no        {padding-left:49px;}
.profile-steps .title-step span.info        {font-size:12px;margin-left:0}
.profile-steps .title-step span b   {margin:-2px 0 0 -49px;line-height:20px;float:left;height:27px;width:27px;padding-left:1px;text-align:center;border:3px solid #fff;border-radius:13px;-webkit-border-radius:13px;position:relative;}
.profile-steps .title-step          {background:#00426A;min-height:40px;padding:5px 30px;margin-bottom:10px}
.profile-steps .title-step.expanded {margin-bottom:0}
.profile-steps .title-step,
.profile-steps .title-step a        {color:#fff;}
.profile-steps .table-form td form  {padding:30px 80px 10px}
.profile-steps fieldset             {border:0;padding:20px 0;margin:0;}
.profile-steps #birth-country,
form select#category                {display:none;}
.profile-steps .title-step a        {text-decoration:none;font-weight:normal;position:relative;top:2px}
.profile-steps .title-step a:hover  {text-decoration:underline;}
.profile-steps .title-step a.link-download,
.profile-steps .title-step a.link-save      {line-height:1.6;top:6px;position:relative;padding-left:22px;font-size:12px;/*font-family:'PF Centro Sans Pro Bold';*/text-decoration:underline;}
.profile-steps .title-step a.link-download  {background:url(../images/icon-download-v1.png) left 2px no-repeat;}
.profile-steps .title-step a.link-save      {position:absolute;right:170px;background:url(../images/icon-save-v1.png) left 2px no-repeat;display:inline-block;}
.profile-steps .title-step a.link-download:hover,
.profile-steps .title-step a.link-save:hover{text-decoration:none;}
.visa-form-content form             {margin-bottom:0}

.visa-form-content form .small-4 label,
.visa-form-content form .small-2 label,
.visa-form-content form .small-4 label             {/*font-family:'PF Centro Sans Pro Bold';*/font-size:14px;display:table-cell;vertical-align:middle;line-height:1.2;height:30px}
.visa-form-content form .options-row .small-2 label{margin-top:4px;display:block;}
.visa-form-content form .small-10 .small-4 label,
.profile-steps .title-step span.link-complete       {font-family:'PF Centro Sans Pro Light';font-size:16px;position:relative;top:1px;}

.profile-steps form label.for-checkbox span.checkbox,
.profile-steps form label.for-radio span.radio   {width:16px;height:17px;text-indent:-9999px;display:block;margin:0 5px 0 auto;background:url(../images/icons-filter-sprite.png) left bottom no-repeat;float:left;border:0;}
.profile-steps form label.for-checkbox span.checkbox,
.profile-steps form label.for-radio span.radio   {background-position:0 -90px;margin-top:3px}
.profile-steps form label.for-checkbox span.checkbox.checked,
.profile-steps form label.for-radio span.radio.checked  {background-position: -16px -90px;}

.profile-steps .disabled form label.for-checkbox span.checkbox,
.profile-steps .disabled form label.for-radio span.radio{background-position:left -113px}
.profile-steps .disabled form label.for-checkbox span.checkbox.checked,
.profile-steps .disabled form label.for-radio span.radio.checked  {background-position: -16px -113px;}



.login-box form label.for-checkbox span.checkbox,
.login-box form label.for-radio span.radio   {width:16px;height:17px;text-indent:-9999px;display:block;margin:0 5px 0 auto;background:url(../images/icons-filter-sprite.png) left bottom no-repeat;float:left;border:0;}
.login-box form label.for-checkbox span.checkbox,
.login-box form label.for-radio span.radio   {background-position:0 -90px;margin-top:3px}
.login-box form label.for-checkbox span.checkbox.checked,
.login-box form label.for-radio span.radio.checked  {background-position: -16px -90px;}

.row .form-header           {margin-bottom:55px}
.form-header span.right     {color:#000;font-size:14px;position:relative;top:8px;}
.visa-form-content .info-tip{position:relative;top:1px}
.visa-form-content h4 .info-tip{top:3px;}
.visa-form-content ul       {margin-top:8px}
.visa-form-content ul li    {font-size:16px}
.visa-form-content .details-step h4 span   {font-weight:normal;font-family:'PF Centro Sans Pro Light';font-size:16px}
.online-process h4          {margin-left:10px;margin-bottom:20px}
.process-content            {padding:0 10px}
.visa-form-content .table-form td form           {background:#E5E5E5}
.visa-form-content .table-form td.disabled form  {background:#ADADAD;}
.visa-form-content .table-form td.disabled p,
.visa-form-content .table-form td.disabled label,
.visa-form-content .table-form td.disabled h4    {color:#fff}
.visa-form-content .table-form td.disabled input,
.visa-form-content .table-form td.disabled textarea     {background:#eee}
.visa-form-content .table-form td.disabled form .custom.dropdown a.current,
.visa-form-content td.disabled form.custom .custom.dropdown .selector{background-color:#eee}
.visa-form-content .table-form td.disabled form.custom .custom.dropdown .selector{opacity:0.5;filter:alpha(opacity=50);}

.visa-form-content form h4{color:#454A50;}
.visa-form-content .custom.dropdown a.current.grey-text {color:#888;}

.visa-form-content form input[type=text]:focus,
.visa-form-content form input[type=email]:focus,
.visa-form-content form textarea:focus,
.visa-form-content .sub-nav dd input:focus{
    border:solid 1px #01426a !important;
    box-shadow:none;
    -webkit-box-shadow:none;
    background-color:#fff;
}

.visa-form-content form.custom .custom.dropdown .selector{
    background: #fff url("../images/icon-dropdown.png") no-repeat center center;
    height:28px;
    width:35px;
}

.visa-form-content form.custom .custom.dropdown .selector:after{
    border: none;
    display:none!important;
}

.visa-form-content form .custom.dropdown a.current{
    background: #fff url("../images/bg-border-prefix.png") no-repeat right top; 
    margin-right: 35px;
    font-size: 16px;
    color: #1a1a1a;
    line-height: 1.6em;
    height:28px;
}

.visa-form-content form .custom.dropdown ul li:first-child{

}

.details-step form h4 + fieldset {margin-bottom:15px;}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    -webkit-appearance: none;
    display: none;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"]           {box-sizing:border-box!important;-webkit-box-sizing:border-box!important;-moz-box-sizing:border-box!important;/*height:28px;*/padding:0 10px;box-shadow:none;-webkit-box-shadow:none;font-size:14px;border-color:#D8D8D8;color:#1A1A1A;font-size:12px;}
textarea                    {box-sizing:border-box!important;-webkit-box-sizing:border-box!important;-moz-box-sizing:border-box!important;height:100px;padding:5px 10px;margin-bottom:1rem;box-shadow:none;-webkit-box-shadow:none;border-color:#D8D8D8;color:#1A1A1A;font-size:12px;}

input[type="text"][disabled],
input[type="password"][disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="month"][disabled],
input[type="week"][disabled],
input[type="email"][disabled],
input[type="number"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
textarea[disabled]          {background-color:#fff;}

.disabled .custom.dropdown.disabled {background:#fff}

.info-column                {position:relative;}
.info-column .info-tip      {position:absolute;top:5px;right:-30px;z-index:104}
.info-column.long-box .info-tip     {z-index:100}
.disabled i.icon-form-info  {background-image:url(../images/icon-form-info-white.png);}
.disabled .ctooltip.form    {display:none!important;}
.info-column .ctooltip.form {right:-5px;}

.menu-title             {margin-bottom:25px}
.menu-title.expanded    {margin-bottom:4px}
.menu-sub-title         {margin-bottom:11px}
.top-bar-section ul li.menu-sub-title a       {line-height:45px;color:#575C63}
.menu-title,
.menu-sub-title,
.mobile-primary-nav .top-bar-section ul.right li.menu-sub-title a      {font-size:16px;}
.menu-content               {display:none;margin-bottom:15px}
.menu-content.active        {display:block}
.breadcrumbs + div .columns + .columns {overflow:hidden;min-height:20px}
.mobile-primary-nav .top-bar-section ul.right li.menu-sub-title a{font-family: 'PF Centro Sans Pro Bold';color:#575C63!important;padding-bottom:0}

.activity-details           {display:none;}
.activity-details.active    {display:block;}
.activity-details           {padding-bottom:8px;padding-top:8px;padding-left:13px;line-height:20px}
.activity-row div           {line-height:30px;}
.activity-row div:first-child{padding-left:0}
.row-even                   {background:#fff;padding:5px 6px;}
.row-odd                    {background:#EBEBEB;padding:5px 6px;}
.table-list                 {margin-bottom:15px}
.row .table-list .row       {margin:0;}
.row-head                   {background:#D6D6D6;margin-bottom:2px!important}
.row-head div               {line-height:20px;padding-top:4px;padding-bottom:4px;color:#000;}
.row-head span.sorting      {height:9px;width:10px;display:inline-block;background:url(../images/sorting.gif) -4px top no-repeat;}
.activity-row .columns a    {display:block;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.activity-row .columns a span   {margin-right:5px}

.btn-next-step              {min-width:170px;margin-right:20px;}
.link-return                {font-size:12px}
.small-search               {padding:10px 0 15px}
.small-search input         {text-align:center;}
.top-bar.top-nav ul         {margin-left:0;}
.mobile-primary-nav .top-bar-section ul.right li a:hover{text-decoration:none;}
.mobile-primary-nav .top-bar-section ul.right li.mainmenu a,
.mobile-primary-nav .top-bar-section ul.right li.quicklinks a{font-family:'PF Centro Sans Pro Light'}
.mobile-primary-nav .top-bar-section ul.right li.mainmenu.summary {padding-top:15px}
.mobile-primary-nav .top-bar-section ul.right li.mainmenu.summary a{font-family:'PF Centro Sans Pro Bold'}
nav.top-bar .menu-content ul{padding-top:0}
.mainmenu.sub + li  {display:none;}
.menu-content-sub   {padding-bottom:20px;}

.action-btns            {overflow:hidden;padding-top:20px}

/* Activity page realted */
.visa-form-content .sub-nav dt.active a,
.sub-nav dd.active a,
.visa-form-content .sub-nav dt.active a:hover,
.sub-nav dd.active a:hover,
.visa-form-content .sub-nav dt a:hover,
.sub-nav dd a:hover                            {border-radius:0px;color:#fff;padding: 0.1875rem 0.4rem; background-color:#004976;}
.visa-form-content .sub-nav dt a,
.sub-nav dd a                                   {border-radius:0px;padding: 0.1875rem 0.4rem; background-color:#E6E6E6; color:#000;white-space:nowrap;}
.visa-form-content .sub-nav dd                  {margin:0 4px 4px 0;background:none;}
.visa-form-content .sub-nav dt                  {/*font-family:'PF Centro Sans Pro Bold';*/text-transform:none;color:#000;margin:0 15px 0 0;line-height:1.4}
.visa-form-content .sub-nav .date-range         {margin-top:4px;}
.visa-form-content .box-table .activity-table   {border:none;}
.visa-form-content .sub-nav.date-range-col             {margin-bottom:8px;}
.visa-form-content .sub-nav.date-range-col dd          {margin-right:15px;width:130px;border:1px solid #d8d8d8;}
.visa-form-content .sub-nav.date-range-col dd.active    {border-color:#01426a!important;}
.visa-form-content .sub-nav.date-range-col dd input,
.visa-form-content .sub-nav.date-range-col dd input:focus,
.visa-form-content .sub-nav.date-range-col dd.active input {border:0!important;}
.visa-form-content .sub-nav dd  input,
.visa-form-content .sub-nav dd.active input,
.visa-form-content .sub-nav dd input:focus           {margin:0!important;position:relative;z-index:102;background:url(../images/bg-border-prefix.png) no-repeat 97px top;font-size:14px;width:130px;padding:5px 10px 4px 10px !important}

.visa-form-content .sub-nav dd  .calendar-prifix{border:1px solid #D8D8D8;border-left:none;line-height:28px;padding:0 9px;width:32px;float:left;display:inline-block;}
.visa-form-content .sub-nav dd span.icon-cal    {position:absolute;z-index:101}
.visa-form-content .sub-nav dd span.icon-cal,
.visa-form-content .sub-nav dd span.icon-cal:hover{display:block;margin:0;width:32px;left:auto;right:0;top:1px;bottom:0;background: url(../images/icon-dropdown.png) no-repeat 8px center!important;height:28px;}
.visa-form-content .sub-nav dd span.icon-cal:focus{outline:0}
.visa-form-content .full-width-box{margin:0px -20px 60px;  margin:0px -15px 60px\9; /* IE 8 and below */ height:auto; background-color:#e5e5e5; }
.visa-form-content .full-width-box .heading{  padding:8px 40px; }
.visa-form-content .full-width-box .heading h3{color:#fff;margin:0px;font-size:20px}
.visa-form-content .full-width-box .full-inner-box{padding:30px 80px 10px}
.visa-form-content .full-width-box .heading {padding:8px 80px 8px}
.visa-form-content .download-activity{font-weight:bold; margin:30px;  padding: 14px 0; min-width:205px; height:46px;}
.visa-form-content .content-top     {padding-top:20px;margin-left:10px}
.visa-form-content .content-top .sub-nav dd{font-size:14px;font-family:'PF Centro Sans Pro Light'}
.visa-form-content .content-top .sub-nav a:hover{text-decoration:none;}
.visa-form-content .content-top dl  {margin:0 0 20px 0;}
.activity-content .box-table        {padding:0;}
.activity-content .button           {min-width:250px}
.visa-form-content a.button         {text-decoration:none;}

.date.collapse  {position:relative;}
.pika-table thead th,
.pika-table tbody td{padding:0;text-align:center;vertical-align:middle;}
.pika-table thead th button,
.pika-table tbody td button,
.pika-table tbody td button:hover{box-shadow:none!important;-webkit-box-shadow:none!important;text-align:center;background:none!important;border-radius:0!important;-webkit-border-radius:0!important;}
.pika-table .is-today button,
.pika-table .is-today button:hover,
.pika-table tbody td button:hover        {background:#ebebeb!important;color:#454A50!important}
.pika-table .is-selected button,
.pika-table .is-selected button:hover,
.pika-table .is-today.is-selected button,
.pika-table .is-today.is-selected button:hover {background:#004976!important;color:#fff!important;}

.dashboard-content.visa-form-content .process-content,
.dashboard-content.visa-form-content .to-do-recently,
.dashboard-content.visa-form-content .actions,
.dashboard-content.visa-form-content .box-table,
.dashboard-content.visa-form-content .content-top{margin-bottom:50px;font-size:14px}
.dashboard-content.visa-form-content .to-do-list{font-size:14px}

.dashboard-content.visa-form-content .profile-steps .table-form,
.dashboard-content.visa-form-content .profile-steps .table-form + .table-form {margin-bottom:60px;font-size:14px}
.dashboard-content.visa-form-content .profile-steps .table-form td.active form{margin-bottom:0}

table tr th,
table tr td         {color:#454a50;}
abbr[title] {border-bottom:0;font-size:14px}
body.phone .pika-single.is-bound       {display:none!important;}
.date-range-col label{position:absolute;left:10px;top:4px;width:90px;}

.dwcc table,.dwcc table     {border:0;}
.dwcc table thead tr th,
.dwcc table tbody tr td     {padding:0}

.table-form,
.table-main,
.table-form-field             {border:0;width:100%;margin-bottom:0;background:none;}
.table-form.only-title  {margin-bottom:10px}
.visa-form-content .table-form td,
.table-form-field td,
.table-form-field th   {background:none;padding:0;line-height:1.6}
.visa-form-content .table-form th   {border-bottom:0}

.table-main .sidebar                {padding-left:0.9375rem;padding-right:0.9375rem;}
.table-main .visa-form-content      {padding-left:20px;padding-right:20px;}
.table-form-field tr.even,
.table-form-field tr.alt,
.table-form-field tr:nth-of-type(2n){background:none}

.table-form-field tr td.label-col label {/*font-family:'PF Centro Sans Pro Bold'*/}
.table-form-field tr td             {float: left;display:block;}

/*.ui-table-reflow.ui-responsive td .ui-table-cell-label,
.ui-table-reflow.ui-responsive th .ui-table-cell-label  {display:none;}

@media (max-width:767px){

    .ui-table-reflow thead td,
    .ui-table-reflow thead th       {display:none!important;}
    .ui-table-reflow tbody td .ui-table-cell-label,
    .ui-table-reflow tbody th .ui-table-cell-label,
    .ui-table-reflow.ui-responsive td .ui-table-cell-label,
    .ui-table-reflow.ui-responsive th .ui-table-cell-label{
        display: inline-block;
        margin: -0.4em 1em -0.4em -0.4em;
        min-width: 30%;
        padding: 0.4em;
    }
    .ui-table-reflow.ui-responsive tbody  td,
    .ui-table-reflow.ui-responsive tbody  th{
        -moz-box-sizing: border-box;
        clear: left;
        float: left;
        width: 100%;
        display:block;
    }
}

.table-form-field thead th,
.table-form-field tbody tr:last-child {
    border-bottom: 1px solid #d6d6d6;/
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.table-form-field tbody th,
.table-form-field tbody td {
    border-bottom: 1px solid #e6e6e6;
    border-bottom: 1px solid rgba(0,0,0,.05);
}
.table-form-field tbody tr:last-child th,
.table-form-field tbody tr:last-child td {
    border-bottom: 0;
}
.table-form-field tbody tr:nth-child(odd) td,
.table-form-field tbody tr:nth-child(odd) th {
    background-color: #eeeeee;
    background-color: rgba(0,0,0,.04);
}*/