/**
 * @license
 * MyFonts Webfont Build ID 2851161, 2014-07-23T09:14:44-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed /fonts/frutiger(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Frutiger Pro 65 Bold by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/pro-65-bold/
 * Licensed pageviews: 1,000,000
 * 
 * Webfont: Frutiger Pro 55 Roman by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/pro-55-roman/
 * Licensed pageviews: 500,000
 * 
 * Webfont: Frutiger Pro 45 Light by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/frutiger-pro-45-light/
 * Licensed pageviews: 500,000
 * 
 * Webfont: Frutiger Pro 66 Bold Italic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/pro-66-bold-italic/
 * Licensed pageviews: 500,000
 * 
 * Webfont: Frutiger Pro 46 Light Italic by Linotype
 * URL: http://www.myfonts.com/fonts/linotype/frutiger/pro-46-light-italic/
 * Licensed pageviews: 500,000
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2851161
 * /fonts/frutiger copyright: Part of the digitally encoded machine readable outline data for producing the Typefaces provided is copyrighted &#x00A9; 2006 Linotype GmbH, www.linotype.com. All rights reserved. This software is the property of Linotype GmbH, and may not be reproduced, 
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
/*@import url("//hello.myfonts.net/count/2b8159");*/

/************************* Frutiger ***************/

@font-face {
	font-family: 'FrutigerLTPro';/*FrutigerLTPro-Roman*/
	src: url('../fonts/frutiger/2B8159_1_0.eot');
	src: url('../fonts/frutiger/2B8159_1_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/frutiger/2B8159_1_0.woff') format('woff'),
		url('../fonts/frutiger/2B8159_1_0.ttf') format('truetype'),
		url('../fonts/frutiger/2B8159_1_0.svg#wf') format('svg');

    font-weight: normal;
    font-style: normal;	
}
 
  
@font-face {
	font-family: 'FrutigerLTPro';/*FrutigerLTPro-Light*/
	src: url('../fonts/frutiger/2B8159_2_0.eot');
	src: url('../fonts/frutiger/2B8159_2_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/frutiger/2B8159_2_0.woff') format('woff'),
		url('../fonts/frutiger/2B8159_2_0.ttf') format('truetype'),
		url('../fonts/frutiger/2B8159_2_0.svg#wf') format('svg');

    font-weight: 300;
    font-style: normal;
}
 
@font-face {
	font-family: 'FrutigerLTPro';/*FrutigerLTPro-Bold*/
	src: url('../fonts/frutiger/2B8159_0_0.eot');
	src: url('../fonts/frutiger/2B8159_0_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/frutiger/2B8159_0_0.woff') format('woff'),
		url('../fonts/frutiger/2B8159_0_0.ttf') format('truetype'),
		url('../fonts/frutiger/2B8159_0_0.svg#wf') format('svg');

    font-weight: 700;
    font-style: bold;	
}
  
@font-face {
	font-family: 'FrutigerLTPro';/*FrutigerLTPro-BoldItalic*/
	src: url('../fonts/frutiger/2B8159_3_0.eot');
	src: url('../fonts/frutiger/2B8159_3_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/frutiger/2B8159_3_0.woff') format('woff'),
		url('../fonts/frutiger/2B8159_3_0.ttf') format('truetype'),
		url('../fonts/frutiger/2B8159_3_0.svg#wf') format('svg');

    font-weight: bold;
    font-style: italic;			
}
  
@font-face {
	font-family: 'FrutigerLTPro';/*FrutigerLTPro-LightItalic*/
	src: url('../fonts/frutiger/2B8159_4_0.eot');
	src: url('../fonts/frutiger/2B8159_4_0.eot?#iefix') format('embedded-opentype'),
		url('../fonts/frutiger/2B8159_4_0.woff') format('woff'),
		url('../fonts/frutiger/2B8159_4_0.ttf') format('truetype'),
		url('../fonts/frutiger/2B8159_4_0.svg#wf') format('svg');

    font-weight: 300;
    font-style: italic;		
}

/************************* TheSerif ***************/

@font-face {
	font-family: "TheSerif";
	src: url("../fonts/TheSerif/TheSerif_300_.eot");
	src: url("../fonts/TheSerif/TheSerif_300_.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TheSerif/TheSerif_300_.woff") format("woff"),
		url("../fonts/TheSerif/TheSerif_300_.svg#TheSerif_300_") format("svg");

	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "TheSerif";
	src: url("../fonts/TheSerif/TheSerif_500_.eot");
	src: url("../fonts/TheSerif/TheSerif_500_.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TheSerif/TheSerif_500_.woff") format("woff"),
		url("../fonts/TheSerif/TheSerif_500_.svg#TheSerif_500_") format("svg");

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TheSerif";
	src: url("../fonts/TheSerif/TheSerif_700_.eot");
	src: url("../fonts/TheSerif/TheSerif_700_.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TheSerif/TheSerif_700_.woff") format("woff"),
		url("../fonts/TheSerif/TheSerif_700_.svg#TheSerif_700_") format("svg");
	
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "TheSerif";
	src: url("../fonts/TheSerif/TheSerif_800_.eot");
	src: url("../fonts/TheSerif/TheSerif_800_.eot?#iefix") format("embedded-opentype"),
		url("../fonts/TheSerif/TheSerif_800_.woff") format("woff"),
		url("../fonts/TheSerif/TheSerif_800_.svg#TheSerif_800_") format("svg");
	
	font-weight: 800;
	font-style: normal;
}

/*************************************************/

body{
	font-family: 'FrutigerLTPro', "Istok Web", Arial,Helvetica,sans-serif;
	font-size: 14px;
	font-style: normal;
}

p{
	font-family: 'FrutigerLTPro', "Istok Web", Arial,Helvetica,sans-serif;
	color: #454a50;
	margin-bottom: 20px;
}

a{
	outline: 0;
}

/*a:hover{
	background: #738cab;
	color: #fff;
}
*/
h1, h2, h3, h4{
	/*color: #01426a;*/
}

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	/*margin-bottom:15px;*/
	font-family: 'FrutigerLTPro', "Istok Web", Arial,Helvetica,sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}

h1{
	font-size: 40px;
}

h2{
	font-size: 32px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 18px;
}

h5, h6{
	font-size: 14px;
	/*color: #707478;*/
}

ul,ol{
	margin-bottom: 26px;
}

ul li, ol li{
	/*color: #575C63;*/
	font-size: 14px;
}

small{
	/*color: #454a50;*/
	font-size: 10px;
	margin-bottom: 14px;
}

blockquote{
	font-style: italic;
	border-left: solid 1px #738cab;
	border-right: solid 1px #738cab;

}

blockquote p{
	/*background: #e8eaf0;*/
	display: inline;
	padding: 0 10px;
	color: #738cab;
}